{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Admin comment {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
		.paddTop { padding-top: 20px; }
	</style>
{% endblock %}
{% block content %}
	
	<section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Add Admin comment
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Add-Update Admin Comment</li>
        </ol>
    </section>
	
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
			<div role="alert" class="alert alert-success alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
			<div role="alert" class="alert alert-danger alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		
		<div class="row">
			<div class="col-md-12" role="tabpanel">
				<div class="box box-primary">
					<div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
{#                            <a href={{path('common_question')}} class="btn btn-primary btn-flat" title="Back to Que List"><i class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a>
#}
                        </div>
                    </div>
					<div class="box-body">						
						<form id="" class="form-horizontal" method="post" action="{{path('admin_evaluation_saveadmincomment')}}">	
							{%if evaluation_id is defined and evaluation_id is not empty%}
								<input type="hidden" name="eval_id" value="{{evaluation_id}}"/>
							{%endif%}
							{% set admin_comment = ''%}
							{%if admin_comment_details is defined and admin_comment_details is not empty%}
								{% set admin_comment = admin_comment_details.admin_comment%}
							{%endif%}
							<div class="row">
								<div class="col-md-12">
									<label class="control-label">Admin Comment</label>
									<div class="">
										<input type="text" class="form-control" name="admin_comment" value="{{admin_comment}}" required>
									</div>
								</div>
							</div>
							<div class="row paddTop">
								<div class="col-md-12">
									<div class="col-md-6">
										<button type="submit" name="submit" class="btn btn-primary" value="">
											<span><i class="fa fa-check-square-o"></i>
												{%if admin_comment_details is defined and admin_comment_details is not empty%}&nbsp;Update{%else%}&nbsp;Save{%endif%}
												</span>
										</button>
									</div>
								</div>
							</div>							
						</form>									
					</div>		
				</div>
						<!-- end: tab-content -->
			</div>
		</div>		
	</section>
		
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}