{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Edit Evaluation
{% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/plugins/')}}select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/plugins/')}}datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

	<script src="{{ asset('bundles/design') }}/js/jquery.min.js"></script>
    <link href="{{asset('bundles/design/plugins/')}}datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <style type="text/css">
        .save-btn, .cancel-btn {
            width: 85%;
        }
		img.invoice-img {
			width: 150px;
			height: 125px;
		}
		.fillpadd {
			padding-left: 0px;
		}
		img.res-gallery-ims {
			width: 125px;
			height: 125px;
		}
		.rating-b .bar-rating {height: auto; width: auto;}
		.rating-b .bar-rating a {display: inline-block; width: 44px; height: 26px; margin-right: 2px; background-color: #e5e5e5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
		.rating-b .bar-rating a:last-child {margin-right: 0;}
		.rating-b .bar-rating a.active,
		.rating-b .bar-rating a.selected {background-color: #ffb220;}
		.rating-b .bar-rating .current-rating {color: #646464; display: inline-block; margin-left: 5px; vertical-align: super;}
    </style>
{% endblock %}
{% block content %}


    <!----------- PAGE HEADER : START ------------------------------------------------------------>
    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Edit Evaluation
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Edit Evaluation</li>
        </ol>
    </section>
    <!----------- PAGE HEADER : END ------------------------------------------------------------>
    <!----------- Main content : START ------------------------------------------------------------>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <style>
                .display-image{
                    padding-top: 10px;
                    max-width: 70%;
                }
            </style>
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Evaluation</h3>
                        <a href="{{path('admin_evaluation_list')}}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-chevron-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div><!-- /.box-header -->

                    <div class="box-body">
						<div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#lang" data-toggle="tab">Evaluation</a>
								</li>
                                <li><a href="#media" data-toggle="tab">Media</a></li>
                            </ul>
                        </div>
						<div class="tab-content">
                            <div class="tab-pane active" id="lang">

                                <form method="post" enctype="multipart/form-data" action="{{ path('admin_evaluation_editcommentdb') }}">

                                    <!-- for edit -->
                                    {% if eval_id is defined and eval_id is not empty %}
                                        <input type="hidden" value="{{ eval_id }}" name="eval_id"/>
                                    {% endif %}

                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Username</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="text" name="username" class="form-control"
													{% if rest_final_data is defined and rest_final_data is not empty %}
                                                       value="{{ rest_final_data.user_fullname }}"
                                                   {% endif %} readonly/>
                                        </div>
                                    </div>
									
									<div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Comment</label>
                                        </div>
                                        <div class="col-lg-10">
											{% set comment = '' %}
											{% if rest_final_data is defined and rest_final_data is not empty %}
												{% set comment = rest_final_data.comments %}
											{% endif %}
											<textarea name="comment" id="comment_box" class="form-control">{% autoescape false %}{{ comment }}{% endautoescape %}</textarea>
                                        </div>
                                    </div>
									{#
									<div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Category</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <select id="change_category" name="category_id" class="form-control" onchange="getRestaurants(this);">
												{% if category_list is defined and category_list is not empty %}
													{% for category_list in category_list%}
														{% set selected = '' %}
														{% if category_list.main_category_id == rest_final_data.category_id %}
															{% set selected = 'selected' %}
														{% endif %}
														<option value="{{ category_list.main_category_id }}" {{selected}}>{{ category_list.category_name }}</option>
													{% endfor %}
												{% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    
									<div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Food Type</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <select id="change_foodtype" name="food_type_id" class="form-control" onchange="getRestaurants(this);">
												{% if foodtype_list is defined and foodtype_list is not empty %}
													{% for foodtype_list in foodtype_list%}
														{% set selected = '' %}
														{% if foodtype_list.food_type_master_id == rest_final_data.food_type_id %}
															{% set selected = 'selected' %}
														{% endif %}
														<option value="{{ foodtype_list.food_type_master_id }}" {{selected}}>{{ foodtype_list.food_type_name }}</option>
													{% endfor %}
												{% endif %}
                                            </select>
                                        </div>
                                    </div>
									#}
									
									<div class="row form-group">
										{%set eval_type = 'dining'%}
										{% if rest_final_data is defined and rest_final_data is not empty %}
											{% set eval_type = rest_final_data.eval_type %}
										{% endif %}
										<div class="col-lg-2">
                                            <label>Evaluation Type</label>
                                        </div>
                                        <div class="col-lg-10">
										<select id="evaluation_type" name="evaluation_type" class="form-control" required>
												<option value="dining" {%if eval_type == 'dining'%} selected{%endif%}>Rate Dining</option>
												<option value="delivery" {%if eval_type == 'delivery'%} selected{%endif%}>Rate Delivery</option>
											</select>
										</div>
									</div>													
									<div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Restaurant Name</label>
                                        </div>
                                        <div class="col-lg-10">
											<select id="restaurant_list" name="restaurant_id" class="form-control select2" onchange="getRestBranch($(this).val());" >
												{% if restaurantmaster is defined and restaurantmaster is not empty %}
													{% for restaurantmaster in restaurantmaster%}
														{% set selected = '' %}
														{% if rest_final_data is defined and rest_final_data is not empty %}
															{% if restaurantmaster.main_restaurant_id == rest_final_data.restaurant_id1 %}
																{% set selected = 'selected' %}
															{% endif %}
														{% endif %}
														<option value="{{ restaurantmaster.main_restaurant_id }}" {{selected}}>{{ restaurantmaster.restaurant_name }}</option>
													{% endfor %}
												{% endif %}
                                            </select>
                                        </div>
                                    </div>
									
									<div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Branch Name</label>
                                        </div>
                                        <div class="col-lg-10">
											<select id="branch_list" name="branch_id" class="form-control select2">
												{% if rest_final_data is defined and rest_final_data is not empty and rest_final_data.branch_list is defined and rest_final_data.branch_list is not empty%}
													{% for branch in rest_final_data.branch_list%}
														{% set selected = '' %}
														{% if rest_final_data.main_branch_id == branch.main_branch_master_id %}
															{% set selected = 'selected' %}
														{% endif %}
														<option value="{{ branch.main_branch_master_id }}" {{selected}}>{{ branch.branch_name }}</option>
													{% endfor %}
												{% endif %}
                                            </select>
                                        </div>
                                    </div>									
									
									<!-- bar rattings -->
									
									<div class="row form-group">
                                        <div class="col-md-6">
                                            <div class="input select rating-b">
												<label for="level-dining">Level of Dining</label>
												{% if level_list is defined and level_list is not empty %}
												{% set t_val = 3 %}
												<select id="level-dining" name="dining-level">
													{% for level in level_list %}
														{% set selected = '' %}
														{% if rest_final_data is defined and rest_final_data is not empty %}
															{% if loop.index == rest_final_data.dining_level %}
																{% set selected = 'selected' %}
															{% endif %}
														{% endif %}
														<option value="{{ level.main_level_id }}" {{ selected }}>{{ level.level_name }}</option>
													{% endfor %}
												</select>
												{% endif %}
											</div>
										</div>
										<div class="col-md-6" id="level-service-div">
                                            <div class="input select rating-b">
												<label for="level-service">Level of Service</label>
												{% if level_list is defined and level_list is not empty %}
												{% set t_val = 3 %}
												<select id="level-service" name="service-level">
													{% for level in level_list %}
														{% set selected = '' %}
														{% if rest_final_data is defined and rest_final_data is not empty %}
															{% if loop.index == rest_final_data.service_level %}
																{% set selected = 'selected' %}
															{% endif %}
														{% endif %}
														<option value="{{ level.main_level_id }}" {{ selected }}>{{ level.level_name }}</option>
													{% endfor %}
												</select>
												{% endif %}
											</div>
										</div>
										
										<div class="col-sm-6 col-xs-12 evaluation-rate-restaurant-block" style="display:none" id="level-speed-div">
											<div class="input select rating-b">
												<label for="level-speed" >Speed Level</label>
												<select id="level-speed" name="speed-level">
													{% if level_list is defined and level_list is not empty %}
														{% for level in level_list %}
														
														{% set selected = '' %}
														{% if rest_final_data is defined and rest_final_data is not empty %}
															{% if loop.index == rest_final_data.delivery_speed_level %}
																{% set selected = 'selected' %}
															{% endif %}
														{% endif %}
															<option value="{{ level.main_level_id }}" {{selected}}>{{ level.level_name }}</option>
														{% endfor %}
													{% endif %}
												</select>
											</div>
										</div>
									</div>
									
									<div class="row form-group">
										<div class="col-md-6" id="level-atmosphere-div">
                                            <div class="input select rating-b">
												<label for="level-atmosphere">Level of Atmosphere</label>
												{% if level_list is defined and level_list is not empty %}
												{% set t_val = 3 %}
												<select id="level-atmosphere" name="atmosphere-level">
													{% for level in level_list %}
														{% set selected = '' %}
														{% if rest_final_data is defined and rest_final_data is not empty %}
															{% if loop.index == rest_final_data.atmosphere_level %}
																{% set selected = 'selected' %}
															{% endif %}
														{% endif %}
														<option value="{{ level.main_level_id }}" {{ selected }}>{{ level.level_name }}</option>
													{% endfor %}
												</select>
												{% endif %}
											</div>
										</div>
										
										<div class="col-sm-6 " style="display:none" id="level-packaging-div">
											<div class="input select rating-b">
												<label for="level-packaging">Packaging Level</label>
												<select id="level-packaging" name="packaging-level">
													{% if level_list is defined and level_list is not empty %}
														{% for level in level_list %}
														
														{% set selected = '' %}
														{% if rest_final_data is defined and rest_final_data is not empty %}
															{% if loop.index == rest_final_data.packaging_level %}
																{% set selected = 'selected' %}
															{% endif %}
														{% endif %}
														
															<option value="{{ level.main_level_id }}" {{selected}}>{{ level.level_name }}</option>
														{% endfor %}
													{% endif %}
												</select>
											</div>
										</div>
							
										<div class="col-md-6">
                                            <div class="input select rating-b">
												<label for="level-price">Level of Price</label>
												{% if level_list is defined and level_list is not empty %}
												{% set t_val = 3 %}
												<select id="level-price" name="price-level">
													{% for level in level_list %}
														{% set selected = '' %}
														{% if rest_final_data is defined and rest_final_data is not empty %}
															{% if loop.index == rest_final_data.price_level %}
																{% set selected = 'selected' %}
															{% endif %}
														{% endif %}
														<option value="{{ level.main_level_id }}" {{ selected }}>{{ level.level_name }}</option>
													{% endfor %}
												</select>
												{% endif %}
											</div>
										</div>
									</div>
									
									<div class="row form-group">
										<div class="col-md-6">
                                            <div class="input select rating-b">
												<label for="level-cleanliness">Level of Cleanliness</label>
												{% if level_list is defined and level_list is not empty %}
												{% set t_val = 3 %}
												<select id="level-cleanliness" name="cleanliness-level">
													{% for level in level_list %}
														{% set selected = '' %}
														{% if rest_final_data is defined and rest_final_data is not empty %}
															{% if loop.index == rest_final_data.clean_level %}
																{% set selected = 'selected' %}
															{% endif %}
														{% endif %}
														<option value="{{ level.level_master_id }}" {{ selected }}>{{ level.level_name }}</option>
													{% endfor %}
												</select>
												{% endif %}
											</div>
										</div>
									</div>
									<!-- end: bar rattings -->
									
									<div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Evaluation Invoice</label>
                                        </div>
                                        {# <!--<div class="col-lg-10">
                                            <input type="file" name="invoice" class="form-control" />
                                        </div>--> #}
										{% if invoice is defined and invoice is not empty %}
											{% if rest_final_data is defined and rest_final_data is not empty %}
												<input type="hidden" name="invoice_hidden" class="form-control" value="{{ rest_final_data.invoice_image_id }}" />
											{% endif %}
											<div class="col-lg-12">
												<a href="{{ live_path }}/{{ invoice.media_location }}/{{ invoice.media_name }}" data-fancybox3="gallery"><img src="{{ live_path }}/{{ invoice.media_location }}/{{ invoice.media_name }}" class="invoice-img"></a>
											</div>
										{% endif %}
                                    </div>
									
									<div class="row form-group">
										<div class="col-md-12 fillpadd">
											<div class="col-md-6 fillpadd">
												<div class="col-lg-2">
													<label>Status</label>
												</div>
												<div class="col-md-7">
													{% set status = '' %}
													{% if rest_final_data is defined and rest_final_data is not empty %}
														{% set status = rest_final_data.status %}
													{% endif %}
													
													{% set pending_selected = '' %}
													{% set rejected_selected = '' %}
													{% set approved_selected = '' %}
													{% set undereval_selected = '' %}
													{% if status == 'pending' %}
														{% set pending_selected = 'selected' %}
													{% elseif status == 'rejected' %}
														{% set rejected_selected = 'selected' %}
													{% elseif status == 'approved' %}
														{% set approved_selected = 'selected' %}
													{% elseif status == 'under_evaluation' %}
														{% set undereval_selected = 'selected' %}
													{% endif %}
													
													<select name="evaluation_status" data-app="{{ eval_id }}" class="form-control evaluation_status">
														<option value="pending" {{ pending_selected }}>Pending</option>
														<option value="rejected" {{ rejected_selected }}>Rejected</option>
														<option value="under_evaluation" {{ undereval_selected }}>Under Evaluation</option>
														<option value="approved" {{ approved_selected }}>Approved</option>
													</select>
													
												</div>
											</div>
										</div>
                                    </div>
									
									<div class="row form-group" id="rejected_reason" {% if rejected_selected != 'selected' %}style="display:none{%endif%}">
										<div class="col-lg-2">
											<label>Reject Reason</label>
										</div>
										<div class="col-lg-10">
											<input type="text" name="rejected_reason" class="form-control"
													{% if rest_final_data is defined and rest_final_data is not empty %}
													   value="{{ rest_final_data.rejected_reason }}"
												   {% endif %}/>
										</div>
									</div>	
									<hr />
                                    <div class="row" align="center">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <div class="col-lg-6">
                                                <button type="submit" class="btn btn-primary save-btn" name="add">Update</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="{{path('admin_evaluation_list')}}" class="btn btn-default cancel-btn">Cancel</a>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
							
							<div class="tab-pane" id="media">
								<div class="box-body form-horizontal">
									{# File upload plugin html code : START #}
									<form id="fileupload" method="POST" enctype="multipart/form-data">
										<div class="row fileupload-buttonbar">
											<div class="col-lg-7">
												<span class="btn btn-success fileinput-button">
													<i class="glyphicon glyphicon-plus"></i>
													<label for="file_input">Add files...</label>
													<input id="file_input" type="file" name="files[]" style="display:none" multiple>
												</span>
												<!-- The global file processing state -->
												<span class="fileupload-process"></span>
											</div>

											<div class="col-lg-5 fileupload-progress">
												<!-- The global progress bar -->
												<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
													<div class="progress-bar progress-bar-success" style="width:0%;"></div>
												</div>
												<!-- The extended global progress state -->
												<div class="progress-extended">&nbsp;</div>
											</div>
										</div>
										<table role="presentation" class="table table-striped">
											<tbody class="files">
												{% if media_library_master is defined and media_library_master is not empty %}
													{% for media in media_library_master %}
														<tr id="remove_{{ media.media_library_master_id }}" class="">
															<td>
																<span class="preview">
																	<a href="{{ live_path }}/{{ media.media_location }}/{{ media.media_name }}" class="fancybox" data-fancybox="gallery">
																		<img class="res-gallery-ims" src="{{live_path}}{{media.media_location}}/{{media.media_name}}">
																	</a>
																</span>
															</td>
															<td>
																<p class="name">
																	<a data-gallery="" download="{{media.media_name}}" title="{{media.media_name}}" href="{{live_path}}{{media.media_location}}/{{media.media_name}}">{{media.media_name}}</a>
																</p>
															</td>
															<td>
																<button class="btn btn-danger delete" onclick="delete_image({{ media.media_library_master_id }},{{media.evaluation_feedback_gallery_id}} );">
																	<i class="glyphicon glyphicon-trash"></i>
																	<span>Delete</span>
																</button>
															</td>
														</tr>
													{% endfor %}
												{% endif %}   
											</tbody>
										</table>  
									</form>
									{# File upload plugin html code : END #}
								</div>
								<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
									<div class="slides"></div>
									<h3 class="title"></h3>
									<a class="prev" style="display:none">‹</a>
									<a class="next" style="display:none">›</a>
									<a class="close" style="display:none">×</a>
									<a class="play-pause"></a>
									<ol class="indicator"></ol>
								</div>
							</div>
							
                        </div>
                    </div>

                </div>

            </div><!-- /.box -->
        </div>
<!-- reject reason modal -->
		<div id="myModal" class="modal fade" role="dialog">
		   <div class="modal-dialog">

			  <div class="modal-content">
				 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Reason For Evaluation Reject</h4>
				 </div>
				 <form>
					<div class="modal-body">
					   <div class="row">
						  <div class="col-md-12">
							 <label class="control-label">Reason</label>
							 <div class="">
								<textarea class="form-control" required id="reason" name="reason"></textarea>
							 </div>
						  </div>
					   </div>
					</div>
					<div class="modal-footer">
					   <button type="button" class="btn btn-default evaluation_reason" data-dismiss="modal">Submit</button>
					</div>
				 </form>
			  </div>
		   </div>
		</div> 
    </section>
    <!----------- Main content : END ---------------------------------------------------------->
{% endblock %}
{% block js %}

	<script id="template-upload" type="text/x-tmpl">
	{% verbatim %}
		{% for (var i=0, file; file=o.files[i]; i++) { %}

			<tr class="template-upload">
			<td>
			<span class="preview"></span>
			</td>
			<td>
			<p class="name">{%=file.name%}</p>
			<strong class="error text-danger"></strong>
			</td>
			<td>
			<p class="size">Processing...</p>
			<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
			</td>
			<td>
			{% if (!i && !o.options.autoUpload) { %}
			<button class="btn btn-primary start" disabled>
			<i class="glyphicon glyphicon-upload"></i>
			<span>Start</span>
			</button>
			{% } %}
			{% if (!i) { %}
			<button class="btn btn-warning cancel">
			<i class="glyphicon glyphicon-ban-circle"></i>
			<span>Cancel</span>
			</button>
			{% } %}
			</td>
			</tr>

			{% } %}
		{% endverbatim %}
	</script>


	<script id="template-download" type="text/x-tmpl">
		{% verbatim %}

		{% endverbatim %}
	</script>
	<script id="template-upload" type="text/x-tmpl">
		{% verbatim %}
			{% for (var i=0, file; file=o.menufile[i]; i++) { %}

			<tr class="template-upload">
			<td>
			<span class="preview"></span>
			</td>
			<td>
			<p class="name">{%=file.name%}</p>
			<strong class="error text-danger"></strong>
			</td>
			<td>
			<p class="size">Processing...</p>
			<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
			</td>
			<td>
			{% if (!i && !o.options.autoUpload) { %}
			<button class="btn btn-primary start" disabled>
			<i class="glyphicon glyphicon-upload"></i>
			<span>Start</span>
			</button>
			{% } %}
			{% if (!i) { %}
			<button class="btn btn-warning cancel">
			<i class="glyphicon glyphicon-ban-circle"></i>
			<span>Cancel</span>
			</button>
			{% } %}
			</td>
			</tr>

			{% } %}
		{% endverbatim %}
	</script>

    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>

	 <script src="{{asset('bundles/design/')}}fileupload/js/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="{{asset('bundles/design/')}}fileupload/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{{asset('bundles/design/')}}fileupload/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="{{asset('bundles/design/')}}fileupload/js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-ui.js"></script>
	<script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
	<script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>
	
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
	
	<style>
		.invoice-rotation {
			width: 250px;
			margin-top: 20%;
			text-align: right;
			float: right;
			padding-right: 19px;
		}
		.invoice-rotation i {
			font-size: 23px;
			color: #fff;
		}
	</style>
	
    <script type="text/javascript">
	
		$('[data-fancybox3="gallery"]').fancybox({
			afterShow : function(instance, current) {
				
				var _html = "<div class='invoice-rotation'>";
					_html += "<a href='javascript:rotateLeft();'><i class='fa fa-rotate-left'></i></a><br>";
					_html += "<a href='javascript:rotateRight();'><i class='fa fa-rotate-right'></i></a>";
				_html += "</div>";
				$('.fancybox-content').after(_html);
			}
		});
		
		function rotateLeft(){
			var rdeg = $('.fancybox-image').data('rdeg');
			if(rdeg == 'undefined' || rdeg == undefined){
				rdeg = 0;
			}
			
			rdeg = rdeg + 90;
			var _style = "rotate("+rdeg+"deg)";
			
			$('.fancybox-image').data('rdeg', rdeg);
			$('.fancybox-image').css('transform', _style);
		}
		
		function rotateRight(){
			var rdeg = $('.fancybox-image').data('rdeg');
			if(rdeg == 'undefined' || rdeg == undefined){
				rdeg = 0;
			}
			
			rdeg = rdeg - 90;
			var _style = "rotate("+rdeg+"deg)";
			
			$('.fancybox-image').data('rdeg', rdeg);
			$('.fancybox-image').css('transform', _style);
		}
		
	$(function(){
		$('#level-service, #level-dining, #level-speed, #level-packaging, #level-atmosphere, #level-price, #level-cleanliness').barrating();
		$('.select2').select2();
	});
	
	function validateForm(){
		var comment = $('#comment_box').val();
		var com_str = comment.replace(" ","/n");
		console.log(comment);
		console.log(com_str);
		return false;
	}
	
	$(function () {
		'use strict';
		$('#fileupload').fileupload({
			url: '{{live_path}}/bundles/design/index.php?temp_dir=bulkupload',
			success: function(response){
				 $.ajax({
					type: 'POST',
                    url : "{{ path('admin_evaluation_addfeedbackgallery') }}",
					data: {"img_name":response.files[0].name, 'media_type_id':1, 'eval_id': {{ eval_id }}},                                        
					//async: false,
					dataType: 'json',
				   // xhrFields: {withCredentials: true},
					success: function(response){
						var html = '';
						if (response != false){
							html += '<tr id="remove_'+response.media_library_master_id+'">';
							html += '<td>';
							html += '<span class="preview">';
							html += '<a data-gallery="" download="' + response.name + '" title="' + response.name + '" data-fancybox="gallery">';
							html += '<div class="col-md-4"><img class="club-images img-responsive img-thumbnail" src="' + response.thumbnail_path + '"></div>';
							html += '</a>';
							html += '</span>';
							html += '</td>';
							html += '<td>';
							html += '<p class="name">';
							html += '<a data-gallery="" download="' + response.name + '" title="' + response.name + '" href="' + response.path + '">' + response.name + '</a>';
							html += '</p>';
							html += '</td>';
							html += '<td>';
							html += '<button class="btn btn-danger delete" onclick="delete_image(' + response.media_library_master_id + ',' + response.gallery_master_id + ');">';
							html += '<i class="glyphicon glyphicon-trash"></i>';
							html += '<span>Delete</span>';
							html += '</button>';
							//html += '<input type="checkbox" class="toggle" value="1" name="delete">';
							html += '</td>';
							html += '</tr>';
							$(".files").append(html);
							html = "";
						}
					},
					error: function(error){
						console.log(error);
					}
				});
			}
		});
                
		$('#fileupload').fileupload(
			'option',
			'redirect',
			window.location.href.replace(
				/\/[^\/]*$/,
				'/cors/result.html?%s'
			)
                );

		$('#fileupload').addClass('fileupload-processing');
		var url = '{{live_path}}/bundles/design/index.php?tmp_dir=bulkupload'
		$.ajax({
			url: url,
			dataType: 'json',
			context: $('#fileupload')[0]
		}).always(function () {
			$(this).removeClass('fileupload-processing');
		}).done(function (result) {
			$(this).fileupload('option', 'done')
				.call(this, $.Event('done'), {result: result});
		});
	});
	
	function delete_image(main_media_id, feedback_gallery_id)
	{
		var answer = confirm ("Are you sure you want to delete?");
		if (answer) {
			$.ajax({
			type: 'POST',
				url : "{{ path('admin_evaluation_removefeedbackimages') }}",
				data: {'main_media_id': main_media_id, "feedback_gallery_id": feedback_gallery_id},
				async: false,
				dataType: 'json',
				success: function(response){
					if (response == true){
						$('#remove_' + main_media_id).remove();
					}
				}
			});
		}
	}
	
	$('#change_category').change(function(){
		var category_id = $('#change_category').val();
		
		if(category_id == ''){
			category_id = 0 ;
		}
		
		var url_food_type = "{{ path('admin_evaluation_getfilteredfoodtype') }}/" + category_id;
		$.ajax({
			url: url_food_type,
			data: {'category_id': category_id},
			method: 'post',
			success: function (response) {
				if (response != 'false') {
					$('#change_foodtype').html(response);
				}
			},
			error: function (error) {
				console.log(error);
			}
		});	
		// food type.............			
	});
	
	function getRestaurants(obj) {
		var category_id = $('#change_category').val();
		var foodtype_id = $('#change_foodtype').val();
		// get food category
		if (category_id != '' && foodtype_id != '') {
			var url = "{{ path('admin_evaluation_getfilteredrestaurants') }}/" + category_id + "/" + foodtype_id;
			$.ajax({
				url: url,
				data: {'category_id': category_id, 'foodtype_id': foodtype_id},
				method: 'post',
				success: function (response) {
					console.log(response);
					if (response != 'false') {
						$('#restaurant_list').html(response);
						if ($('#restaurant_list').val() === "other") {
							$("#otherType").slideDown()
						} else {
							$("#otherType").slideUp()
						}
					}
				},
				error: function (error) {
					console.log(error);
				}
			});
		} else {
			category_id = 0;
			foodtype_id = 0;
			var url = "{{ path('admin_evaluation_getfilteredrestaurants') }}/" + category_id + "/" + foodtype_id;
			$.ajax({
				url: url,
				data: {'category_id': category_id, 'foodtype_id': foodtype_id},
				method: 'post',
				success: function (response) {
					console.log(response);
					if (response != 'false') {
						$('#restaurant_list').html(response);
						if ($('#restaurant_list').val() === "other") {
							$("#otherType").slideDown()
						} else {
							$("#otherType").slideUp()
						}
					}
				},
				error: function (error) {
					console.log(error);
				}
			});
		}
	}
	
	$(function () {
		$("#example1").DataTable();
	});
	function readcoverimagebox(input) {
		//code
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#image').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
	function readcoverimagebox1(input) {
		//code
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#cover_image').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
	
	function getRestBranch(main_restaurant_id){
	
			$.ajax({
				url: "{{path('admin_evaluation_getrestbranch',{'domain':app.session.get('domain')})}}",
				data: {'main_restaurant_id': main_restaurant_id},
				method: 'post',
				success: function (response) {
					console.log(response);
					$('#branch_list').html(response);
				},
				error: function (error) {
					console.log(error);
				}
			});	
	
	}
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").datepicker({
                "setDate": new Date(),
                "autoclose": true
            });
        });
		
		function check_cat(cat)
        {
            {#if (cat != '0')
            {#}
                $(".ingred").removeClass('hide');
            {#} else {
                $(".ingred").addClass('hide');
            }#}
        }
		
	//rejected reason

   $('.evaluation_status').change(function(){
                    var status = $(this).val();
                    var main_restaurant_id = '';
                    var evaluation_feedback_id = $(this).data('app');
					if(status == 'rejected'){
						$('#rejected_reason').slideDown();
						$('#rejected_reason').attr('required','required');
                    }else{
						$('#rejected_reason').slideUp();					
						$('#rejected_reason').removeAttr('required');						
					}   	
                 });


		//evaluation type changes 
		
		$('#evaluation_type').change(function(){
			if($(this).val() == 'delivery'){
				$('#level-packaging-div').show();
				$('#level-atmosphere-div').hide();
				$('#level-atmosphere').val(0);
				$('#level-speed-div').show();
				$('#level-service-div').hide();
				$('#level-service').val(0);
			}else{

				$('#level-packaging-div').hide();
				$('#level-atmosphere-div').show();
				$('#level-packaging').val(0);
				$('#level-speed-div').hide();
				$('#level-service-div').show();
				$('#level-speed').val(0);
			
			}
			
		});
		
		{% if rest_final_data is defined and rest_final_data is not empty and rest_final_data.eval_type == 'delivery'%}
		
				$('#level-packaging-div').show();
				$('#level-atmosphere-div').hide();
				$('#level-atmosphere').val(0);
				$('#level-speed-div').show();
				$('#level-service-div').hide();
				$('#level-service').val(0);		
		
		{% endif %}
		//evaluation type ends				 
					
    </script>


{% endblock %}
