{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Featured Comments {% endblock %}
{% block css %}
<link href="{{asset('bundles/design/css/bootstrap-toggle.min.css')}}" rel="stylesheet" type="text/css" />
	<style>
		.paddBottom { padding-bottom: 20px; }
		.avatar img{
		    width: 40px;
			max-width: 100%;
			height: auto;
			border: 0 none;
			border-radius: 1000px;
		}		
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Featured Comments
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Feature Comments</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body table-responsive">
						<table id="evaluation_table" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th>No</th>
								<th>User Image</th>
								<th>User Name</th>
								<th>Comment</th>
								<th>Category name</th>
								<th>Food Type name</th>
								<th>Restoraunt Name</th>
								<th>Branch Name</th>
								<th>Rating Type</th>
{#								<th>Evaluation</th> #}
{#								<th>Featured</th>  #}
{#								<th>Invoice</th> #}
								<th>Status</th>
								<th>Featured Comment</th>
								<th>Create Date</th>
								<th>Operations</th>
								{# <th>Delete</th> #}
							</thead>
							<tbody>
							{% if evaluation_data is defined  and evaluation_data is not empty%}
								{% for evaluation_data_details in evaluation_data %}
									<tr>
										<td>{{loop.index}}</td>										<td>
											<span class="avatar avatar-online">
											{% if evaluation_data_details.user_image != '' %}
												<img src="{{ evaluation_data_details.user_image }}" />
											{%endif%}
											</span>											
										</td>
										<td>{{ evaluation_data_details.user_firstname }}</td>
										<td>{%if evaluation_data_details.comments | length > 50%}{{ evaluation_data_details.comments |slice(0,50) }} ...{%else%}{{ evaluation_data_details.comments}}{%endif%}</td>
										<td>{{ evaluation_data_details.category_name }}</td>
										<td>{{ evaluation_data_details.food_type_name }}</td>
										<td>{{ evaluation_data_details.restaurant_name }}</td>
										<td>{{ evaluation_data_details.branch_name }}</td>
										<td>{{ evaluation_data_details.eval_type | capitalize }}</td>
{#										<td>
											{%if level_data is defined and level_data is not empty%}
												{%for level_data_details in level_data%}
													{% if evaluation_data_details.service_level == level_data_details.level_number%}
														<b>Service : </b>{{level_data_details.level_name}}
														</br>
													{%endif%}
													
													{% if evaluation_data_details.dining_level == level_data_details.level_number%}
														<b>Dining : </b>{{level_data_details.level_name}}
														</br>
													{%endif%}
													
													{% if evaluation_data_details.atmosphere_level == level_data_details.level_number%}
														<b>Atmoshphere : </b>{{level_data_details.level_name}}
														</br>
													{%endif%}
													
													{% if evaluation_data_details.price_level == level_data_details.level_number%}
														<b>Price : </b>{{level_data_details.level_name}}
														</br>
													{%endif%}
													
													{% if evaluation_data_details.clean_level == level_data_details.level_number%}
														<b>Clean : </b> {{level_data_details.level_name}}
														</br>
													{%endif%}
												{%endfor%}
											{%endif%}
										</td>  #}
{#										<td>
										{% set checked=""%}
										{% if evaluation_data_details.is_featured == 'yes'%}{% set checked="checked"%}{%endif%}
										<input data-on="yes" class="status status_1" data-off="no" onchange="change_feature({{evaluation_data_details.evaluation_feedback_id}},$(this).is(':checked'))" type="checkbox" onchange= "" data-toggle="toggle" data-size="mini"
										  data-onstyle="success" {{checked}}/>																				
										</td> #}
{#										<td>{{ evaluation_data_details.invoice_image_id }}</td> #}
										<td>
											{{ evaluation_data_details.status }} 
										</td>
										<td>
											{% if evaluation_data_details.show_featured == 'active' %}
												{% set checked = 'checked' %}
											{% else %}
												{% set checked = '' %}
											{%endif%}
											
											<input data-on="On" class="status status_23" data-off="Off" type="checkbox" onchange="change_status({{ evaluation_data_details.evaluation_feedback_id }})"  data-toggle="toggle" data-size="mini" data-onstyle="success" {{ checked }}>
										</td>
										<td>{{ evaluation_data_details.created_datetime|date('d-m-Y') }}</td>
										<td>
											<a class="btn btn-success btn-xs" onclick="return confirm('Are you sure you want to view?')" href="{{path('viewevaluation_evaluation',{'evaluation_id':evaluation_data_details.evaluation_feedback_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="view">
												<i class="fa fa-eye"></i>
											</a> 										
										</td>
										{# <td>
											<a class="btn btn-danger btn-xs deleterow" href="{{ path('admin_evaluation_deleteevaluation', {'eval_id': evaluation_data_details.evaluation_feedback_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
												<i class="fa fa-trash-o"></i>
											</a>
										</td> #}
									</tr>
								{% endfor %}
							{% endif %}
							</tbody>
							<tfoot>
								<th>No</th>
								<th>User Image</th>
								<th>User Name</th>
								<th>Comment</th>
								<th>Category name</th>
								<th>Food Type name</th>
								<th>Restoraunt Name</th>
								<th>Branch Name</th>
								<th>Rating Type</th>
{#								<th>Evaluation</th> #}
{#								<th>Featured</th>  #}
{#								<th>Invoice</th> #}
								<th>Status</th>
								<th>Featured Comment</th>
								<th>Create Date</th>
								<th>Operations</th>
								{# <th>Delete</th> #}
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>
	function change_feature(id,status){
		$.ajax({
			url : "{{path('admin_evaluation_list_featured_change')}}",
			method : "post",
			data : {'evaluation_id':id,'status':status},
			success : function(data){
			
			}
		});
	}
	$('.deleterow').click(function(){
		var cnfm = confirm('Are you sure, you want to delete?');
		if(cnfm){
			var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
			if(cnfm1){
				return true;
			}
		}
		return false;
	});
	
	function change_status(id){
		if(id != ''){
			var url = "{{ path('admin_evaluation_ajaxupdatestatus') }}";
			$.ajax({
				url: url,
				method: 'post',
				data: {'eval_id' : id},
				success: function(response){
					console.log('updated' + eval_id);
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
	
	$(document).ready(function(){
		$('#evaluation_table').DataTable();
	});
</script>
{% endblock %}