{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}
  Evaluation
{% endblock %}
{% block css %}
  <link href="{{asset('bundles/design/css/bootstrap-toggle.min.css')}}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{{asset('bundles/design/')}}plugins/select2/select2.min.css"/>
  <style>
	.custom-filter {
		padding: 10px 0 20px 0;
	}
    .paddBottom {
      padding-bottom: 20px;
    }
	.container1 {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default checkbox */
	.container1 input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		display: none;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: -22px;;
		left: 24px;
		height: 23px;
		width: 23px;
		background-color: #e5e5e5;
	}

	/* On mouse-over, add a grey background color */
	.container1:hover input ~ .checkmark {
		background-color: #ccc;
	}

	/* When the checkbox is checked, add a blue background */
	.container1 input:checked ~ .checkmark {
		background-color: #f4b400;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.container1 input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.container1 .checkmark:after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#delete_selected_input .btn{
		background: #f4b400;
		border: 1px solid #f4b400;
	}
	.fill-padd-left {
		padding-left: 0;
	}
  </style>
{% endblock %}
{% block content %}

  <section class="content-header">
    <!-------- PAGE TITLE ---------------->
    <h1>
      Evaluation
      <small></small>
    </h1>
    <!------- BREADCUMB ---------------------->
    <ol class="breadcrumb">
      <li>
        <a href="">
          <i class="fa fa-dashboard"></i>
          Dashboard</a>
      </li>
      <li class="active">Evaluation</li>
    </ol>
  </section>

  <section class="content">
    {% for flashMessage in app.session.flashbag.get('success_msg') %}
      <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4>
          <i class="icon fa fa-check"></i>
          Alert!</h4>{{ flashMessage }}
      </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error_msg') %}
      <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4>
          <i class="icon fa fa-check"></i>
          Alert!</h4>{{ flashMessage }}
      </div>
    {% endfor %}

    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-body table-responsive table-evaluaions">
			<div class="col-md-12">
				<div class="col-md-3"></div>
				<div class="col-md-6 custom-filter">
					<div class="col-md-8">
						{# <input type="search" list="suggestionList" class="form-control" name='keyword' id="answerInput" placeholder="Search Restaurants" required>
						<datalist id="suggestionList"></datalist> #}
						<select name="restaurant_header" id="restaurant_header" class="form-control select2">
							{% if restaurant_list is defined and restaurant_list is not empty %}
							<option value="0">Select Restaurant</option>
								{% for restaurant in restaurant_list %}
									<option value="{{ restaurant.main_restaurant_id }}">{{ restaurant.restaurant_name }}</option>
								{% endfor %}
							{% endif %}
						</select>
					</div>
					<div class="col-md-4 fill-padd-left">
						<button class="btn btn-primary" id="search_btn">Search</button>
						<input type="hidden" name="answer" id="answerInput-hidden">
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
            <table id="evaluation_table" class="table display table-striped table-bordered scroll-horizontal">
              <thead>
                <th>No</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>Contact No.</th>
                <th>Restaurant Name</th>
                <th>Featured</th>
                <th>Status</th>
                <th>Evaluation Status</th>
                <th>Attachment</th>
                <th>Create Date</th>
                <th style="width:80px !important;">Action</th>
				{% if right_codes is defined and right_codes is not empty %}
					{% if 'SDRE12' in right_codes %}
					<th>Delete</th>
					{% endif %}
				{% endif %}
                <th hidden="hidden">is featured toggle</th>
				<th hidden="hidden"></th>
              </thead>
              <tbody>
                
              </tbody>
              <tfoot>
                <th>No</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>Contact No.</th>
                <th>Restaurant Name</th>
                <th>Featured</th>
				<th>Status</th>
                <th>Evaluation Status</th>
				<th>Attachment</th>
                <th>Create Date</th>
                <th style="width:80px !important;">Action</th>
				{% if right_codes is defined and right_codes is not empty %}
					{% if 'SDRE12' in right_codes %}
					<th>Delete</th>
					{% endif %}
				{% endif %}
                <th hidden="hidden">is featured toggle</th>
                <th hidden="hidden"></th>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}

{% block js %}
  <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
  <script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>
  <script>
    function change_feature(id) {
      var status = '';
      if ($('#is_featured_' + id).prop('checked') == true) {
        status = 'true';
      } else {
        status = 'false';
      }

      if (status != '') {
        $.ajax({
          url: "{{path('admin_evaluation_list_featured_change')}}",
          method: "post",
          data: {
            'evaluation_id': id,
            'status': status
          },
          success: function(data) {}
        });
      }
    }

    $('.deleterow').click(function() {
      var cnfm = confirm('Are you sure, you want to delete?');
      if (cnfm) {
        var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
        if (cnfm1) {
          return true;
        }
      }
      return false;
    });

	function eval_update_pager(){
		var eval_pager_id = '';
		$('.table-evaluaions .paginate_button').each(function(){
			if($(this).hasClass('active')){
				eval_pager_id = $(this).text();
			}
		});
		
		if(eval_pager_id != ''){
			var url = "{{ path('admin_evaluation_evalupdatepager') }}";
			$.ajax({
				url: url,
				method: 'POST',
				data: {'eval_pager_id': eval_pager_id},
				success: function(response){
					//location.href="{{ path('admin_evaluation_list') }}";
				},
				error: function(error){
				
				}
			});
		}
		return true;
	}
	
	function set_show_per_page(show_per_page){
		var url = "{{ path('admin_evaluation_setevalshowperpage') }}";
		$.ajax({
			url: url,
			method: 'POST',
			data: {'show_per_page': show_per_page},
			success: function(response){
				
			},
			error: function(error){
			
			}
		});
	}
	
	$(function () {
		$(".select2").select2({
			allowClear: true,
			tokenSeparators: [','],
			 minimumResultsForSearch:4
		});
	});
	
	var evaluations = '';
    $(document).ready(function() {
	
		{% set pagination = 0 %}
		{% if app.session.get('eval_pagination_number') is defined and app.session.get('eval_pagination_number') is not empty %}
			{% set pagination = app.session.get('eval_pagination_number') %}
		{% endif %}
		
		console.log('pagination -' + {{ pagination }});
		
		{% if app.session.get('eval_per_page') is defined and app.session.get('eval_per_page') is not empty %}
			var tableOptions = {
				"processing": true,
				"serverSide": true,
				"displayStart": {{ pagination }},
				"pageLength": {{ app.session.get('eval_per_page') }},
				"ajax": "{{ path('admin_evaluation_getevaluationlist') }}"
			};
		{% else %}
			var tableOptions = {
				"processing": true,
				"serverSide": true,
				"displayStart": {{ pagination }},
				"pageLength": 10,
				"ajax": "{{ path('admin_evaluation_getevaluationlist') }}"
			};
		{% endif %} 
		
		var evaluations = $('#evaluation_table');
		evaluations.DataTable(tableOptions);
		
		$('select').each(function(){
			if($(this).attr('name') == 'evaluation_table_length'){
				$(this).attr('id', 'show_per_page');
				var show_per_page = $(this).find(':selected').text();
				set_show_per_page(show_per_page);
			}
		});
		
		$('#show_per_page').change(function(){
			var show_per_page = $('#show_per_page').find(':selected').val();
			set_show_per_page(show_per_page);
		});
		
		$('#answerInput').keyup(function(){
			var keyword = $('#answerInput').val();
			if(keyword != ''){
				var url = "{{ path('site_search_ajaxreslist') }}";
				$.ajax({
					url: url,
					data: {'keyword': keyword},
					success: function(response){
						var res = JSON.parse(response);
						$('#suggestionList').html(res['html']);
					},
					error: function(error){
						console.log(error);
					}
				});
			}
		});
		
		$('#search_btn').click(function(){
			//var res_id = $('#answerInput-hidden').val();
			var res_id = $('#restaurant_header').select2().val();
			if(!$.isNumeric(res_id)){
				alert('Please select Restaurant');
				return false;
			}
			
			location.href = '{{ live_path }}admin/addRestaurant/' + res_id;
		});
		
		document.querySelector('input[list]').addEventListener('input', function(e) {
			var input = e.target,
				list = input.getAttribute('list'),
				options = document.querySelectorAll('#' + list + ' option'),
				hiddenInput = document.getElementById(input.id + '-hidden'),
				inputValue = input.value;

			hiddenInput.value = inputValue;

			for(var i = 0; i < options.length; i++) {
				var option = options[i];

				if(option.innerText === inputValue) {
					hiddenInput.value = option.getAttribute('data-value');
					break;
				}
			}
		});
    });
	
	var eval_ids = [];
	function del_response(eval_id){
		
		var i = 0;
		var add_flag = true;
		for(i=0;i<eval_ids.length;i++){
			if(eval_ids[i] == eval_id){
				add_flag = false;
				eval_ids.splice(i,1);
			}
		}
		if(add_flag == true){
			eval_ids.push(eval_id);
		}
		
		if(eval_ids.length > 0){
			if(eval_ids.length == 1){
				$('#evaluation_table_filter').addClass('hide');
				$('#delete_selected_input').remove();
				$('#evaluation_table_filter').after('<div id="delete_selected_input" class="text-right"><input type="button" class="btn btn-primary" onclick="delete_selected_questions();" value="Delete Selected"></div>');
			}
		} else {
			$('#evaluation_table_filter').removeClass('hide');
			$('#delete_selected_input').remove();
		}
	}
	
	function delete_selected_questions(){
		var cnfm = confirm("Do you want delete the evaluations'?");
		if(cnfm){
			var cnfm2 = confirm("Are you sure?");
			if(cnfm2){			
				if(eval_ids.length == 0){
					alert('Please select evaluations');
					return false;
				}
				
				var url = "{{ path('admin_evaluation_deletebulkevaluation') }}";
				$.ajax({
					url: url,
					data: {"eval_ids": eval_ids.join()},
					method: 'POST',
					success: function(response){
						var res = JSON.parse(response);
						console.log(res);
						if(res['message'] == 'failed'){
							//location.href = "{{ path('admin_dashboard_index') }}";
						}
						if(res['success'] == true){
							alert(res['message']);
							for(i=0;i<eval_ids.length;i++){
								$('#evaluation_tr_' + eval_ids[i]).parent().parent().remove();
								//evaluations.ajax.reload();
							}
							
							$('#suggestions_filter').removeClass('hide');
							$('#delete_selected_input').remove();
						}
						$('#evaluation_table_filter').removeClass('hide');
					},
					error: function(error){
						console.log(error);
					}
				});			
			}
		}
	}
  </script>
{% endblock %}
