{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} View Evaluation {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<script src="{{ asset('bundles/design') }}/js/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
	<style>
		.paddBottom { padding-bottom: 20px; }
		.avatar img{
		    width: 40px;
			max-width: 100%;
			height: auto;
			border: 0 none;
			border-radius: 1000px;
		}
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            View Evaluation
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">View Evaluation</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header with-border">
                        
                        <a href="{{ path('admin_evaluation_list') }}" class="btn btn-primary btn-flat pull-right"><i class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div>
					<div class="box-body table-responsive">	
						<table id="rest_list" class="table display table-striped table-bordered scroll-horizontal" style="width:100%">
							<thead>
								<th hidden>Main Evaluation ID</th>
                                                                <th>User Name</th>
                                                                <th>Restaurant Name</th>
                                                                <th>Branch Name</th>
								<th>Category Name</th>
                                                                <th>Food Type Name</th>
                                                              {#  <th>Comments</th> #}
                                                                <th>Levels</th>
                                                                <th>Move to other restaurant</th>
								<th>Status</th>
							</thead>
							<tbody>
							{%if rest_final_data is defined and rest_final_data is not empty %}
								{% for restoraunt_data in rest_final_data %}
									<tr>
										<td hidden></td>
                                                                                <td>{{restoraunt_data.user_id}}</td>
                                                                                 <td>{{restoraunt_data.restaurant_id}}</td>
                                                                                 <td>{{restoraunt_data.branch_name}}</td>
                                                                                <td>{{restoraunt_data.category_name}}</td>
                                                                                <td>{{restoraunt_data.food_type_name}}</td>
                                                                            {#    <td>{{restoraunt_data.comments}}</td> #}
                                                                                <td><b>Service:</b> {{restoraunt_data.service_level}} </br><b>Dining:</b> {{restoraunt_data.dining_level}} </br><b>Atmosphere:</b> {{restoraunt_data.atmosphere_level}}</br><b>Price:</b> {{restoraunt_data.price_level}} </br><b>Clean:</</b> {{restoraunt_data.clean_level}}</td>
                                                                                <td>
                                                                                    <select name="evaluation_res" data-app="{{restoraunt_data.evaluation_feedback_id}}" class="form-control evaluation_res">
                                                                                        {%if restaurantmaster is not empty%}
                                                                                            {%for restaurantmaster in restaurantmaster%}
                                                                                                <option value="{{restaurantmaster.restaurant_master_id}}" {% if restaurantmaster.restaurant_master_id == restoraunt_data.restaurant_id1%}selected="selected"{%endif%}>{{restaurantmaster.restaurant_name}}</option>
                                                                                            {%endfor%}
                                                                                        {%endif%}
                                                                                    </select>
                                                                                </td>
                                                                                <td>
																					{% set disable = ''%}
																					{% if restoraunt_data.status == 'rejected'%}
																						{% set disable = 'disabled'%}
																					{%endif%}
                                                                                    <select name="evaluation_status" data-app="{{restoraunt_data.evaluation_feedback_id}}" class="form-control evaluation_status" {{disable}}>
                                                                                        <option value="pending" {% if restoraunt_data.status == 'pending'%}selected="selected"{%endif%}>pending</option>
                                                                                        <option value="rejected" {% if restoraunt_data.status == 'rejected'%}selected="selected"{%endif%}>rejected</option>
                                                                                        <option value="approved" {% if restoraunt_data.status == 'approved'%}selected="selected"{%endif%}>approved</option>
                                                                                    </select>
                                                                                    {#<a href="" onclick="return confirm('Are you sure you want to reject?')" {% if restoraunt_data.status == 'pending'%}class="btn btn-info"{%endif%} {% if restoraunt_data.status == 'rejected'%}class="btn btn-danger"{%endif%} {% if restoraunt_data.status == 'approved'%}class="btn btn-success"{%endif%} data-toggle="modal" data-target="#myModal">{{restoraunt_data.status}}</a></td>#}
                                                                                
                                                                        
                                                                        </tr>
                                                                        
									<tr>
										<td colspan="8" style="white-space:pre-line;"><b>Comments: </b>{{restoraunt_data.comments}}</td>
										<td hidden></td>
										<td hidden></td>
										<td hidden></td>
										<td hidden></td>
										<td hidden></td>
										<td hidden></td>
										<td hidden></td>
									</tr>	
								{%endfor%} 
							{%endif%}
								
								
							</tbody>
							<tfoot>
								<th hidden>Main Evaluation ID</th>
                                                                <th>User Name</th>
                                                                <th>Restaurant Name</th>
                                                                <th>Branch Name</th>
								<th>Category Name</th>
                                                                <th>Food Type Name</th>
                                                              {#  <th>Comments</th> #}
                                                                <th>Levels</th>
                                                                <th>Move to other restaurant</th>
								<th>Status</th>
							</tfoot>
							
						</table>
						</br>
						<div class="row">
						  <div class="col-md-12">	
							<label>Gallery</label></br>
							<div class="row">
							{% if gallery is defined and gallery is not empty%}
								{%for image in gallery%}
									<div class="col-md-4">
										<a href="{{asset(''~image.media_location~'/'~image.media_name)}}" data-fancybox="gallery">
										<img src="{{asset(''~image.media_location~'/'~image.media_name)}}" alt="..." class="img-thumbnail"></a>
									</div>
								{%endfor%} 
							{%endif%}
							</div>
						  </div>		
						</div> 
            </br>
            <div class="row">
              <div class="col-md-12"> 
              <label>Invoice Image</label></br>
              <div class="row">
              {% if invoice is defined and invoice is not empty%}
                {%for image in invoice%}
                  <div class="col-md-4">
                    <a href="{{asset(''~image.media_location~'/'~image.media_name)}}" data-fancybox="invoice">
                    <img src="{{asset(''~image.media_location~'/'~image.media_name)}}" alt="..." class="img-thumbnail"></a>
                  </div>
                {%endfor%} 
              {%endif%}
              </div>
              </div>    
            </div> 						
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Reason For Evaluation Reject</h4>
      </div>
         <form>  
      <div class="modal-body">
         <div class="row" id="reason_error">
		 </div>
          <div class="row">
											<div class="col-md-12">
												<label class="control-label">Reason</label>
												<div class="">
                                                                                                    <textarea class="form-control" required id="reason" name="reason"></textarea>
												</div>
											</div>
										</div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default evaluation_reason" data-dismiss="modal">Submit</button>
      </div>
              </form>  
    </div>

  </div>
</div>	
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$('#rest_list').DataTable();
                $('.evaluation_res').change(function(){
                   var res_id = $(this).val();
                   var evaluation_feedback_id = $(this).data('app');
                                 $.ajax({
                                    type: 'POST',
                                    url: "{{path('change_rest_evalt')}}",
                                    data: {'evaluation_feedback_id':evaluation_feedback_id,'res_id':res_id},
                                    success: function(resp){
                                        if(resp == 'done'){
                                            location.reload();
                                        }

                                    }
                                });
                          
			
                });
		$('.evaluation_status').change(function(){
                   var status = $(this).val();
                   var main_restaurant_id = '';
                   var evaluation_feedback_id = $(this).data('app');
			if(status == 'rejected'){
                             $('#myModal').modal('show');
                             $('.evaluation_reason').click(function(){
                                 var reason = $('#reason').val();
								 if(reason != ''){
									 $.ajax({
										type: 'POST',
										url: "{{path('change_status_evaltreason')}}",
										data: {'evaluation_feedback_id':evaluation_feedback_id,'reason':reason,'status':status},
										success: function(resp){
											if(resp == 'done'){
												location.reload();
											}

										}
									});								 
								 }else{
									alert('Enter Reason to reject Evaluation');
									location.reload();
									$('#myModal').modal('show');									
/*									var html = "<div class='alert alert-danger alert-dismissable'><button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button>";
									html += "<h4><i class='icon fa fa-check'></i> Alert!</h4>Please Enter Reason</div>";
									$('#reasn_error').html('');
									$('#reasn_error').append(html);  */									
								 }

                             });
                        }else{
                              $.ajax({
                                type: 'POST',
                                url: "{{path('change_status_evalt')}}",
                                data: {'main_restaurant_id':main_restaurant_id,'evaluation_feedback_id':evaluation_feedback_id,'status':status},
                                success: function(resp){
                                    if(resp == 'done'){
                                            location.reload();
                                        }
                                    
                                }
                            });
                        }
                          
			
			
                });
		$('.editcategory').click(function(){
			var cnfm = confirm('Are you sure?');
			if(cnfm){
				return true;
			}
			return false;
		});
		
		$('.deletecategory').click(function(){
			var cnfm = confirm('Are you sure?');
			if(cnfm){
				return true;
			}
			return false;
		});
	});
	function ch_status(main_restaurant_id,sender) {
				
            $.ajax({
                type: 'POST',
                url: "{{path('change_status_rest')}}",
                data: {'main_restaurant_id':main_restaurant_id},
                success: function(resp){
                	
                }
            });

		}
</script>
{% endblock %}