{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Contact us {% endblock %}
{% block css %}
	<style>
		.contactus-info .form-horizontal .form-group{
			margin-left: 0px;
			margin-right: 0px;
		}
		.paddTop { padding-top: 20px; }
		.paddBottom { padding-bottom: 20px; }
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Contact us
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Contact us</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-default">
					<div class="box-body">
						
					{% if languages is defined  and languages is not empty%}
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								{% if languages is defined %}
								   {% for language in languages %}
										<li class="{% if selected is defined %}{% if selected == language.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
											<a href="#lan_{{loop.index}}" data-toggle="tab">{{language.language_name}}</a>
										</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>
						
						<!-- tab-content -->
						<div class="tab-content">
							{% for language in languages %}
								<div role="tabpanel" class="contactus-info tab-pane {% if loop.index == 1 %}active{% endif %}" id="lan_{{ language.language_master_id }}">
									
									{% set contact_us_id = '' %}
									{% set address = '' %}
									{% set phone_number = '' %}
									{% set email_address = '' %}
									{% set fb_link = '' %}
									{% set twitter_link = '' %}
									{% set insta_link = '' %}
									{% set action = path('admin_contactus_save') %}
									
									{% if contact_info is defined and contact_info is not empty %}
										
										{% for contactinfo in contact_info %}
											{% if contactinfo.language_id == language.language_master_id %}
												
												{% set contact_us_id = contactinfo.contact_us_id %}
												{% set address = contactinfo.address %}
												{% set phone_number = contactinfo.phone_number %}
												{% set email_address = contactinfo.email_address %}
												{% set fb_link = contactinfo.fb_link %}
												{% set twitter_link = contactinfo.twitter_link %}
												{% set insta_link = contactinfo.insta_link %}
												{% set action = path('admin_contactus_update') %}
												
											{% endif %}
										{% endfor %}
									{% endif %}
									
									<form id="form-{{ language.language_master_id }}" class="form-horizontal" method="post" action="{{ action }}">
										
										<input type="hidden" name="contact_us_id" value="{{ contact_us_id }}">
										<input type="hidden" name="language_id" value="{{ language.language_master_id }}">
										
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-6">
													<div class="form-group">
														<label>Address</label>
														<textarea name="address" class="form-control">{{ address }}</textarea>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Phone Number</label>
														<input type="text" class="form-control" name="phone_number" value="{{ phone_number }}">
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-6">
													<div class="form-group">
														<label>Email Address</label>
														<input type="text" class="form-control" name="email" value="{{ email_address }}">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Facebook Link</label>
														<input type="text" class="form-control" name="fb_link" value="{{ fb_link }}">
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-6">
													<div class="form-group">
														<label>Twitter Link</label>
														<input type="text" class="form-control" name="twitter_link" value="{{ twitter_link }}">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Instagram Link</label>
														<input type="text" class="form-control" name="insta_link" value="{{ insta_link }}">
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-6">
													<button type="submit" name="submit" class="btn btn-primary" value="{{ language.language_master_id }}">
														<span><i class="fa fa-check-square-o"></i>&nbsp;Submit</span>
													</button>
												</div>
											</div>
										</div>
										
									</form>
									
								</div>
							{% endfor %}
						</div>
						<!-- end: tab-content -->
						
					{% endif %}
						
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$('#suggestions').DataTable();
	});
</script>
{% endblock %}