{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Dinning Experience {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
	</style>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/design') }}/css/jquery.fancybox.min.css" />
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Dinning Experience
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Dinning Experience</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				{%set nick_name = ''%}
				{%set email_addr = ''%}
				{%set rest_name = ''%}
				{%set comments = ''%}
				{%set create_date = ''%}
                                
				  {% if dinning_view_data.din_expr_data is defined and dinning_view_data.din_expr_data is not empty%}
					{%for din_data in dinning_view_data.din_expr_data%}
                                        
						{%set nick_name = din_data.nick_name%}
						{%set email_addr = din_data.email_address%}
						{# {%set rest_name = din_data.restaurant_name%} #}
						{%set rest_name = din_data.restaurant_id %}
						{%set comments = din_data.comments%}
						{%set create_date = din_data.create_date|date('d-m-Y')%}
					{%endfor%}
				  {%endif%} 	
			 
				<div class="box box-primary">
					<div class="box-header with-border">			  
						<h3 class="box-title">Dinning Experience of {{nick_name}}</h3>
						<a href="{{ path('dinning_experience') }}" class="btn btn-primary btn-flat pull-right"><i class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a>
				    </div>		
					<div class="box-body">
						<div class="row">
							<div class="col-md-3">
								<label>Nick Name</label>
								<p>{{nick_name}}</p>
							</div>
							<div class="col-md-3">
								<label>Email Address</label>
								<p>{{email_addr}}</p>
							</div>
							<div class="col-md-3">
								<label>Restaurant Name</label>
								<p>{{rest_name}}</p>
							</div>
							<div class="col-md-3">
								<label>Created date</label>
								<p>{{create_date}}</p>
							</div>
						</div>
						<div class="row">
						  <div class="col-md-12">	
							<label>Comments</label>
							<p>{{comments}}</p>
						  </div>		
						</div>
						<div class="row">
						  <div class="col-md-12">	
							<label>Gallery</label></br>
							<div class="row">
							{% if dinning_view_data.din_gallery is defined and dinning_view_data.din_gallery is not empty%}
								{%for din_gallery_img in dinning_view_data.din_gallery%}
									<div class="col-md-3">
										<a data-fancybox="images" href="{{asset(''~din_gallery_img.media_location~'/'~din_gallery_img.media_name)}}" target="_blank">
										<img src="{{asset(''~din_gallery_img.media_location~'/'~din_gallery_img.media_name)}}" alt="..." class="img-thumbnail"></a>
									</div>
								{%endfor%}
							{%endif%}
							</div>
						  </div>		
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/design') }}/js/jquery.fancybox.min.js"></script>
{% endblock %}