{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Edit Dinning Experience
{% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/plugins/')}}select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/plugins/')}}datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="{{asset('bundles/design/plugins/')}}datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .save-btn, .cancel-btn {
            width: 85%;
        }
		img.invoice-img {
			width: 150px;
			height: 125px;
			padding-top: 5px;
		}
		.fillpadd {
			padding-left: 0px;
		}
		img.res-gallery-ims {
			width: 125px;
		}
    </style>

{% endblock %}
{% block content %}
    <!----------- PAGE HEADER : START ------------------------------------------------------------>
    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Edit Dinning Experience
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Edit Dinning Experience</li>
        </ol>
    </section>
    <!----------- PAGE HEADER : END ------------------------------------------------------------>
    <!----------- Main content : START ------------------------------------------------------------>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <style>
                .display-image{
                    padding-top: 10px;
                    max-width: 70%;
                }
            </style>
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Dinning Experience</h3>
                        <a href="{{path('dinning_experience')}}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-chevron-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div><!-- /.box-header -->

                    <div class="box-body">
						<div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#lang" data-toggle="tab">Dinning Experience</a>
								</li>
                                <li><a href="#media" data-toggle="tab">Media</a></li>
                            </ul>
                        </div>
						<div class="tab-content">
                            <div class="tab-pane active" id="lang">

                                <form method="post" enctype="multipart/form-data" action="{{ path('admin_dinningexp_editcommentdb') }}">

                                    <!-- for edit -->
                                    {% if din_expr_id is defined and din_expr_id is not empty %}
                                        <input type="hidden" value="{{ din_expr_id }}" name="din_expr_id"/>
                                    {% endif %}

                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Nickname</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="text" name="nickname" class="form-control"
													{% if dinning_expr_data is defined and dinning_expr_data is not empty %}
                                                       value="{{ dinning_expr_data.nick_name }}"
                                                   {% endif %} readonly/>
                                        </div>
                                    </div>
									
									<div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Restuarant</label>
                                        </div>
                                        <div class="col-lg-10">
                                            {# <select id="restaurant_list" name="restaurant_id" class="form-control">	
											{% if restaurantmaster is defined and restaurantmaster is not empty %}
												{% for restaurantmaster in restaurantmaster%}
													{% set selected = '' %}
													{% if restaurantmaster.restaurant_master_id == dinning_expr_data.restaurant_id %}
														{% set selected = 'selected' %}
													{% endif %}
													<option value="{{ restaurantmaster.restaurant_master_id }}" {{selected}}>{{ restaurantmaster.restaurant_name }}</option>
												{% endfor %}
											{% endif %}
											</select> #}
																						
											<input type="text" class="form-control" name="restaurant" value="{{ dinning_expr_data.restaurant_id }}">
                                        </div>
                                    </div>
									
									<div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Comment</label>
                                        </div>
                                        <div class="col-lg-10">
											{% set comment = '' %}
											{% if dinning_expr_data is defined and dinning_expr_data is not empty %}
												{% set comment = dinning_expr_data.comments %}
											{% endif %}
											<textarea name="comment" class="form-control">{{ comment }}</textarea>
                                        </div>
                                    </div>
									
									<div class="row form-group">
										<div class="col-md-12">
											<div class="col-md-6 fill-padd-left">
												<label>Status</label><br>

												{% set adv_status_active = '' %}
												{% set adv_status_inactive = '' %}
												{% if dinning_expr_data is defined and dinning_expr_data is not empty %}													
													{% if dinning_expr_data.status == 'active' %}
														{% set adv_status_active = 'checked' %}
													{% endif %}
													{% if dinning_expr_data.status == 'inactive' %}
														{% set adv_status_inactive = 'checked' %}
													{% endif %}
												{% endif %}

												<label class="radio-inline">
													<input type="radio" name="status" value="active" {{ adv_status_active }} required="" /> Active
												</label>
												<label class="radio-inline">
													<input type="radio" name="status" value="inactive" {{adv_status_inactive }} required="" /> Inactive
												</label>
											</div>
										</div>
                                    </div>
									
									<hr />
                                    <div class="row" align="center">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <div class="col-lg-6">
                                                <button type="submit" class="btn btn-primary save-btn" name="add">Update</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="{{path('admin_category_index')}}" class="btn btn-default cancel-btn">Cancel</a>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
							
							<div class="tab-pane" id="media">
								<div class="box-body form-horizontal">
									{# File upload plugin html code : START #}
									<form id="fileupload" method="POST" enctype="multipart/form-data">
										<div class="row fileupload-buttonbar">
											<div class="col-lg-7">
												<span class="btn btn-success fileinput-button">
													<i class="glyphicon glyphicon-plus"></i>
													<label for="file_input">Add files...</label>
													<input id="file_input" type="file" name="files[]" style="display:none" multiple>
												</span>
												<!-- The global file processing state -->
												<span class="fileupload-process"></span>
											</div>

											<div class="col-lg-5 fileupload-progress">
												<!-- The global progress bar -->
												<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
													<div class="progress-bar progress-bar-success" style="width:0%;"></div>
												</div>
												<!-- The extended global progress state -->
												<div class="progress-extended">&nbsp;</div>
											</div>
										</div>
										<table role="presentation" class="table table-striped">
											<tbody class="files">
												{% if media_library_master is defined and media_library_master is not empty %}
													{% for media in media_library_master %}
														<tr id="remove_{{ media.media_library_master_id }}" class="">
															<td>
																<span class="preview">
																	<a data-gallery="" download="{{media.media_name}}" title="{{media.media_name}}" href="{{live_path}}{{media.media_location}}/{{media.media_name}}">
																		<img class="res-gallery-ims" src="{{live_path}}{{media.media_location}}/{{media.media_name}}">
																	</a>
																</span>
															</td>
															<td>
																<p class="name">
																	<a data-gallery="" download="{{media.media_name}}" title="{{media.media_name}}" href="{{live_path}}{{media.media_location}}/{{media.media_name}}">{{media.media_name}}</a>
																</p>
															</td>
															<td>
																<button class="btn btn-danger delete" onclick="delete_image({{ media.media_library_master_id }},{{media.dining_experience_gallery_id}} );">
																	<i class="glyphicon glyphicon-trash"></i>
																	<span>Delete</span>
																</button>
															</td>
														</tr>
													{% endfor %}
												{% endif %}   
											</tbody>
										</table>  
									</form>
									{# File upload plugin html code : END #}
								</div>
								<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
									<div class="slides"></div>
									<h3 class="title"></h3>
									<a class="prev" style="display:none">‹</a>
									<a class="next" style="display:none">›</a>
									<a class="close" style="display:none">×</a>
									<a class="play-pause"></a>
									<ol class="indicator"></ol>
								</div>
							</div>
							
                        </div>
                    </div>

                </div>

            </div><!-- /.box -->
        </div>

    </section>
    <!----------- Main content : END ---------------------------------------------------------->
{% endblock %}
{% block js %}
<script id="template-upload" type="text/x-tmpl">
	{% verbatim %}
		{% for (var i=0, file; file=o.files[i]; i++) { %}

			<tr class="template-upload">
			<td>
			<span class="preview"></span>
			</td>
			<td>
			<p class="name">{%=file.name%}</p>
			<strong class="error text-danger"></strong>
			</td>
			<td>
			<p class="size">Processing...</p>
			<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
			</td>
			<td>
			{% if (!i && !o.options.autoUpload) { %}
			<button class="btn btn-primary start" disabled>
			<i class="glyphicon glyphicon-upload"></i>
			<span>Start</span>
			</button>
			{% } %}
			{% if (!i) { %}
			<button class="btn btn-warning cancel">
			<i class="glyphicon glyphicon-ban-circle"></i>
			<span>Cancel</span>
			</button>
			{% } %}
			</td>
			</tr>

			{% } %}
		{% endverbatim %}
	</script>


	<script id="template-download" type="text/x-tmpl">
		{% verbatim %}

		{% endverbatim %}
	</script>
	<script id="template-upload" type="text/x-tmpl">
		{% verbatim %}
			{% for (var i=0, file; file=o.menufile[i]; i++) { %}

			<tr class="template-upload">
			<td>
			<span class="preview"></span>
			</td>
			<td>
			<p class="name">{%=file.name%}</p>
			<strong class="error text-danger"></strong>
			</td>
			<td>
			<p class="size">Processing...</p>
			<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
			</td>
			<td>
			{% if (!i && !o.options.autoUpload) { %}
			<button class="btn btn-primary start" disabled>
			<i class="glyphicon glyphicon-upload"></i>
			<span>Start</span>
			</button>
			{% } %}
			{% if (!i) { %}
			<button class="btn btn-warning cancel">
			<i class="glyphicon glyphicon-ban-circle"></i>
			<span>Cancel</span>
			</button>
			{% } %}
			</td>
			</tr>

			{% } %}
		{% endverbatim %}
	</script>

    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>

	 <script src="{{asset('bundles/design/')}}fileupload/js/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="{{asset('bundles/design/')}}fileupload/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{{asset('bundles/design/')}}fileupload/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="{{asset('bundles/design/')}}fileupload/js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-ui.js"></script>

    <script type="text/javascript">
	
	$(function () {
		'use strict';
		$('#fileupload').fileupload({
			url: '{{live_path}}/bundles/design/index.php?temp_dir=bulkupload',
			success: function(response){
				 $.ajax({
					type: 'POST',
                    url : "{{ path('admin_dinningexp_addexpgallery') }}",
					data: {"img_name":response.files[0].name, 'media_type_id':1, 'din_expr_id': {{ din_expr_id }}},                                        
					//async: false,
					dataType: 'json',
				   // xhrFields: {withCredentials: true},
					success: function(response){
						var html = '';
						if (response != false){
							html += '<tr id="remove_'+response.media_library_master_id+'">';
							html += '<td>';
							html += '<span class="preview">';
							html += '<a data-gallery="" download="' + response.name + '" title="' + response.name + '" href="' + response.path + '">';
							html += '<div class="col-md-4"><img class="club-images img-responsive img-thumbnail" src="' + response.thumbnail_path + '"></div>';
							html += '</a>';
							html += '</span>';
							html += '</td>';
							html += '<td>';
							html += '<p class="name">';
							html += '<a data-gallery="" download="' + response.name + '" title="' + response.name + '" href="' + response.path + '">' + response.name + '</a>';
							html += '</p>';
							html += '</td>';
							html += '<td>';
							html += '<button class="btn btn-danger delete" onclick="delete_image(' + response.media_library_master_id + ',' + response.gallery_master_id + ');">';
							html += '<i class="glyphicon glyphicon-trash"></i>';
							html += '<span>Delete</span>';
							html += '</button>';
							//html += '<input type="checkbox" class="toggle" value="1" name="delete">';
							html += '</td>';
							html += '</tr>';
							$(".files").append(html);
							html = "";
						}
					},
					error: function(error){
						console.log(error);
					}
				});
			}
		});
                
		$('#fileupload').fileupload(
			'option',
			'redirect',
			window.location.href.replace(
				/\/[^\/]*$/,
				'/cors/result.html?%s'
			)
                );

		$('#fileupload').addClass('fileupload-processing');
		var url = '{{live_path}}/bundles/design/index.php?tmp_dir=bulkupload'
		$.ajax({
			url: url,
			dataType: 'json',
			context: $('#fileupload')[0]
		}).always(function () {
			$(this).removeClass('fileupload-processing');
		}).done(function (result) {
			$(this).fileupload('option', 'done')
				.call(this, $.Event('done'), {result: result});
		});
	});
	
	function delete_image(main_media_id, gallery_id)
	{
		var answer = confirm ("Are you sure you want to delete?");
		if (answer) {
			$.ajax({
			type: 'POST',
				url : "{{ path('admin_dinningexp_removeexpgallery') }}",
				data: {'main_media_id': main_media_id, "gallery_id": gallery_id},
				async: false,
				dataType: 'json',
				success: function(response){
					if (response == true){
						$('#remove_' + main_media_id).remove();
					}
				}
			});
		}
	}
</script>
{% endblock %}
