{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Dinning Experience {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
		
		#delete_selected_input .btn{
			background: #f4b400;
			border: 1px solid #f4b400;
		}

		.container1 {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		}

	/* Hide the browser's default checkbox */
	.container1 input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		display: none;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: -22px;;
		left: 24px;
		height: 23px;
		width: 23px;
		background-color: #e5e5e5;
	}

	/* On mouse-over, add a grey background color */
	.container1:hover input ~ .checkmark {
		background-color: #ccc;
	}

	/* When the checkbox is checked, add a blue background */
	.container1 input:checked ~ .checkmark {
		background-color: #f4b400;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.container1 input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.container1 .checkmark:after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	

	</style>
	<link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Dinning Experience
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Dinning Experience</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body table-responsive">
						<table id="dinning_expr" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th>No.</th>
								<th>Nick Name</th>
								<th>Email Id</th>
								<th>Restoraunt Name</th>
								<th>Comments</th>
								<th>Status</th>
								<th>Create Date</th>
								<th>Operations</th>
								{% if right_codes is defined and right_codes is not empty %}
									{% if 'SDDE25' in right_codes %}
										<th>Delete</th>
									{% endif %}
								{% endif %}
							</thead>
							<tbody>
							{% if dinning_expr_data is defined  and dinning_expr_data is not empty%}
								{% for dinning_expr_data in dinning_expr_data %}
									<tr id="remove_id_{{ dinning_expr_data.	dining_experience_id }}">
										<td>{{loop.index}}</td>
										<td>{{ dinning_expr_data.nick_name }}</td>
										<td>{{ dinning_expr_data.email_address }}</td>
                                                                                <td>{{ dinning_expr_data.restaurant_id }}</td>
										<td>{{ dinning_expr_data.comments }}</td>
										<td>
											{% if dinning_expr_data.status == 'active' %}
												{% set status_label = 'Active' %}
												{% set status_class = 'success' %}
												{% set checked = 'checked' %}
											{% else %}
												{% set status_label = 'Inactive' %}
												{% set checked = '' %}
											{%endif%}
											<input data-on="active" class="status status_23" data-off="inactive" type="checkbox" onchange="change_status({{ dinning_expr_data.dining_experience_id }})"  data-toggle="toggle" data-size="mini" data-onstyle="success" {{ checked }}>
										</td>
										<td>{{ dinning_expr_data.create_date|date('d-m-Y') }}</td>
										<td>
											{% if right_codes is defined and right_codes is not empty %}
												{% if 'SEDE24' in right_codes %}
													<a class="btn btn-info btn-xs editrow" href="{{path('admin_dinningexp_edit',{'din_expr_id':dinning_expr_data.	dining_experience_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
														<i class="fa fa-pencil-square-o"></i>
													</a>
												{% endif %}
											{% endif %}
											
											<a class="btn btn-info btn-xs" href="{{path('dinning_experience_view',{'din_expr_id':dinning_expr_data.	dining_experience_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="view">
												<i class="fa fa-fw fa-eye"></i>
											</a>
										</td>
										{% if right_codes is defined and right_codes is not empty %}
											{% if 'SDDE25' in right_codes %}
												<td>
													<a class="btn btn-danger btn-xs deleterow" href="{{path('delete_dinning_experience',{'din_expr_id':dinning_expr_data.dining_experience_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
														<i class="fa fa-trash-o"></i>
													</a>

													<label class="container1">
														<input type="checkbox">
														<span class="checkmark" onclick="del_response({{dinning_expr_data.dining_experience_id}});"></span>
													</label>

												</td>
											{% endif %}
										{% endif %}
									</tr>
								{% endfor %}
							{% endif %}
							</tbody>
							<tfoot>
								<th>No</th>
								<th>Nick Name</th>
								<th>Email Id</th>
								<th>Restoraunt Name</th>
								<th>Comments</th>
								<th>Status</th>
								<th>Create Date</th>
								<th>Operations</th>
								{% if right_codes is defined and right_codes is not empty %}
									{% if 'SDDE25' in right_codes %}
										<th>Delete</th>
									{% endif %}
								{% endif %}
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$('#dinning_expr').DataTable();
	});

	$('.deleterow').click(function(){
		var cnfm = confirm('Are you sure, you want to delete?');
		if(cnfm){
			var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
			if(cnfm1){
				return true;
			}
		}
		return false;
	});
	
	$('.editrow').click(function(){
		var cnfm = confirm('Are you sure, you want to Edit?');
		if(cnfm){
			return true;
		}
		return false;
	});

	function change_status(id){
		if(id != ''){
			var url = "{{ path('admin_dinningexp_ajaxupdatestatus') }}";
			$.ajax({
				url: url,
				method: 'post',
				data: {'exp_id' : id},
				success: function(response){
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}

	var user_ids = [];
	function del_response(eval_id){
		
		var i = 0;
		var add_flag = true;
		for(i=0;i<user_ids.length;i++){
			if(user_ids[i] == eval_id){
				add_flag = false;
				user_ids.splice(i,1);
			}
		}
		if(add_flag == true){
			user_ids.push(eval_id);
		}
		
		if(user_ids.length > 0){
			if(user_ids.length == 1){
				$('#dinning_expr_filter').addClass('hide');
				$('#delete_selected_input').remove();
				$('#dinning_expr_filter').after('<div id="delete_selected_input" class="text-right"><input type="button" class="btn btn-primary" onclick="delete_selected_questions();" value="Delete Selected"></div>');
			}
		} else {
			$('#dinning_expr_filter').removeClass('hide');
			$('#delete_selected_input').remove();
		}
	}
	
	function delete_selected_questions(){
		var cnfm = confirm("Do you want delete selected Dinning Experience'?");
		if(cnfm){
			var cnfm2 = confirm("Are you sure?");
			if(cnfm2){			
				if(user_ids.length == 0){
					alert('Please select evaluations');
					return false;
				}
				
				var url = "{{ path('admin_dinningexp_deletebulkdins') }}";
				$.ajax({
					url: url,
					data: {"user_ids": user_ids.join()},
					method: 'POST',
					success: function(response){
						var res = JSON.parse(response);
						console.log(res);
						if(res['message'] == 'failed'){
							location.href = "{{ path('admin_dashboard_index') }}";
						}
						if(res['success'] == true){
							alert(res['message']);
							for(i=0;i<user_ids.length;i++){
								$('#remove_id_' + user_ids[i]).remove();
								//evaluations.ajax.reload();
							}
							
							$('#dinning_expr_filter').removeClass('hide');
							$('#delete_selected_input').remove();
						}
						$('#dinning_expr_filter').removeClass('hide');
					},
					error: function(error){
						console.log(error);
					}
				});			
			}
		}
	}

</script>
{% endblock %}