{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Review {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Review
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Review</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body table-responsive">
						<table id="reviewTable" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th>No</th>
								<th>Restaraunt Name</th>
								<th>Created By</th>
								<th>Review</th>
								<th>Created Date</th>
								<th>Action</th>
							</thead>
							<tbody>
								{%if review_data is defined and review_data is not empty%}
									{%for review_data_details in review_data%}
										<tr>
											<td>{{loop.index}}</td>
											<td>{{review_data_details.restaurant_name}}</td>
											<td>{{review_data_details.username}}</td>
											<td>{{review_data_details.review_text}}</td>
											<td>{{review_data_details.created_datetime|date('d-m-Y')}}</td>
											<td>
											<a class="btn btn-info btn-xs" href="{{path('admin_review_viewReview',{'review_id':review_data_details.review_master_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="view">
												<i class="fa fa-fw fa-eye"></i>
											</a>
												<a onclick="return confirm('Are you sure you want to Delete?')"
												   href="{{path('admin_delete_review',{'review_id':review_data_details.review_master_id})}}"
												   class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete">
													<i class="fa fa-close"></i>
												</a>											
											</td>
										</tr>
									{%endfor%}
								{%endif%}
							</tbody>
							<tfoot>
								<th>No</th>
								<th>Restaraunt Name</th>
								<th>Created By</th>
								<th>Review</th>
								<th>Created Date</th>
								<th>Action</th>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$('#reviewTable').DataTable();
	});
</script>
{% endblock %}