{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Review {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Review
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Review</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				{%set user_name = ''%}
				{%set rest_name = ''%}
				{%set review = ''%}
				{%set create_date = ''%}
				  {% if review_data.review is defined and review_data.review is not empty%}
					{%for review_details in review_data.review%}
						{%set user_name = review_details.username%}
						{%set rest_name = review_details.restaurant_name%}
						{%set review = review_details.review_text%}
						{%set create_date = review_details.created_datetime|date('d-m-Y')%}
					{%endfor%}
				  {%endif%} 	
			 
				<div class="box box-primary">
					<div class="box-header with-border">			  
						<h3 class="box-title">Review of {{user_name}}</h3>
						<a href="{{ path('admin_review') }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-left-arrow"></i><b>&nbsp;&nbsp;Back</b></a>
				    </div>		
					<div class="box-body">
						<div class="row">
							<div class="col-md-3">
								<label>Restaraunt Name</label>
								<p>{{rest_name}}</p>
							</div>
							<div class="col-md-3">
								<label>Created By</label>
								<p>{{user_name}}</p>
							</div>
							<div class="col-md-3">
								<label>Created date</label>
								<p>{{create_date}}</p>
							</div>
						</div>
						<div class="row">
						  <div class="col-md-12">	
								<label>Review</label>
								<p>{{review}}</p>
						  </div>		
						</div>
						<div class="row">
						  <div class="col-md-12">	
							<label>Gallery</label></br>
							<div class="row">
							{% if review_data.review_gallery is defined and review_data.review_gallery is not empty%}
								{%for review_gallery_img in review_data.review_gallery%}
									<div class="col-md-4">
										<a href="{{asset(''~review_gallery_img.media_location~'/'~review_gallery_img.media_name)}}" target="_blank">
										<img src="{{asset(''~review_gallery_img.media_location~'/'~review_gallery_img.media_name)}}" alt="..." class="img-thumbnail"></a>
									</div>
								{%endfor%}
							{%endif%}
							</div>
						  </div>		
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}

{% endblock %}