<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="{{asset('bundles/design/images/logo.png')}}" rel="shortcut icon"/>
	<title>Shrayek| Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
	<link href="{{asset('bundles/design/')}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!-- Fontawesome --->
	<link href="{{asset('bundles/design/')}}css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

<!-- Web push notification -->
    <!-- Include manifest file in the page -->
    <link rel="manifest" href="{{asset('bundles/design/')}}json/manifest.json">

  </head>
  <body class="login-page" style="background: #FFB220 !important;">
    <div class="login-box">
      <div class="login-logo">
		<a href="#"><img src="{{asset('bundles/design/images/shrayek.png')}}" style="width:50%;"/></a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in</p>

		<!-- START block : Flash message ---------------->
		<div class="row">
		<div class="col-md-12">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
				<div role="alert" class="alert alert-success alert-dismissible fade in">
				  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
				<div role="alert" class="alert alert-danger alert-dismissible fade in">
				  <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				  <strong>Alert!</strong>&nbsp; {{ flashMessage }}
				</div>
		{% endfor %}
		</div>
		</div>
		<!-- END block : Flash message ---------------->

        <form action="{{path('admin_default_logincheck')}}" method="post" name="login_form">
		  <input type="hidden" name="_csrf_token" value="{{ csrf_token('login_form') }}">	
		  <input type="hidden" name="domain" value="shreyak">	
          <div class="form-group has-feedback">
			  <input type="text" class="form-control" name="username" placeholder="Username" required=""/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
			  <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">

            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div><!-- /.col -->
          </div>
        </form>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <script src="{{asset('bundles/design/')}}js/jQuery-2.1.4.min.js" type="text/javascript"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{{asset('bundles/design/')}}/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- web notification -->
    <script src="{{asset('bundles/design/')}}wpn/js/config.js"></script>
    <script src="{{asset('bundles/design/')}}wpn/js/demo.js"></script>
    <script src="{{asset('bundles/design/')}}wpn/js/main.js"></script>

  </body>
</html>
