{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Add - Update Category
{% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/plugins/')}}select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/plugins/')}}datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="{{asset('bundles/design/plugins/')}}datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .save-btn, .cancel-btn {
            width: 85%;
        }
    </style>

{% endblock %}
{% block content %}
    <!----------- PAGE HEADER : START ------------------------------------------------------------>
    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Category
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>

            <li><a href="{{path('admin_category_index',{'domain':app.session.get('domain')})}}">Category</a></li>
            <li class="active">Add - Update Category</li>
        </ol>
    </section>
    <!----------- PAGE HEADER : END ------------------------------------------------------------>
    <!----------- Main content : START ------------------------------------------------------------>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <style>
                .display-image{
                    padding-top: 10px;
                    max-width: 70%;
                }
            </style>
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add - Update Category</h3>
                        <a href="{{path('admin_category_index',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-chevron-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if languages is defined %}
                                    {% for lang in languages %}
                                        <li class="{% if selected is defined %}{% if selected == lang.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                            <a href="#lang{{loop.index}}" data-toggle="tab">{{lang.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="tab-content">
                            {% if languages is defined %}
                                {% for lang in languages %}
                                    <div class="tab-pane {% if selected is defined %}{% if selected == lang.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}" id="lang{{loop.index}}">
                                        <form method="post" enctype="multipart/form-data" action="{{path('admin_category_addcategorydb',{'domain':app.session.get('domain')})}}">

                                            <input type="hidden" value="{{lang.language_master_id}}" name="language_master_id"/>
                                            {% if category_id is defined %}
                                                <input type="hidden" name="category_id" value="{{category_id}}"/>
                                            {% endif %}












                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Parent Category</label>
                                                </div>
                                                <div class="col-lg-10">
                                                    <select class="form-control select" name="parent_category_id" required onchange="check_cat($(this).val());">
                                                        <option value="0">Select Parent Category</option>

                                                        {% if parentcategory is defined and parentcategory is not empty %}
                                                            {% for parentcategory in parentcategory %}

                                                                <option value="{{parentcategory.main_category_id}}" 
                                                                    >{{parentcategory.category_name}}</option>
                                                            {% endfor %}
                                                        {% endif %}


                                                    </select>


                                                </div>
                                            </div>





                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Category Name</label>
                                                </div>
                                                <div class="col-lg-10">
                                                    <input type="text" name="category_name" class="form-control"
                                                           {% if category is defined and category is not empty %}
                                                               {% for category in category %}
                                                                   {% if category.language_id == lang.language_master_id %}
                                                                       value="{{category.category_name}}"
                                                                   {% endif %}
                                                               {% endfor %}
                                                           {% endif %} required=""/>
                                                </div>
                                            </div>
                                            {% if category is defined and category is not empty %}
                                                {% if category[0].parent_category_id == 0 %}
                                                    <div class="row form-group ">

                                                        <div class="col-lg-2">
                                                            <label> Image</label>
                                                        </div>

                                                        <div class="col-lg-10">
                                                            <input type="file" name="image" accept=".png, .jpg, .jpeg .gif .bmp" class="form-control"  onchange="readcoverimagebox(this)" />

                                                            {% if category is defined and category is not empty %}

                                                                <img src="{{live_path}}/{{category[0].image}}" id="image" width="100" height="100"                                 class="display-image" onload="$(this).prev().removeAttr('required');" /> 
                                                                <input type="hidden" name="categoryimage_hidden" class="form-control" value="{{category[0].category_image}}" /> 

                                                            {% endif %}
                                                            <input type="hidden" value="" name="image_hidden">


                                                        </div>
                                                    </div>

                                                {% else %}
                                                    <div class="row form-group ">
                                                        <div class="col-lg-2">
                                                            <label> Image</label>
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <input type="file" name="image" accept=".png, .jpg, .jpeg .gif .bmp" class="form-control"  onchange="readcoverimagebox(this)" />

                                                            {% if category is defined and category is not empty %}

                                                                <img src="{{live_path}}/{{category[0].image}}" id="image" width="100" height="100"                                 class="display-image" onload="$(this).prev().removeAttr('required');" /> 
                                                                <input type="hidden" name="categoryimage_hidden" class="form-control" value="{{category[0].category_image}}" /> 

                                                            {% endif %}
                                                            <input type="hidden" value="" name="image_hidden">


                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% else %}

                                                <div class="row form-group  ingred ">

                                                    <label class="col-sm-2 control-label"> Image</label>

                                                    <div class="col-lg-10">
                                                        <input type="file" name="image" accept=".png, .jpg, .jpeg .gif .bmp" class="form-control"  onchange="readcoverimagebox(this)" />

                                                        {% if category is defined and category is not empty %}

                                                            <img src="{{live_path}}/{{category[0].image}}" id="image" width="100" height="100"                                 class="display-image" onload="$(this).prev().removeAttr('required');" /> 
                                                            <input type="hidden" name="categoryimage_hidden" class="form-control" value="{{category[0].category_image}}" /> 

                                                        {% endif %}
                                                        <input type="hidden" value="" name="image_hidden">


                                                    </div>
                                                </div>

                                            {% endif %}



                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Status</label>
                                                </div>
                                                <div class="col-lg-10">

                                                    <label class="radio-inline">
                                                        <input type="radio" name="status" required="" value="active"
                                                               {% if category is defined and category is not empty %}

                                                                   {% if category[0].status == 'active' %}
                                                                       checked="checked"
                                                                   {% endif %}

                                                               {% endif %} /> Active
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="status" required="" value="inactive"
                                                               {% if category is defined and category is not empty %}

                                                                   {% if category[0].status == 'inactive' %}
                                                                       checked="checked"
                                                                   {% endif %}

                                                               {% endif %} /> Inactive
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Sort order</label>
                                                </div>
                                                <div class="col-lg-10">

                                                    <input type=text" class="form-control"  name="sort_order" />
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row" align="center">
                                                <div class="col-lg-10 col-lg-offset-2">
                                                    <div class="col-lg-6">
                                                        <button type="submit" class="btn btn-primary save-btn" name="add">Save</button>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <a href="{{path('admin_category_index',{'domain':app.session.get('domain')})}}" class="btn btn-default cancel-btn">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>




            </div><!-- /.box -->
        </div>

    </section>
    <!----------- Main content : END ---------------------------------------------------------->
{% endblock %}
{% block js %}


    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>



    <script type="text/javascript">
                                                                $(function () {
                                                                    $("#example1").DataTable();
                                                                });
                                                                function readcoverimagebox(input) {
                                                                    //code
                                                                    if (input.files && input.files[0]) {
                                                                        var reader = new FileReader();
                                                                        reader.onload = function (e) {
                                                                            $('#image').attr('src', e.target.result);
                                                                        }
                                                                        reader.readAsDataURL(input.files[0]);
                                                                    }
                                                                }
                                                                function readcoverimagebox1(input) {
                                                                    //code
                                                                    if (input.files && input.files[0]) {
                                                                        var reader = new FileReader();
                                                                        reader.onload = function (e) {
                                                                            $('#cover_image').attr('src', e.target.result);
                                                                        }
                                                                        reader.readAsDataURL(input.files[0]);
                                                                    }
                                                                }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").datepicker({
                "setDate": new Date(),
                "autoclose": true
            });
        });


        function check_cat(cat)
        {

            if (cat != '0')
            {
                $(".ingred").removeClass('hide');
            } else {
                $(".ingred").addClass('hide');
            }
        }

    </script>


{% endblock %}
