{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Add - Update Category
{% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/plugins/')}}select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/plugins/')}}datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="{{asset('bundles/design/plugins/')}}datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
	
	<link rel="stylesheet" type="text/css" media="all" href="{{asset('bundles/design/')}}imgareaselect/imgareaselect-animated.css" />
	
    <style type="text/css">
        .save-btn, .cancel-btn {
            width: 85%;
        }
		.image-crop-area {
			padding-top: 7px;
		}
		.image-crop-area button{
			margin-bottom: 7px;
		}
		div#image_modifidy {
			padding-top: 7px;
		}
    </style>

{% endblock %}
{% block content %}
    <!----------- PAGE HEADER : START ------------------------------------------------------------>
    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Category
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>

            <li><a href="{{path('admin_category_index',{'domain':app.session.get('domain')})}}">Category</a></li>
            <li class="active">Add - Update Category</li>
        </ol>
    </section>
    <!----------- PAGE HEADER : END ------------------------------------------------------------>
    <!----------- Main content : START ------------------------------------------------------------>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <style>
                .display-image{
                    padding-top: 10px;
                    max-width: 70%;
                }
            </style>
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add - Update Category</h3>
                        <a href="{{path('admin_category_index',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-chevron-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {#{% if languages is defined %}
                                    {% for lang in languages %}#}
                                <li class="active">
                                    <a href="#lang" data-toggle="tab">English</a>                                    
                                </li>
                                <li><a href="#foodtype" data-toggle="tab">Food Type</a></li>
                                {# {% endfor %}
                             {% endif %}#}
                            </ul>
                        </div>
                        <div class="tab-content">
                            {# {% if languages is defined %}
                                 {% for lang in languages %}#}
                            <div class="tab-pane active" id="lang">

                                <form method="post" enctype="multipart/form-data" action="{{ path('admin_category_addcategorydb') }}" onsubmit="return validateForm();">

                                    <input type="hidden" value="1" name="language_master_id"/>

                                    <!-- for edit -->
                                    {% if category is defined and category is not empty %}
                                        <input type="hidden" value="{{ category[0].main_category_id }}" name="main_category_id"/>

                                        {% for cat in category %}
                                            <input type="hidden" name="language_id" value="1"/>
                                            <input type="hidden" name="category_id" value="{{ cat.main_category_id }}"/>

                                        {% endfor %}

                                    {% endif %}

                                    {% if category_id is defined %}
                                        <input type="hidden" name="category_id" value="{{category_id}}"/>
                                    {% endif %}

                                    {#<div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Parent Category</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <select class="form-control select" name="parent_category_id" required onchange="check_cat($(this).val());">
                                                <option value="0">Select Parent Category</option>

                                                {% if parentcategory is defined and parentcategory is not empty %}
                                                    {% for parentcategory in parentcategory %}
                                                        {% set selected = '' %}
                                                        {% if category is defined and category is not empty %}

                                                            {% if parentcategory.category_master_id == category[0].parent_category_id %}
                                                                {% set selected = 'selected' %}
                                                            {% endif %}
                                                        {% endif %}
                                                        <option value="{{parentcategory.main_category_id}}" {{ selected }}>
                                                            {{parentcategory.category_name}}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                            </select>

                                        </div>
                                    </div>#}

                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Category Name(En)</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="text" name="category_name" class="form-control"
                                                   {% if category is defined and category is not empty %}
                                                       {% for category in category %}
                                                           {% if category.language_id == '1' %}
                                                               value="{{category.category_name}}"
                                                           {% endif %}
                                                       {% endfor %}
                                                   {% endif %} required=""/>
                                        </div>
                                    </div>
                                        <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Category Name(Ar)</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="text" name="category_name_ar" class="form-control"
                                                   {% if category is defined and category is not empty %}
                                                       {% for category in category %}
                                                           {% if category.language_id == '2' %}
                                                               value="{{category.category_name}}"
                                                           {% endif %}
                                                       {% endfor %}
                                                   {% endif %} required=""/>
                                        </div>
                                    </div>
                                    {% if category is defined and category is not empty %}
                                        {% if category[0].parent_category_id == 0 %}
                                            <div class="row form-group div-cat-1">

												<div class="col-lg-2">
                                                    <label>Image </br><span>(Size - 140 x 140 (Pixel))</span></label>
                                                </div>

                                                <div class="col-lg-10">
                                                    <input type="file" id="fileInput" name="image" accept=".png, .jpg, .jpeg .gif .bmp" class="form-control"  onchange="readcoverimagebox(this)" required="required"/>
													
													<div class="col-md-12" id="image_modifidy" style="display:none;">
														<!-- start: crop button -->
														<button 
															type="button" 
															id="save_crop_image" 
															class="btn btn-primary btn-flat" 
															onclick="saveCropImage();"
														>Save Cropped Image</button>
														<!-- end: crop button -->
														
														<!-- start: expect button -->
														<button 
															type="button" 
															id="save_expected_image" 
															class="btn btn-primary btn-flat" 
															onclick="saveExpectImage();" 
														>Make It (140 x 140) px</button>
														<!-- end: expect button -->
														
														<!-- start: original button -->
														<button 
															type="button" 
															id="show_original_button" 
															class="btn btn-primary btn-flat" 
															onclick="showOriginalImage();" 
														>Show Original</button>
														<!-- end: original button -->
														
													</div>
													
													<div class="col-md-12 image-crop-area">
														<input type="hidden" name="coords" id="coords">
														<!-- for  -->
														<input type="hidden" name="image_selection_type" id="image_selection_type">
														<img id="filePreview" class="img-responsive">
													</div>
													
                                                    {% if category is defined and category is not empty %}
                                                        {% for category in category %}
                                                            {%if category.language_id=='1'%}
                                                                <img src="{{ category.media_url }}" id="image" width="100" height="100" class="display-image" onload="$(this).prev().removeAttr('required');" /> 
                                                                <input type="hidden" name="categoryimage_hidden" class="form-control" value="{{ category.media_url }}" /> 
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    <input type="hidden" value="" name="image_hidden">

                                                </div>
                                            </div>

                                        {% else %}
                                            <div class="row form-group div-cat-2">
                                                <div class="col-lg-2">
                                                    <label> Image </br><span>(Size - 140 x 140 (Pixel))</span></label>
                                                </div>
                                                <div class="col-lg-10">
                                                    <input type="file" name="image" accept=".png, .jpg, .jpeg .gif .bmp" class="form-control"  onchange="readcoverimagebox(this)" required="required"/>

													{% if category is defined and category is not empty %}
                                                        {% for category in category %}
                                                            {%if category.language_id=='1'%}
                                                                <img src="{{ category.media_url }}" id="image" width="100" height="100" class="display-image" onload="$(this).prev().removeAttr('required');" /> 
                                                                <input type="hidden" name="categoryimage_hidden" class="form-control" value="{{ category.media_url }}" /> 
                                                                {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    <input type="hidden" value="" name="image_hidden">


                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}

                                        <div class="row form-group  ingred div-cat-3">

                                            <label class="col-lg-2"> Image </br><span>(Size - 140 x 140 (Pixel))</span></label>

                                            <div class="col-lg-10">
                                                <input type="file" name="image" accept=".png, .jpg, .jpeg .gif .bmp" class="form-control"  onchange="readcoverimagebox(this)" required="required"/>

                                                {% if category is defined and category is not empty %}
                                                    {% for cat in category %}
                                                        {%if cat.language_id=='1'%}
                                                            <img src="{{ cat.media_url }}" id="image" width="100" height="100" class="display-image" onload="$(this).prev().removeAttr('required');" />
                                                        {% endif %}
                                                    {% endfor %}
                                                    <input type="hidden" name="categoryimage_hidden" class="form-control" value="" />
                                                {% endif %}
                                                <input type="hidden" value="" name="image_hidden">
                                            </div>
                                        </div>

                                    {% endif %}

                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Status</label>
                                        </div>
                                        <div class="col-lg-10">

                                            {% set cat_status_active = '' %}
                                            {% set cat_status_inactive = '' %}
                                            {% if category is defined and category is not empty %}
                                                {% for cat in category %}
                                                        {% if cat.category_status == 'active' %}
                                                            {% set cat_status_active = 'checked' %}
                                                        {% endif %}
                                                        {% if cat.category_status == 'inactive' %}
                                                            {% set cat_status_inactive = 'checked' %}
                                                        {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                            <label class="radio-inline">
                                                <input type="radio" name="status" required="" value="active" {{ cat_status_active }} /> Active
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="status" required="" value="inactive" {{ cat_status_inactive }} /> Inactive
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label>Sort order</label>
                                        </div>
                                        <div class="col-lg-10">
                                            
                                            {% set sort_order = '' %}
                                            {% if category is defined and category is not empty %}
                                                {% for cat in category %}
                                                        {% set sort_order = cat.sort_order %}
                                                {% endfor %}
                                            {% endif %}
                                            <input type="text" class="form-control"  name="sort_order" value="{{ sort_order }}" />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row" align="center">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <div class="col-lg-6">
                                                <button type="submit" class="btn btn-primary save-btn" name="add">Save</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="{{path('admin_category_index')}}" class="btn btn-default cancel-btn">Cancel</a>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane" id="foodtype">
                                <h4> Food Type List </h4>
                                <div class="row">
									{% if food_type_list is defined and food_type_list is not empty%}
										{% for food_type_list in food_type_list%}
											<div class="col-md-4">
												{% for type_name in food_type_list.lang_wise_food_type %}
													{% if loop.last == true%}
														{{type_name.food_type_name}}
													{% else%}
														{{type_name.food_type_name}} /													
													{%endif%}
												{% endfor%}
											</div>	
										{% endfor%}
									{% endif%}	
								</div>	                                                                  
                             </div>
                            {# {% endfor %}
                         {% endif %}#}
                        </div>
                    </div>

					
					<!-- image crop -->
					<div id="myModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Modal Header</h4>
						  </div>
						  <div class="modal-body">
							<p>Some text in the modal.</p>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						  </div>
						</div>

					  </div>
					</div>
					
                </div>

            </div><!-- /.box -->
        </div>

    </section>
    <!----------- Main content : END ---------------------------------------------------------->
{% endblock %}
{% block js %}


    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>
	
	<script src="http://odyniec.net/projects/imgareaselect/jquery.imgareaselect.pack.js"></script>

    <script type="text/javascript">
		$(function () {
			$("#example1").DataTable();
		});
		
		function readcoverimagebox(input) {
			//code
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#image').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
		function readcoverimagebox1(input) {
			//code
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#cover_image').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
    </script>

    <script type="text/javascript">
	
		let original_image = new FileReader();
	
		let validateForm = () => {
			return true;
		}
	
		$(document).ready(function () {
            $(".datepicker").datepicker({
                "setDate": new Date(),
                "autoclose": true
            });
			
			/* image crop */
			var p = $("#filePreview");
			$("#fileInput").change(function(){
			
				$('#image_modifidy').show();
			
				p.fadeOut();

				var oFReader = new FileReader();
				oFReader.readAsDataURL(document.getElementById("fileInput").files[0]);

				oFReader.onload = function (oFREvent) {
					p.attr('src', oFREvent.target.result).fadeIn();
					original_image = oFREvent.target.result;
				};
			});
        });
		
		/* START :: Image Crop */
		
		let expected_width = 140; // define expected width
		let expected_height = 140; // define expected height
		
		let user_selection = {};
		
		var ias = $('img#filePreview').imgAreaSelect({
			maxWidth: expected_width,
			maxHeight: expected_height,
			handles: true,
			onSelectEnd: function (img, selection) {
				checkSelection(selection);
			}
		});
		
		let checkSelection = (selection) => {
		
			user_selection = selection;
		
			$('#selection_ratio').html(`(${selection.width} x ${selection.height}) px`);
			
			if(selection.width != expected_width){
				alert(`Expected width x height = (${expected_width} x ${expected_height})px`);
				return false;
			}
			
			if(selection.height != expected_height){
				alert(`Expected width x height = (${expected_width} x ${expected_height})px`);
				return false;
			}
			return true;
		}
		
		let saveCropImage = () => {
			console.log(user_selection);
			
			if(!validateOwnProperties()){
				alert('Please select area on image');
				return false;
			}
			
			var coords = [];
			coords.push(user_selection.x1);
			coords.push(user_selection.y1);
			coords.push(user_selection.width);
			coords.push(user_selection.height);
			$('#coords').val(coords.join(','))
		}
		
		let validateOwnProperties = () => {
			var isValid = true;
			if(!user_selection.hasOwnProperty("height")){
				isValid = false;
			}
			if(!user_selection.hasOwnProperty("width")){
				isValid = false;
			}
			if(!user_selection.hasOwnProperty("x1")){
				isValid = false;
			}
			if(!user_selection.hasOwnProperty("y1")){
				isValid = false;
			}
			
			if(isValid){
				return true;
			}
			return false;
		}
		
		/* END :: Image Crop */
		
		/* START :: make image as expect px */
		
		var fileReader = new FileReader();
		var filterType = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;

		fileReader.onload = function (event) {
		  var image = new Image();
		  
		  console.log(image);
		  
		  image.onload=function(){
			  document.getElementById("filePreview").src = image.src;
			  var canvas=document.createElement("canvas");
			  var context=canvas.getContext("2d");
			  //canvas.width=image.width/4;
			  //canvas.height = image.height/4;
			  canvas.width = expected_width;
			  canvas.height = expected_height;
			  context.drawImage(image,
				  0,
				  0,
				  image.width,
				  image.height,
				  0,
				  0,
				  canvas.width,
				  canvas.height
			  );
			  
			  document.getElementById("filePreview").src = canvas.toDataURL();
		  }
		  image.src=event.target.result;
		};
		
		let saveExpectImage = () => {
			var uploadImage = document.getElementById("fileInput");
  
			//check and retuns the length of uploded file.
			if (uploadImage.files.length === 0) { 
				return; 
			}
			  
			//Is Used for validate a valid file.
			var uploadFile = document.getElementById("fileInput").files[0];
			if (!filterType.test(uploadFile.type)) {
				alert("Please select a valid image."); 
				return;
			}
			  
			fileReader.readAsDataURL(uploadFile);
		}
		/* END :: make image as expect px */
		
		let showOriginalImage = () => {
			document.getElementById("filePreview").src = original_image;
		}

        function check_cat(cat)
        {
            {#if (cat != '0')
            {#}
                $(".ingred").removeClass('hide');
            {#} else {
                $(".ingred").addClass('hide');
            }#}
        }

    </script>


{% endblock %}
