{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Category - Foodtype List {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<style>
		.paddBottom { padding-bottom: 20px; }
		.avatar img{
		    width: 40px;
			max-width: 100%;
			height: auto;
			border: 0 none;
			border-radius: 1000px;
		}
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Category - Foodtype List
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Category</li>
            <li class="active">Foodtype List</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header with-border">
						{% if category_name is defined and category_name is not empty %}
							<h3 class="box-title">Category - {{ category_name }}</h3>
						{% endif %}
                        <a href="{{ path('admin_category_index') }}" class="btn btn-primary btn-flat pull-right"><i class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div>
					<div class="box-body">
						<table id="foodtype_list" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th>No.</th>
								{% if languages is defined and languages is not empty %}
									{% for languages in languages %}	
										<th>Food Type : {{languages.language_name}}</th>
									{%endfor%}
								{%endif%}
							</thead>
							<tbody>
							{% if foodtype_list is defined and foodtype_list is not empty %}
								{% set index = 0 %}
								{% for foodtype in foodtype_list %}
									
									<tr>
										<td>{{ loop.index }}</td>	
									
										{% if languages is defined and languages is not empty %}
											{% for languages in languages %}	
												<td>
													{% if foodtype.lang_wise_foodtype is defined and foodtype.lang_wise_foodtype is not empty %}
														{% for lang_wise in foodtype.lang_wise_foodtype %}
															{% if lang_wise.language_id == languages.language_master_id %}
																{{ lang_wise.foodtype_name }}
															{% endif %}
														{% endfor %}
													{% endif %}
												</td>
											{%endfor%}
										{%endif%}
									</tr>
									{% set index = index+1 %}
								{% endfor %}
							{% endif %}
							</tbody>
							<tfoot>
								<th>No.</th>
								{% if languages is defined and languages is not empty %}
									{% for languages in languages %}	
										<th>Food Type : {{languages.language_name}}</th>
									{%endfor%}
								{%endif%}
							</tfoot>
							
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$('#category_list').DataTable();
		
		$('.editcategory').click(function(){
			var cnfm = confirm('Are you sure?');
			if(cnfm){
				return true;
			}
			return false;
		});
		
		$('.deletecategory').click(function(){
			var cnfm = confirm('Are you sure?');
			if(cnfm){
				return true;
			}
			return false;
		});
	});
	function change_status(id, index){
		if(id != ''){
			var url = "{{ path('admin_category_ajaxupdatestatus') }}";
			$.ajax({
				url: url,
				method: 'post',
				data: {'cat_id' : id},
				success: function(response){
					/*if(response == 'true'){
						var curr_btn = $('#cat_status_' + index);
						if(curr_btn.hasClass('btn-success')){
							curr_btn.removeClass('btn-success').addClass('btn-warning');
							curr_btn.html('Inactive');
						} else {
							curr_btn.removeClass('btn-warning').addClass('btn-success');
							curr_btn.html('Active');
						}
					}*/
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
</script>
{% endblock %}