{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Category List {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<style>
		.paddBottom { padding-bottom: 20px; }
		.avatar img{
		    width: 40px;
			max-width: 100%;
			height: auto;
			border: 0 none;
			border-radius: 1000px;
		}
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Category
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Category</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header with-border">
                        <h3 class="box-title">Category</h3>
                        <a href="{{ path('admin_category_addcategory') }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Category</b></a>
                    </div>
					<div class="box-body">
						<table id="category_list" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th hidden>Main Category ID</th>
								<th>Image</th>
								{% if languages is defined and languages is not empty %}
									{% for language in languages %}
										<th> Name : {{language.display_title }}</th>
									{% endfor %}
								{% endif %}
								<th>Sort Order</th>
								<th>Status</th>
                                <th>Operations</th>
							</thead>
							<tbody>
							{% if category_list is defined and category_list is not empty %}
								{% set index = 0 %}
								{% for category in category_list %}
									
									<tr>
										<td hidden></td>	
										<td>
											<span class="avatar avatar-online">
											{% if category.media_title != '' %}
												<img src="{{ asset('bundles/Resource/category/') }}{{ category.media_title }}" />
											{%endif%}
											</span>
										</td>
										
										{% if category.lang_wise_category is defined and category.lang_wise_category is not empty %}
											{% for language in languages %}
												<td>
													{% if language.language_master_id == category.lang_wise_category[0].language_id %}
														{{ category.lang_wise_category[0].category_name }}
													{% endif %}
												</td>
											{% endfor %}
										{%endif%}
										
										<td>{{ category.sort_order }}</td>
									
										<td>
											{% if category.category_status == 'active' %}
												{% set status_label = 'Active' %}
												{% set status_class = 'success' %}
												{% set checked = 'checked' %}
											{% else %}
												{% set status_label = 'Inactive' %}
												{% set checked = '' %}
											{%endif%}
											
											<input data-on="active" class="status status_23" data-off="inactive" type="checkbox" onchange="change_status({{ category.category_master_id }}, {{ index }})"  data-toggle="toggle" data-size="mini" data-onstyle="success" {{ checked }}>
											
										</td>
										<td>
											<a class="editcategory btn btn-info btn-xs" href="{{path('admin_category_addcategory',{'domain':app.session.get('domain'),'catmain_id':category.category_master_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="edit">
												<i class="fa fa-pencil-square-o"></i>
											</a>
											<a class="deletecategory btn btn-danger btn-xs" href="{{ path('admin_category_deletecategory', {'cat_id':category.category_master_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
												<i class="fa fa-trash-o"></i>
											</a>
										</td>
									</tr>
									{% set index = index+1 %}
								{% endfor %}
							{% endif %}
							</tbody>
							<tfoot>
								<th hidden>Main Category ID</th>
								<th>Image</th>
								{% if languages is defined and languages is not empty %}
									{% for language in languages %}
										<th> Name : {{language.display_title }}</th>
									{% endfor %}
								{% endif %}
								<th>Status</th>
                                <th>Operations</th>
							</tfoot>
							
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$('#category_list').DataTable();
		
		$('.editcategory').click(function(){
			var cnfm = confirm('Are you sure?');
			if(cnfm){
				return true;
			}
			return false;
		});
		
		$('.deletecategory').click(function(){
			var cnfm = confirm('Are you sure?');
			if(cnfm){
				return true;
			}
			return false;
		});
	});
	function change_status(id, index){
		if(id != ''){
			var url = "{{ path('admin_category_ajaxupdatestatus') }}";
			$.ajax({
				url: url,
				method: 'post',
				data: {'cat_id' : id},
				success: function(response){
					/*if(response == 'true'){
						var curr_btn = $('#cat_status_' + index);
						if(curr_btn.hasClass('btn-success')){
							curr_btn.removeClass('btn-success').addClass('btn-warning');
							curr_btn.html('Inactive');
						} else {
							curr_btn.removeClass('btn-warning').addClass('btn-success');
							curr_btn.html('Active');
						}
					}*/
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
</script>
{% endblock %}