input.error, textarea.error, select.error{
    border-color: #b94a48 !important;
}
label.error {
    display:inline;
    margin:5px 0px;
    width:auto;
    color:#B94A48;
    font-weight: normal;
	font-size:12px;
	/*color: #b94a48;
    font-weight: normal;
    height: 34px;
    line-height: 35px;
    margin: 10px 0;
    pointer-events: none;
    position: absolute;
    right: -20px;
    text-align: center;
    top: 0;
    width: 34px;
    z-index: 2;*/
}
.border_left_none{
	border-left: none !important;
}
.border_right_none{
	border-right: none !important;
}
.tz-item-more-details{
	border: 1px solid #ffffff !important; 
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s; 
}
.tz-item-more-details:hover{
	background-color:#fff !important;
	color: #334878 !important;
}
.box{
	background: #f6f6f6 none repeat scroll 0 0;
	margin-top:10px;
}
.dataTables_wrapper{
	margin: 0 auto;
    padding: 20px 0;
    width: 95%;
}