{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Add - Update Advertisement Banner
{% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/css/')}}dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{asset('bundles/design/')}}plugins/select2/select2.min.css">

    <link href="{{asset('bundles/design/css/')}}datepicker3.css" rel="stylesheet" type="text/css" />
	{# <link rel="stylesheet" href="{{ asset('bundles/design') }}/css/bootstrap-theme.min.css"> #}
	<link rel="stylesheet" href="{{ asset('bundles/design') }}/css/bootstrap-datetimepicker.min.css" />
    <style type="text/css">
        .save-btn, .cancel-btn {
            width: 85%;
        }
        .fill-padd-left {
            padding-left: 0;
            padding-right: 10px;
        }
        .fill-padd-right {
            padding-right: 0px;
            padding-left: 0;
        }
		.res-list span{
			width: 100% !important;
		}
		.res-list .select2-container--default .select2-selection--single .select2-selection__arrow b{
			right: 5px;
			left: unset;
		}
		.select2-selection__clear {
			display: none !important;
		}
		.web-mobile-type input[type=checkbox]{
			position: absolute;
			margin-left: -15px;
			margin-top: 6px;
		}
    </style>

{% endblock %}
{% block content %}
    <!----------- PAGE HEADER : START ------------------------------------------------------------>
    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
			{% set banner_str = '' %}
			{% if sub_adv_type is defined and sub_adv_type is not empty %}
				{% set banner_str = 'New Dishes - ' %}
			{% else %}
				{% if type == 'web' %}
					{% set banner_str = 'Website' %}
				{% else %}
					{% set banner_str = 'Mobile' %}
				{% endif %}
			{% endif %}
			{{ banner_str }} Banner / Advertise
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>

            <li><a href="{{path('admin_advertise_index',{'domain':app.session.get('domain')})}}">Advertisement/Banner</a></li>
            <li class="active">Add - Update Banner</li>
        </ol>
    </section>
    <!----------- PAGE HEADER : END ------------------------------------------------------------>
    <!----------- Main content : START ------------------------------------------------------------>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <style>
                .display-image{
                    padding-top: 10px;
                    max-width: 70%;
                }
            </style>
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ banner_str }} Banner / Advertise</h3>
						{% if sub_adv_type is defined and sub_adv_type is not empty %}
							<a href="{{ path('admin_advertise_index', {'type': type, 'adv_type': 'new_dishes'}) }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-chevron-left"></i><b>&nbsp;&nbsp;Back</b></a>
						{% else %}
							<a href="{{ path('admin_advertise_index', {'type': type}) }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-chevron-left"></i><b>&nbsp;&nbsp;Back</b></a>
						{% endif %}
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if languages is defined %}
                                    {% for lang in languages %}
                                        <li class="{% if selected is defined %}{% if selected == lang.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                            <a href="#lang{{loop.index}}" data-toggle="tab">{{lang.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="tab-content">
                            {% if languages is defined %}
                                {% for lang in languages %}
                                    <div class="tab-pane {% if selected is defined %}{% if selected == lang.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}" id="lang{{loop.index}}">
						
                                        <form method="post" onsubmit="return validateForm();" enctype="multipart/form-data" action="{% if sub_adv_type is defined and sub_adv_type is not empty %}{{ path('admin_advertise_addadvertisedb', {'type': type, 'adv_type': 'new_dishes'}) }}{% else %}{{ path('admin_advertise_addadvertisedb', {'type': type}) }}{% endif %}">

                                            <input type="hidden" name="language_master_id" value="{{lang.language_master_id}}" />

                                            <!-- for edit -->
                                            {% if advetise is defined and advetise is not empty %}
                                                <input type="hidden" name="main_adverise_id" value="{{ advetise[0].main_advertise_id }}"/>
												{% for advetise in advetise %}
													{% if lang.language_master_id == advetise.language_id %}
														<input type="hidden" name="language_id" value="{{ advetise.language_id }}"/>
														<input type="hidden" name="advertise_id" value="{{ advetise.advertise_master_id }}"/>
													{% endif %}
												{% endfor %}
                                            {% endif %}

                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Advertise/Banner name</label>
                                                </div>
                                                <div class="col-lg-10">
                                                    <input type="text" name="advertise_name" class="form-control" {% if advetise is defined and advetise is not empty %}
                                                           {% for advetise in advetise %}
                                                               {% if advetise.language_id == lang.language_master_id %}
                                                                   value="{{advetise.advertise_name}}"
                                                               {% endif %}
                                                           {% endfor %}
                                                           {% endif %} required />
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-12">
													
														{% if sub_adv_type is defined and sub_adv_type is not empty %}
															<input type="hidden" name="advertise_type" value="rightcolumn">
														{% else %}
                                                        <div class="col-md-6 fill-padd-left">
                                                            <label>Advertise Type</label>
                                                            
															<!--
																new dishes = thirdbox
																thirdbox = secondbox
															-->
															
															{% set mainheader_type = '' %}
															{% set rightcolumn_type = '' %}
															{% set thirdbox_type = '' %}
															{% set beginning_type = '' %}
															{% set front_type = '' %}
															{% if advetise is defined and advetise is not empty %}
																{% if advetise[0].advertise_type == 'mainheader' %}
																	{% set mainheader_type = 'selected' %}
																	{% set rightcolumn_type = '' %}
																	{% set thirdbox_type = '' %}
																	{% set beginning_type = '' %}
																	{% set front_type = '' %}
																{% elseif advetise[0].advertise_type == 'rightcolumn' %}
																	{% set mainheader_type = '' %}
																	{% set rightcolumn_type = 'selected' %}
																	{% set thirdbox_type = '' %}
																	{% set beginning_type = '' %}
																	{% set front_type = '' %}
																{% elseif advetise[0].advertise_type == 'thirdcolumn' %}
																	{% set mainheader_type = '' %}
																	{% set rightcolumn_type = '' %}
																	{% set thirdbox_type = 'selected' %}
																	{% set beginning_type = '' %}
																	{% set front_type = '' %}
																{% elseif advetise[0].advertise_type == 'beginning_page' %}
																	{% set mainheader_type = '' %}
																	{% set rightcolumn_type = '' %}
																	{% set thirdbox_type = '' %}
																	{% set beginning_type = 'selected' %}
																	{% set front_type = '' %}
																{% elseif advetise[0].advertise_type == 'front_page' %}
																	{% set mainheader_type = '' %}
																	{% set rightcolumn_type = '' %}
																	{% set thirdbox_type = '' %}
																	{% set beginning_type = '' %}
																	{% set front_type = 'selected' %}
																{% endif %}
															{% endif %}
															
															{% if type is defined and type is not empty %}
																{% if type == 'web' %}
																	<!-- Thirdcolumn is now named Rightcolumn and type is thirdcolumn in db -->
																	<select name="advertise_type" id="advertise_type" class="form-control" required>
																		<option>Select Advertisement Type</option>

																		<option value="mainheader" {{ mainheader_type }}>Main Header</option>

																		{# <option value="rightcolumn" {{ rightcolumn_type }}>Right Column</option> #}

																		<option value="thirdcolumn" {{ thirdbox_type }}>Right Column</option>
																	</select>
																{% elseif type == 'mobile' %}
																	<select name="advertise_type" id="advertise_type" class="form-control" required>
																		<option>Select Advertisement Type</option>
																		<option value="beginning_page" {{ beginning_type }}>Beginning Page</option>
																		<option value="front_page" {{ front_type }}>Front Page</option>
																	</select>
																{% endif %}
															{% endif %}
                                                        </div>
														{% endif %}
                                                        {% if advetise is defined and advetise is not empty %}
                                                            <div class="col-md-6 fill-padd-right">
                                                                <label>Advertise Image<span id="img_feedback{{lang.language_master_id}}"></label>
                                                                <input type="file" name="image" accept=".png, .jpg, .jpeg .gif .bmp" class="form-control"  onchange="readcoverimagebox(this)" />

                                                                {% if advetise is defined and advetise is not empty %}
                                                                    {% for advetise in advetise %}
																		{% if advetise.language_id == lang.language_master_id %}
                                                                            <img src="{{ advetise.media_url }}" id="image" width="100" height="100" class="display-image" onload="$(this).prev().removeAttr('required');" /> 
                                                                            <input type="hidden" name="advertiseimage_hidden" class="form-control" value="{{ advetise.media_url }}" />
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </div>
															{% if advetise[0].advertise_image_id is defined %}
															<input type="hidden" name="adv_image_hidden" value="{{ advetise[0].advertise_image_id }}">
															{% endif %}
                                                        {% else %}
                                                            <div class="col-md-6 fill-padd-left">
                                                                <label>Advertise Image <span id="img_feedback{{lang.language_master_id}}"></span></label>
                                                                <input type="file" name="image" accept=".png, .jpg, .jpeg .gif .bmp" class="form-control"  onchange="readcoverimagebox(this)" />

                                                                {% if advetise is defined and advetise is not empty %}
																	{% for advetise in advetise %}
																	{% if advetise.language_id == lang.language_master_id %}
                                                                    <img src="{{ advetise.media_url }}" id="image" width="100" height="100" class="display-image" onload="$(this).prev().removeAttr('required');" /> 
                                                                    <input type="hidden" name="advertiseimage_hidden" class="form-control" value="" />
																	{% endif %}
																	{% endfor %}
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}

                                                    </div>
                                                </div>
												
												<div class="row form-group">
													<div class="col-lg-2">
														<label>Advertiser Name</label>
													</div>
													<div class="col-lg-10">
														{% set advertiser_name = '' %}
														{% if advetise is defined and advetise is not empty %}
															{% for advetise in advetise %}
																{% if advetise.language_id == lang.language_master_id %}
																	{% set advertiser_name = advetise.advertiser_name %}
																{%endif%}
															{%endfor%}	
														{% endif %}
														<input type="text" class="form-control" name="name_of_advertiser" value="{{ advertiser_name }}">
													</div>
												</div>
												
												{% set normal_selected = '' %}
												{% set res_selected = '' %}
												{% if sub_adv_type != 'new_dishes' %}
													<div class="row form-group">
														<div class="col-lg-2">
															<label>Select Banner type</label>
														</div>
														<div class="col-lg-10">
															
															{% if advetise is defined and advetise is not empty %}
																{% for advetise in advetise %}
																{% if advetise.language_id == lang.language_master_id %}
																	{% if advetise.banner_advertise_type == 'website' %}
																		{% set normal_selected = 'checked' %}
																	{% else %}
																		{% set res_selected = 'checked' %}
																	{% endif %}
																{% endif %}
																{% endfor %}
															{% endif %}
														
															<label class="radio-inline">
																<input type="radio" id="normal_type_{{ lang.language_master_id }}" name="banner_sub_type" value="website" onclick="toggleHideShow({{ lang.language_master_id }},'normal_type_')" {{ normal_selected }} required="" /> Website type
															</label>
															<label class="radio-inline">
																<input type="radio" id="restaurant_type_{{ lang.language_master_id }}" name="banner_sub_type" value="restaurant" required="" onclick="toggleHideShow({{ lang.language_master_id }},'restaurant_type_')" {{ res_selected }} /> Restaurant type
															</label>
														</div>
													</div>
												<div class="row form-group">
												{% if normal_selected == 'checked' %}
													<div id="show_normal_type_{{ lang.language_master_id }}">
												{% else %}
													<div id="show_normal_type_{{ lang.language_master_id }}" style="display:none;">
												{% endif %}
													
													<div class="col-lg-2">
														<label>Advertise Image Link</label>
													</div>
													<div class="col-lg-10">
														<input type="text" name="image_link" class="form-control" {% if advetise is defined and advetise is not empty %}
														   {% for advetise in advetise %}
																{% if advetise.language_id == lang.language_master_id %}
																   value="{{advetise.advertise_image_link}}"
																{% endif %}
														   {% endfor %}
														   {% endif %} />
													</div>
												</div>
													
												{% if res_selected == 'checked' %}
													<div id="show_res_type_{{ lang.language_master_id }}">
												{% else %}
													<div id="show_res_type_{{ lang.language_master_id }}" style="display:none;">
												{% endif %}
															
												<div class="col-lg-2">
													<label>Select Restaurant</label>
												</div>
												<div class="col-lg-10 res-list">
														<select name="restaurant_id" class="form-control select2" onchange="getRestBranch($(this).val())">
													{% if restaurant_list is defined and restaurant_list is not empty %}
															<option value="0">Select Restaurant</option>
															{% for restaurant in restaurant_list %}
																{% if lang.language_master_id == restaurant.language_id %}
																	{% set selected_opt = '' %}
																	{% if advetise is defined and advetise is not empty %}
																	{% for advetise in advetise %}
																		{% if advetise.restaurant_id == restaurant.main_restaurant_id and advetise.language_id == restaurant.language_id %}
																			{% set selected_opt = 'selected' %}
																		{% endif %}
																	{% endfor %}
																	{% endif %}
																
																	<option value="{{ restaurant.main_restaurant_id }}" {{ selected_opt }}>{{ restaurant.restaurant_name }}</option>
																{% endif %}
															{% endfor %}
														</select>
													{% endif %}
												</div>

												<div class="col-lg-2">
													<label>Select Branch</label>
												</div>
												{% set main_branch_id = 0%}
												{% if advetise is defined and advetise is not empty %}
												   {% for advetise in advetise %}
														{%set main_branch_id = advetise.main_branch_id%}
												   {% endfor %}
												{% endif %} 
														   
												<div class="col-lg-10 res-list">
														<select name="branch_id" id="branch_list" class="form-control">
														
															{% if branch_list is defined and branch_list is not empty %}
																{% for branch in  branch_list%}
																	{% set selected = '' %}
																	{% if main_branch_id== branch.main_branch_master_id%}
																		{% set selected = 'selected' %}
																	{% endif %}
																	<option value="{{ branch.main_branch_master_id }}" {{selected}}>{{ branch.branch_name }}</option>
																{% endfor %}
															{% endif %}									
														</select>
												</div>
												
											</div>
										</div>
										{% else %}
											<input type="hidden" name="banner_sub_type" value="website">
											<input type="hidden" name="image_link" value="-">
										{% endif %}
										
										<div class="row form-group">
											<div class="col-md-12">
												<div class="col-md-6 fill-padd-left">
													<label>Start Date</label><br>
													<input type="text" id="start_date_{{lang.language_master_id}}" name="start_date" class="form-control startdate">
												</div>
												<div class="col-md-6 fill-padd-right">
													<label>End Date</label><br>
													<input type="text" id="end_date_{{lang.language_master_id}}" name="end_date" class="form-control enddate">
												</div>
											</div>
										</div>
										
										<div class="row form-group">
											<div class="col-md-12">
												{% if sub_adv_type != 'new_dishes' %}
												<div class="col-md-2 fill-padd-left">
													{% set type_text = '' %}
													{% set check_other_type = '' %}
													{% set other_type_website_val = '' %}
													{% set other_type_mobile_val = '' %}
													{% if type == 'web' %}
														{% if advetise is defined and advetise is not empty %}
															{% for advetise in advetise %}
																{% if advetise.language_id == lang.language_master_id %}
																	{% if advetise.show_in_mobile != '' %}
																		{% set check_other_type = 'checked' %}
																		{% set other_type_mobile_val = advetise.show_in_mobile %}
																	{% endif %}
																{% endif %}
															{% endfor %}
														{% endif %}
														{% set type_text = 'mobile' %}
														<input type="hidden" name="other_view_type_hidden" value="mobile">
													{% else %}
														{% if advetise is defined and advetise is not empty %}
															{% for advetise in advetise %}
																{% if advetise.language_id == lang.language_master_id %}
																	{% if advetise.show_in_website != '' %}
																		{% set check_other_type = 'checked' %}
																		{% set other_type_website_val = advetise.show_in_mobile %}
																	{% endif %}
																{% endif %}
															{% endfor %}
														{% endif %}
														{% set type_text = 'website' %}
														<input type="hidden" name="other_view_type_hidden" value="web">
													{% endif %}
													
													<input type="checkbox" id="show_in_other_view_{{ lang.language_master_id }}" onchange="toggleTypes({{ lang.language_master_id }})" name="show_in_other_view" class="" {{ check_other_type }}>
													<label>Show in {{ type_text }}</label><br>
												</div>
												
												{% set show_type_select = 'false' %}
												{% if advetise is defined and advetise is not empty %}
													{% for advetise in advetise %}
														{% if advetise.language_id == lang.language_master_id %}
															{% if advetise.show_in_mobile != '' %}
																{% set show_type_select = 'true' %}
															{% endif %}
															{% if advetise.show_in_website != '' %}
																{% set show_type_select = 'true' %}
															{% endif %}
														{% endif %}
													{% endfor %}
												{% endif %}
												
												<div class="other-view-dropdown-{{ lang.language_master_id }} col-md-3 fill-padd-right" {% if show_type_select == 'false' %}style="display:none;"{% endif %}>
													{% if type == 'web' %}
														{% set beginning_page_val = '' %}
														{% set front_page_val = '' %}
														{% if other_type_mobile_val != '' %}
															{% if other_type_mobile_val == 'beginning_page' %}
																{% set beginning_page_val = 'selected' %}
																{% set front_page_val = '' %}
															{% else %}
																{% set beginning_page_val = '' %}
																{% set front_page_val = 'selected' %}
															{% endif %}
														{% endif %}
													
														<select name="other_view_adv_type" class="form-control">
															<option value="beginning_page" {{ beginning_page_val }}>Beginning Page</option>
															<option value="front_page" {{ front_page_val }}>Front Page</option>
														</select>
													{% else %}
														{% set mainheader_page_val = '' %}
														{% set rightcolumn_page_val = '' %}
														{% set thirdcolumn_page_val = '' %}
														{% if other_type_website_val != '' %}
															{% if other_type_website_val == 'mainheader' %}
																{% set mainheader_page_val = 'selected' %}
																{% set rightcolumn_page_val = '' %}
																{% set thirdcolumn_page_val = '' %}
															{% elseif other_type_website_val == 'rightcolumn' %}
																{% set mainheader_page_val = '' %}
																{% set rightcolumn_page_val = 'selected' %}
																{% set thirdcolumn_page_val = '' %}
															{% else %}
																{% set mainheader_page_val = '' %}
																{% set rightcolumn_page_val = '' %}
																{% set thirdcolumn_page_val = 'selected' %}
															{% endif %}
														{% endif %}
														
														<select name="other_view_adv_type" class="form-control">
															<option value="mainheader" {{ mainheader_page_val }}>Mainheader</option>
															<option value="thirdcolumn" {{ rightcolumn_page_val }}>Rightcolumn</option>
															{# <!-- <option value="thirdcolumn" {{ thirdcolumn_page_val }}>Thirdcolumn</option>--> #}
														</select>
													{% endif %}
												</div>
												{% endif %}
											</div>
										</div>
										
										<div class="row form-group">
											<div class="col-md-12">
												<div class="col-md-6 fill-padd-left">
													<label>Status</label><br>

													{% set adv_status_active = '' %}
													{% set adv_status_inactive = '' %}
													{% if advetise is defined and advetise is not empty %}
														{% for advetise in advetise %}
														{% if advetise.language_id == lang.language_master_id %} 
															{% if advetise.status == 'active' %}
																{% set adv_status_active = 'checked' %}
															{% endif %}
															{% if advetise.status == 'inactive' %}
																{% set adv_status_inactive = 'checked' %}
															{% endif %}
														{% endif %}
														{% endfor %}
													{% endif %}

													<label class="radio-inline">
														<input type="radio" name="status" value="active" {{ adv_status_active }} required="" /> Active
													</label>
													<label class="radio-inline">
														<input type="radio" name="status" value="inactive" {{adv_status_inactive }} required="" /> Inactive
													</label>
												</div>
												<div class="col-md-6 fill-padd-right">
													<label>Sort order</label>

													{% set sort_order = '' %}
													{% if advetise is defined and advetise is not empty %}
														{% for advetise in advetise %}
															{% set sort_order = advetise.sort_order %}
														{% endfor %}
													{% endif %}

													<input type="number" class="form-control" name="sort_order" value="{{ sort_order }}" />
												</div>
											</div>
										</div>
										<hr />
										<div class="row" align="center">
											<div class="col-lg-10 col-lg-offset-2">
												<div class="col-lg-6">
													<button type="submit" class="btn btn-primary save-btn" name="add">Save</button>
												</div>
												<div class="col-lg-6">
													<a href="{{path('admin_advertise_index', {'type': type})}}" class="btn btn-default cancel-btn">Cancel</a>
												</div>
											</div>
										</div>

									</form>
								</div>
								{% endfor %}
									{% endif %}
									</div>
								</div>

							</div>

						</div><!-- /.box -->
					</div>

				</section>
<!----------- Main content : END ---------------------------------------------------------->
{% endblock %}
{% block js %}
<script src="{{ asset('bundles/design') }}/js/moment.min.js"></script>
<script src="{{ asset('bundles/design') }}/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>
<script>
	
	$(document).ready(function(){
		$('#show_in_other_view').change(function(){
			$('.other-view-dropdown').toggle();
		});
	});
	
	function toggleTypes(lang_id){
		$('.other-view-dropdown-' + lang_id).toggle();
	}
	
	function validateForm(){
	
		var cur_date = new Date();
		
		var start_date = new Date($('#start_date').val());
		var end_date = new Date($('#end_date').val());
		console.log(cur_date);
		{% if advetise is not defined or advetise is empty %}
			/* if(start_date <= yesterday){
				alert('Start date should be greater than Current date');
				return false;
			} */
		{% endif %}
		if(start_date > end_date){
			alert('End date should be greater than Start date');
			return false;
		}
		return true;
	}
	
	$(function () {
		$(".select2").select2({
			allowClear: true,
			tokenSeparators: [','],
			 minimumResultsForSearch:4
		});
	});



	 $(function () {
		{% if languages is defined and languages is not empty%}
			{%for lang in languages%}
				{% set start_date = '' %}
				{% set end_date = '' %}			
				{% if advetise is defined and advetise is not empty %}
					{% for advetise in advetise %}
						{%if advetise.language_id == lang.language_master_id%}
							{% set start_date = advetise.start_date %}
							{% set end_date = advetise.end_date %}
						{%endif%}
					{% endfor %}
				{% endif %}			
				$('#start_date_'+'{{lang.language_master_id}}').datetimepicker({
					defaultDate: '{{ start_date }}',
					icons: {
						time: "fa fa-clock-o",
						date: "fa fa-calendar",
						up: "fa fa-arrow-up",
						down: "fa fa-arrow-down"
					}
				});
				$('#end_date_'+'{{lang.language_master_id}}').datetimepicker({
					defaultDate: '{{ end_date }}',
					icons: {
						time: "fa fa-clock-o",
						date: "fa fa-calendar",
						up: "fa fa-arrow-up",
						down: "fa fa-arrow-down"
					}
				});
			{%endfor%}	
		{%endif%}
	});
</script>

<script type="text/javascript">
	
	function toggleHideShow(id, str){
		if(str == 'normal_type_'){
			$('#show_res_type_' + id).css('display', 'none');
			$('#show_normal_type_' + id).css('display', 'block');
		}
		if(str == 'restaurant_type_'){
			$('#show_res_type_' + id).css('display', 'block');
			$('#show_normal_type_' + id).css('display', 'none');
		}
	}
	
	$(function () {
		$("#example1").DataTable();
	});
	function readcoverimagebox(input) {
		//code
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#image').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
	function readcoverimagebox1(input) {
		//code
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#cover_image').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
			$(".datepicker").datepicker({
				"setDate": new Date(),
				"autoclose": true
			});

			var advertise_type = $('#advertise_type :selected').val();

			$('#img_feedback1').text('( Size - 1920 x 720(Pixel) )');
			$('#img_feedback2').text('( Size - 1920 x 720(Pixel) )');
			
			{% if sub_adv_type is defined and sub_adv_type is not empty %}
				{% if sub_adv_type == 'new_dishes' %}
					$('#img_feedback1').text('( Size - 360 x 441(Pixel) )');
					$('#img_feedback2').text('( Size - 360 x 441(Pixel) )');
				{% endif %}
			{% endif %}
			
			if (advertise_type == 'mainheader') {
				$('#img_feedback1').text('');
				$('#img_feedback1').text('( Size - 1920 x 720(Pixel) )');
				 $('#img_feedback2').text('');
				$('#img_feedback2').text('( Size - 1920 x 720(Pixel) )');
			}

			if (advertise_type == 'thirdcolumn') {
				$('#img_feedback1').text('');
				//$('#img_feedback1').text('( Size - 480 x 640(Pixel) )');
				$('#img_feedback1').text('( Size - 360 x 582(Pixel) )');
				 $('#img_feedback2').text('');
				//$('#img_feedback2').text('( Size - 480 x 640(Pixel) )');
				$('#img_feedback2').text('( Size - 360 x 582(Pixel) )');
			}

			if (advertise_type == 'rightcolumn') {
				$('#img_feedback1').text('');
				//$('#img_feedback1').text('( Size - 480 x 640(Pixel) )');
				$('#img_feedback1').text('( Size - 360 x 441(Pixel) )');
				 $('#img_feedback2').text('');
				$('#img_feedback2').text('( Size - 360 x 441(Pixel) )');
			}

			$('#advertise_type').change(function () {
				$('#img_feedback1').text('');
				if ($(this).val() == 'mainheader') {
					$('#img_feedback1').text('( Size - 1920 x 720(Pixel) )');
					 $('#img_feedback2').text('( Size - 1920 x 720(Pixel) )');
				}

				if ($(this).val() == 'thirdcolumn') {
					//$('#img_feedback1').text('( Size - 480 x 640(Pixel) )');
					$('#img_feedback1').text('( Size - 360 x 582(Pixel) )');
					//$('#img_feedback2').text('( Size - 480 x 640(Pixel) )');
					$('#img_feedback2').text('( Size - 360 x 582(Pixel) )');
				}

				if ($(this).val() == 'rightcolumn') {
					//$('#img_feedback1').text('( Size - 480 x 640(Pixel) )');
					$('#img_feedback1').text('( Size - 360 x 441(Pixel) )');
					//$('#img_feedback2').text('( Size - 480 x 640(Pixel) )');
					$('#img_feedback2').text('( Size - 360 x 441(Pixel) )');
				}
			});

		});


		function check_cat(cat)
		{
			if (cat != '0')
			{
				$(".ingred").removeClass('hide');
			} else {
				$(".ingred").addClass('hide');
			}
		}
			
		function getRestBranch(main_restaurant_id){
		
				$.ajax({
					url: "{{path('admin_evaluation_getrestbranch',{'domain':app.session.get('domain')})}}",
					data: {'main_restaurant_id': main_restaurant_id},
					method: 'post',
					success: function (response) {
						console.log(response);
						$('#branch_list').html(response);
					},
					error: function (error) {
						console.log(error);
					}
				});	
		
		}
	

	</script>


{% endblock %}