{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} {% if sub_adv_type is defined and sub_adv_type is not empty %}New Dishes - Advertise{% else %}Advertise{% endif %} {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<style>
		.paddBottom { padding-bottom: 20px; }
		.avatar img{
		    width: 40px;
			max-width: 100%;
			height: auto;
			border: 0 none;
			border-radius: 1000px;
		}
	</style>
{% endblock %}
{% block content %}

	{# {% set add_str = '' %}
	{% if type is defined and type is not empty %}
		{% if type == 'secondbox' %}
			{% set add_str = 'Advertise' %}
		{% elseif type == 'mainheader' %}
			{% set add_str = 'Banner' %}
		{% elseif type == 'thirdbox' %}
			{% set add_str = 'New Dishes' %}
		{% endif %}
	{% endif %} #}
	
	{% set add_str = '' %}
	{% if sub_adv_type is defined and sub_adv_type is not empty %}
		{% set add_str = 'New Dishes' %}
	{% else %}
		{% if type is defined and type is not empty %}
			{% if type == 'web' %}
				{% set add_str = 'Web' %}
			{% elseif type == 'mobile' %}
				{% set add_str = 'Mobile' %}
			{% endif %}
		{% endif %}
	{% endif %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            {{ add_str }}
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">{{ add_str }} Banner / Advertise</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					{% if right_codes is defined and right_codes is not empty %}
						{% if 'SAB36' in right_codes %}
						<div class="box-header with-border">
							<h3 class="box-title">{{ add_str }} Banner / Advertise</h3>
							{% if sub_adv_type is defined and sub_adv_type is not empty %}
								<a href="{{ path('admin_advertise_addadvertise', {'type': type}) }}/0/new_dishes" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Banner / Advertise</b></a>
							{% else %}
								<a href="{{ path('admin_advertise_addadvertise', {'type': type}) }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Banner / Advertise</b></a>
							{% endif %}
						</div>
						{% endif %}
					{% endif %}
					<div class="box-body">
						<table id="advertiseList" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<tr>
									<th hidden>Main Advertise ID</th>
									{% if languages is defined and languages is not empty %}
									
										{% for language in languages %}
											<th> Name : {{language.display_title }}</th>
										{% endfor %}
									{% endif %}
									{% if sub_adv_type is defined and sub_adv_type is not empty %}
										<th hidden>Advertise Type</th>
									{% else %}
										<th>Advertise Type</th>
									{% endif %}
									{# <th>Advertiser Name</th>
									<th>Start Date</th> 
									<th>End Date</th> #}
									<th>Sort Order</th>
									<th>Status</th>
									{% if right_codes is defined and right_codes is not empty %}
										{% if 'SUB37' in right_codes %}
											<th>Operations</th>
										{% endif %}
									{% endif %}
									{% if right_codes is defined and right_codes is not empty %}
										{% if 'SDB38' in right_codes %}
											<th>Delete</th>
										{% endif %}
									{% endif %}
								</tr>
							</thead>
							<tbody>
							{% if advertise_list is defined and advertise_list is not empty %}
								{% set index = 0 %}
								{% for advertise in advertise_list %}
									<tr>
										<!-- <td>
											<span class="avatar avatar-online">
											{% if advertise.media_title != '' %}
												<img src="{{ asset('bundles/design/uploads/advertise/') }}{{ advertise.media_title }}" />
											{%endif%}
											</span>
										</td> -->
										<td hidden></td>
										{% if advertise.lang_wise_advertise is defined and advertise.lang_wise_advertise is not empty %}
											{% set lan_index = 0 %}
											{% for language in languages %}
												<td>
													{% if advertise.lang_wise_advertise is defined and advertise.lang_wise_advertise is not empty %}
														{% for lang_arr in advertise.lang_wise_advertise %}
															{% if language.language_master_id == lang_arr.language_id%}
																{{ lang_arr.advertise_name }}
															{% endif %}
														{% endfor %}
													{% endif %}
												</td>
											{% endfor %}
										{%endif%}
										{% if advertise.advertise_type == 'rightcolumn' %}
											<td hidden></td>
										{%endif%}
										{% if sub_adv_type is defined and sub_adv_type is not empty %}
										{% else %}
										<td>
											{% if advertise.advertise_type == 'mainheader' %}
												{% set advertise_type = 'Main Header' %}
											{% elseif advertise.advertise_type == 'rightcolumn' %}
												{% set advertise_type = 'Right Column' %}
											{% elseif advertise.advertise_type == 'thirdcolumn' %}
												<!-- Thirdcolumn is now named Rightcolumn and type is thirdcolumn in db -->
												{% set advertise_type = 'Right Column' %}
											{% elseif advertise.advertise_type == 'beginning_page' %}
												{% set advertise_type = 'Beginning Page' %}
											{% elseif advertise.advertise_type == 'front_page' %}
												{% set advertise_type = 'Front Page' %}
											{% endif %}
											{{ advertise_type }}
										</td>
										{% endif %}
										{# <td>{{ advertise.name_of_advertiser }}</td>
										<td>{{ advertise.start_date | date('Y/m/d h:i A') }}</td>
										<td>{{ advertise.end_date | date('Y/m/d h:i A') }}</td> #}
										<td>{{ advertise.sort_order }}</td>
										<td>
											{% if advertise.status == 'active' %}
												{% set status_label = 'Active' %}
												{% set status_class = 'success' %}
												{% set checked = 'checked' %}
											{% else %}
												{% set status_label = 'Inactive' %}
												{% set checked = '' %}
											{%endif%}
											
											<input data-on="active" class="status status_23" data-off="inactive" type="checkbox" onchange="change_status({{ advertise.advertise_master_id }}, {{ index }},$(this).is(':checked'))"  data-toggle="toggle" data-size="mini" data-onstyle="success" {{ checked }}>
											
										</td>
										{% if right_codes is defined and right_codes is not empty %}
											{% if 'SUB37' in right_codes %}
												<td>
													{% if sub_adv_type is defined and sub_adv_type is not empty %}
														<a class="editadvertise btn btn-info btn-xs" onclick="return validateEdit();" href="{{path('admin_advertise_addadvertise',{'type': type,'adv_id':advertise.main_advertise_id})}}/{{ sub_adv_type }}" data-toggle="tooltip" data-placement="top" data-original-title="edit">
															<i class="fa fa-pencil-square-o"></i>
														</a>
													{% else %}
														<a class="editadvertise btn btn-info btn-xs" onclick="return validateEdit();" href="{{path('admin_advertise_addadvertise',{'type': type,'adv_id':advertise.main_advertise_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="edit">
															<i class="fa fa-pencil-square-o"></i>
														</a>
													{% endif %}
												</td>
												{% endif %}
										{% endif %}
										{% if right_codes is defined and right_codes is not empty %}
											{% if 'SDB38' in right_codes %}
												<td>
													<a class="deleteadvertise btn btn-danger btn-xs" onclick="return validateDelete();" href="{{ path('admin_advertise_deleteadvertise', {'type':type,'adv_id':advertise.main_advertise_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
														<i class="fa fa-trash-o"></i>
													</a>
												</td>
											{% endif %}
										{% endif %}
									</tr>
									{% set index = index+1 %}
								{% endfor %}
							{% endif %}
							</tbody>
							<tfoot>
								<tr>
									<th hidden>Main Advertise ID</th>
									{% if languages is defined and languages is not empty %}
										{% for language in languages %}
											<th> Name : {{language.display_title }}</th>
										{% endfor %}
									{% endif %}
									{% if sub_adv_type is defined and sub_adv_type is not empty %}
									{% else %}
										<th>Advertise Type</th>
									{% endif %}
									{# <th>Advertiser Name</th>
									<th>Start Date</th>
									<th>End Date</th> #}
									<th>Sort Order</th>
									<th>Status</th>
									{% if right_codes is defined and right_codes is not empty %}
										{% if 'SUB37' in right_codes %}
											<th>Operations</th>
										{% endif %}
									{% endif %}
									{% if right_codes is defined and right_codes is not empty %}
										{% if 'SDB38' in right_codes %}
											<th>Delete</th>
										{% endif %}
									{% endif %}
								</tr>
							</tfoot>
							
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>

	$(document).ready(function(){
		$('#advertiseList').DataTable();
	});
	
	function validateDelete(){
		var cnfm = confirm('Are you sure, you want to delete?');
		if(cnfm){
			var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
			if(cnfm1){
				return true;
			}
		}
		return false;
	}
	
	function validateEdit(){
		var cnfm = confirm('Are you sure?');
		if(cnfm){
			return true;
		}
		return false;
	}
	
	function change_status(id, index,status){
		if(id != ''){
			var url = "{{ path('admin_advertise_ajaxupdatestatus') }}";
			$.ajax({
				url: url,
				method: 'post',
				data: {'cat_id' : id,'status':status},
				success: function(response){
					console.info('advertise status changed');
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
</script>
{% endblock %}