
{% block category%}
    <div class="food-category default-padding">
        <div class="container-fluid">
            <div class="category">
                {% if categories is defined and categories is not empty%}
                    {%for categories_data in categories%}
                            {% if categories_data.media_location != null and categories_data.media_name != null %}	
                                <div class="slide">
                                    <a href="{{path('site_cat_wise_rest',{'main_category_id':categories_data.main_category_id})}}">
                                        <div class="slide-img">
                                            <img src="{{asset(''~categories_data.media_location~'/'~categories_data.media_name)}}" style="height:144px ">
                                        </div>
                                        <div class="slide-title">{{categories_data.category_name}}</div>
                                    </a>
                                </div>
                            {%else%}
                                <div class="slide">
                                    <a href="{{path('site_cat_wise_rest',{'main_category_id':categories_data.main_category_id})}}">
                                        <div class="slide-img">
                                            <img src="{{asset('/bundles/Resource/default.png')}}" style="height:144px ">
                                        </div>
                                        <div class="slide-title">{{categories_data.category_name}}</div>
                                    </a>
                                </div>
                            {% endif%}
                    {%endfor%}
                {%endif%}
            </div>
        </div>
    </div>		
{%endblock%}
