{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
    <style>
        .hilight_evalution1
        {
            height:80px;
            width:80px;
        }
        .feature_comments1
        {
            height:150px;
            width:150px;
        }

        .banner {
            height:510px ; 
            width : 100%;
        }

        .mid-slide{
            margin-bottom:15px
        }
        
    </style>
    <div class="banner">
        <!-- main header -->
        <ul class="slider-banner">
            {% if all_banner is defined and all_banner is not empty %}
                {% if all_banner.mainheader | length >= 1 %}
                    {% for mainheader in all_banner.mainheader %}
                        {% if mainheader.language_id == 1 %}
                            <li><img class="banner" src="{{ mainheader.media_url }}" ></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
        </ul>
        <!-- end: main header -->
    </div>




    <div class="mid-area">
        <div class="container top-restaurant">
            <h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'29'})) }}</h2>
            <div class="row mid-area-row sliderr">
                {% set class_array = ['col-a' , 'col-b', 'col-c' ,'col-d' ,'col-e'] %}
                {%if evaluation_category is defined and evaluation_category is not empty  %}
                    {%for evaluation_category in evaluation_category %}
                        {%if evaluation_category.restaurant_list is defined and evaluation_category.restaurant_list is not empty %}
                        <div class="mid-slide">
                            <div class="evel-block">
                                <div class="evel-block-img"><img src="{{evaluation_category.image}}" class="img-circle"></div>
                                <h3><center>{{evaluation_category.category_name}}</center></h3>
                                <ul class="evel-cate">

                                    {%if evaluation_category.restaurant_list is defined and evaluation_category.restaurant_list is not empty %}
                                        {%set eve_res_twig_arr = evaluation_category.restaurant_list %}

                                        {%for i in 0..4 %}
                                            {%if eve_res_twig_arr[i] is defined and eve_res_twig_arr[i] is not empty %}
                                            <a href="{{path("site_restaurant_view")}}/{{eve_res_twig_arr[i].restaurant_id}}">
                                                <li><i class="fa fa-dot-circle-o {{class_array[i]}}" aria-hidden="true"></i> {{eve_res_twig_arr[i].restaurant_name}} ({{eve_res_twig_arr[i].rating_percentage}}%)</li></a>
                                                {%else%}
                                                <li>&nbsp;</li>
                                                {%endif%}

                                        {%endfor%}
                                    {%else%}
                                        {%for i in 0..4 %}
                                            <li>&nbsp;</li>
                                            {%endfor%}   {%endif%}
                                    </ul>
                                    <div class="mid-graph"><img src="{{asset('bundles/site/')}}images/graph.jpg"></div>
                                </div>
                        </div>
                        {%endif%}
                    {%endfor%}
                {%endif%}

                </div>
            </div>


            <div class="main-cont-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 main-cont-area-block">
                            <div class="eve-top-5">
                                <h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'31'})) }}</h2>
                                <div class="eve-top-5-block">
                                    {%if top_10_restaurant is defined and top_10_restaurant is not empty %}
                                        {%for top_10_restaurant in top_10_restaurant %}
                                            <div class="row eve-top-5-block-row">
                                                <a href="{{path("site_restaurant_view")}}/{{top_10_restaurant.restaurant_id}}"><div class="col-xs-2"><img style="height: 40px; width: 40px;" src="{{top_10_restaurant.logo}}" class="img-circle"></div>
                                                <div class="col-xs-10 eve-top-5-name">{{top_10_restaurant.restaurant_name}}<span class="badge">{{top_10_restaurant.points}} Votes</span></div></a>
                                            </div>                                    
                                        {%endfor%}
                                    {%endif%}


                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4 col-xs-12 main-cont-area-block">
                            <ul class="slider-banner">
                                {% if all_banner is defined and all_banner is not empty %}
                                    {% if all_banner.secondbox | length >= 1 %}
                                        {% for secondbox in all_banner.secondbox %}
                                            {% if secondbox.language_id == 1 %}
                                                <li><img src="{{ secondbox.media_url }}" class="img-responsive" style="height:566px"></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                            </ul>
                        </div>
                        <div class="col-sm-4 col-xs-12 main-cont-area-block">
                            <div class="new-dishes">
                                <h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'33'})) }}</h2>
                                {#                        <h2>NEW <span>DISHES</span></h2> #}
                                <p><img src="{{asset('bundles/site/')}}images/smilie.png"></p>
                            </div>
                            <div class="new-dishes-img">
                                <ul class="slider-banner">
                                    {% if all_banner is defined and all_banner is not empty %}
                                        {% if all_banner.thirdbox | length >= 1 %}
                                            {% for thirdbox in all_banner.thirdbox %}
                                                {% if thirdbox.language_id == 1 %}
                                                    <li><img src="{{ thirdbox.media_url }}" class="img-responsive" style="height:428.75px;width:100%"></li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                </ul>


                            </div>
                        </div>
                    </div>



                    <!--  <div class="row comment-block">
                                          <div class="col-sm-8 col-xs-12">
                                                  <h3 class="title">&nbsp;<br>Featured Comments</h3>
                                                  <div class="row comment-slider">
                                                          <div class="col-sm-6 col-xs-12">
                                                                  <div class="comment-block-holder">
                                                                          <img src="{{asset('bundles/site/')}}images/lady.jpg" class="img-circle">
                                                                          <h3>Anjeleena</h3>
                                                                          <p>You can feature any comment within the discussion, even if it’s a reply to someone else. When you feature a comment, it will be displayed prominently at the top of the thread.</p>
                                                                          <a class="btn btn-warning" href="#" role="button">read more...</a>
                                                                  </div>
                                                          </div>
                                                          <div class="col-sm-6 col-xs-12">
                                                                  <div class="comment-block-holder">
                                                                          <img src="{{asset('bundles/site/')}}images/man.jpg" class="img-circle">
                                                                          <h3>A. R. Rahmam</h3>
                                                                          <p>You can feature any comment within the discussion, even if it’s a reply to someone else. When you feature a comment, it will be displayed prominently at the top of the thread.</p>
                                                                          <a class="btn btn-warning" href="#" role="button">read more...</a>
                                                            </div>
                                                    </div>
                                                  </div>
                                          </div>-->

                    <div class="row comment-block">
                        <div class="col-sm-8 col-xs-12">
                            <h3 class="title">&nbsp;<br>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'35'})) }}</h3>

                            {% if feature_comments is defined and feature_comments is not empty %}
                                <div class="row comment-slider">
                                    {% for feature_comments in feature_comments %}
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="comment-block-holder">
                                                <img src="{{feature_comments.userimage}}" class="img-circle feature_comments1" >
                                                <h3>{{feature_comments.username}}</h3>
                                                <p>{{ feature_comments.comments|length > 100 ? feature_comments.comments|slice(0, 100) ~ '...' : feature_comments.comments  }}</p>

                                                <a class="btn btn-warning" href="{{ path('site_comment_index', {'comment_id': feature_comments.evaluation_feedback_id}) }}" role="button">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'57'})) }}</a>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="col-md-12">

                                    <h3>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'119'})) }}</h3>

                                </div>			
                            {% endif %}
                        </div>

                        <div class="col-sm-4 col-xs-12 member-evaluation">
                            <h3 class="title">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'37'})) }}</h3>
                            {% if hilighted_evalutions is defined and hilighted_evalutions is not empty %}
                                {% for hilighted_evalutions in hilighted_evalutions %}
                                    <div class="media">
                                        <div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle hilight_evalution1" src="{{hilighted_evalutions.userimage}}" style="cursor: auto;"></a></div>
                                        <div class="media-body"><h4 class="media-heading">{{hilighted_evalutions.username}}</h4>{{hilighted_evalutions.max_counter}} Evalute</div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-md-12">

                                    <h3>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'117'})) }}</h3>

                                </div>	
                            {% endif %}
                        </div>
                        <!-- <div class="col-sm-4 col-xs-12 member-evaluation">
                             <h3 class="title">Site Members Highligted number of evaluation</h3>
         
                             <div class="media">
                                 <div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/a.jpg"></a></div>
                                 <div class="media-body"><h4 class="media-heading">The King amdi</h4>9 Evalute</div>
                             </div>
         
                             <div class="media">
                                 <div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/b.jpg"></a></div>
                                 <div class="media-body"><h4 class="media-heading">Double Dr.</h4>9 Evalute</div>
                             </div>
         
                             <div class="media">
                                 <div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/c.jpg"></a></div>
                                 <div class="media-body"><h4 class="media-heading">Shorty M</h4>9 Evalute</div>
                             </div>
         
                             <div class="media">
                                 <div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/d.jpg"></a></div>
                                 <div class="media-body"><h4 class="media-heading">Taima’a nfuau</h4>9 Evalute</div>
                             </div>
         
                         </div>-->
                    </div>

                </div>
            </div>
        {% endblock %}