{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
	<script>
		function redirectFresh(url){
			window.location.replace(url);
		}
	</script>
    <style>
		.hilight_evalution1
        {
            height:50px;
            width:50px;
        }
        .feature_comments1
        {
            height:150px;
            width:150px;
        }

        .banner {
            height:510px ; 
            width : 100%;
        }

        .mid-slide{
            margin-bottom:15px
        }

    </style>	
    <div class="banner">
        <!-- main header -->
        <ul class="slider-banner">
            {% if all_banner is defined and all_banner is not empty %}
                {% if all_banner.mainheader | length >= 1 %}
                    {% for mainheader in all_banner.mainheader %}
                            {% if mainheader.banner_advertise_type == 'website' %}
                                {#<li><a href="javascript:void(0);" onclick="redirectFresh('{{ mainheader.advertise_image_link }}')" target="_blank"><img class="banner" src="{{ mainheader.media_url }}" ></a></li>#}
                                <li>
									{% set adv_link = mainheader.advertise_image_link %}
									{% if 'http' in adv_link %}
									{% else %}
										{% set adv_link = 'https://'~adv_link  %}
									{% endif %}
									<a href="{{ adv_link }}" target="_blank"><img class="banner" src="{{ mainheader.media_url }}" ></a>
								</li>
                            {% else %}
								{% set href = 'restaurant/view/' %}
                                <li>
                                    {%if mainheader.restaurant_id != 0 and mainheader.restaurant_id != "" %}
                                        <a target="_blank" href="{{ path('site_restaurant_view', {'restaurent_id':mainheader.restaurant_id}) }}" ><img class="banner" src="{{ mainheader.media_url }}" ></a>
                                    {%endif%}
                                </li>
                                    {% endif %}

                    {% endfor %}
                {% endif %}
            {% endif %}
        </ul>
        <!-- end: main header -->
    </div>




    <div class="mid-area">
		
        <div class="container top-restaurant">
            <h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'29'})) }}</h2>
			<div class="row mid-area-row sliderr">
                {% set class_array = ['col-a' , 'col-b', 'col-c' ,'col-d' ,'col-e'] %}
                {%if evaluation_category is defined and evaluation_category is not empty  %}
                    {%for evaluation_category in evaluation_category %}
                        {%if evaluation_category.restaurant_list is defined and evaluation_category.restaurant_list is not empty %}
                            <div class="mid-slide">
                                <div class="evel-block">
                                    <div class="evel-block-img" style="top: -31% !important;"><img src="{{evaluation_category.image}}" class="img-circle"></div>
                                    <h3><center>{{evaluation_category.category_name}}</center></h3>
                                    <ul class="evel-cate">

                                        {%if evaluation_category.restaurant_list is defined and evaluation_category.restaurant_list is not empty %}
                                            {%set eve_res_twig_arr = evaluation_category.restaurant_list %}

                                            {%for i in 0..4 %}
                                                {%if eve_res_twig_arr[i] is defined and eve_res_twig_arr[i] is not empty %}
                                                    <a href="{{path("site_restaurant_view")}}/{{eve_res_twig_arr[i].restaurant_id}}">
                                                        <li><i class="fa fa-dot-circle-o {{class_array[i]}}" aria-hidden="true"></i> {{eve_res_twig_arr[i].restaurant_name}}</li></a>
                                                        {%else%}
                                                    <li>&nbsp;</li>
                                                    {%endif%}

                                            {%endfor%}
                                        {%else%}
                                            {%for i in 0..4 %}
                                                <li>&nbsp;</li>

                                            {%endfor%}   {%endif%}
                                            <li> </li>											
                                        </ul>									
                                    </div>
                                    <div class="mid-graph" id="container_{{loop.index}}">
                                        <div id = "container" style = "width: 550px; height: auto; margin: 0 auto">
                                        </div>
                                        <script language = "JavaScript">
                                            function drawChart() {
                                                var data_all = Array();
                                                var schema = Array();
                                            {% set colors = ['red','yellow','#0beec1','#f6ab27','#a63ef6'] %} 
                                                schema.push('Restaurant');
                                                schema.push('Percentage');
                                                schema.push({role: 'style'});
                                                schema.push({role: 'annotation'});
                                                data_all.push(schema);
                                            {%for i in 0..4 %}	
                                                {%if eve_res_twig_arr[i] is defined and eve_res_twig_arr[i] is not empty %}											
                                                                                  var rest = Array();
                                                                                  rest.push('{{ eve_res_twig_arr[i].restaurant_name[0:2]}}' + '..');
                                                                                  rest.push({{eve_res_twig_arr[i].rating_percentage}});
                                                                                  rest.push('{{colors[i]}}');
                                                //rest.push('{{eve_res_twig_arr[i].restaurant_name}}');
												rest.push('');
                                                data_all.push(rest);
                                                {% endif%}
                                            {%endfor%} 

                                                                      var data = google.visualization.arrayToDataTable(data_all);

                                                                      /*											var data = google.visualization.arrayToDataTable([
                                                                       ['Restaurant', 'Percentage',{ role: 'style' },{ role: 'annotation' }],
                                                                       ['mi..',  82,'color: #e5e4e2','Turkish Turani'],
                                                                       ['36..',  82,'red','36 sultan'],
                                                                       ['an..',  82,'yellow','annans w mango'],
                                                                       ['on..',  82,'red','only sultan'],
                                                                       ['7O..',  82,'blue','7ouf']
                                                                       ]);
                                                                       */
                                                                      var options = {
                                                                          title: '', 
                                                                          'width': 224,
                                                                          'height': 220,
                                                                          'hAxis': { textPosition: 'none' },  
                                                                          'vAxis': { textPosition: 'none' ,  gridlines: {
                color: 'transparent'
            } },
                                                                          
                                                                                };
                                                                                // Instantiate and draw the chart.
                                                                      var chart = new google.visualization.ColumnChart(document.getElementById('container_' +{{loop.index}} ));
                                                                      chart.draw(data, options);
                                                                  }
                                                                  google.charts.setOnLoadCallback(drawChart);
                                        </script>									
                                    </div>							
                                </div>
                            {%endif%}
                        {%endfor%}
                    {%endif%}

                </div>
            </div>


            <div class="main-cont-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 main-cont-area-block">
                            <div class="eve-top-5">
                                <h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'31'})) }}</h2>
                                <div class="eve-top-5-block">
                                    {%if top_10_restaurant is defined and top_10_restaurant is not empty %}
                                        {%for top_10_restaurant in top_10_restaurant %}
                                            <div class="row eve-top-5-block-row">
                                                <a href="{{path("site_restaurant_view")}}/{{top_10_restaurant.restaurant_id}}"><div class="col-xs-2"><img style="height: 40px; width: 40px;" src="{{top_10_restaurant.logo}}" class="img-circle"></div>
                                                    <div class="col-xs-10 eve-top-5-name">{{top_10_restaurant.restaurant_name}}<span class="badge">{{top_10_restaurant.points}} {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'25'})) }}</span></div></a>
                                            </div>                                    
                                        {%endfor%}
                                    {%endif%}


                                </div>
                            </div>

                        </div>
						
                        <div class="col-sm-4 col-xs-12 main-cont-area-block">
                            <ul class="slider-banner">
                                {% if all_banner is defined and all_banner is not empty %}
                                    {% if all_banner.thirdcolumn | length >= 1 %}
                                        {% for thirdcolumn in all_banner.thirdcolumn %}
                                            {% if thirdcolumn.language_id == app.session.get('language_id') %}
                                                <li><img src="{{ thirdcolumn.media_url }}" class="img-responsive" style="height:566px"></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                            </ul>
                        </div>
                        <div class="col-sm-4 col-xs-12 main-cont-area-block">
                            <div class="new-dishes">
                                <h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'33'})) }}</h2>
                                {#                        <h2>NEW <span>DISHES</span></h2> #}
                                <p><img src="{{asset('bundles/site/')}}images/smilie.png"></p>
                            </div>
                            <div class="new-dishes-img">
                                <ul class="slider-banner">
                                    {% if all_banner is defined and all_banner is not empty %}
                                    {% if all_banner.rightcolumn | length >= 1 %}
                                        {% for rightcolumn in all_banner.rightcolumn %}
                                            {# <!-- {% if rightcolumn.language_id == 1 %}
                                                <li><img src="{{ rightcolumn.media_url }}" class="img-responsive" style="height:428.75px;width:100%"></li>
                                                {% endif %} --> #}
												{% if rightcolumn.language_id == app.session.get('language_id') %}
													<li><img src="{{ rightcolumn.media_url }}" class="img-responsive" style="height:428.75px;width:100%"></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                    {#{% if new_dishes is defined and new_dishes is not empty %}
                                        {% if new_dishes | length >= 1 %}
                                            {% for new_dish in new_dishes %}
														<li><img src="{{ live_path }}/{{ new_dish.media_location }}/{{ new_dish.media_title }}" class="img-responsive" style="height:428.75px;width:100%"></li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}#}
                                </ul>


                            </div>
                        </div>
                    </div>



                    <!--  <div class="row comment-block">
                                          <div class="col-sm-8 col-xs-12">
                                                  <h3 class="title">&nbsp;<br>Featured Comments</h3>
                                                  <div class="row comment-slider">
                                                          <div class="col-sm-6 col-xs-12">
                                                                  <div class="comment-block-holder">
                                                                          <img src="{{asset('bundles/site/')}}images/lady.jpg" class="img-circle">
                                                                          <h3>Anjeleena</h3>
                                                                          <p>You can feature any comment within the discussion, even if it’s a reply to someone else. When you feature a comment, it will be displayed prominently at the top of the thread.</p>
                                                                          <a class="btn btn-warning" href="#" role="button">read more...</a>
                                                                  </div>
                                                          </div>
                                                          <div class="col-sm-6 col-xs-12">
                                                                  <div class="comment-block-holder">
                                                                          <img src="{{asset('bundles/site/')}}images/man.jpg" class="img-circle">
                                                                          <h3>A. R. Rahmam</h3>
                                                                          <p>You can feature any comment within the discussion, even if it’s a reply to someone else. When you feature a comment, it will be displayed prominently at the top of the thread.</p>
                                                                          <a class="btn btn-warning" href="#" role="button">read more...</a>
                                                            </div>
                                                    </div>
                                                  </div>
                                          </div>-->

                    <div class="row comment-block">
                        <div class="col-sm-8 col-xs-12">
                            <h3 class="title">&nbsp;<br>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'35'})) }}</h3>

                            {% if feature_comments is defined and feature_comments is not empty %}
                                <div class="row comment-slider">
                                    {% for feature_comments in feature_comments %}
										<div class="col-sm-6 col-xs-12">
                                            <div class="comment-block-holder">
                                                <img src="{{feature_comments.userimage}}" class="img-circle feature_comments1" >
                                                <h3>{{feature_comments.username}}</h3>
												{% set f_comment = '' %}
												{% if feature_comments.comments|length > 100 %}
													{% set f_comment = feature_comments.comments|slice(0, 100) ~ '...' %}
												{% else %}
													{% set f_comment = feature_comments.comments %}
												{% endif %}
                                                <p style="white-space:pre-line;">{{ f_comment|raw }}</p>

                                                <a class="btn btn-warning" href="{{ path('site_comment_index', {'comment_id': feature_comments.evaluation_feedback_id}) }}" role="button">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'57'})) }}</a>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="col-md-12">

                                    <h3>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'119'})) }}</h3>

                                </div>			
                            {% endif %}
                        </div>

                        <div class="col-sm-4 col-xs-12 member-evaluation">
                            <h3 class="title">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'37'})) }}</h3>
                            {% if hilighted_evalutions is defined and hilighted_evalutions is not empty %}
                                {% for hilighted_evalutions in hilighted_evalutions %}
                                    <div class="media">
                                        <div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle hilight_evalution1" src="{{hilighted_evalutions.userimage}}" style="cursor: auto;"></a></div>
                                        <div class="media-body"><h4 class="media-heading">{{hilighted_evalutions.username}}</h4>{{hilighted_evalutions.max_counter}} Evalute</div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-md-12">

                                    <h3>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'117'})) }}</h3>

                                </div>	
                            {% endif %}
                        </div>
                        <!-- <div class="col-sm-4 col-xs-12 member-evaluation">
                             <h3 class="title">Site Members Highligted number of evaluation</h3>
         
                             <div class="media">
                                 <div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/a.jpg"></a></div>
                                 <div class="media-body"><h4 class="media-heading">The King amdi</h4>9 Evalute</div>
                             </div>
         
                             <div class="media">
                                 <div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/b.jpg"></a></div>
                                 <div class="media-body"><h4 class="media-heading">Double Dr.</h4>9 Evalute</div>
                             </div>
         
                             <div class="media">
                                 <div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/c.jpg"></a></div>
                                 <div class="media-body"><h4 class="media-heading">Shorty M</h4>9 Evalute</div>
                             </div>
         
                             <div class="media">
                                 <div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/d.jpg"></a></div>
                                 <div class="media-body"><h4 class="media-heading">Taima’a nfuau</h4>9 Evalute</div>
                             </div>
         
                         </div>-->
                    </div>

                </div>
            </div>

        {% endblock %}
{%block js%}
<style>
{% if feature_comments is defined and feature_comments is not empty %}
	{% if feature_comments | length <= 1 %}
		.comment-slider .bx-clone{
			display: none;
		}
	{% endif %}
{% endif %}
</style>
<script>
	$(document).ready(function(){
		{% if feature_comments is defined and feature_comments is not empty %}
			{% if feature_comments | length > 1 %}
				$('.comment-slider').bxSlider({
					slideWidth: 360,
					minSlides: 1,
					maxSlides: 2,
					moveSlides: 1,
					auto: true,
					controls: false,
					pager: true,
					infiniteLoop: true
				});
			{% else %}
				$('.comment-slider').bxSlider({
					slideWidth: 360,
					minSlides: 1,
					maxSlides: 2,
					moveSlides: 1,
					auto: false,
					controls: false,
					pager: true,
				});
			{% endif %}
		{% endif %}
	});
</script>
{%endblock%}