{% extends "SiteBundle::Layout/header.html.twig" %}

{% block category%}
	<div class="food-category default-padding">
		<div class="container-fluid">
			<div class="category">
				{% if categories is defined and categories is not empty%}
					{%for categories_data in categories%}
						{% if categories_data.language_id == 1 %}
							{% if categories_data.media_location != null and categories_data.media_name != null %}	
								<div class="slide">
									<a href="javascript:void(0)">
										<div class="slide-img">
											<img src="{{asset(''~categories_data.media_location~'/'~categories_data.media_name)}}">
										</div>
										<div class="slide-title">{{categories_data.category_name}}</div>
									</a>
								</div>
							{%else%}
								<div class="slide">
									<a href="javascript:void(0)">
										<div class="slide-img">
											<img src="{{asset('/bundles/Resource/default.png')}}">
										</div>
										<div class="slide-title">{{categories_data.category_name}}</div>
									</a>
								</div>
							{% endif%}
						{%endif%}
					{%endfor%}
				{%endif%}
			</div>
		</div>
	</div>		

{%endblock%}
	
{% block content %}
	<div class="banner">
		<ul class="slider-banner">
			<li><img src="{{asset('bundles/site/')}}images/banner/01.jpg"></li>
			<li><img src="{{asset('bundles/site/')}}images/banner/03.jpg"></li>
		</ul>
	</div>
	
	
	
	
	<div class="mid-area">
		<div class="container">
			<h2>Evaluated best 5 restaurants</h2>
			<div class="row mid-area-row sliderr">
				<div class="mid-slide">
					<div class="evel-block">
						<div class="evel-block-img"><img src="{{asset('bundles/site/')}}images/category/asian.jpg" class="img-circle"></div>
						<h3><center>Asian</center></h3>
						<ul class="evel-cate">
							<li><i class="fa fa-dot-circle-o col-a" aria-hidden="true"></i> Five Guys</li>
							<li><i class="fa fa-dot-circle-o col-b" aria-hidden="true"></i> Shrimpy</li>
							<li><i class="fa fa-dot-circle-o col-c" aria-hidden="true"></i> 99 Restaurant</li>
							<li><i class="fa fa-dot-circle-o col-d" aria-hidden="true"></i> Taima’a</li>
							<li><i class="fa fa-dot-circle-o col-e" aria-hidden="true"></i> Gardenia</li>
						</ul>
						<div class="mid-graph"><img src="{{asset('bundles/site/')}}images/graph.jpg"></div>
					</div>
				</div>
				<div class="mid-slide">
					<div class="evel-block">
						<div class="evel-block-img"><img src="{{asset('bundles/site/')}}images/category/desert.jpg" class="img-circle"></div>
						<h3><center>Desserts</center></h3>
						<ul class="evel-cate">
							<li><i class="fa fa-dot-circle-o col-a" aria-hidden="true"></i> Five Guys</li>
							<li><i class="fa fa-dot-circle-o col-b" aria-hidden="true"></i> Shrimpy</li>
							<li><i class="fa fa-dot-circle-o col-c" aria-hidden="true"></i> 99 Restaurant</li>
							<li><i class="fa fa-dot-circle-o col-d" aria-hidden="true"></i> Taima’a</li>
							<li><i class="fa fa-dot-circle-o col-e" aria-hidden="true"></i> Gardenia</li>
						</ul>
						<div class="mid-graph"><img src="{{asset('bundles/site/')}}images/graph.jpg"></div>
					</div>
				</div>
				<div class="mid-slide">
					<div class="evel-block">
						<div class="evel-block-img"><img src="{{asset('bundles/site/')}}images/category/cafe.jpg" class="img-circle"></div>
						<h3><center>Cafe</center></h3>
						<ul class="evel-cate">
							<li><i class="fa fa-dot-circle-o col-a" aria-hidden="true"></i> Five Guys</li>
							<li><i class="fa fa-dot-circle-o col-b" aria-hidden="true"></i> Shrimpy</li>
							<li><i class="fa fa-dot-circle-o col-c" aria-hidden="true"></i> 99 Restaurant</li>
							<li><i class="fa fa-dot-circle-o col-d" aria-hidden="true"></i> Taima’a</li>
							<li><i class="fa fa-dot-circle-o col-e" aria-hidden="true"></i> Gardenia</li>
						</ul>
						<div class="mid-graph"><img src="{{asset('bundles/site/')}}images/graph.jpg"></div>
					</div>
				</div>
				<div class="mid-slide">
					<div class="evel-block">
						<div class="evel-block-img"><img src="{{asset('bundles/site/')}}images/category/fast-food.jpg" class="img-circle"></div>
						<h3><center>Fast food</center></h3>
						<ul class="evel-cate">
							<li><i class="fa fa-dot-circle-o col-a" aria-hidden="true"></i> Five Guys</li>
							<li><i class="fa fa-dot-circle-o col-b" aria-hidden="true"></i> Shrimpy</li>
							<li><i class="fa fa-dot-circle-o col-c" aria-hidden="true"></i> 99 Restaurant</li>
							<li><i class="fa fa-dot-circle-o col-d" aria-hidden="true"></i> Taima’a</li>
							<li><i class="fa fa-dot-circle-o col-e" aria-hidden="true"></i> Gardenia</li>
						</ul>
						<div class="mid-graph"><img src="{{asset('bundles/site/')}}images/graph.jpg"></div>
					</div>
				</div>
				<div class="mid-slide">
					<div class="evel-block">
						<div class="evel-block-img"><img src="{{asset('bundles/site/')}}images/category/others.jpg" class="img-circle"></div>
						<h3><center>Others</center></h3>
						<ul class="evel-cate">
							<li><i class="fa fa-dot-circle-o col-a" aria-hidden="true"></i> Five Guys</li>
							<li><i class="fa fa-dot-circle-o col-b" aria-hidden="true"></i> Shrimpy</li>
							<li><i class="fa fa-dot-circle-o col-c" aria-hidden="true"></i> 99 Restaurant</li>
							<li><i class="fa fa-dot-circle-o col-d" aria-hidden="true"></i> Taima’a</li>
							<li><i class="fa fa-dot-circle-o col-e" aria-hidden="true"></i> Gardenia</li>
						</ul>
						<div class="mid-graph"><img src="{{asset('bundles/site/')}}images/graph.jpg"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="main-cont-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12 main-cont-area-block">
					<div class="eve-top-5">
						<h2>Evaluated top 10 restaurants</h2>
						<div class="eve-top-5-block">
							<div class="row eve-top-5-block-row">
								<div class="col-xs-2"><img src="{{asset('bundles/site/')}}images/top10/mais-alghanim.jpg" class="img-circle"></div>
								<div class="col-xs-10 eve-top-5-name">Mais Alghanim <span class="badge">Votes 81</span></div>
							</div>
						  <div class="row eve-top-5-block-row">
								<div class="col-xs-2"><img src="{{asset('bundles/site/')}}images/top10/break-fast-club.jpg" class="img-circle"></div>
								<div class="col-xs-10 eve-top-5-name">The Breakfast Club <span class="badge">Votes 81</span></div>
							</div>
						  <div class="row eve-top-5-block-row">
								<div class="col-xs-2"><img src="{{asset('bundles/site/')}}images/top10/cheese.jpg" class="img-circle"></div>
								<div class="col-xs-10 eve-top-5-name">The Cheesecake Factory <span class="badge">Votes 81</span></div>
							</div>
							<div class="row eve-top-5-block-row">
								<div class="col-xs-2"><img src="{{asset('bundles/site/')}}images/top10/china.jpg" class="img-circle"></div>
								<div class="col-xs-10 eve-top-5-name">P.F. Chang's <span class="badge">Votes 81</span></div>
							</div>
							<div class="row eve-top-5-block-row">
								<div class="col-xs-2"><img src="{{asset('bundles/site/')}}images/top10/mais-alghanim.jpg" class="img-circle"></div>
								<div class="col-xs-10 eve-top-5-name">Mais Alghanim <span class="badge">Votes 81</span></div>
							</div>
						  <div class="row eve-top-5-block-row">
								<div class="col-xs-2"><img src="{{asset('bundles/site/')}}images/top10/break-fast-club.jpg" class="img-circle"></div>
								<div class="col-xs-10 eve-top-5-name">The Breakfast Club <span class="badge">Votes 81</span></div>
							</div>
						  <div class="row eve-top-5-block-row">
								<div class="col-xs-2"><img src="{{asset('bundles/site/')}}images/top10/cheese.jpg" class="img-circle"></div>
								<div class="col-xs-10 eve-top-5-name">The Cheesecake Factory <span class="badge">Votes 81</span></div>
							</div>
							<div class="row eve-top-5-block-row">
								<div class="col-xs-2"><img src="{{asset('bundles/site/')}}images/top10/china.jpg" class="img-circle"></div>
								<div class="col-xs-10 eve-top-5-name">P.F. Chang's <span class="badge">Votes 81</span></div>
							</div>
							<div class="row eve-top-5-block-row">
								<div class="col-xs-2"><img src="{{asset('bundles/site/')}}images/top10/mais-alghanim.jpg" class="img-circle"></div>
								<div class="col-xs-10 eve-top-5-name">Mais Alghanim <span class="badge">Votes 81</span></div>
							</div>
						  <div class="row eve-top-5-block-row">
								<div class="col-xs-2"><img src="{{asset('bundles/site/')}}images/top10/break-fast-club.jpg" class="img-circle"></div>
								<div class="col-xs-10 eve-top-5-name">The Breakfast Club <span class="badge">Votes 81</span></div>
							</div>
						  
						</div>
					</div>
					
				</div>
				<div class="col-sm-4 col-xs-12 main-cont-area-block">
					<ul class="slider-banner">
						<li><img src="{{asset('bundles/site/')}}images/ad-1.jpg" class="img-responsive"></li>
						<li><img src="{{asset('bundles/site/')}}images/ad-2.jpg" class="img-responsive"></li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-12 main-cont-area-block">
					<div class="new-dishes">
						<h2>NEW <span>DISHES</span></h2>
						<p><img src="{{asset('bundles/site/')}}images/smilie.png"></p>
					</div>
					<div class="new-dishes-img">
						<ul class="slider-banner">
						<li><img src="{{asset('bundles/site/')}}images/new-dishes.jpg" class="img-responsive"></li>
						<li><img src="{{asset('bundles/site/')}}images/new-dishes-2.jpg" class="img-responsive"></li>
					</ul>
					
						
					</div>
				</div>
			</div>
			
			
			
			<div class="row comment-block">
				<div class="col-sm-8 col-xs-12">
					<h3 class="title">&nbsp;<br>Featured Comments</h3>
					<div class="row comment-slider">
						<div class="col-sm-6 col-xs-12">
							<div class="comment-block-holder">
								<img src="{{asset('bundles/site/')}}images/lady.jpg" class="img-circle">
								<h3>Anjeleena</h3>
								<p>You can feature any comment within the discussion, even if it’s a reply to someone else. When you feature a comment, it will be displayed prominently at the top of the thread.</p>
								<a class="btn btn-warning" href="#" role="button">read more...</a>
							</div>
						</div>
						<div class="col-sm-6 col-xs-12">
							<div class="comment-block-holder">
								<img src="{{asset('bundles/site/')}}images/man.jpg" class="img-circle">
								<h3>A. R. Rahmam</h3>
								<p>You can feature any comment within the discussion, even if it’s a reply to someone else. When you feature a comment, it will be displayed prominently at the top of the thread.</p>
								<a class="btn btn-warning" href="#" role="button">read more...</a>
						  </div>
					  </div>
					</div>
				</div>
				
				
				<div class="col-sm-4 col-xs-12 member-evaluation">
					<h3 class="title">Site Members Highligted number of evaluation</h3>
					
					<div class="media">
						<div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/a.jpg"></a></div>
						<div class="media-body"><h4 class="media-heading">The King amdi</h4>9 Evalute</div>
					</div>
					
					<div class="media">
						<div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/b.jpg"></a></div>
						<div class="media-body"><h4 class="media-heading">Double Dr.</h4>9 Evalute</div>
					</div>
					
					<div class="media">
						<div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/c.jpg"></a></div>
						<div class="media-body"><h4 class="media-heading">Shorty M</h4>9 Evalute</div>
					</div>
					
					<div class="media">
						<div class="media-left media-middle"><a href="javascript:void(0)"><img class="media-object img-circle" src="{{asset('bundles/site/')}}images/members/d.jpg"></a></div>
						<div class="media-body"><h4 class="media-heading">Taima’a nfuau</h4>9 Evalute</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
{% endblock %}