{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
			{% for flashMessage in app.session.flashbag.get('success_msg') %}
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('error_msg') %}
				<div class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}

			<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'187'})) }}</h1>
			
			{% if done is defined and done is not empty %}
				<div class="row form-group">					
					{% if done == 1 %}
						<h4 align="center">
						{% if app.session.get('language_id') is defined and app.session.get('language_id') == 2%}
							تم تغيير كلمة المرور سوشسفولي
						{%else%}
							Password Changed Successfuly.
						{%endif%}
						</h4>
					{% else %}
						<h4 align="center">
						{% if app.session.get('language_id') is defined and app.session.get('language_id') == 2%}
							هناك خطأ ما! حاول مرة أخرى إعادة تعيين كلمة المرور
						{%else%}
							Something went wrong! Try again resetting password.
						{%endif%}
						</h4>
					{% endif %}
				</div>
			{% endif %}
			{% if msg is defined and msg is not empty %}
				{% if msg == 3 %}
					<h4 align="center">
						{% if app.session.get('language_id') is defined and app.session.get('language_id') == 2%}
							!آسف! لقد انتهت صلاحية رابط إعادة تعيين كلمة المرور
						{%else%}
							Sorry! Your password reset link has been expired!
						{%endif%}					
					</h4>
				{% else %}
				{% if msg == 2 %}
						<h4 align="center">
						{% if app.session.get('language_id') is defined and app.session.get('language_id') == 2%}
							هناك خطأ ما! حاول مرة أخرى إعادة تعيين كلمة المرور
						{%else%}
							Something went wrong! Try again resetting password.
						{%endif%}
						</h4>
					{% endif %}                      
				{% endif %}
				{% if msg == 5 %}
					<h4 align="center">
						{% if app.session.get('language_id') is defined and app.session.get('language_id') == 2%}
							يجب أن تكون كلمة المرور وإعادة إدخال كلمة المرور هي نفسها
						{%else%}
							Password and Re-Enter Password should be same
						{%endif%}									
					</h4>                
				{% endif %}
				{% if msg == 1 %}
					<form class="form-horizontal" action="{{ path('site_default_updatepassword') }}" id="reset-password" method="post">
						{% if user_id is defined and user_id is not empty %}
							<input type="hidden" name="user_id" class="form-control" value="{{ user_id }}">
						{% endif %}
						<input type="hidden" name="email" class="form-control" value="{{ email }}">
						<div class="form-group">
							<label for="password" class="col-sm-3 control-label">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'189'})) }}</label>
							<div class="col-sm-9">
								<input id="password" type="password" name="password" class="form-control" required>
							</div>
						</div>
						<hr>
						<div class="form-group">
							<label for="re-password" class="col-sm-3 control-label">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'91'})) }}</label>
							<div class="col-sm-9">
								<input id="re-password" type="password" name="re-password" class="form-control" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">&nbsp;</div>
							<div class="col-sm-9">
								<button name="submit" type="submit" class="btn btn-danger btn-lg">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button>
							</div>
						</div>
					</form>
				{% endif %}
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$('#reset-password').submit(function(e){
			var pwd = $('#password').val();
			var re_pwd = $('#re-password').val();
			if(pwd != re_pwd){
				e.preventDefault();
					{% if app.session.get('language_id') is defined and app.session.get('language_id') == 2%}
						var m1 = "يجب أن تكون كلمة المرور وإعادة إدخال كلمة المرور هي نفسها";
					{%else%}
						var m1 = "Password and Re-Enter Password should be equal";
					{%endif%}				
				alert(m1);
			}
		});
	});
</script>
{% endblock %}