{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Add - Update Competition & Award
{% endblock %}
{% block css %}

    <link rel="stylesheet" href="{{asset('bundles/design/')}}plugins/select2/select2.min.css">
    <link href="{{asset('bundles/design/')}}css/select2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{asset('bundles/design/')}}plugins/iCheck/all.css">
    <link rel="stylesheet" href="{{asset('bundles/design/')}}fileupload/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="{{asset('bundles/design/')}}fileupload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{asset('bundles/design/')}}fileupload/css/jquery.fileupload-ui.css">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/design') }}/css/jquery.fancybox.min.css" />
    <noscript><link rel="stylesheet" href="{{asset('bundles/design/')}}fileupload/css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="{{asset('bundles/design/')}}fileupload/css/jquery.fileupload-ui-noscript.css"></noscript>

    <style type="text/css">
        .save-btn, .cancel-btn {
            width: 85%;
        }
        #gallery-images img{
            width:100px;
            height:100px;
            margin:5px;
        }
		img.suggetion-img {
			width: 125px;
		}
		.res-menu-img{
			height: 100px;
			width: 80%;
		}
    </style>

{% endblock %}
{% block content %}
    <!----------- PAGE HEADER : START ------------------------------------------------------------>
    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Competition & Awards
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>

            <li><a href="{{path('admin_competition_index',{'domain':app.session.get('domain')})}}">Competition & Awards</a></li>
            <li class="active">Add - Update Competition & Awards</li>
        </ol>
    </section>
    <!----------- PAGE HEADER : END ------------------------------------------------------------>
    <!----------- Main content : START ------------------------------------------------------------>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <style>
                .display-image{
                    padding-top: 10px;
                    max-width: 70%;
                }
            </style>
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add - Update Competition & Award</h3>
                        <a href="{{path('admin_competition_index',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-chevron-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if languages is defined %}
                                    {% for lang in languages %}
                                        <li class="{% if selected is defined %}{% if selected == lang.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                            <a href="#lang{{loop.index}}" data-toggle="tab">{{lang.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                <li>
                                    <a href="#media" {% if competition is defined and competition is not empty %}data-toggle="tab" {% else %}class="desabletab"{% endif %}>Media</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            {% if languages is defined %}
                                {% for lang in languages %}
                                    <div class="tab-pane {% if selected is defined %}{% if selected == lang.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}" id="lang{{loop.index}}">

                                        <form method="post" enctype="multipart/form-data" action="{{ path('admin_competition_addcompetitiondb') }}">

                                            <input type="hidden" value="{{lang.language_master_id}}" name="language_master_id"/>

                                            <!-- for edit -->
                                            {% if competition is defined and competition is not empty %}
                                                <input type="hidden" value="{{ competition[0].main_competition_award_id }}" name="main_competition_id"/>

                                                {% for comp in competition %}
                                                    {% if lang.language_master_id == comp.language_id %}
                                                        <input type="hidden" name="language_id" value="{{ competition[0].language_id }}"/>
                                                        <input type="hidden" name="competition_id" value="{{ competition[0].main_competition_award_id }}"/>
                                                    {% endif %}
                                                {% endfor %}

                                            {% endif %}

                                            {% if category_id is defined %}
                                                <input type="hidden" name="category_id" value="{{category_id}}"/>
                                            {% endif %}

                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Competition Award Title</label>
                                                </div>
                                                <div class="col-lg-10">
                                                    {% set award_title = '' %}
                                                    {% if competition is defined and competition is not empty %}
                                                        {% for comp in competition %}
                                                            {% if lang.language_master_id == comp.language_id %}
                                                                {% set award_title = comp.competition_award_title %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    <input type="text" name="competition_award_title" class="form-control" value="{{ award_title }}" />
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Competition Award Cover Image </br><span>(Size - 512 x 220(Pixel))</span></label>
                                                </div>
                                                <div class="col-lg-10">
                                                    <input type="file" accept=".png, .jpg, .jpeg .gif .bmp" name="cover_image" class="form-control" />
                                                    {% if competition is defined and competition is not empty %}
                                                        {% for competition in competition %}
                                                            {% if lang.language_master_id == competition.language_id %}
                                                                <img class="suggetion-img" src="{{ competition.media_url }}" id="image" width="100" height="100" class="display-image" onload="$(this).prev().removeAttr('required');" /> 
                                                                <input type="hidden" name="competitionimage_hidden" class="form-control" value="{{ competition.media_url }}" /> 

                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                 <div class="col-lg-2">
                                                    <label>Status</label>
                                                </div>
                                                <div class="col-lg-4">

                                                    {% set com_status_active = '' %}
                                                    {% set com_status_inactive = '' %}
                                                    {% if competition is defined and competition is not empty %}
                                                        {% for comp in competition %}
                                                            {% if comp.language_id == lang.language_master_id %}
                                                                {% if comp.status == 'active' %}
                                                                    {% set com_status_active = 'checked' %}
                                                                {% endif %}
                                                                {% if comp.status == 'inactive' %}
                                                                    {% set com_status_inactive = 'checked' %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}

                                                    <label class="radio-inline">
                                                        <input type="radio" name="status" required="" value="active" {{ com_status_active }}>Active
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="status" required="" value="inactive" {{ com_status_inactive }}> Inactive
                                                    </label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label>Draw Date</label>
                                                </div>

                                                {% set award_date = '' %}
                                                {% if competition is defined and competition is not empty %}
                                                    {% for comp in competition %}
                                                        {% if lang.language_master_id == comp.language_id %}
                                                            {% set award_date = comp.competition_award_date %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}

                                                <div class="col-lg-4">
                                                    <input id="award_date" type="text" name="competition_award_date" class="form-control datepicker" value="{{ award_date }}" />
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Start Date</label>
                                                </div>

                                                {% set start_date = '' %}
                                                {% if competition is defined and competition is not empty %}
                                                    {% for comp in competition %}
                                                        {% if lang.language_master_id == comp.language_id %}
                                                            {% set start_date = comp.start_date %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}

                                                <div class="col-lg-4">
                                                    <input id="start_date" type="text" name="start_date" class="form-control datepicker" value="{{ start_date }}"  required/>
                                                </div>
                                           
                                                <div class="col-lg-2">
                                                    <label>End Date</label>
                                                </div>

                                                {% set end_date = '' %}
                                                {% if competition is defined and competition is not empty %}
                                                    {% for comp in competition %}
                                                        {% if lang.language_master_id == comp.language_id %}
                                                            {% set end_date = comp.end_date %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}

                                                <div class="col-lg-4">
                                                    <input id="end_date" type="text" name="end_date" class="form-control datepicker" value="{{ end_date }}" required />
                                                </div>
                                            </div>
                                            {# {% set short_description = '' %}
                                            {% if competition is defined and competition is not empty %}
                                                {% for comp in competition %}
                                                    {% if lang.language_master_id == comp.language_id %}
                                                        {% set short_description = comp.short_description %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Short Description</label>
                                                </div>
                                                <div class="col-lg-10">
                                                    <textarea id="short_description" class="ckeditor" name="short_description">{{ short_description }}</textarea>
                                                </div>
                                            </div> #}
											<input type="hidden" name="short_description" value="">

                                            {% set description = '' %}
                                            {% if competition is defined and competition is not empty %}
                                                {% for comp in competition %}
                                                    {% if lang.language_master_id == comp.language_id %}
                                                        {% set description = comp.description %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Description</label>
                                                </div>
                                                <div class="col-lg-10">
                                                    <textarea id="editor1" name="description" class="ckeditor">{{ description }}</textarea>
                                                </div>
                                            </div>

                                        

                                            <hr />
                                            <div class="row" align="center">
                                                <div class="col-lg-10 col-lg-offset-2">
                                                    <div class="col-lg-6">
                                                        <button type="submit" class="btn btn-primary save-btn" name="add">Save</button>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <a href="{{ path('admin_competition_index') }}" class="btn btn-default cancel-btn">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                {% endfor %}

                                <div class="tab-pane" id="media">
                                    <div class="box-body form-horizontal">
                                        {# File upload plugin html code : START #}
                                        <form id="fileupload" method="POST" enctype="multipart/form-data">
                                            <div class="row fileupload-buttonbar">
                                                <div class="col-lg-7">
                                                    <span class="btn btn-success fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        <span>Add files...</span>
                                                        <input type="file" name="files[]" multiple>
                                                    </span>
                                                    <!-- The global file processing state -->
                                                    <span class="fileupload-process"></span>
                                                </div>

                                                <div class="col-lg-5 fileupload-progress">
                                                    <!-- The global progress bar -->
                                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                                    </div>
                                                    <!-- The extended global progress state -->
                                                    <div class="progress-extended">&nbsp;</div>
                                                </div>
                                            </div>
                                            <table role="presentation" class="table table-striped">
                                                <tbody class="files">
                                                    {% if competition[0].media_library_master is defined and competition[0].media_library_master is not empty %}
                                                        {% for media in competition[0].media_library_master %}
                                                            <tr id="remove_{{ media.main_media_id }}" class="">
                                                                <td>
                                                                    <span class="preview">
                                                                        <a data-fancybox="images"    title="{{media.media_name}}" href="{{live_path}}{{media.media_location}}/{{media.media_name}}">
                                                                            <div class="col-md-4">
																				<img class="res-menu-img img-responsive img-thumbnail" src="{{live_path}}{{media.media_location}}/{{media.media_name}}">
																			</div>
                                                                        </a>
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <p class="name">
                                                                        <a data-gallery="" download="{{media.media_name}}" title="{{media.media_name}}" href="{{live_path}}{{media.media_location}}/{{media.media_name}}">{{media.media_name}}</a>
                                                                    </p>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-danger delete" onclick="delete_image({{ media.main_media_id }},{{media.main_gallery_id}} );">
                                                                        <i class="glyphicon glyphicon-trash"></i>
                                                                        <span>Delete</span>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </form>
                                        {# File upload plugin html code : END #}
                                    </div>
                                   {# <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
                                        <div class="slides"></div>
                                        <h3 class="title"></h3>
                                        <a class="prev">‹</a>
                                        <a class="next">›</a>
                                        <a class="close">×</a>
                                        <a class="play-pause"></a>
                                        <ol class="indicator"></ol>
                                    </div> #}
                                </div>

                            {% endif %}

                            <script id="template-upload" type="text/x-tmpl">
                                {% verbatim %}
                                    {% for (var i=0, file; file=o.files[i]; i++) { %}

                                    <tr class="template-upload">
                                    <td>
                                    <span class="preview"></span>
                                    </td>
                                    <td>
                                    <p class="name">{%=file.name%}</p>
                                    <strong class="error text-danger"></strong>
                                    </td>
                                    <td>
                                    <p class="size">Processing...</p>
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                                    </td>
                                    <td>
                                    {% if (!i && !o.options.autoUpload) { %}
                                    <button class="btn btn-primary start" disabled>
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start</span>
                                    </button>
                                    {% } %}
                                    {% if (!i) { %}
                                    <button class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                    </button>
                                    {% } %}
                                    </td>
                                    </tr>

                                    {% } %}
                                {% endverbatim %}
                            </script>

                            <script id="template-download" type="text/x-tmpl">
                                {% verbatim %}

                                {% endverbatim %}
                            </script>

                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div>

    </section>
    <!----------- Main content : END ---------------------------------------------------------->
{% endblock %}
{% block js %}

    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>

    <script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>
    <script src="{{asset('bundles/design/')}}plugins/iCheck/icheck.min.js"></script>

    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="{{asset('bundles/design/')}}fileupload/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{{asset('bundles/design/')}}fileupload/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="{{asset('bundles/design/')}}fileupload/js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    {#<script src="{{asset('bundles/design/')}}fileupload/js/main.js"></script>#}
    <script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>

    <script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>
	<script src="{{ asset('bundles/design') }}/js/jquery.fancybox.min.js"></script>
    <script type="text/javascript">

                                                                                                                          $(document).ready(function(){
                                                                                                                          $('.editor1cls').each(function(e){
                                                                                                                          CKEDITOR.replace(this.id);
                                                                                                                          });
                                                                                                                          $('.desabletab').attr('disabled', 'disabled');
       
                        $(".datepicker").datepicker();
        
                        });
                        /* gallery images */

                        /* end: gallery images*/

                        function check_cat(cat){
                        if (cat != '0'){
                        $(".ingred").removeClass('hide');
                        } else {
                        $(".ingred").addClass('hide');
                        }
                        }
        {% if competition is defined and competition is not empty %}
                $(function(){
                $("#example1").DataTable();
                var html = "";
                'use strict';
            $('#fileupload').fileupload    ({
                url: "{{ live_path }}/bundles/design/index.php?live_path='{{live_path}}'&temp_dir=competition-awards",
                        beforeSend: function(obj){
                        console.log(obj);
                        },
                        success: function(response){
                            console.log(response);
                        /* if(response.files[0].thumbnailUrl == undefined){
                         alert('File already exists');
                         //alert('file ' + response.files[0].name + ' already exists');
                         return false;
                         } */

                        $.ajax({
                    type: 'POST',
                            url : "{{ path('admin_competition_savecompetitiongallery')     }}",
                                data: {"img_name":response.files[0].name, 'competition_id':{{competition[0].competition_award_id}}, 'media_type_id':1},
                               // async: false,
                                dataType: 'json',
                               // xhrFields: {withCredentials: true},
                                success: function(response){
                                    console.log(response.thumbnail_path)
                                if (response != false){
                                html += '<tr class="">';
                                html += '<td>';
                                html += '<span class="preview">';
                                html += '<a data-fancybox="images" title="' + response.name + '" href="' + response.path + '">';
                                html += '<div class="col-md-4">';
								html += '<img class="res-menu-img img-responsive img-thumbnail" src="' + response.path + '" >';
                                html += '</div>';
                                html += '</a>';
                                html += '</span>';
                                html += '</td>';
                                html += '<td>';
                                html += '<p class="name">';
                                html += '<a data-gallery="" download="' + response.name + '" title="' + response.name + '" href="' + response.path + '">' + response.name + '</a>';
                                html += '</p>';
                                html += '</td>';
                                html += '<td>';
                                html += '<button class="btn btn-danger delete" onclick="delete_image(' + response.media_library_master_id + ',' + response.gallery_master_id + ');">';
                                html += '<i class="glyphicon glyphicon-trash"></i>';
                                html += '<span>Delete</span>';
                                html += '</button>';
                                //html += '<input type="checkbox" class="toggle" value="1" name="delete">';
                                html += '</td>';
                                html += '</tr>';
                                $(".files").append(html);
                                html = "";
                                }
                                },
                                error: function(error){
                                console.log(error);
                                }
                        });
                        }
                });
                $('#fileupload').fileupload(
                        'option',
                        'redirect',
                        window.location.href.replace(
                                /\/[^\/]*$/,
                                '/cors/result.html?%s'
                                )
                        );
            $('#fileupload').addClass('fileupload-processing')    ;
                var url = "{{ live_path }}/bundles/design/index.php?live_path='{{live_path}}'&temp_dir=competition-awards";
                $.ajax({
                url: url,
                        dataType: 'json',
                        context: $('#fileupload')[0]
                }).always(function () {
                $(this).removeClass('fileupload-processing');
                }).done(function (result) {
                $(this).fileupload('option', 'done')
                        .call(this, $.Event('done'), {result: result});
                });
                });
        {% endif %}

                function delete_image(main_media_id, main_gallery_id)
                {
                var answer = confirm ("Are you sure you want to delete?");
                if (answer) {
                $.ajax({
                        type: 'POST',
                        url : "{{ path('admin_competition_removecompetitionimage') }}",
                        data: {'main_media_id': main_media_id, "main_gallery_id": main_gallery_id},
                        async: false,
                        dataType: 'json',
                        success: function(response){
                            console.log(response)
                        if (response == true){
                        $('#remove_' + main_media_id).remove();
                        }
                        }
                });
                }
                }

                function readcoverimagebox(input) {
                //code
                if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
                }
                }
                function readcoverimagebox1(input) {
                //code
                if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                $('#cover_image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
                }
                }
    </script>

{% endblock %}
