{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Competition & Awards {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<style>
		.paddBottom { padding-bottom: 20px; }
		.avatar img{
		    width: 40px;
			max-width: 100%;
			height: auto;
			border: 0 none;
			border-radius: 1000px;
		}
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Competition & Awards
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Competition & Awards</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					{% if right_codes is defined and right_codes is not empty %}
						{% if 'SAA30' in right_codes %}
						<div class="box-header with-border">
							<h3 class="box-title">Competition & Awards</h3>
							<a href="{{ path('admin_competition_addcompetition') }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Competition & Award</b></a>
						</div>
						{% endif %}
					{% endif %}
					
					<div class="box-body">
						<table id="competition_list" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th hidden>Main Competition ID</th>
								<th>Cover Image</th>
								{% if languages is defined and languages is not empty %}
									{% for language in languages %}
										<th> Name : {{language.display_title }}</th>
									{% endfor %}
								{% endif %}
								<th>Award Date</th>
								<th>Status</th>
                                <th>Operations</th>
								{% if right_codes is defined and right_codes is not empty %}
									{% if 'SDA32' in right_codes %}
										<th>Delete</th>
									{% endif %}
								{% endif %}
							</thead>
							<tbody>
							{% if competition_list is defined and competition_list is not empty %}
								{% set index = 0 %}
								{% for competition in competition_list %}
								<tr>
									<td hidden></td>
									<td>
										<span class="avatar avatar-online">
										{% if competition.media_title != '' %}
											<img src="{{ asset('bundles/Resource/competition-awards/') }}{{ competition.media_title }}" />
										{%endif%}
										</span>
									</td>
									
									{% if competition.lang_wise_competition is defined and competition.lang_wise_competition is not empty %}
										{% set lan_index = 0 %}
										{% for language in languages %}
											<td>
											{% if competition.lang_wise_competition[lan_index] is defined and competition.lang_wise_competition[lan_index] is not empty %}
												{{ competition.lang_wise_competition[lan_index].competition_award_title }}
											{% endif %}
											{% set lan_index = lan_index + 1 %}
											</td>
										{% endfor %}
									{%endif%}
									
									<td>{{ competition.competition_award_date }}</td>
									
									<td>
										{% if competition.status == 'active' %}
											{% set status_label = 'Active' %}
											{% set status_class = 'success' %}
											{% set checked = 'checked' %}
										{% else %}
											{% set status_label = 'Inactive' %}
											{% set checked = '' %}
										{%endif%}
										
										<input data-on="active" class="status status_23" data-off="inactive" type="checkbox" onchange="change_status({{ competition.competition_award_id }}, {{ index }})"  data-toggle="toggle" data-size="mini" data-onstyle="success" {{ checked }}>
										
									</td>
									{% if right_codes is defined and right_codes is not empty %}
										{% if 'SUA31' in right_codes %}
										<td>
											<a class="editcompetition btn btn-info btn-xs" href="{{path('admin_competition_addcompetition',{'com_id':competition.competition_award_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="edit" onclick="return valiateEdit();">
												<i class="fa fa-pencil-square-o"></i>
											</a>
										</td>
										{% endif %}
									{% endif %}
									{% if right_codes is defined and right_codes is not empty %}
										{% if 'SDA32' in right_codes %}
											<td>
												<a class="deletecompetition btn btn-danger btn-xs" href="{{ path('admin_competition_deletecompetition', {'com_id':competition.competition_award_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="delete" onclick="return valiateDelete();">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
										{% endif %}
									{% endif %}
								</tr>
								{% set index = index+1 %}
								{% endfor %}
							{% endif %}
							</tbody>
							<tfoot>
								<th hidden>Main Category ID</th>
								<th>Cover Image</th>
								{% if languages is defined and languages is not empty %}
									{% for language in languages %}
										<th> Name : {{language.display_title }}</th>
									{% endfor %}
								{% endif %}
								<th>Award Date</th>
								<th>Status</th>
                                <th>Operations</th>
								{% if right_codes is defined and right_codes is not empty %}
									{% if 'SDA32' in right_codes %}
										<th>Delete</th>
									{% endif %}
								{% endif %}
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$('#competition_list').DataTable();
	});
	
	function valiateEdit(){
		var cnfm = confirm('Are you sure?');
		if(cnfm){
			return true;
		}
		return false;
	}
	
	function valiateDelete(){
		var cnfm = confirm('Are you sure, you want to delete?');
		if(cnfm){
			var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
			if(cnfm1){
				return true;
			}
		}
		return false;
	}
	function change_status(id, index){
		if(id != ''){
			var url = "{{ path('admin_competition_ajaxupdatecomstatus') }}";
			$.ajax({
				url: url,
				method: 'post',
				data: {'com_id' : id},
				success: function(response){
					console.log('status changed');
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
</script>
{% endblock %}