{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
<style>
	.btn_inactive{
		background : black !important;
		color : white !important;
	}
	.btn_active{
		background : #ffb220 !important;
		color : white !important;
	}
	
	#eval_images img, #invoice_images img {
		width: 100px;
		height: 100px;
		margin-right: 10px;
	}
	#eval_images i {
		margin-top: -22px;
		position: absolute;
		margin-left: 82px;
		color: #bd0f0f;
	}
	span.pip {
		display: inline-block;
	}
	.thumb {
		width:40px;
		height: 40px;
		margin: 0.2em -0.7em 0 0;
	}
	.remove_img_preview {
		position:relative;
		top:-40px;
		right:8px;
		background:black;
		color:white;
		border-radius:50px;
		font-size:0.9em;
		padding: 0 0.3em 0;
		text-align:center;
		cursor:pointer;
	}
	.remove_img_preview:before {
		content: "×";
	}
</style>
    <link rel="stylesheet" href="{{asset('bundles/design/')}}plugins/select2/select2.min.css">
   
    <div class="main-in-area">
        <div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
            {% for flashMessage in app.session.flashbag.get('success_msg') %}
                <div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error_msg') %}
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}

            <h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'151'})) }}</h1>

            <form class="form-horizontal" action="{{ path('site_restaurant_saveevaluaterestaurant') }}" method="post" enctype="multipart/form-data" onsubmit="return formvalidationCheck();">
				
				{# <!-- hide category, food-type, restaurant, search restaurant if redirected from restaurant detail page --> #}
				
				{% if restaurant_id is not defined or restaurant_id is empty %}
                <div class="form-group">
                    <label for="Select-Category" class="col-sm-3 control-label" {%if app.session.get('language_id') == "2" %} style="float:right;" {%endif%}>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'147'})) }}</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="category" id="Select-Category" onchange="getRestaurants(this);">
                            <option value="">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'147'})) }}</option>
                            {% if category_list is defined and category_list is not empty %}
                                {% for cat in category_list %}
                                    <option value="{{ cat.main_category_id }}">{{ cat.category_name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <hr>
                <div class="form-group">
				
                    <label for="Select-FoodType" class="col-sm-3 control-label" {%if app.session.get('language_id') == "2" %} style="float:right;" {%endif%}>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'149'})) }}</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="food-type" id="Select-FoodType" onchange="getRestaurants(this);" required>
                            <option value="">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'149'})) }}</option>
                            {% if foodtype_list is defined and foodtype_list is not empty %}
                                {% for foodtype in foodtype_list %}
                                    <option value="{{ foodtype.main_food_type_id }}">{{ foodtype.food_type_name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="hero-demo" class="col-sm-3 control-label" {%if app.session.get('language_id') == "2" %} style="float:right;" {%endif%}>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'95'})) }}</label>
                    <div class="col-sm-9">
                       <select id="first-disabled" required name="restaurant" class="selectpicker restaurant_Select form-control select2" data-hide-disabled="true" data-live-search="lectrue" required>
                            <option value="">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'95'})) }}</option>
                            {% if restaurant_list is defined and restaurant_list is not empty %}
                                {% for restaurant in restaurant_list %}
                                    <option value="{{ restaurant.main_restaurant_id }}">{{ restaurant.restaurant_name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <div id="otherType" style="display:none;">
                            <hr style="margin-top: 5px; margin-bottom: 5px;">
                            <input  class="form-control" autofocus type="text" name="q" placeholder="Enter Food Type">
                        </div>
                    </div>
                   
                </div>
                <hr>
                 <div class="form-group">
                    <label for="hero-demo -" class="col-sm-3 control-label" {%if app.session.get('language_id') == "2" %} style="float:right;" {%endif%}>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'61'})) }}</label>
                    {%if app.session.get('language_id') == "2" %} 
                        
                        <div class="col-sm-2">
                            <input type="button" name="add" value="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'141'})) }}" data-toggle="modal" data-target="#myModal" class="btn btn-danger" />
                        </div>
                        <div class="col-sm-7">
                           <select id="first-disabled" name="search_restaurant" class="restaurant_selection_search selectpicker restaurant_Selectsearch form-control select2" data-hide-disabled="true" data-live-search="lectrue" required>
                                <option>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'241'})) }}</option>
                                {% if restaurant_list is defined and restaurant_list is not empty %}
                                    {% for restaurant in restaurant_list %}
                                        <option value="{{ restaurant.main_restaurant_id }}">{{ restaurant.restaurant_name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <div id="otherType" style="display:none;">
                                <hr style="margin-top: 5px; margin-bottom: 5px;">
                                <input  class="form-control" autofocus type="text" name="q" placeholder="Enter Food Type">
                            </div>
                        </div>
                    {%else%}
                         <div class="col-sm-7">
                           <select id="first-disabled" name="search_restaurant" class="restaurant_selection_search selectpicker restaurant_Selectsearch form-control select2" data-hide-disabled="true" data-live-search="lectrue">
                                <option value="">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'241'})) }}</option>
                                {% if restaurant_list is defined and restaurant_list is not empty %}
                                    {% for restaurant in restaurant_list %}
                                        <option value="{{ restaurant.main_restaurant_id }}">{{ restaurant.restaurant_name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <div id="otherType" style="display:none;">
                                <hr style="margin-top: 5px; margin-bottom: 5px;">
                                <input  class="form-control" autofocus type="text" name="q" placeholder="Enter Food Type">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input type="button" name="add" value="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'141'})) }}" data-toggle="modal" data-target="#myModal" class="btn btn-danger" />
                        </div>
                        
                    {%endif%}
                   
                    
                </div>				
                <hr>
				{% else %}
					<input type="hidden" name="category" value="0">
					<input type="hidden" name="food-type" value="0">
					<input type="hidden" name="restaurant" value="{{ restaurant_id }}">
					<input type="hidden" name="search_restaurant" value="{{ restaurant_id }}">
				{% endif %}
				
<!-- Restaurant Branch Changes-->
                <hr>
                <div class="form-group">
                    <label for="hero-demo" class="col-sm-3 control-label" {%if app.session.get('language_id') == "2" %} style="float:right;" {%endif%}>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'307'})) }}</label>
                    <div class="col-sm-9">
                       <select id="first1-disabled" required name="branch" class="selectpicker branch_Select form-control" data-hide-disabled="true" data-live-search="lectrue" required>
                            <option value="">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'307'})) }}</option>
                            {% if branch_list is defined and branch_list is not empty %}
                                {% for branch in branch_list %}
                                    <option value="{{ branch.main_branch_master_id }}">{{ branch.branch_name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                   
                </div>
				<hr>
<!-- Restaurant Branch Changes ends-->				
<!-- Evaluation Type Changes-->
                <hr>		
                <div class="form-group">
					<label for="hero-demo" class="col-sm-3 control-label" {%if app.session.get('language_id') == "2" %} style="float:right;" {%endif%}>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'311'})) }}</label>
				
                    <div class="col-sm-9">
					<label href="#" class="btn btn_active" id="rate_dining">Rate Dining</label>
					<label href="#" class="btn btn_inactive" id="rate_delivery">Rate Delivery</label>
					
					<input type="hidden" value="dining" id="rate_type_value" name="evaluation_type"/>
					{#
                       <select id="evaluation_type" name="evaluation_type" class="form-control" required>
                            <option value="dining">Rate Dining</option>
                            <option value="delivery">Rate Delivery</option>
                        </select>
					#}	
                    </div>
                </div>				
				
                <hr>			
<!-- Evaluation Type Changes-->				
                <div class="form-group">
                    <label for="Rate-Restaurant" class="col-sm-3 control-label" {%if app.session.get('language_id') == "2" %} style="float:right;" {%endif%}>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'233'})) }}</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12 evaluation-rate-restaurant-block" id="level-service-div">
                                <div class="input select rating-b">
                                    <label for="level-service">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'155'})) }}</label>
                                    <select id="level-service" name="service-level">
                                        {% if level_list is defined and level_list is not empty %}
                                            {% for level in level_list %}
                                                <option value="{{ level.main_level_id }}">{{ level.level_name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 evaluation-rate-restaurant-block" id="level-dining-div">
                                <div class="input select rating-b">
                                    <label for="level-dining" >{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'157'})) }}</label>
                                    <select id="level-dining" name="dining-level">
                                        {% if level_list is defined and level_list is not empty %}
                                            {% for level in level_list %}
                                                <option value="{{ level.main_level_id }}">{{ level.level_name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
							<div class="col-sm-6 col-xs-12 evaluation-rate-restaurant-block" style="display:none" id="level-speed-div">
                                <div class="input select rating-b">
                                    <label for="level-speed" >{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'315'})) }}</label>
                                    <select id="level-speed" name="speed-level">
                                        {% if level_list is defined and level_list is not empty %}
                                            {% for level in level_list %}
                                                <option value="{{ level.main_level_id }}">{{ level.level_name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 evaluation-rate-restaurant-block" id="level-atmosphere-div">
                                <div class="input select rating-b">
                                    <label for="level-atmosphere">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'159'})) }}</label>
                                    <select id="level-atmosphere" name="atmosphere-level">
                                        {% if level_list is defined and level_list is not empty %}
                                            {% for level in level_list %}
                                                <option value="{{ level.main_level_id }}">{{ level.level_name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
							<div class="col-sm-6 col-xs-12 evaluation-rate-restaurant-block" style="display:none" id="level-packaging-div">
                                <div class="input select rating-b">
                                    <label for="level-packaging">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'313'})) }}</label>
                                    <select id="level-packaging" name="packaging-level">
                                        {% if level_list is defined and level_list is not empty %}
                                            {% for level in level_list %}
                                                <option value="{{ level.main_level_id }}">{{ level.level_name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 evaluation-rate-restaurant-block">
                                <div class="input select rating-b">
                                    <label for="level-price">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'161'})) }}</label>
                                    <select id="level-price" name="price-level">
                                        {% if level_list is defined and level_list is not empty %}
                                            {% for level in level_list %}
                                                <option value="{{ level.main_level_id }}">{{ level.level_name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 evaluation-rate-restaurant-block">
                                <div class="input select rating-b">
                                    <label for="level-cleanliness">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'163'})) }}</label>
                                    <select id="level-cleanliness" name="clean-level">
                                        {% if level_list is defined and level_list is not empty %}
                                            {% for level in level_list %}
                                                <option value="{{ level.main_level_id }}">{{ level.level_name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group upload-images">
                    <label for="files" class="col-sm-3 control-label" {%if app.session.get('language_id') == "2" %} style="float:right;" {%endif%}>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'165'})) }}</label>
                    <div class="col-sm-9">
						<input id="input01" class="form-control" type="file" name="image[]" multiple>
						<div id="eval_images">							
						</div>
					</div>
                </div>
                <hr>
                <div class="form-group upload-invoice">
                    <label for="files1" class="col-sm-3 control-label" {%if app.session.get('language_id') == "2" %} style="float:right;" {%endif%}>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'167'})) }} *</label>
                    <div class="col-sm-9">
                       {# <input class="form-control" type="file" name="invoice" id="files1" required>#}
                        <input class="form-control" type="file" name="invoice" id="input02" required>
						<div id="invoice_images">							
						</div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="Write your Comments" class="col-sm-3 control-label" {%if app.session.get('language_id') == "2" %} style="float:right;" {%endif%}>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'99'})) }}</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="comment" rows="3" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'99'})) }}" id="Write your Comments"></textarea>
                    </div>
                </div>
                <hr>
                <div class="form-group" style="color: red;font-size: larger;">
                    <center>
                        <i class="fa fa-flag" aria-hidden="true" style="color: black;"></i>
                        {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'243'})) }}
                       {# {% if app.session.get('language_id') == 1%}
                            Evaluation will not be approved without photocopy of invoice and the invoice will not be appearing in any of the gallery section
                        {%endif%} 
                        {% if app.session.get('language_id') == 2%}
                            لن تتم الموافقه على التقييم بدون صوره من الفاتوره مع العلم بانها لن تظهر للعلن في حال الموافقه على التقييم
                        {%endif%}#}
                    </center></div>
                <hr>
                <div class="form-group">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-9"><button  name="submit" {%if app.session.get('userid') == ''%} data-toggle="modal" data-target="#loginModal" type="button" {%else%} type="submit" {%endif%} class="btn btn-danger btn-lg">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button></div>
                </div>
				<input type="hidden" id="images_hidden" name="images_hidden" value="">
				<input type="hidden" id="invoice_hidden" name="invoice_hidden" value="">
            </form>

        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row signin-row">
                        <div class="col-sm-6 signin-col">
                            <h2>Signin</h2>
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" id="emaillogin" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" id="passwordlogin" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="row">
                                    <div class="col-xs-6"><a href="javascript:void(0)">Forgot Your Password?</a></div>
                                    <div class="col-xs-6"><button type="submit" id="loginBtn" class="btn btn-danger btn-block">Submit</button></div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6 signin-col">
                            <h2>New Member</h2>
                            <p>&nbsp;</p>

                            <!--<ul class="list-inline login-access">
                                    <li class="face"><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i> Log In</a></li>
                                    <li class="goog"><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i> Log In</a></li>
                            </ul>-->

                            <button type="button" class="btn btn-warning btn-lg">Create an account</button>
                        </div>
                        </br>
                        <div id="loadinglogin">
                        </div>	
                        <div id="errorlogin">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form action="" method="POST">
                <div class="modal-header">
                    <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'141'})) }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12"><input type="text" class="form-control new_rest_name" required name="new_restaurant_name" value="" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'211'})) }}" /></div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12"><input type="text" class="form-control new_rest_branchname" required name="new_restaurant_branchname" value="" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'213'})) }}" /></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success save_new_restaurant">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'215'})) }}</button>
                </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block js%}
    <script type="text/javascript" src="{{ asset('bundles/site') }}/js/bootstrap-filestyle.min.js"></script>
    <script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
    <script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>
    <script type="text/javascript">	
		var global_new_branch_html = '';
		var global_new_branch_id = 0;
		
		
		$(document).ready(function(){
			$('.restaurant_Select').change(function(){
				if($('.restaurant_Select').val() != ''){
					$('.restaurant_selection_search').select2("val", "");
				}
				$('.restaurant_selection_search').removeAttr('required');
			});
			
			$('.restaurant_selection_search').change(function(){
				if($('.restaurant_selection_search').val() != ''){
					$('.restaurant_Select').select2("val", "");
					$('.restaurant_Select').removeAttr('required');
					$('#Select-Category').val("");
					$('#Select-FoodType').val("");
					$('#Select-FoodType').removeAttr('required');
//					$("#Select-FoodType").prepend("<option value='' selected='selected'>Select Food Type</option>");
				}
			});
		});
		
		<!-- start: preview and delete preview option -->
		var count=0;
		var image_files = [];
		function handleFileSelect(evt) {
			var $fileUpload = $("input#input01[type='file']");
			count=count+parseInt($fileUpload.get(0).files.length);
			
			/* if (parseInt($fileUpload.get(0).files.length) > 6 || count>5) {
				alert("You can only upload a maximum of 5 files");
				count=count-parseInt($fileUpload.get(0).files.length);
				evt.preventDefault();
				evt.stopPropagation();
				return false;
			} */
			var files = evt.target.files;
			for (var i = 0, f; f = files[i]; i++) {
				if (!f.type.match('image.*')) {
					continue;
				}
				var reader = new FileReader();

				reader.onload = (function (theFile) {
					return function (e) {
						var span = document.createElement('span');
						span.innerHTML = ['<img class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/><span data-name="' + theFile.name + '" class="remove_img_preview"></span>'].join('');
						document.getElementById('eval_images').insertBefore(span, null);
						//$('#images_hidden').val(theFile.name);
						image_files.push(theFile.name);
					};
				})(f);

				reader.readAsDataURL(f);
			}
		}
		
		var count=0;		
		function handleFileSelectInvoice(evt) {
			var $fileUpload = $("input#input02[type='file']");
			count=count+parseInt($fileUpload.get(0).files.length);
			
			/* if (parseInt($fileUpload.get(0).files.length) > 6 || count>5) {
				alert("You can only upload a maximum of 5 files");
				count=count-parseInt($fileUpload.get(0).files.length);
				evt.preventDefault();
				evt.stopPropagation();
				return false;
			} */
			var files = evt.target.files;
			for (var i = 0, f; f = files[i]; i++) {
				if (!f.type.match('image.*')) {
					continue;
				}
				var reader = new FileReader();

				reader.onload = (function (theFile) {
					return function (e) {
						var span = document.createElement('span');
						span.innerHTML = ['<img class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/><span data-name="' + theFile.name + '" class="remove_img_preview"></span>'].join('');
						document.getElementById('invoice_images').insertBefore(span, null);
					};
				})(f);

				reader.readAsDataURL(f);
			}
		}
		
		$('#input01').change(function(evt){
			handleFileSelect(evt);
		});
		
		$('#input02').change(function(evt){
			handleFileSelectInvoice(evt);
		});
		
		$(document).ready(function(){
			
		});
		
		$('#eval_images').on('click', '.remove_img_preview',function () {
			var rem_filename = $(this).data('name');
			$(this).parent('span').remove();
			var all_name = $('.upload-images .bootstrap-filestyle input').val();
			var all_array = all_name.split(',');
			var new_array = [];
			for(var i=0; i< all_array.length; i++){
				if(all_array[i].trim() != rem_filename.trim()){
					new_array.push(all_array[i]);
				}
			}
			if(new_array.length > 0){
				$('.upload-images .bootstrap-filestyle input').val(new_array.join())
			}
			
			var new_image_files = [];
			if(image_files.length > 0){
				for(var i=0; i<image_files.length; i++){
					console.log(image_files[i]);
					if(image_files[i] != rem_filename){
						new_image_files.push(image_files[i]);
					}
				}
				
				image_files = new_image_files;
			}
			console.log(image_files);
			count--;
		});
		
		$('#invoice_images').on('click', '.remove_img_preview',function () {
			var rem_filename = $(this).data('name');
			$(this).parent('span').remove();
			$('#input02').val('');
			$('.upload-invoice .bootstrap-filestyle input').val('');
			count--;
		});
		
		<!-- end: preview and delete preview option -->
		
		function formvalidationCheck(){
			$('#images_hidden').val(image_files.join());
		
			var restaurant_id =  $('.restaurant_Select').val();
            if(restaurant_id == 0 || restaurant_id == null || restaurant_id == ""){
                alert("Please Select Restaurant");
                return false ;                
            }    
            else{
                return true ;
            }   
            return true ;
        }
		
		/*var glob = '';
		$(document).ready(function() {
		  if (window.File && window.FileList && window.FileReader) {
			$("#input01").on("change", function(e) {
			  var files = e.target.files,
				filesLength = files.length;
		      var glob = files;
			  for (var i = 0; i < filesLength; i++) {
				var f = files[i]
				var fileReader = new FileReader();
				fileReader.onload = (function(e) {
				  var file = e.target;
				  $('#eval_images').append("<span class=\"pip\">" +
					"<img class=\"\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
					"<br/><i data-name=\'"+ file.name +"'\ class=\"fa fa-times remove\"></i>" +
					"</span>");
					image_files.push(file.name);
				  $(".remove").click(function(){
					console.log(image_files);
					$(this).parent(".pip").remove();
				  });
				});
				fileReader.readAsDataURL(f);
			  }
			});
		  } else {
			alert("Your browser doesn't support to File API")
		  }
		});*/
		
		
        {% if app.session.get('language_id') == 1 %}
            $('#input02').filestyle({
                    text : 'Choose Files',
                    dragdrop: false
            });
            $('.group-span-filestyle').css('background', '#EEEEEE');
            $('.group-span-filestyle').css('border-color', '#CCCCCC');
            $('.group-span-filestyle').css('border-style', 'outset');
       {%else%}
            $('#input02').filestyle({
                    text : 'تحميل الفاتورة',
                    dragdrop: false
            });
            $('.group-span-filestyle').css('background', '#EEEEEE');
            $('.group-span-filestyle').css('border-color', '#CCCCCC');
            $('.group-span-filestyle').css('border-style', 'outset');           
        {%endif%}
            
        {% if app.session.get('language_id') == 1 %}
            $('#input01').filestyle({
                    text : 'Choose Files',
                    dragdrop: false
            });
            $('.group-span-filestyle').css('background', '#EEEEEE');
            $('.group-span-filestyle').css('border-color', '#CCCCCC');
            $('.group-span-filestyle').css('border-style', 'outset');
       {%else%}
            $('#input01').filestyle({
                    text : 'تحميل الصور',
                    dragdrop: false
            });
            $('.group-span-filestyle').css('background', '#EEEEEE');
            $('.group-span-filestyle').css('border-color', '#CCCCCC');
            $('.group-span-filestyle').css('border-style', 'outset');           
        {%endif%}


    </script>	
		
    <script>
	
		{% for flashMessage in app.session.flashbag.get('success_msg1') %}
			{% if app.session.get('language_id') == 1 %}
				swal('',"Thank you for your valuable vote and comment","success");
			{% else %}
				swal('',"شكرا للتقييم و إبداء رأيك , مشاركتك تهمنا ","success");
			{% endif %}
		{% endfor %}
		
		{% for flashMessage in app.session.flashbag.get('error_msg1') %}
			{% if app.session.get('language_id') == 1 %}
				swal('',"Something went wrong","error");
			{% else %}
				swal('',"فشل الإتصال الرجاء المحاوله بعد فتره وجيزه","error");
			{% endif %}
		{% endfor %}
		
		{% for flashMessage in app.session.flashbag.get('already_evaluated') %}
			{% if app.session.get('language_id') == 1 %}
				swal('',"You have already evaluated the restaurant, kindly go to \'My Evaluation\' page if you wish to edit.","error");
			{% else %}
				swal('',"يرجى الذهاب لأيقونة تقاييمي إذا أردت التعديل ","error");
			{% endif %}
		{% endfor %}
	
		
        $(function () {
            
//get foot type according category.......	
	
//get foot type according category.....ends		
            $('#level-service, #level-atmosphere, #level-dining, #level-price, #level-cleanliness, #level-packaging, #level-speed').barrating();            	
            $( ".save_new_restaurant" ).click(function() {
               
              new_restaurant_name = $('.new_rest_name').val();
              new_restaurant_branchname = $('.new_rest_branchname').val();
              if(new_restaurant_name != ''){
                  console.log(new_restaurant_name);
                $.ajax({
                    url:"{{path('site_restaurant_addnewrestaurantsite')}}",
                    data: "new_restaurant_name="+new_restaurant_name+"&branch_name="+new_restaurant_branchname,
                    method: 'post',
                    success: function (response) {                        
                        res_data = JSON.parse(response);
						rest_id = res_data.new_restaurant_id;
						branch_id = res_data.new_branch_id;
                        console.log(rest_id);
                        
                        $('.restaurant_Select').append("<option value="+rest_id+" >"+new_restaurant_name+"</option>");    

						$('.branch_Select').html('');
						
                        $(".restaurant_Select").val(rest_id);
                       
						
                        $('.restaurant_Select').trigger('change');
						
						
                        $('.branch_Select').html("<option value="+branch_id+" >"+new_restaurant_branchname+"</option>");
						$('.branch_Select').val(branch_id);
						 
						$('#Select-FoodType').removeAttr('required');
                        $(".close-modal").click();
                        
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
              }
            });
        });
        $(function () {
            $(".select2").select2({
                allowClear: true,
                tokenSeparators: [','],
                 minimumResultsForSearch:4
            });
            
			
          
			

			
			
		
	
        });
		
		$('#Select-Category').change(function(){
            var category_id = $('#Select-Category').val();
            var foodtype_id = $('#Select-FoodType').val();
			// get food category
//			console.log(category_id);return;
			if(category_id == ''){
				category_id = 0 ;
 			}
			// food type..............
				var url_food_type = "getFilteredFoodtype/" + category_id;
                $.ajax({
                    url: url_food_type,
                    data: {'category_id': category_id},
                    method: 'post',
                    success: function (response) {
                        if (response != 'false') {
                            $('#Select-FoodType').html(response);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });	
			// food type.............			
		});
		
        function getRestaurants(obj) {
            var category_id = $('#Select-Category').val();
            var foodtype_id = $('#Select-FoodType').val();
			// get food category
            if (category_id != '' && foodtype_id != '') {
                var url = "getFilteredRestaurants/" + category_id + "/" + foodtype_id;
                $.ajax({
                    url: url,
                    data: {'category_id': category_id, 'foodtype_id': foodtype_id},
                    method: 'post',
                    success: function (response) {
                        if (response != 'false') {
                            $('#first-disabled').html(response);
                            if ($('#first-disabled').val() === "other") {
                                $("#otherType").slideDown()
                            } else {
                                $("#otherType").slideUp()
                            }
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            } else {
				if(category_id == ''){
					category_id = 0;
				}
                foodtype_id = 0;
                var url = "getFilteredRestaurants/" + category_id + "/" + foodtype_id;
                $.ajax({
                    url: url,
                    data: {'category_id': category_id, 'foodtype_id': foodtype_id},
                    method: 'post',
                    success: function (response) {
                        if (response != 'false') {
                            $('#first-disabled').html(response);
                            if ($('#first-disabled').val() === "other") {
                                $("#otherType").slideDown()
                            } else {
                                $("#otherType").slideUp()
                            }
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }
    </script>
	
	<script>

		//branch changes related 
				
		$(document.body).on("change","#first-disabled",function(){
//			window.confirm();
			var main_rest_id = $(this).val();
			
			if(main_rest_id != ''){

				$.ajax({
                    url: "{{path('site_restaurant_getbranchs')}}/"+main_rest_id,
                    data: {'main_rest_id': main_rest_id},
                    method: 'post',
                    success: function (response) {
                        if (response != 'false') {
						//	alert('data fetch');
                            $('#first1-disabled').html(response);
                            if ($('#first1-disabled').val() === "other") {
                             //   $("#otherType").slideDown()
                            } else {
                             //    $("#otherType").slideUp()
                            }
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });		
			
			}
			
		});
		
		
		//branch changes related ends ..	
	
		//evaluation type changes 
		
		$('#rate_dining').click(function(){
			$(this).removeClass('btn_inactive').addClass('btn_active');
			$('#rate_delivery').removeClass('btn_active').addClass('btn_inactive');
			$('#level-packaging-div').hide();
			$('#level-atmosphere-div').show();
			$('#level-packaging').val(0);
			$('#level-speed-div').hide();
			$('#level-service-div').show();
			$('#level-speed').val(0);		
			$('#rate_type_value').val('dining');	
		});
		
		$('#rate_delivery').click(function(){
			$(this).removeClass('btn_inactive').addClass('btn_active');
			$('#rate_dining').removeClass('btn_active').addClass('btn_inactive');
			$('#level-packaging-div').show();
			$('#level-atmosphere-div').hide();
			$('#level-atmosphere').val(0);
			$('#level-speed-div').show();
			$('#level-service-div').hide();
			$('#level-service').val(0);
			$('#rate_type_value').val('delivery');	
				
		});
		
		$('#evaluation_type').change(function(){
			if($(this).val() == 'delivery'){
				$('#level-packaging-div').show();
				$('#level-atmosphere-div').hide();
				$('#level-atmosphere').val(0);
				$('#level-speed-div').show();
				$('#level-dining-div').hide();
				$('#level-dining').val(0);
			}else{

				$('#level-packaging-div').hide();
				$('#level-atmosphere-div').show();
				$('#level-packaging').val(0);
				$('#level-speed-div').hide();
				$('#level-dining-div').show();
				$('#level-speed').val(0);
			
			}
			
		});
		//evaluation type ends
	</script>
{% endblock %}