{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}

<style> 
	.res-os-block {
		min-height: 215px;
	}
	.bookmark-btn {
		padding: 5px 10px;
		display: inline-block;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
</style> 

	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
			{% for flashMessage in app.session.flashbag.get('success_msg') %}
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('error_msg') %}
				<div class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}

			<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'207'})) }}</h1>
						
			<div class="row res-os">
				{% if restaurant_list is defined and restaurant_list is not empty %}
					{% for restaurant in restaurant_list %}
						<div id="restaurant_{{ restaurant.restaurant_master_id }}" class="col-sm-6 res-os-block">
							<div class="row">
								<div class="col-sm-4 col-xs-4 res-os-img"><img src="{{ restaurant.media_url }}" class="img-responsive img-thumbnail"></div>
								<div class="col-sm-8 col-xs-8 res-os-text">
									<h4>{{ restaurant.restaurant_name }}</h4>
									
									{{ restaurant.res_description | raw }}
									{% if restaurant.opening_date is not null %}
										<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Opening date</span> - {{ restaurant.opening_date|date("d/m/Y") }}</p>
									{% endif %}
									<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'191'})) }}</span> - {{ restaurant.timings }}</p>
                                                                     <p><i class="fa fa-map-marker" aria-hidden="true"></i> {%if restaurant.address is defined and restaurant.address is not empty %} {{restaurant.address.address_name}} {%endif%}| 
									
									{% if restaurant.gallery is defined and restaurant.gallery is not empty %}
										<a href="{{ restaurant.gallery[0] }}" data-fancybox="{{ restaurant.restaurant_id }}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'123'})) }}</a>
									{% else %}
										<a class="hide-text"></a>
									{% endif %}
									<a href="{{ path('site_restaurant_viewresevaluation', {'res_id':restaurant.restaurant_id}) }}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'183'})) }}</a>
									
									{% if restaurant.gallery is defined and restaurant.gallery is not empty %}
										{% set gallery_index = 1 %}
										{% for gallery in restaurant.gallery %}
											{% if gallery_index != 1 %}
												<a class="gallery-images-{{ restaurant.restaurant_master_id }} hide" href="{{ gallery }}" data-fancybox="{{ restaurant.restaurant_id }}">Photos</a>
											{% endif %}
											{% set gallery_index = gallery_index + 1 %}
										{% endfor %}
									{% endif %}
									
									</p>
									<p>{{ restaurant.additional_info | raw }}</p>
									<a href="javascript:void(0)" onclick="remove_bookmark({{ restaurant.restaurant_master_id }})" id="bookmark" class="bookmark-btn									btn-warning bookmark-chgns"><i class="fa fa-bookmark" aria-hidden="true"></i> <span class="bookmark-span">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'271'})) }}</span></a>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			
		</div>
	</div>
	
{% endblock %}

{% block js%}
<style>
	.hide-text, .hide-text:hover, .hide-text:visited  { color: transparent;cursor: default; }
</style>
<script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
<script>
$(function () {		
	$('#level-service, #level-atmosphere, #level-dining, #level-price, #level-cleanliness').barrating();		
});

function remove_bookmark(restaurantid){

	var cnfm = confirm("Are you sure, you want to remove bookmark");

	if(cnfm){
		var userid = "{{app.session.get('userid')}}";
		$.ajax({
			url: "{{path('site_restaurant_setbookmark')}}",
			data: {'userid':userid , 'restaurant_id': restaurantid,'status':'remove'},
			method: 'POST',
			success: function (response) {  
				$('#restaurant_' + restaurantid).remove();
			},
			error: function (error) {
				console.log(error);
			}
		});
	}
	return false;
}

function getRestaurants(obj){
	var category_id = $('#Select-Category').val();
	var foodtype_id = $('#Select-FoodType').val();
	if(category_id != '' && foodtype_id != ''){
		var url = "getFilteredRestaurants/" + category_id + "/" + foodtype_id;
		$.ajax({
			url: url,
			data: {'category_id': category_id, 'foodtype_id': foodtype_id},
			method: 'post',
			success: function(response){
				if(response != 'false'){
					$('#first-disabled').html(response);
					if($('#first-disabled').val()==="other"){
						$("#otherType").slideDown()
					} else {
						$("#otherType").slideUp()
					}
				}
			},
			error: function(error){
				console.log(error);
			}
		});
	}
}
</script>
{% endblock %}