{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
 

	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
			{% for flashMessage in app.session.flashbag.get('success_msg') %}
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('error_msg') %}
				<div class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}

			<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'13'})) }}</h1>
						
			<div class="row res-os">
				{% if restaurant_list is defined and restaurant_list is not empty %}
					{% for restaurant in restaurant_list %}
					
						<div class="col-sm-6 res-os-block">
							<div class="row">
								<div class="col-sm-4 col-xs-4 res-os-img" {%if app.session.get('language_id') == "2" %} style="float: right;" {%endif%}><img src="{{ restaurant.media_url }}" class="img-responsive img-thumbnail"></div>
								<div class="col-sm-8 col-xs-8 res-os-text">
									<h4>{{ restaurant.restaurant_name1 }}</h4>
									<h5>
									{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'309'})) }} :
									</h5>
									<p class="res-os-text" style="color:black"><strong>
										{%if restaurant.branch_list is defined and restaurant.branch_list is not empty%}
											{%for branch in restaurant.branch_list%}
												{{branch.branch_name}}</br>
											{%endfor%}
										{%endif%}
										</strong>
									</p>
									{{ restaurant.description | raw }}
									{% if restaurant.opening_date is not null %}
										<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'209'})) }} :  </span>  {{ restaurant.opening_date|date("d/m/Y") }}</p>
									{% endif %}
									<p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'191'})) }}</span> : {{ restaurant.timings }}</p>
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'175'})) }} : </span>{%if restaurant.address is defined and restaurant.address is not empty %} {{restaurant.address.address_name}} {%endif%}| 
									<p><i class="fa fa-phone" aria-hidden="true"></i> <span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'293'})) }}</span> : {{ restaurant.phone_no }}</p>
									<p><i class="fa fa-tasks" aria-hidden="true"></i><span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'295'})) }} : </span> 
										{%if restaurant.food_type is defined and restaurant.food_type is not empty%}
											{%for food_type in restaurant.food_type%}
												{{food_type.food_type_name}}
												{% if loop.last == false%}
												 ,
												{%endif%}
											{%endfor%}
										{%endif%}
									</p>
									{% if restaurant.gallery is defined and restaurant.gallery is not empty %}
										<i class="fa fa-camera" aria-hidden="true"></i> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'267'})) }} - 
										<a href="{{ restaurant.gallery[0] }}" data-fancybox="{{ restaurant.restaurant_id }}"><button type="button" class="btn btn-danger">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'123'})) }}</button></a><br>
									{% else %}
										<a class="hide-text"></a>
									{% endif %}
									{% if restaurant.status != 'open_soon'%}
										<a href="{{ path('site_restaurant_viewresevaluation', {'res_id':restaurant.restaurant_id}) }}"><button type="button" class="btn btn-danger">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'183'})) }}</button></a><br>
									{% endif %}
									{% if restaurant.gallery is defined and restaurant.gallery is not empty %}
										{% set gallery_index = 1 %}
										{% for gallery in restaurant.gallery %}
											{% if gallery_index != 1 %}
												<a class="gallery-images-{{ restaurant.restaurant_master_id }} hide" href="{{ gallery }}" data-fancybox="{{ restaurant.restaurant_id }}"><button type="button" class="btn btn-danger">Photos</button></a>
											{% endif %}
											{% set gallery_index = gallery_index + 1 %}
										{% endfor %}
									{% endif %}
									
									</p>
									<p>{{ restaurant.additional_info | raw }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			
		</div>
	</div>
	
{% endblock %}

{% block js%}
<style>
	.hide-text, .hide-text:hover, .hide-text:visited  { color: transparent;cursor: default; }
</style>
<script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
<script>
$(function () {		
	$('#level-service, #level-atmosphere, #level-dining, #level-price, #level-cleanliness').barrating();		
});
function getRestaurants(obj){
	var category_id = $('#Select-Category').val();
	var foodtype_id = $('#Select-FoodType').val();
	if(category_id != '' && foodtype_id != ''){
		var url = "getFilteredRestaurants/" + category_id + "/" + foodtype_id;
		$.ajax({
			url: url,
			data: {'category_id': category_id, 'foodtype_id': foodtype_id},
			method: 'post',
			success: function(response){
				if(response != 'false'){
					$('#first-disabled').html(response);
					if($('#first-disabled').val()==="other"){
						$("#otherType").slideDown()
					} else {
						$("#otherType").slideUp()
					}
				}
			},
			error: function(error){
				console.log(error);
			}
		});
	}
}
</script>
{% endblock %}