{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}


    <div class="main-in-area">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('success_msg') %}
                <div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error_msg') %}
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}

            <h1>Restaurant</h1>

            <div class="row res-os">
                {% if restaurant is defined and restaurant is not empty %}
                    <div class="col-sm-6 res-os-block">
                        <div class="row">
                            <div class="col-sm-4 col-xs-4 res-os-img"><img src="{{ restaurant.media_url }}" class="img-responsive img-thumbnail"></div>
                            <div class="col-sm-8 col-xs-8 res-os-text">
                                <h4>{{ restaurant.restaurant_name }}</h4>

                                {{ restaurant.description | raw }}

                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> Timing - {{ restaurant.timings }}</p>
                                <!-- <p><i class="fa fa-map-marker" aria-hidden="true"></i> Location - Salmiya | <i class="fa fa-camera" aria-hidden="true"></i> Photo Gallery - -->

                                {% if restaurant.gallery is defined and restaurant.gallery is not empty %}
                                    <a href="{{ restaurant.gallery[0] }}" data-fancybox="{{ restaurant.restaurant_master_id }}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'121'})) }}</a>
                                {% else %}
                                    <a class="hide-text" style="color:#bd0f0f">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'121'})) }}</a>
                                {% endif %}
                                <a href="{{ path('site_restaurant_viewresevaluation', {'res_id':restaurant.restaurant_master_id}) }}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'183'})) }}</a>								

                                </p>

                                <p>Rating : {{restaurant.rate}} / 5 </p>
                                <p>Points : {{restaurant.points}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}

{% block js%}
    <style>
        .hide-text, .hide-text:hover, .hide-text:visited  { color: transparent;cursor: default; }
    </style>
    <script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
    <script>
        $(function () {
            $('#level-service, #level-atmosphere, #level-dining, #level-price, #level-cleanliness').barrating();
        });
        function getRestaurants(obj) {
            var category_id = $('#Select-Category').val();
            var foodtype_id = $('#Select-FoodType').val();
            if (category_id != '' && foodtype_id != '') {
                var url = "getFilteredRestaurants/" + category_id + "/" + foodtype_id;
                $.ajax({
                    url: url,
                    data: {'category_id': category_id, 'foodtype_id': foodtype_id},
                    method: 'post',
                    success: function (response) {
                        if (response != 'false') {
                            $('#first-disabled').html(response);
                            if ($('#first-disabled').val() === "other") {
                                $("#otherType").slideDown()
                            } else {
                                $("#otherType").slideUp()
                            }
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }
    </script>
{% endblock %}