{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
<style>
.res-os-text{ margin-top: unset; }
</style>

	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
			{% for flashMessage in app.session.flashbag.get('success_msg1') %}
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('error_msg1') %}
				<div class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}

				<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'197'})) }}</h1>

			<div class="row">
			<form id="eval_search_form">
				<div class="col-md-3" {% if app.session.get('language_id') == 2 %}style="float:right;"{% endif %}>
					<div class="form-group">
						<label class="sr-only" for="Year">Year</label>
						<select class="form-control" id="Year">
							<option value='' selected>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'297'})) }}</option>
								{% set first_year = 2014%}
								{% set current_year = date('now')|date('Y')%}	
								{% for y in current_year..first_year%}
									<option value="{{y}}">{{y}}</option>
								{%endfor%}
						</select>
					</div>
				</div>
				<div class="col-md-3" {% if app.session.get('language_id') == 2 %}style="float:right;"{% endif %}>
					<div class="form-group">
						<label class="sr-only" for="hero-demo">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'139'})) }}</label>
						<input name="q" type="search" required class="form-control" id="hero-demo" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'139'})) }}" autocomplete="on">
					</div>
				</div>
				<div class="col-md-3" {% if app.session.get('language_id') == 2 %}style="float:right;"{% endif %}><button type="submit" id="eval_search_btn" class="btn btn-danger">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button></div>
			</form>	
			</div>
			<div id="eval_display">
			{% if evalresult is defined and evalresult is not empty %}
				{%for evalresult in evalresult%}  
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
							{% set status_name = ''%}
							{% if evalresult.status == 'approved'%}
								{% set status_name = render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'277'}))%}
							{%endif%}
							{% if evalresult.status == 'under_evaluation'%}
								{% set status_name = render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'279'}))%}
							{%endif%}							
							{% if evalresult.status == 'rejected'%}
								{% set status_name = render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'281'}))%}
							{%endif%}														
								<div class="col-sm-8"><h4 class="{% if evalresult.status == 'rejected'%}text-danger{%endif%}{% if evalresult.status == 'under_evaluation'%}text-warning{%endif%}{% if evalresult.status == 'approved'%}text-success{%endif%}">{% if evalresult.status == 'rejected'%}<a data-toggle="collapse" href="#collapseExamplee{{evalresult.evaluation_feedback_id}}" aria-expanded="false" aria-controls="collapseExample">{{status_name}}<span class="badge">?</span></a>{%else%}{{status_name}}{%endif%}</h4></div>
								{% if evalresult.status != 'approved'%}								
									<div class="col-sm-4 text-right"><a href="javascript:void(0)" onclick="show_edit({{evalresult.evaluation_feedback_id}})">{{render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'285'}))}}</a></div>
								{% endif%}	
							</div>
						</div>
						<div class="panel-body">
						{% if evalresult.status == 'rejected'%}
							<div class="collapse" id="collapseExamplee{{evalresult.evaluation_feedback_id}}">
								<div class="well">{{ evalresult.reject_reason}}</div>
							</div>
						{%endif%}	
						{% set rate = (evalresult.service_level + evalresult.dining_level + evalresult.price_level + evalresult.clean_level + evalresult.atmosphere_level )/5%}
							<div class="row">
								<div class="col-sm-2"><img src="{{evalresult.user_image}}" class="img-responsive img-thumbnail"></div>
								<div class="col-sm-10">
									<h3>{{ evalresult.restaurant }}</h3>	
									<h5>{{ evalresult.branch_name }}</h5>	
									<p><strong>{{render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'283'}))}} <span class="badge">{{rate}}</span></strong></p>
									<p id="comment_{{evalresult.evaluation_feedback_id}}">{{ evalresult.comments | raw }}</p>
									<div id="edit_area_{{evalresult.evaluation_feedback_id}}">
									</div>
									<ul class="list-inline-comment">
										{% if evalresult.eval_gallery is defined and evalresult.eval_gallery is not empty%}
											{%for gallery in evalresult.eval_gallery%}
												<li><a href="{{gallery.image}}" data-fancybox="comment-images"><img src="{{gallery.image}}" class="img-thumbnail"></a>
													<button class="btn btn-sm btn-danger eval_image{{evalresult.evaluation_feedback_id}}" onclick="del_img({{gallery.eval_gallery_id}})" style='display:none'>Delete</button>
												</li>											
											{% endfor%}
										{% endif%}
									</ul>
								</div>
							</div>
						</div>
					</div>
				{%endfor%}
			{%endif%}	
			</div>
		</div>
	</div>
	
{% endblock %}

{% block js%}
<style>
	.hide-text, .hide-text:hover, .hide-text:visited  { color: transparent;cursor: default; }
</style>
<script>
var update_text = "{{render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'247'}))}}";
var cancel_text = "{{render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'287'}))}}";
var submit_text = "{{render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'}))}}";
var add_img_text = "{{render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'289'}))}}";
function show_edit(eval_id){
	$('#edit_area_'+eval_id).html('');
	$('.eval_image'+eval_id).show();
	var old_comment = $('#comment_'+eval_id).text();
	var html_input = '<div class="row"><div class="form-group col-md-8">';
		html_input += '<input name="comment_edit" required class="form-control" id="comment_edit'+eval_id+'" value="'+old_comment+'"></div>';
		html_input += '<button onclick="save_edit_comment('+eval_id+')" class="btn btn-danger">'+update_text+'</button>';
		html_input += '&nbsp<button onclick="reset_view('+eval_id+')" class="btn btn-default">'+cancel_text+'</button>';
		html_input += '</div>';
		html_input += '<div class="row">';
		html_input += '<form method="POST" action="{{path("site_add_eval_img")}}" enctype="multipart/form-data" ><div class="form-group">';
		html_input += '<input type="hidden" name="eval_id" value="'+eval_id+'"><label for="files" class="btn btn-danger">'+add_img_text+'</label><input class="form-control" type="file" name="image[]" onchange="readcoverimagebox(this)" id="files" multiple required style="display:none">&nbsp;&nbsp;<button type="submit" class="btn btn-danger">'+submit_text+'</button></div>';
		html_input +='</form>';
		html_input += '<div id="display_image_preview"></div></div>';
	$('#edit_area_'+eval_id).append(html_input);	
}

function reset_view(eval_id){
	$('#edit_area_'+eval_id).html('');
	$('.eval_image'+eval_id).hide();	
}

function readcoverimagebox(input) {
	//code
	$('#display_image_preview').html('');	
	if (input.files && input.files[0]) {
		var reader = new FileReader();
		reader.onload = function (e) {
			var img_preview = '<img src="'+e.target.result+'" style="height:70px;width:90px"class="img-responsive img-thumbnail">';
			$('#display_image_preview').append(img_preview);
		}
		reader.readAsDataURL(input.files[0]);
	}
}
																
function save_edit_comment(eval_id){
//pass
	var comment_new = $('#comment_edit'+eval_id).val();
	$.ajax({
		'url':"{{path('site_edit_comment')}}",
		'method':'POST',
		'data' : {'comment_new':comment_new,'eval_id':eval_id},
		success : function(data){
			if($.trim(data) == 'edited'){
				get_eval_ajax(0);			
			}else{
				console.log('Error Occured');
			}
		},
		error : function(){
			alert('Some Error Occured');
		}
	});
}

function del_img(img_id){
	$.ajax({
		url : "{{path('site_delete_eval_img')}}",
		method : 'POST',
		data : {'img_id':img_id},
		success : function(data){
			if($.trim(data) == 'deleted'){
				get_eval_ajax(0);			
			}else{
				console.log('Error Occured');
			}			
		},
		error : function(){
			console.log('Error occured');
		}
	});
}
/*$(function () {		
	$('#level-service, #level-atmosphere, #level-dining, #level-price, #level-cleanliness').barrating();
});*/
function getRestaurants(obj){
	var category_id = $('#Select-Category').val();
	var foodtype_id = $('#Select-FoodType').val();
	if(category_id != '' && foodtype_id != ''){
		var url = "getFilteredRestaurants/" + category_id + "/" + foodtype_id;
		$.ajax({
			url: url,
			data: {'category_id': category_id, 'foodtype_id': foodtype_id},
			method: 'post',
			success: function(response){
				if(response != 'false'){
					$('#first-disabled').html(response);
					if($('#first-disabled').val()==="other"){
						$("#otherType").slideDown()
					} else {
						$("#otherType").slideUp()
					}
				}
			},
			error: function(error){
				console.log(error);
			}
		});
	}
}

$('#eval_search_btn').click(function(e){
	e.preventDefault();
	get_eval_ajax(1);	
});

function get_eval_ajax(flag){
	if(flag == 0){
		var year = '';
		var keyword = '';			
	}else{
		var year = $('#Year').val();
		var keyword = $('#hero-demo').val();	
	}

	var message_feedback = 'No match Found';
	{% if app.session.get('language_id') == 2%}
		var message_feedback = 'لا يوجد تطابق';	
	{% endif%}
	$.ajax({
		url : "{{path('site_restaurant_search_eval')}}",
		method : 'POST',
		data : {'year':year,'keyword':keyword},
		success : function(response){
			var res = JSON.parse(response);
			if(res['success'] == 1){
			if(res['html'] == ''){
				$('#eval_display').html(message_feedback);			
			}else{
				$('#eval_display').html(res['html']);			
			}

			}
		},
		error : function(){
			console.log('error occured');
		}
	});
}
</script>
{% endblock %}