{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
    <style>
        .image_slider_custom{
            max-height: inherit !important;
            max-width: fit-content !important;
            margin: auto !important;
        }   
		.liked_btn{
			color:#ffb220 !important;
		}
		.btn_inactive{
			background : black !important;
			color : white !important;
		}
        .bookmark-chgns{ border: 1px solid #ffb220 !important; }
        .bookmark-chgns span{ color: #fff !important; }
        .bookmark-chgns i{ color: #fff !important; }
        .bookmark-chgns:hover{
            border: 1px solid #808080 !important;
        }
        .bookmark-chgns:hover .fa-bookmark{
            color: #808080 !important;
        }
        .bookmark-chgns:hover .bookmark-span{
            color: #808080 !important;
        }
        .bx-covor-img{
            width: 100% !important;
            height: 317px !important;
        }
		.admin-comments {
			float: right;
			width: 100%;
			padding-top: 10px;
		}
		.user-default{
			width: 60px;
		}
		.evaluation-cont-reviews .media .media-left a img {
			max-height: 82px;
			max-width: 60px;
			height: 57px;
		}
		.admin-cmt {
			padding-top: 9px;
			/* text-align: right; */
		}
		.fillpadd-right {
			padding-right: 0px;
			padding-left: 2px;
		}
		.evaluation-cont-reviews {
			/*width: 50%;*/
		}
		.fillpadd-ar{
			padding-right: 6px;
		}
		.fillpadd-left-ar {
			padding-left: 10px;
		}
    .admin-cmt-ar {
      float: right;
      text-align: end;
      margin-right: 8.33%;
      padding-left: 7px;
    }
    .paginator {
			background: #bd0f0f;
			color: #fff;
			padding: 1px 7px 1px 7px;
		}
		.paginator:focus{
			color: #fff;
		}
		.paginator:hover {
			color: #bd0f0f;
			background: transparent;
			border: 1px solid #bd0f0f;
			transition: background-color .3s;
		}
		.paginator.active {
			opacity: 0.5;
			cursor: not-allowed;
		}
		.paginator.active:hover{
			border: unset;
			color: #fff;
			background: #bd0f0f;
		}
    </style>
{#    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
#}    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFK7DLPAtf-SeArqQwkejj2phNBKA1l30&callback=myMap"></script>
    <script>
    function myMap() {
      var mapProp= {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:5,
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }
    </script>
    <div class="main-in-area" style="overflow:hidden;">
        <div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
            {% for flashMessage in app.session.flashbag.get('success_msg') %}
                <div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error_msg') %}
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}


            {% if restaurant is defined and restaurant is not empty %}

                <div class="main-in-area">
                    <div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
                        {# <h1>{{ restaurant.restaurant_name }}</h1> #}
                        <h1>{{ restaurant.restaurant_name1 }}</h1>
                        <div class="row evaluation-result-row">
                            <div class="col-sm-12">
                                <div class="evaluation-result-block ">
                                    <div class="evaluation-gallery-area">
                                        <div class="evaluation-banner" style="border:1px solid grey">
                                            <div class="logo-holder " {%if app.session.get('language_id') == "2" %} style="float: right !important;right: 16px;top: 235px;" {%endif%} ><img style="width: 150px;" src="{{ restaurant.media_url }}" class="img-thumbnail"></div>
                                                {% if restaurant.gallery is defined and restaurant.gallery is not empty %}
                                                <ul class="slider-banner">
                                                    {% for gallery in restaurant.gallery %}
                                                        <li><img src="{{gallery}}" class="img-responsive  bx-covor-img image_slider_custom"></li>
                                                        {% endfor %}
                                                </ul>
                                            {% else %}
                                                <ul class="slider-banner">

                                                    <li><img src="{{ live_path }}bundles/design/images/default_covor_image.jpg" class="img-responsive bx-covor-img"></li>

                                                </ul>
                                            {% endif %}
                                        </div>

                                        <div class="evaluation-banner-cont" {%if app.session.get('language_id') == "2" %} style="margin-top: 50px;" {%endif%}>
                                            <div class="row title">
                                                {# <div class="col-sm-5 col-sm-offset-4 col-xs-7 col-xs-offset-0" {%if app.session.get('language_id') == "2" %} style="float: right;" {%endif%}><h2>{{ restaurant.restaurant_name }}</h2></div> #}
												
												<div class="col-sm-5 col-sm-offset-4 col-xs-7 col-xs-offset-0" {%if app.session.get('language_id') == "2" %} style="float: right;" {%endif%}><h2>{{ restaurant.restaurant_name1 }}</h2></br>
												<b id="branch_name_area"><b>
												</div>
												
                                                <div class="col-sm-3 col-xs-5">
                                                    <div class="rank">
                                                        {# <span> {{restaurant.rate}}/<b>5</b></span> #}
                                                        <span id="rating_area"> {%if restaurant.rate != 0 %} {{(restaurant.rate)}}% {%else%} 0% {%endif%}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="list-inline">
                                                {% if app.session.get('userid') is not empty %}
                                                    {% if restaurant.bookmark is empty and restaurant.bookmark is not defined %}
                                                        <li><a href="javascript:void(0)" id="bookmark"  data="remove"><i class="fa fa-bookmark" aria-hidden="true"></i>  {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'235'})) }}</a></li>
                                                        {% else %}
                                                        <li><a href="javascript:void(0)" id="bookmark"{% if restaurant.bookmark %} {% if restaurant.bookmark.type == 'remove' %} data="{{restaurant.bookmark.type}}"{% else %} data="{{restaurant.bookmark.type}}" class="btn-warning bookmark-chgns"{% endif %} {% else %} data="remove" {% endif %}><i class="fa fa-bookmark" aria-hidden="true"></i> <span class="bookmark-span"> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'235'})) }}</span></a></li>
                                                        {% endif %}
                                                    {%else%}
                                                    <li data-toggle="modal" data-target="#loginModal" ><a onclick="alert('Login Please');" ><i class="fa fa-bookmark" aria-hidden="true"></i> <span class="bookmark-span"> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'235'})) }}</span></a></li>
                                                    {% endif %}
                                                    {#<li><a href="{{path("site_restaurant_evaluaterestaurant")}}"><i class="fa fa-check" aria-hidden="true"></i> Evaluate</a></li>#}
                                                <li><a href="{{path("site_restaurant_evaluaterestaurant",{'res_id':restaurant.main_restaurant_id})}}"><i class="fa fa-check" aria-hidden="true"></i>  {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'233'})) }}</a></li>

                                                {% if restaurant.reviewlist is defined and restaurant.reviewlist is not empty %}

                                                    {% set is_show = '' %}
                                                    {% for reviewlist in restaurant.reviewlist %}
                                                        {% if reviewlist  is defined and reviewlist is not empty %}
                                                            {% set is_show = 'true' %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if is_show == 'true' %}
                                                        <li><a href="javascript:void(0)" id="add-a-review"><i class="fa fa-pencil" aria-hidden="true"></i>  {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'229'})) }}</a></li>
                                                        {% endif %}
                                                    {% endif %}
												{% if restaurant.offerimage is defined and restaurant.offerimage is not empty %}
                                                <li><a href="javascript:void(0)" id="Offers"><i class="fa fa-star" aria-hidden="true"></i> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'231'})) }}</a></li>
												{% endif %}
                                                {% if app.session.get('userid') is not empty %}
                                                    {% if restaurant.addressmaster is defined and restaurant.addressmaster is not empty %}
                                                        {% if restaurant.addressmaster.lat != '' and restaurant.addressmaster.lng != '' %}
                                                            <li><a href="javascript:void(0)"><i class="fa fa-location-arrow" aria-hidden="true"></i><span  data-toggle="modal" data-target="#exampleModal">
                                                            {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'237'})) }}</span></a></li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                            <li><a href="javascript:void(0)"><i class="fa fa-location-arrow" aria-hidden="true"></i><span  data-toggle="modal" data-target="#loginModal">
                                                            {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'237'})) }}</span></a></li>
                                                {% endif %}    
                                                {% if restaurant.photo_gallery is defined and restaurant.photo_gallery is not empty %}
                                                    <li>
                                                        <a href="javascript:void(0)" id="on_photo_gallery"><i class="fa fa-camera" aria-hidden="true"></i><span>
                                                          {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'267'})) }}</span>
                                                        </a>
                                                        <div id="image_area">
                                                            {% for photo_gallery in restaurant.photo_gallery %}
                                                            <a href="{{ photo_gallery }}" class="photo-galleries hide" data-fancybox="photo_gallery">
                                                                <img src="{{ photo_gallery }}">
                                                            </a>
                                                            {% endfor %}
                                                        </div>    
                                                    </li>
                                                  {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="evaluation-cont-overview ">
                                    {#<h3>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'225'})) }}</h3>#}
                                    <div class="row">
                                        <div class="col-sm-3 col-xs-6 evaluation-cont-block">
                                            <h4>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'89'})) }}</h4>
                                            <p id="phone_area">{{restaurant.phone_number}}</p>
                                        </div>

                                        <div class="col-sm-3 col-xs-6 evaluation-cont-block">
                                            <h4>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'227'})) }}</h4>
                                            <p>
                                               {# {% if restaurant.foodtypelist is defined and restaurant.foodtypelist is not empty %}
													{% set foodtype_length = restaurant.foodtypelist | length %}
                                                    {% for foodtypelist in restaurant.foodtypelist %}
                                                        {% if foodtypelist is defined and foodtypelist is not empty %}
                                                            {{foodtypelist.foodtypename}},
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %} #}
												{% if restaurant.food_type_str is defined and restaurant.food_type_str is not empty %}
													{{ restaurant.food_type_str }}
												{% endif %}
                                            </p>
                                        </div>

										<div class="col-sm-3 col-xs-6 evaluation-cont-block">
											<!-- Restaurant Timing -->
											<h4>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'303'})) }}</h4>
											<p id="timing_area">
												{% if restaurant.timing is defined and restaurant.timing is not empty %}
													{{ restaurant.timing }}
												{% endif %}
											</p>
										</div>
										
                                        <div class="col-sm-3 col-xs-6 evaluation-cont-block">
                                            <h4>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'175'})) }}</h4>
                                            <p id="adress_area">
                                                {% if restaurant.addressmaster is defined and restaurant.addressmaster is not empty %}
                                                    {% set address = restaurant.addressmaster %}
                                                    <span>{{ address.address_name }}</span><br>
													{# {% if address.address_name2 is not empty %}<span>{{ address.address_name2 }}</span><br>{% endif %}
                                                    {% if address.street is not empty %}<span>{{ address.street }}</span><br>{% endif %}
                                                    {% if address.landmark is not empty %}<span>{{ address.landmark }}</span><br>{% endif %}
                                                    {% if address.pincode != 0 %}<span>{{ address.pincode }}</span><br>{% endif %} #}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
								<div class="">
									<div class="row">
                                        <div class="col-sm-3 col-xs-6 evaluation-cont-block">
										
										<div class="dropdown">
										  <button class="btn btn_inactive dropdown-toggle" type="button" data-toggle="dropdown">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'309'})) }}
										  {%if restaurant.branch_list is defined %}
											<label class="badge bdage-default">{{restaurant.branch_list | length}}</label>
										  {% endif%}
										  <span class="caret"></span></button>
										  <ul class="dropdown-menu">
										  
											{%if restaurant.branch_list is defined and restaurant.branch_list is not empty %}
												{%for branch in restaurant.branch_list%}
													<li onclick="getBranch({{branch.main_branch_master_id}})"><a href="#">{{branch.branch_name}}</a></li>
												{%endfor%}
											{%endif%}
											
										  </ul>
										</div>
                                        </div>	
									</div>		
								</div>
                                {% if restaurant.menuimage is defined and restaurant.menuimage is not empty %}
                                    <div class="evaluation-cont-menu">
                                        <h3>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'9'})) }}</h3>
                                        <div class="menu-img-row">
                                        {% if app.session.get('userid') is not empty %}
                                            {% for menuimage in restaurant.menuimage %}
                                                {% if loop.index < 5 %}
                                                    <div class="menu-img"><a href="{{menuimage}}" data-fancybox="images"><img src="{{menuimage}}"></a></div>
                                                        {% endif %}
                                                        {% if loop.index == 5 %}
                                                    <div class="menu-img "><a href="{{menuimage}}" data-fancybox="images"><img src="http://info-07/shreyak_new/bundles/design/uploads/Restoraunt-gallery/thumbnail/more.jpg"></a></div>
                                                        {% endif %}
                                                        {% if loop.index >= 5 %}
                                                    <div class="hidden">
                                                        <div class="menu-img"><a href="{{menuimage}}" data-fancybox="images"><img src="{{menuimage}}"></a></div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% if app.session.get('language_id')  == 1%}
                                                <p style="cursor:pointer" data-toggle="modal" data-target="#loginModal">Login / Register to view Menu</p>
                                            {% endif %}
                                            {% if app.session.get('language_id')  == 2%}
                                                <p style="cursor:pointer" data-toggle="modal" data-target="#loginModal" >تسجيل الدخول / سجل لعرض القائمة</p>
                                            {% endif %}
                                        {% endif %}    
                                        </div>
                                    </div>
                                {% endif %}
                                {% if restaurant.offerimage is defined and restaurant.offerimage is not empty %}
                                    <div class="evaluation-cont-offers">
                                        <h3>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'231'})) }}</h3>
                                        <div class="menu-img-row">
                                            {% for offerimage in restaurant.offerimage %}

                                                {% if loop.index < 5 %}
                                                    <div class="menu-img"><a href="{{offerimage}}" data-fancybox="images-1"><img src="{{offerimage}}"></a></div>
                                                        {% endif %}
                                                        {% if loop.index == 5 %}
                                                    <div class="menu-img "><a href="{{offerimage}}" data-fancybox="images-1"><img src="http://info-07/shreyak_new/bundles/design/uploads/Restoraunt-gallery/thumbnail/more.jpg"></a></div>
                                                        {% endif %}
                                                        {% if loop.index >= 5 %}
                                                    <div class="hidden">
                                                        <div class="menu-img"><a href="{{offerimage}}" data-fancybox="images-1"><img src="{{offerimage}}"></a></div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if restaurant.reviewlist is defined and restaurant.reviewlist is not empty %}

                                    {% set is_show = '' %}
                                    {% for reviewlist in restaurant.reviewlist %}
                                        {% if reviewlist  is defined and reviewlist is not empty %}
                                            {% set is_show = 'true' %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if is_show == 'true' %}
                                        <div id="review_area" class="evaluation-cont-reviews">
                                            <h3>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'229'})) }}</h3>
                                            {% for reviewlist in restaurant.reviewlist %}
                                                {% if reviewlist  is defined and reviewlist is not empty %}
                                                    <div class="media" style="overflow:hidden;">
                                                        <div class="media-left {% if app.session.get('language_id') == 2 %}fillpadd-left-ar{% endif %}"><a href="#"><img class="media-object img-circle" src="{{reviewlist.userimage}}"></a></div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{reviewlist.username}}</h4>
                                                            <p><strong>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'309'})) }} : 
															{{reviewlist.branch_name}}</strong></p>
                                                            <p><strong>{# Rated #}{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'305'})) }} <span class="badge">{{reviewlist.rate}}</span></strong></p>
															<p style="/*white-space:pre;*/">{% autoescape false %}{{reviewlist.userreview}}{% endautoescape %}</p>
                                                            {% if reviewlist.reviewimage is defined and reviewlist.reviewimage is not empty %}
                                                                <ul class="list-inline-comment">
                                                                    {% for reviewimage in reviewlist.reviewimage %}
                                                                        <li><a href="{{reviewimage}}" data-fancybox="comment-images{{reviewlist.username}}"><img src="{{reviewimage}}" class="img-thumbnail" style="height:auto;max-height:150px"></a></li>
                                                                            {% endfor %}
                                                                </ul>
                                                            {% endif %}
															<p class="text-right">
															{{reviewlist.created_date | date('d-m-Y')}}
															</p>

															{% if reviewlist.admin_comment is not empty %}
                                {% if restaurant is defined and restaurant is not empty %}
                              <div class="admin-comments">
																<div class="col-md-12">
																	<div class="{% if app.session.get('language_id') == 1 %}col-md-offset-1{% endif %} col-md-3 fillpadd-ar {% if app.session.get('language_id') == 2 %}admin-cmt-ar{% endif %}" {% if app.session.get('language_id') == 1 %}style="text-align: end;"{%endif%}>
																		<img src="{{ restaurant.media_url }}" class="user-default img-circle">
																	</div>
																	<div class="col-md-8 admin-cmt fillpadd-right {% if app.session.get('language_id') == 2 %}text-left{% endif %}" {% if app.session.get('language_id') == 2 %}style="float:right;text-align: start;"{% endif %}>
																		<p class="admin-txt" style="margin-bottom: 2px;"><b>{{ restaurant.restaurant_name }}</b></p>
																		{% for admin_comment in reviewlist.admin_comment %}
																			<p>
																				<span style="/*white-space:pre;*/">{{ admin_comment|raw }}</span>
																			</p>
																		{% endfor %}
																	</div>
																</div>
															</div>
															{% endif %}
                            {% endif %}

                                                        </div>
														<div class="media-left">
														<b id="liked_count_{{reviewlist.review_id}}">{{reviewlist.likes}}</b>
														{% if app.session.get('userid') is empty %}
														
														<i class="fa fa-thumbs-up" data-toggle="modal" data-target="#loginModal"  style="cursor:pointer"></i>
														{%else%}
														{%set btn_style = ''%}
														{%if reviewlist.like_by_user == 'true'%}
															{%set btn_style = "liked_btn"%}
														{%endif%}
														<i class="fa fa-thumbs-up {{btn_style}}" style="cursor:pointer" onclick="toggleLike('{{reviewlist.review_id}}','like','{{reviewlist.like_by_user}}')" id="liked_btn_{{reviewlist.review_id}}"></i>
														{%endif%}
														
                                                        <b id="disliked_count_{{reviewlist.review_id}}">{{reviewlist.dislikes}}</b>
														{% if app.session.get('userid') is empty %}
														
														<i class="fa fa-thumbs-down" data-toggle="modal" data-target="#loginModal"  style="cursor:pointer"></i>
														{%else%}
														{%set btn_style = ''%}
														{%if reviewlist.dislike_by_user == 'true'%}
															{%set btn_style = "liked_btn"%}
														{%endif%}
														<i class="fa fa-thumbs-down {{btn_style}}" style="cursor:pointer" onclick="toggleLike('{{reviewlist.review_id}}','dislike','{{reviewlist.like_by_user}}')" id="disliked_btn_{{reviewlist.review_id}}"></i>
														{%endif%}
														</div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="pagination-div text-center">
                                        {% if restaurant.page is defined and restaurant.page is not empty %}
                                            {% for page in 1..restaurant.page %}
                                                <a href="javascript:void(0);" class="paginator pagination{{ loop.index }}" onclick="pagination({{ loop.index }} , {{restaurent_id}})" data-page="{{ loop.index }}">{{loop.index}}</a>
                                            {%endfor%}
                                        {% endif %}
                                        </div>

                                    {% endif %}
                                {% endif %}

                          {% endif %}   

                            </div>
                               
                        {# <div class="col-sm-3">
                                        <div class="category-aside"><img src="http://info-07/shreyak_new//bundles/Resource/food-ad.jpg" class="img-responsive"></div>
                                </div> #}

                    </div>
                </div>
            </div>
                        
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="map" style="width: auto; height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js%}
    <style>
        .hide-text, .hide-text:hover, .hide-text:visited  { color: transparent;cursor: default; }
		.pager-num-dot{
			text-indent: -9999px;
			display: block;
			width: 10px;
			height: 10px;
			margin: 0 5px;
			outline: 0;
			background: #ffb220;
			border-radius: 5px;
		}
    </style>
    <script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
    <script>

        function pagination(page_no,rest_id){
            console.log(page_no,rest_id);
            $.ajax({
                url : "{{path('site_restaurant_getpaginationreview')}}",
                method : "POST",
                data : {'page_no':page_no , 'rest_id' : rest_id },
                success : function(data){
                    //console.log(data);
                    if($.trim(data) != '' ){
                        $('#review_area').html(data);
                    }
                },
                error : function(data){
                    concole.log('Something Went Wrong');
                }
            });
        }

		function toggleLike(review_id,operation = 'like'){
			element = $(this);
			var user_id = "{{app.session.get('user_id')}}";
			var param = {'user_id':user_id,'evaluation_id':review_id};
			$.ajax({
				url : "{{path('site_restaurant_tooglelike',{'domain':app.session.get('domain')})}}",
				data : {'user_id':user_id,'evaluation_id':review_id,'operation':operation},
				method:"POST",
				success : function(res){

                    if(res != 'false'){
                        response = JSON.parse(res);
                        liked_flag = response.liked_flag;
                        total_dislike = response.total_dislike;
                        total_like = response.total_like;

                        if(operation == 'like'){

                            if(liked_flag == 'true' || liked_flag == true){
                               console.log('liked');

                                $('#liked_btn_'+review_id).addClass('liked_btn');
                                $('#disliked_btn_'+review_id).removeClass('liked_btn');	
                                $('#liked_count_'+review_id).text(total_like.toString());
                                $('#disliked_count_'+review_id).text(total_dislike.toString());
                            }else{
                               console.log('disliked');

                                $('#liked_btn_'+review_id).removeClass('liked_btn');	
                                $('#disliked_btn_'+review_id).removeClass('liked_btn');	
                                $('#liked_count_'+review_id).text(total_like.toString());
                                $('#disliked_count_'+review_id).text(total_dislike.toString()); 
                            }

                        }

                        if(operation == 'dislike'){

                            if(liked_flag == 'true' || liked_flag == true){
    //                           console.log($('#liked_btn_'+review_id).addClass('liked_btn'));
 console.log('liked');
                                $('#disliked_btn_'+review_id).addClass('liked_btn');
                                $('#liked_btn_'+review_id).removeClass('liked_btn');
                                $('#liked_count_'+review_id).text(total_like.toString());
                                $('#disliked_count_'+review_id).text(total_dislike.toString());
                            }else{
                                 console.log('disliked');
                                $('#disliked_btn_'+review_id).removeClass('liked_btn');	
                                $('#liked_btn_'+review_id).removeClass('liked_btn');
                                $('#liked_count_'+review_id).text(total_like.toString());
                                $('#disliked_count_'+review_id).text(total_dislike.toString()); 
                            }

                        }


                    }
/*					if($.trim(res) == 'liked'){
                        
                        if(operation == 'like'){
                            $('#liked_btn_'+review_id).addClass('liked_btn');
                            var likes = parseInt($('#liked_count_'+review_id).text()) + 1;
                            $('#liked_count_'+review_id).text(likes);
                        }

					}else{
                        if(operation == 'like'){
                            $('#liked_btn_'+review_id).removeClass('liked_btn');	
                            var likes = parseInt($('#liked_count_'+review_id).text()) - 1;
                            $('#liked_count_'+review_id).text(likes);		
                        }				
					} */
				},
				error : function(){
					alert('Something went wrong');
				}
				
				
			});
		}
		
      $(document).ready(function(){

		/* slider width issue */
		$('.bx-pager').removeClass('bx-default-pager');
		$('.bx-pager').css('z-index', '9999');
		$('.bx-pager-link').each(function(){
			$(this).addClass('pager-num-dot');
		});

        $('#on_photo_gallery').click(function(){
          $('.photo-galleries').first().trigger('click');
        });
      });
                                                 $(function () {
                                                     $('#level-service, #level-atmosphere, #level-dining, #level-price, #level-cleanliness').barrating();
                                                 });
                                                 function getRestaurants(obj) {
                                                     var category_id = $('#Select-Category').val();
                                                     var foodtype_id = $('#Select-FoodType').val();
                                                     if (category_id != '' && foodtype_id != '') {
                                                         var url = "getFilteredRestaurants/" + category_id + "/" + foodtype_id;
                                                         $.ajax({
                                                             url: url,
                                                             data: {'category_id': category_id, 'foodtype_id': foodtype_id},
                                                             method: 'post',
                                                             success: function (response) {
                                                                 if (response != 'false') {
                                                                     $('#first-disabled').html(response);
                                                                     if ($('#first-disabled').val() === "other") {
                                                                         $("#otherType").slideDown()
                                                                     } else {
                                                                         $("#otherType").slideUp()
                                                                     }
                                                                 }
                                                             },
                                                             error: function (error) {
                                                                 console.log(error);
                                                             }
                                                         });
                                                     }
                                                 }

                                                 $("#bookmark").click(function () {
                                                     var type = $("#bookmark").attr("data");
                                                     console.log(type);
                                                     var userid = "{{app.session.get('userid')}}";
													 
													 var restaurantid = '';
													 {% if restaurant is defined and restaurant is not empty %}
														{% if restaurant.main_restaurant_id is defined and restaurant.main_restaurant_id is not empty %}
															restaurantid = "{{ restaurant.main_restaurant_id}}";
														{% endif %}
														
														if(restaurantid == ''){
															return false;
														}
													
														 if (restaurantid == '0') {
															 restaurantid = "{{ restaurant.restaurant_master_id}}";
														 }
														 if (type == 'remove') {
															 $(this).addClass("btn-warning");
															 $(this).addClass("bookmark-chgns");
															 $('#bookmark').attr("data", "add");
															 $.ajax({
																 url: "{{path('site_restaurant_setbookmark')}}",
																 data: {'userid': userid, 'restaurant_id': restaurantid, 'status': 'add'},
																 method: 'POST',
																 success: function (response) {

																 },
																 error: function (error) {
																	 console.log(error);
																 }
															 });
														 } else {
															 $(this).removeClass("btn-warning");
															 $(this).removeClass("bookmark-chgns");
															 $('#bookmark').attr("data", "remove");

															 $.ajax({
																 url: "{{path('site_restaurant_setbookmark')}}",
																 data: {'userid': userid, 'restaurant_id': restaurantid, 'status': 'remove'},
																 method: 'POST',
																 success: function (response) {

																 },
																 error: function (error) {
																	 console.log(error);
																 }
															 });
														 }
														
													{% endif %}
                                                 });
                                                 $("#add-a-review").click(function () {
                                                     $('html, body').animate({
                                                         scrollTop: $(".evaluation-cont-reviews").offset().top
                                                     }, 700);
                                                 });
                                                 $("#Offers").click(function () {
                                                     $('html, body').animate({
                                                         scrollTop: $(".evaluation-cont-offers").offset().top
                                                     }, 700);
                                                 });




    </script>
    <script>
	{% if restaurant.addressmaster is defined and restaurant.addressmaster is not empty %}
		{% if restaurant.addressmaster.lat|replace({' ': ''}) != '' and restaurant.addressmaster.lng|replace({' ': ''}) != '' %}
        function initialize() {
			if( lat_one != '' && lng_one != ''){
			
var latlng = new google.maps.LatLng({{restaurant.addressmaster.lat}},{{restaurant.addressmaster.lng}} );
            var map = new google.maps.Map(document.getElementById('map'), {
                center: latlng,
                zoom: 13
            });
            var marker = new google.maps.Marker({
                map: map,
                position: latlng,
                draggable: false,
                anchorPoint: new google.maps.Point(0, -29)
            });
            var infowindow = new google.maps.InfoWindow();
            google.maps.event.addListener(marker, 'click', function () {
                var iwContent = '<div id="iw_container">' +
                        '<div class="iw_title"><b>Location</b> : Noida</div></div>';
                // including content to the infowindow
                infowindow.setContent(iwContent);
                // opening the infowindow in the current map and at the current marker location
                infowindow.open(map, marker);
            });			
			
			}
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        $('#exampleModal').on('shown.bs.modal', function () {
            initialize(); // with initializeMap function get map.

        });
		{% endif %}
	{% endif %}
	
	function getBranch(main_branch_id){
		$.ajax({
			url : "{{path('site_restaurant_viewbranch',{'domain':app.session.get('domain')})}}"+"/{{restaurent_id}}/"+main_branch_id,
			method : "POST",
			success : function(data){
                $('.pagination-div').hide();
				response = JSON.parse(data);
				console.log(data);
				$('#review_area').html('');
				$('#review_area').html(response.review_html);
				$('#rating_area').html(response.rate);
				$('#phone_area').html(response.contact_no);
				$('#timing_area').html(response.timings);
				$('#adress_area').html(response.adress_name);
				$('#branch_name_area').html(response.branch_name);
				$('#image_area').html(response.img_html);
				if(response.lat != '' && response.lng != ''){
					initialize1(response.lat,response.lng)
				}
			}
		});
	}
	
        function initialize1(lat,lng) {


            var latlng = new google.maps.LatLng(lat,lng);
            var map = new google.maps.Map(document.getElementById('map'), {
                center: latlng,
                zoom: 13
            });
            var marker = new google.maps.Marker({
                map: map,
                position: latlng,
                draggable: false,
                anchorPoint: new google.maps.Point(0, -29)
            });
            var infowindow = new google.maps.InfoWindow();
            google.maps.event.addListener(marker, 'click', function () {
                var iwContent = '<div id="iw_container">' +
                        '<div class="iw_title"><b>Location</b> : Noida</div></div>';
                // including content to the infowindow
                infowindow.setContent(iwContent);
                // opening the infowindow in the current map and at the current marker location
                infowindow.open(map, marker);
            });
        }
 //       google.maps.event.addDomListener(window, 'load', initialize1);
		
    </script>
	
{% endblock %}
