{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
<style>
.res-os-text{ margin-top: unset; }
</style>

	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
			{% for flashMessage in app.session.flashbag.get('success_msg') %}
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('error_msg') %}
				<div class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}

			{% if restaurant_name is defined and restaurant_name is not empty %}
				<h1>{{ restaurant_name }} - {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'183'})) }}</h1>
			{% endif %}
						
			<div class="row res-os">
				{% if evalresult is defined and evalresult is not empty %}
					{%for evalresult in evalresult%}
						<div class="col-sm-6 res-os-block">
							<div class="row">
								<div class="col-sm-3 col-xs-4 res-os-img">
									<img src="{{ evalresult.user_image }}" class="img-responsive img-thumbnail">
								</div>
								<div class="col-sm-9 col-xs-8 res-os-text">
									<h4>{{ evalresult.user_name }}</h4>
									<p>{{ evalresult.comments | raw }}</p>
{#									{% if evalresult.category_name is defined %}
										<span><b>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'179'})) }}:</b> {{ evalresult.category_name }}</span><br>
									{% endif %}
									{% if evalresult.food_type_name is defined %}	
										<span><b>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'181'})) }}:</b> {{ evalresult.food_type_name }}</span><br>
									{% endif %}  #}
									<span><b>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'155'})) }}:</b> {{ evalresult.service_level }}</span></br>
									<span><b>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'157'})) }}:</b> {{ evalresult.dining_level }}</span></br>
									<span><b>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'161'})) }}:</b> {{ evalresult.price_level }}</span></br>
									<span><b>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'163'})) }}:</b> {{ evalresult.clean_level }}</span></br>
									<span><b>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'159'})) }}:</b> {{ evalresult.atmosphere_level }}</span></br>
									<!-- <div class="col-md-12 rating-b">
										<select id="level-service">
											{% set j = 1 %}
											{% for i in 0..10 %}
												<option value="{{ j }}">{{ j }}</option>
												{% set j = j+1 %}
											{% endfor %}
										</select>
									</div> -->
								</div>
							</div>
							<!--<script>
								$('#level-service').barrating({
									initialRating: '8',
									readonly: 'true'
								});
							</script> -->
						</div>
					{%endfor%}
				{% endif %}
			</div>
			
		</div>
	</div>
	
{% endblock %}

{% block js%}
<style>
	.hide-text, .hide-text:hover, .hide-text:visited  { color: transparent;cursor: default; }
</style>
<script>
/*$(function () {		
	$('#level-service, #level-atmosphere, #level-dining, #level-price, #level-cleanliness').barrating();
});*/
function getRestaurants(obj){
	var category_id = $('#Select-Category').val();
	var foodtype_id = $('#Select-FoodType').val();
	if(category_id != '' && foodtype_id != ''){
		var url = "getFilteredRestaurants/" + category_id + "/" + foodtype_id;
		$.ajax({
			url: url,
			data: {'category_id': category_id, 'foodtype_id': foodtype_id},
			method: 'post',
			success: function(response){
				if(response != 'false'){
					$('#first-disabled').html(response);
					if($('#first-disabled').val()==="other"){
						$("#otherType").slideDown()
					} else {
						$("#otherType").slideUp()
					}
				}
			},
			error: function(error){
				console.log(error);
			}
		});
	}
}
</script>
{% endblock %}