{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Competition & Awards {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<style>
		.paddBottom { padding-bottom: 20px; }
		.avatar img{
		    width: 40px;
			max-width: 100%;
			height: auto;
			border: 0 none;
			border-radius: 1000px;
		}
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Site members
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Site member Highlighted evaluations</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header with-border">
                        <h3 class="box-title">Site member Highlighted evaluations</h3>
                        <!-- <a href="{{ path('admin_competition_addcompetition') }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Competition & Award</b></a> -->
                    </div>
					<div class="box-body">
						<table id="hilighted_evalutions" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th>User Image</th>
								<th>Username</th>
								<th>Comment</th>
								<th>Evaluations</th>
								<th>Created At</th>
								<th>Status</th>
                                <th>Delete</th>
							</thead>
							<tbody>
							{% if hilighted_evalutions is defined and hilighted_evalutions is not empty %}
								{% set index = 0 %}
								{% for evaluation in hilighted_evalutions %}
								<tr>
									<td>
										<span class="avatar avatar-online">
										{% if evaluation.userimage != '' %}
											<img src="{{ evaluation.userimage }}" />
										{%endif%}
										</span>
									</td>
									
									<td>{{ evaluation.username }}</td>
									
									<td>{{ evaluation.comments }}</td>
									
									<td>{{ evaluation.max_counter }}</td>
									
									<td>{{ evaluation.created_at }}</td>
									
									<td class="text-capitalize">{{ evaluation.status }}</td>
									
									<td>
										<a class="btn btn-danger btn-xs" href="{{ path('admin_sitemembers_deleteevaluation', {'user_id':evaluation.user_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title="Delete" onclick="return valiateDelete();">
											<i class="fa fa-trash-o"></i>
										</a>
									</td>
								</tr>
								{% set index = index+1 %}
								{% endfor %}
							{% endif %}
							</tbody>
							<tfoot>
								<th>User Image</th>
								<th>Username</th>
								<th>Comment</th>
								<th>Evaluations</th>
								<th>Created At</th>
								<th>Status</th>
                                <th>Delete</th>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$('#competition_list').DataTable();
	});
	
	function valiateEdit(){
		var cnfm = confirm('Are you sure?');
		if(cnfm){
			return true;
		}
		return false;
	}
	
	function valiateDelete(){
		var cnfm = confirm('Are you sure?');
		if(cnfm){
			var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
			if(cnfm1){
				return true;
			}
		}
		return false;
	}
	function change_status(id, index){
		if(id != ''){
			var url = "{{ path('admin_competition_ajaxupdatecomstatus') }}";
			$.ajax({
				url: url,
				method: 'post',
				data: {'com_id' : id},
				success: function(response){
					console.log('status changed');
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
</script>
{% endblock %}