@charset "utf-8";
/* CSS Document */



body					{font-family:'robotoregular'; font-size: 15px; color: #333333;}

h1, h2, h3, h4, h5		{color:#bd0f0f; font-family:'robotomedium';}

a						{color:#bd0f0f; text-decoration:none;}
a:hover					{color:#000000; text-decoration:none;}
a:visited				{text-decoration:none;}
a:focus,a:hover			{text-decoration:none;}

.btn					{border-radius: 0px;}
.panel					{border-radius: 0;}

label span				{color: #bd0f0f;}

.form-control 			{border-radius: 0;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
	-webkit-transition: border-color ease-in-out .0s, -webkit-box-shadow ease-in-out .0s;
	-o-transition: border-color ease-in-out .0s, box-shadow ease-in-out .0s;
	transition: border-color ease-in-out .0s, box-shadow ease-in-out .0s;}

.modal-content {
  border: none; border-radius: 0px; outline: 0;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0);}
.modal-header	{padding-top: 10px; padding-bottom: 0px; padding-left: 25px; padding-right: 25px; border-bottom: none;}
.modal-footer	{padding-top: 10px; padding-bottom: 10px; padding-left: 25px; padding-right: 25px;}
.modal-body		{padding: 40px;}


.default-padding		{padding-top: 15px; padding-bottom: 15px;}

.top-header				{background: #ffb220; position: relative;}
.menu-holder			{position: absolute; left: 2%; bottom: 10%;}

.imageThumb						{max-height: 65px; border: 1px solid #ccc; border-radius: 4px; margin: 5px 5px 0 0; padding: 1px;}


.home-top-links-row				{display: block; width: 100%;}
.home-top-links					{padding: 0; margin: 0; list-style: none; float: right; font-weight: bold; font-size: 17px;}
.home-top-links li				{display: inline-block; border-right: 1px solid #000; padding-left: 10px; padding-right: 10px;}
.home-top-links li:last-child	{border-right: none; padding-right: 0;}
.home-top-links li a 			{color: #000;}
.home-top-links li a:hover		{color: #bd0f0f; text-decoration-line: underline;}

.home-search .form-control		{border: 1px solid #ffffff; background: #ffd990; color: black; padding: 10px 12px; height: 40px;}
.home-search .btn				{padding: 10px 12px;}
.home-search .btn-default		{background: #FFFFFF; border: none; color: #bd0f0f; width: 100%; outline: none;}
.home-search .btn-default:hover	{background: #bd0f0f; color: #FFFFFF;}
.top-header .home-search		{margin-top: 15px;}
.home-search .row .search-bar	{padding-right: 0;}
.home-search .row .button-bar	{padding-left: 0;}

.loin-register-row .dropdown-menu	{right: 0; left: inherit; border-radius: 0; border: none;}
.loin-register-row .dropdown img	{width: 40px; max-width: 40px; height: 40px; max-height: 40px; background-color: white; padding: 2px;}
.loin-register-row .dropdown-menu	{padding-top: 10px; padding-bottom: 10px;}
.loin-register-row .dropdown-menu > li > a{padding-top: 7px; padding-bottom: 7px; border-bottom: 1px solid #ccc;}
.loin-register-row .dropdown-menu > li:last-child a{border-bottom: none;}

.loin-register-row				{width: 100%; margin-top: 186px; display: inline-block;}
.loin-register-row p			{padding: 0; margin-top: 0; margin-bottom: 5px; text-align: right; display: block; width: 100%; font-size: 12px;}
.loin-register					{padding: 0; margin: 0; list-style: none; width: 100%; text-align: right;}
.loin-register li				{display: inline;}
.loin-register li .btn					{padding-top: 10px; padding-bottom: 10px;}
.loin-register li .btn-default			{border: none; background: #000000; color: white;}
.loin-register li .btn-default:hover	{background: #FFFFFF; color: #000000;}
.loin-register li .btn-danger			{border: none; background: #bd0f0f; color: white;}
.loin-register li .btn-danger:hover		{background: #663300; color: white;}

.login-access			{display: block; margin-bottom: 25px; margin-left: 0;}
.login-access li a		{display: inline-block; padding: 7px 20px; color: #999999;}
.login-access li:hover  {border: 1px solid #999999; background-color: #f9f9f9;}
.login-access li 		{-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;}
.login-access .face		{border: 1px solid #3a589b;}
.login-access .goog		{border: 1px solid #d6492f;}
.login-access .face .fa-facebook	{color: #3a589b;}
.login-access .goog .fa-google-plus	{color: #d6492f;}


.banner ul 		{list-style: none; padding: 0; margin: 0;}


.food-category		{background: #bd0f0f; border-bottom: 1px solid #FFFFFF;}
.food-category .bx-wrapper	{margin: 0 auto !important;}



.slide-img img				{border: 1px solid #fff;}
.slide a:hover .slide-img img	{border: 1px solid #ffb220;}
.slide .slide-title			{margin-top: 5px;}
.slide a .slide-title 		{color: white; text-align: center;}
.slide a:hover .slide-title {color: black;}

.mid-area					{margin-top: 5px; padding-top: 25px; padding-bottom: 25px; background: url(../images/red-bg.jpg) #bd0f0f center bottom no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
.mid-area .bx-wrapper		{max-width: 100% !important; margin: 0;}
.mid-area-row				{margin-top: 120px;}
.mid-area .container		{}
.mid-area .container .row	{margin-left: 0px; margin-right: 0px;}

.mid-slide					{margin-right: 10px;}

.mid-area .container h2 				{text-align: center; color: white; text-transform: uppercase;}
/*.mid-area .container .bx-viewport		{height: auto !important;} */
.top-restaurant .bx-viewport		{height: auto !important;}


.evel-block			{background: url(../images/title-shadow.jpg) center 40px no-repeat #ffffff; padding-left: 10%; padding-right: 10%; padding-bottom: 5%; padding-top: 15%; position: relative;}
.evel-block h3		{text-transform: uppercase;}

.evel-block-img			{position: absolute; left: 0; top: -25%; right: 0; margin: 0 auto; width: auto; text-align: center; -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; -webkit-transform: translateZ(0); transform: translateZ(0);}
.evel-block-img img		{border: 1px solid #fff; -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2); -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2); box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);}


.evel-block:hover .evel-block-img,
.evel-block:focus .evel-block-img,
.evel-block:active .evel-block-img 	{-webkit-transform: translateY(-7px);  transform: translateY(-7px);}


.evel-block .evel-cate			{margin: 0; margin-top: 35px; padding: 0; list-style: none; text-transform: uppercase;}
.evel-block .evel-cate li		{padding-top: 5px; padding-bottom: 5px;}
.evel-block .evel-cate li .fa 		{margin-right: 5px;}
.evel-block .evel-cate li .col-a	{color: #cb000e;}
.evel-block .evel-cate li .col-b	{color: #f6ab27;}
.evel-block .evel-cate li .col-c	{color: #0beec1;}
.evel-block .evel-cate li .col-d	{color: #66b7fc;}
.evel-block .evel-cate li .col-e	{color: #a63ef6;}

.evel-block .mid-graph img 			{display: block; margin: 0 auto;}


.main-cont-area						{padding-top: 35px; padding-bottom: 35px; background: url(../images/table-bg.jpg) center bottom no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

.main-cont-area-block				{}

.main-cont-area .eve-top-5			{background: #FFFFFF;}
.main-cont-area .eve-top-5 h2		{margin: 0; padding:20px 0; text-align: center; background: #bd0f0f; color: white; text-transform: uppercase;}
.main-cont-area .eve-top-5-block	{background: #FFFFFF; padding:10px;}
.eve-top-5-block-row				{margin-bottom: 4px; text-transform: uppercase;}
.eve-top-5-block-row img			{border: 1px solid #ccc;}
.eve-top-5-block-row:last-child		{margin-bottom: 0px;}

.eve-top-5-name			{font-size: 17px; text-transform: uppercase; padding-top: 5px;}

.new-dishes				{background: #bd0f0f; padding: 5% 0; text-align: center; position: relative;}
.new-dishes h2			{color: white; font-family:'robotoblack'; font-size: 48px;  margin: 0;}
.new-dishes h2 span		{color: white; font-family: 'robotothin';}
.new-dishes-img			{}

.new-dishes::after		{content: ''; position: absolute; left: 50%; margin-left: -15px; top: 100%; width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid  transparent; border-top: 15px solid #bd0f0f; clear: both;}

.comment-block				{margin-top: 25px;}
.comment-block .bx-wrapper	{max-width: 100% !important; margin: 0;}
.comment-block .title		{color: black; text-transform: uppercase; margin-bottom: 15px; border-bottom: 1px solid #bd0f0f;}

.comment-block-holder		{background: #FFFFFF; padding: 5%; text-align: center;}
.comment-block-holder h3	{text-transform: uppercase;}

.member-evaluation .media-body h4			{text-transform: uppercase;}

.footer .footer-a			{background: #1d1d1d;}
.footer .footer-b			{background: #bd0f0f; color: white; font-size: 85%;}
.footer .footer-b .list-inline	{margin-bottom: 0;}

.footer .footer-a .footer-a-border			{border-bottom: 1px solid #bd0f0f;}
.footer .footer-a .list-inline				{text-align: center;}
.footer .footer-a .list-inline li 			{margin-left: 7px; margin-right: 7px;}
.footer .footer-a .list-inline li a			{color: #cccccc;}
.footer .footer-a .list-inline li a:hover	{color: #bd0f0f;}

.footer .footer-b a			{color: white;}
.footer .footer-b a:hover	{color: black;}

.footer-a-sm				{margin-top: 10px;}

.traffic-value				{padding: 20px; background: #FFFFFF; text-align: center; text-transform: uppercase;}
.traffic-value h2			{margin: 0; padding: 0; display: block;}
.traffic-value span			{margin: 0; padding: 0; display: block;}

.signin-col h2				{margin-top: 0; padding-top: 0; padding-bottom: 5px; color: black; border-bottom: 1px solid #bd0f0f;}
.btn-danger					{background-color: #bd0f0f;}
.btn-warning				{background-color: #ffb220;}


.main-in-area				{padding-top: 25px; padding-bottom: 25px;}
.main-in-area h1 			{margin-top: 0; margin-bottom: 20px; padding-bottom: 5px; border-bottom: 1px solid #ccc;}

#image-preview				{width: 150px; height: 150px; position: relative; overflow: hidden; background-color: #ffffff; color: #ecf0f1; border: 1px solid #ccc;}
#image-preview input		{line-height: 150px; font-size: 150px; position: absolute; opacity: 0; z-index: 10;}
#image-preview label		{position: absolute; z-index: 5; cursor: pointer; background-color: #bd0f0f; width: 150px; height: 50px; line-height: 50px; text-transform: uppercase; top: 0; left: 0; right: 0; bottom: 0; margin: auto; text-align: center;}

.imagediv						{}
.imagediv .showonhover			{background:#bd0f0f; padding:10px 20px; color:white; cursor:pointer;}
.imagediv .showonhover:hover	{background:#666666;}



.filters-row					{}
.filters-row h3					{margin-top: 0; color: black;}
.filters-row h4					{margin-top: 0; margin-bottom: 5px;}
.filters-row ul 				{list-style: none; padding: 0;}
.filters-row ul li a			{color: #808080;}
.filters-row ul li a:hover		{color: #000000;}


.category-aside					{margin-left: 10%;}

.main-rest-category-row			{border-bottom: 1px solid #e5e5e5; padding-bottom: 25px; padding-top: 25px;}
.main-rest-category-row:first-child			{padding-top: 0px;}
.main-rest-category-row:last-child	{border-bottom: 0px solid #e5e5e5;}

.main-category-listing			{position: relative;}
.main-category-listing h3		{margin-top: 0px; margin-bottom: 5px;}
.main-category-listing h5		{margin-bottom: 5px;}
.main-category-listing p		{margin-bottom: 5px;}
.main-category-listing .table	{margin-bottom: 0px;}
.main-category-listing .rank		{position: absolute; width: auto; right: 0; top: 0; line-height: normal;}
.main-category-listing .rank span	{background-color: #ffb220; color: #1d1d1d; padding: 2px 7px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-family:'robotobold'; font-size: 20px; display: inline-block;}
.main-category-listing .rank p		{font-size: 12px; margin: 0 0 0 2px; display: inline-block;}

.main-rest-category-row	.rest-logo-holder img				{border: 1px solid #e5e5e5;}

.main-category-listing .table > tbody > tr > td 		{padding:1px 4px; border: none;}
.main-category-listing .table > tbody > tr > td strong 	{font-weight: normal; color: #999999;}

.outlet-row		{}
.outlet-row .outlet-col .outlet-img-holder img			{border: 1px solid #e5e5e5;}
.outlet-row .outlet-col .outlet-text-holder				{padding-top: 20px;}



.evaluation-banner					{position: relative;}
.evaluation-banner .slider-banner	{list-style: none; padding: 0; margin: 0;}

.evaluation-banner .logo-holder		{position: absolute; left: 20px; bottom: -50px; width: auto; z-index: 1;}

.evaluation-banner-cont,
.evaluation-cont-overview,
.evaluation-cont-review,
.evaluation-cont-reviews,
.evaluation-cont-menu,
.evaluation-cont-offers,
.evaluation-rate-restaurant			{padding: 2%; background-color: #fcfcfc;}

.evaluation-banner-cont h2			{margin-top: 0; margin-bottom: 0;}
.evaluation-banner-cont .rank			{width: auto; right: 20px; top: 20px; line-height: normal; text-align: right;}
.evaluation-banner-cont .rank span		{background-color: #ffb220; color: #1d1d1d; padding: 2px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-family:'robotobold'; font-size: 30px; display: inline-block; width: auto;}
.evaluation-banner-cont .rank span b	{color: #c3891a; font-size: 24px; }
.evaluation-banner-cont .rank p			{font-size: 11px; margin: 0; display: inline-block;  width: 100%; color: #999999;}

.evaluation-banner-cont .title			{margin-bottom: 10px;}

.evaluation-banner-cont .list-inline		{margin-bottom: 0;}
.evaluation-banner-cont .list-inline li a	{padding: 5px 10px; border: 1px solid #808080; color: #808080; display: inline-block; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.evaluation-banner-cont .list-inline li a:hover{background-color: #e5e5e5;}

.rate-tool .list-inline				{margin-bottom: 0; font-size: 0;}
.rate-tool .list-inline li 			{padding-left: 2px; padding-right: 2px;}
.rate-tool .list-inline li a		{background-color: #cacaca; color: white; border: none; font-size: 16px; padding: 5px 10px; display: inline-block; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.rate-tool .list-inline li a:hover	{background-color: #bd0f0f;}

.rate-tool h3						{margin-top: 0;}			

.evaluation-cont-overview			{margin-top: 10px;}
.evaluation-cont-overview h3		{margin-top: 0; margin-bottom: 15px;}
.evaluation-cont-block h4 			{color: black; margin-bottom: 5px; margin-top: 0;}
.evaluation-cont-block h4 small		{color: green;}
.evaluation-cont-block p 			{margin-bottom: 20px;}
.evaluation-cont-block p:last-child,
.evaluation-cont-block ul:last-child{margin-bottom: 0;}
.evaluation-cont-block ul 			{margin-bottom: 20px; padding-left: 25px;}

.evaluation-cont-review				{margin-top: 10px;}
.evaluation-cont-review h3			{margin-top: 0; margin-bottom: 15px;}

.evaluation-cont-reviews			{margin-top: 10px;}
.evaluation-cont-reviews h3			{margin-top: 0; margin-bottom: 15px;}
.evaluation-cont-reviews .badge 	{font-size: 13px; font-weight: normal; background-color: #ffb220; color: black;}

.evaluation-cont-reviews .media .media-left a img		{max-height: 65px; max-width: 65px;}
.evaluation-cont-reviews .media		{padding-top: 20px; padding-bottom: 20px; margin-top: 0; border-bottom: 1px solid #e5e5e5;}
.evaluation-cont-reviews .media:last-child		{border-bottom: none; padding-bottom: 0;}
.evaluation-cont-reviews .media .media-body p:last-child{margin-bottom: 0;}

.evaluation-cont-menu			{margin-top: 10px;}
.evaluation-cont-menu h3		{margin-top: 0; margin-bottom: 15px;}
.evaluation-cont-menu .menu-img-row					{}
.evaluation-cont-menu .menu-img-row .menu-img			{height: 150px; width:auto; overflow: hidden; display: inline-block;}
.evaluation-cont-menu .menu-img-row .menu-img:nth-child(5n) {margin-right: 0;}
.evaluation-cont-menu .menu-img-row .menu-img img		{max-height: 150px; min-height: 150px; min-width: 150px; max-width: 150px; border: 1px solid #ccc; padding: 2%;}

.evaluation-cont-offers			{margin-top: 10px;}
.evaluation-cont-offers h3		{margin-top: 0; margin-bottom: 15px;}
.evaluation-cont-offers .menu-img-row					{}
.evaluation-cont-offers .menu-img-row .menu-img			{height: 150px; width:auto; overflow: hidden; display: inline-block;}
.evaluation-cont-offers .menu-img-row .menu-img:nth-child(5n) {margin-right: 0;}
.evaluation-cont-offers .menu-img-row .menu-img img		{max-height: 150px; min-height: 150px; min-width: 150px; max-width: 150px; border: 1px solid #ccc; padding: 2%;}


.evaluation-rate-restaurant			{margin-top: 10px;}
.evaluation-rate-restaurant h3		{margin-top: 0; margin-bottom: 15px;}
.evaluation-rate-restaurant-block h4{margin-top: 0; line-height: normal; color: black;}
.evaluation-rate-restaurant-block	{margin-bottom: 20px;}
.evaluation-rate-restaurant-block:last-child	{margin-bottom: 0px;}
.evaluation-rate-restaurant-block .badge	{font-size:18px; font-weight: normal; border-radius: 25px; background-color: #ffb220; color: black;}


.rating-b .bar-rating					{height: auto; width: auto;}
.rating-b .bar-rating a					{display: inline-block; width: 44px; height: 26px; margin-right: 2px; background-color: #e5e5e5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.rating-b .bar-rating a:last-child  		{margin-right: 0;}
.rating-b .bar-rating a.active,
.rating-b .bar-rating a.selected		{background-color: #ffb220;}
.rating-b .bar-rating .current-rating	{color: #646464; display: inline-block; margin-left: 5px; vertical-align: super;}

.rest-cat-holder				{}
.rest-cat-block					{padding: 10px; text-align: center;}
.rest-cat-block .img-holder		{margin-bottom: 10px;}
.rest-cat-block .text-holder	{font-family:'robotobold'; font-size: 13px;}

.list-inline-comment			{list-style: none; margin: 0; padding: 0;}
.list-inline-comment li			{display: inline-block; width: 15%; vertical-align: bottom;}
.list-inline-comment li img		{width: 100%;}

.ask-community-qa-search		{padding: 10px; background-color: #f2f2f2; border: 1px solid #e5e5e5; margin-bottom: 25px;}

.ask-community-qa				{padding: 15px; background-color: #fff7e8; border: 1px solid #ffd88f; margin-bottom: 25px;}
.ask-community-qa .form-control	{border-color: #ffd179;}

.ask-community-qa-wrap					{margin-top: 0;}
.ask-community-qa-wrap-nested			{display: inline-block; margin-top: 10px; padding-top: 10px; border-top: 1px solid #e5e5e5;}
.ask-community-qa-wrap .media-left img	{width: 65px; height: 65px;}
.ask-community-qa-wrap h5				{color: #000000;}
.ask-community-qa-wrap .hr				{margin-bottom: 10px; margin-top: 10px;}

.panel-default .panel-heading h4 {margin: 0;}




.res-os-block			{margin-bottom: 30px;}
.res-os-block:last-child{margin-bottom: 0px;}
.res-os-text			{margin-top: 10px; line-height: normal;}
.res-os-text h4			{margin-top: 0; margin-bottom: 3px;}
.res-os-text p			{margin-top: 0; margin-bottom: 5px; color: #999999; font-size: 14px;}

.comp-award-wrap			{margin-bottom: 10px;}
.comp-award-row				{margin-top: 10px;}
.comp-award-img img			{width: 100%; display: block;}
.comp-award-row h4 a		{margin-top: 0;}
.comp-award-row h4 a		{color: #333;}
.comp-award-row h4 a:hover	{color: #666666;}
.comp-award-row .date		{color: #999999; font-size: 13px;}



.competitions-grid .item		{width: 48%; padding: 1%; display: inline-block; font-size: 0; vertical-align: bottom;}
.competitions-grid .item img	{width: 100%;}


.type-container					{}
.type-container .type-block h4	{margin-top: 0; margin-bottom: 5px;}
.type-container .type-block .list-unstyled{margin-bottom: 0;}
.type-container .type-block .list-unstyled a		{color: #333333;}
.type-container .type-block .list-unstyled a:hover	{color: #bd0f0f;}




.wall-item			{display: block; margin-bottom: 12px; padding: 5%; background-color: #f2f2f2;}
.wall				{display: block; position: relative;}
.wall-column		{display: block; position: relative; width: 25%; float: left; padding-right: 1%;}
.wall-column:nth-child(4n) {padding: 0;}

.contact-block					{}
.contact-block .contact-row		{margin-bottom: 15px;}
.contact-block .contact-row:last-child	{margin-bottom: 0px;}
.contact-block h2				{margin-top: 0;}
.contact-block .contact-icon	{font-size: 36px; color: #ffb220; line-height: normal;}
.contact-block .contact-text	{font-size: 18px; line-height: normal; padding-top: 10px;}



/* autoComplete styles */
.autocomplete-suggestions {background: #fff;
  -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,.1);
  -moz-box-shadow: -1px 1px 3px rgba(0,0,0,.1);
  box-shadow: -1px 1px 3px rgba(0,0,0,.1);
  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.autocomplete-suggestion			{position: relative; padding:5px 10px; white-space: nowrap; overflow: hidden;}
.autocomplete-suggestion b			{font-weight: normal; color: #bd0f0f;}
.autocomplete-suggestion.selected	{background: #f2f2f2;}

.accordion__content p:last-child{margin-bottom: 0; padding-bottom: 0;}


.vote-comments						{padding-bottom: 5px; padding-top: 5px;}
.vote-comments:first-child			{padding-top: 0px;}
.vote-comments:last-child			{padding-bottom: 0px;}
.vote-comments h4					{margin-top: 0;}




    







/* ASIDE */
.aside							{min-width: 300px; width: 15%; position: fixed; top: 0; left: 0; bottom: 0; background-color: #ffb220; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); z-index: 2000;  width: 0px; min-width: 0px; overflow: hidden; transition: 0.35s width ease, 0.35s min-width ease;}
.aside .aside-header			{background-color: #e89f16; padding: 30px; color: #fff;}
.aside .aside-header .closee	{cursor: pointer;}
.aside .aside-contents 			{padding: 30px;}
.aside.in 						{width: 15%; min-width: 300px;}
.aside-backdrop 				{position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: #000; transition: 0.2s opacity ease; opacity: 0; display: none;}
.aside-backdrop.in 				{display: block; opacity: 0.5;}

.aside-links					{margin: 0; padding: 0; list-style: none; text-transform: uppercase; font-family:'robotomedium'; width: 100%; display: block;}
.aside-links li					{width: 100%; display: block; padding: 20px 0; border-bottom: 1px #000000 solid;}
.aside-links li:last-child		{border-bottom: none;}
.aside-links li a				{width: 100%; display: block; color: black; font-size: 18px;}
.aside-links li a:hover			{color: #bd0f0f;}

.aside-links .collapse			{width: 100%; padding: 0; margin: 0; list-style: none; background-color: #e89f16;}
.aside-links .collapse li 		{width: 100%; display: block; padding-left: 5%; padding-right: 5%;}

/* ASIDE */


/* ===== PRELOADER ===== */
#preloader	{position:fixed; top:0; left:0; right:0; bottom:0; background-color:#fff; z-index:9999;}
#status		{width:64px; height:64px; position:absolute; left:50%; top:50%; background-image:url(../images/status.gif); background-repeat:no-repeat; background-position:center; margin:-32px 0 0 -32px;}	
/* ===== PRELOADER ===== */


/* TABLET */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

.home-top-links-row			{float: left; width: 50%;}
.evaluate-row img 			{width: 100%;}
.home-top-links				{float: none; padding-top: 10px;}
.home-top-links li			{border-right: 1px solid #000; padding-left: 5px; padding-right: 5px;}
.home-top-links li a 		{font-size: 13px;}
	
.top-header .home-search	{margin-top: 25px; margin-bottom: 10px;}

.loin-register-row			{float: left; width: 50%; margin: 0;}
	



}


/* MOBILE */
@media only screen and (min-width : 300px) and (max-width : 480px) {

.logo-holder				{text-align: center;}
.logo-holder img 			{max-height: 125px;}	
	
	
.evaluate-row img			{width: 100%;}
	
.home-top-links-row			{float: left; width: 50%;}
.home-top-links				{float: none;}
.home-top-links li			{border-right: 1px solid #000; padding-left: 5px; padding-right: 5px;}
.home-top-links li a 		{font-size: 13px;}

.loin-register-row			{float: left; width: 50%; margin: 0;}
.home-search				{margin-bottom: 15px;}
	
.mid-area .bx-wrapper		{max-height: 550px;}
	
.main-cont-area-block		{margin-bottom: 5px;}
	
.footer .footer-b				{text-align: center;}
.footer .footer-b .text-right	{text-align: center;}
	
.menu-holder			{left: 5%; top: 10%; z-index: 99;} 	

.evaluation-banner-cont .rank span		{font-size: 24px;}
.evaluation-banner-cont .rank span b	{font-size: 18px; }
.evaluation-banner-cont .rank p			{font-size: 11px;}
	
.evaluation-banner-cont .list-inline		{}
.evaluation-banner-cont .list-inline li 	{padding-left: 0; padding-right: 0;}	
	
.evaluation-banner .logo-holder		{left: 5px; bottom:5px; width: 75px; height: 75px;}	
.evaluation-banner .logo-holder img	{width: 100%;}
	
.wall-column		{width: auto; float: none;}

.evaluation-cont-menu .menu-img-row .menu-img			{height: 100px;}
.evaluation-cont-menu .menu-img-row .menu-img img		{max-height: 100px; min-height: 100px; min-width: 100px; max-width: 100px;}	
	

.res-os-block:last-child{margin-bottom: 0px;}	
	
}
