/* Styling for fancyBox demo pages */







h2, h3 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.fancybox-slide > div > h2:first-child {
  margin-top: 10px;
}

h3 {
  font-size: 21px;
}

code {
  background: #eee;
  padding: 0 5px;
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

iframe {
  border: 1px solid #ccc;
  width: 80vw;
  height: calc(100vh - 100px); 
}

a {
  color: #FF6666;
  cursor: pointer;
}

a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif] {
  text-decoration: none;
  border: 0 none;
}

a img {
  vertical-align: top;
}

.btn {
  background: #FF6666;
  border-width: 0;
  color: #fff;
  text-decoration: none;
  padding: 7px 20px;
  line-height: 1.5;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 80%;
  font-weight: 700;
  margin: 5px 5px 5px 0;
  display: inline-block;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.imglist a {
  display: inline-block;
}

.imglist img {
  height: 160px;
  margin-bottom: 4px;
}

.tright {
  text-align: right;
}

.tright .btn {
  margin-left: 10px;
}

.hidden {
  display: none;
}

.grid {
  float: left;
  width: 30%;
  padding: 20px;
  background: #eee;
  margin: 0 20px 20px 0;
}
