@charset "utf-8";
/* CSS Document */

.accordion__section					{background: #e5e5e5; border-radius: 5px; margin-bottom: 10px;}
.accordion__section:last-of-type	{margin-bottom: 0;}
.accordion__titlebox				{display: -ms-flexbox; display: flex; padding: 9px 14px 10px; border-radius: 5px; cursor: pointer; will-change: transform; transition: .3s;}
.accordion__titlebox:hover			{background: #ffb220;}

.accordion__icon					{min-width: 18px; height: 18px; position: relative;}
.accordion__icon .plus,
.accordion__icon .minus				{position: absolute; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center;      justify-content: center; width: 18px; height: 18px; will-change: transform; transition: .3s;}
.accordion__icon .plus				{opacity: 1; visibility: visible;}
.accordion__icon .minus				{opacity: 0; visibility: hidden;}
.accordion__title					{margin-left: 18px;}
.accordion__content					{padding: 10px 50px; display: none;}

.accordion__titlebox_active			{background: #ffb220;}
.accordion__titlebox_active .plus	{opacity: 0; visibility: hidden;}
.accordion__titlebox_active .minus	{opacity: 1; visibility: visible;}

@media (max-width: 768px) {
.accordion__content					{padding: 20px 20px 20px 53px;}
}

