{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Restaurant Branch {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
		.paddTop { padding-top: 20px; }
		.save-btn, .cancel-btn {
			width: 85%;
		}
		#gallery-images img{
			width:100px;
			height:100px;
			margin:5px;
		}
		.res-gallery-ims{
			height: 100px;
			width: 80%;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/design') }}/css/jquery.fancybox.min.css" />
{% endblock %}
{% block content %}
	
	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Add Update Branch
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Add Branch</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
			<div role="alert" class="alert alert-success alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
			<div role="alert" class="alert alert-danger alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		
		<div class="row">
			<div class="col-md-12" role="tabpanel">
				<div class="box box-primary">
					
					<div class="box-header">
                            <a href="{{path('add_restaurant',{'domain':app.session.get('domain'),'type':rest_type,'main_restaurant_id':rest_id})}}?tab=branch" class="btn btn-primary btn-flat pull-right" title="Back to Que List"><i class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a> 					
					</div>
					<div class="box-body">
					{% if languages is defined  and languages is not empty%}
						<div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if languages is defined %}
                                   {% for language in languages %}
                                        <li class="{% if selected is defined %}{% if selected == language.language_master_id and tab != 'media' %}active{% endif %}{% else %}{% if loop.index == 1  and tab != 'media' %}active{% endif %}{% endif %}">
                                            <a href="#lan_{{loop.index}}" data-toggle="tab">{{language.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
								{% if branch_data is defined and branch_data is not empty %}
								
								<li  class="{% if tab == 'media' %}active{%endif%}">
                                	<a href="#media"  data-toggle="tab">Media</a>
                            	</li> 

								{% endif %}
                            </ul>
                        </div>
						
						<!-- tab-content -->
						<div class="tab-content">
							{% set main_branch_id = 0 %}
							{%if rest_id is defined%}
								{% set main_restaurant_id = rest_id %}
							{% else%}
								{% set main_restaurant_id = 0 %}
							{%endif%}
							{% set main_branch_flag = 0 %}
							{% set lat = 0 %}
							{% set lng = 0 %}
							{% set timings = '' %}
							{% set opening_date = '' %}
							{% set address_name = '' %}
							{% set active_check = '' %}
							{% set inactive_check = '' %}
							{% set open_soon_check = '' %}
							{% set pending_check = '' %}
							{% set mobile_no = '' %}
							
							{% for language in languages %}
								<div role="tabpanel" class="tab-pane {% if loop.index == 1 and tab != 'media'%}active{% endif %}" id="lan_{{ language.language_master_id }}">
									
									{% set action = path('admin_restaurant_savebranch',{'domain':app.session.get('domain')}) %}
									
									{% set branch_name = '' %}
									{% set description = '' %}
									{% set address_name = '' %}
									
									{% if branch_data is defined and branch_data is not empty %}
										
                                        {% set lat = branch_data[0].lat %}
                                        {% set lng = branch_data[0].lng %}

										{% for branch_data in branch_data %}
											{% set main_branch_id = branch_data.main_branch_master_id %}
											{% set mobile_no = branch_data.mobile_no %}
											
											{% if branch_data.language_id == language.language_master_id %}
												
												{% set branch_name = branch_data.branch_name %}
												{% set main_branch_flag = branch_data.main_branch_flag %}
												{% set description = branch_data.description %}
												{% set opening_date = branch_data.opening_date %}
												{% set address_name = branch_data.address_name %}
												{% set main_restaurant_id = branch_data.main_restaurant_id %}
												{# {% set lat = branch_data.lat %}
												{% set lng = branch_data.lng %} #}
												{% set timings = branch_data.timings %}
												
												
												{%set status = branch_data.status %}
												{%if status == 'active'%}
													{%set active_check = 'checked'%}
												{%endif%}
												{%if status == 'inactive'%}
													{%set inactive_check = 'checked'%}
												{%endif%}
												{%if status == 'open_soon'%}
													{%set open_soon_check = 'checked'%}
												{%endif%} 
												{%if status == 'pending'%}
													{%set pending_check = 'checked'%}
												{%endif%} 												
												
											{% endif %}
										{% endfor %}
									{% endif %}
									
									<form id="form-{{ language.language_master_id }}" class="form-horizontal" method="post" action="{{ action }}">
										
										<input type="hidden" name="main_branch_id" value="{{ main_branch_id }}">
										<input type="hidden" name="language_id_branch" value="{{ language.language_master_id }}">												
										<input type="hidden" name="main_restaurant_id" value="{{main_restaurant_id}}">
										<div class="row">
											<div class="col-md-6">
												<label>Brach Name</label>
												<input type='text' class="form-control" name="branch_name" required="required" value="{{branch_name}}"/>
												
											</div>
											<div class="col-md-6">
												<label class="control-label">Status</label></br>
												<label class="radio-inline">									
													<input class="" type="radio" name="status" value="open_soon" {{open_soon_check}} required>Open soon
												</label> 
												<label class="radio-inline">									
													<input class="" type="radio" name="status" value="active" {{active_check}}>Active
												</label>
												<label class="radio-inline">									
													<input class="" type="radio" name="status" value="inactive" {{inactive_check}}>Inactive
												</label>	
												<label class="radio-inline">									
													<input class="" type="radio" name="status" value="pending" {{pending_check}}>Pending
												</label>	
											</div>
										</div>
										<div class="row">	
											<div class="col-md-6">
												<label class="control-label">Opening Date</label>
												<div class="">
													<input type="text" class="form-control datepicker" name="opening_date" value="{{opening_date}}" required>
												</div>
											</div>

											<div class="col-md-3">
												<label class="control-label">Timing</label>
												<div class="">
													<input type="text" class="form-control" name="timing" value="{{timings}}">
												</div>
											</div>
											<div class="col-md-3">
												{% set flag_check = '' %}
												{% set flag_check_1 = '' %}
												{%if main_branch_flag == 1%}{% set flag_check = 'checked' %}{%endif%}
												{%if main_branch_flag == 0%}{% set flag_check_1 = 'checked' %}{%endif%}
												<b>Main Brach</b></br>
												<label class="radio-inline">	
												  <input type="radio" name="main_branch" value="1" {{flag_check}}>Yes
												</label>  
												<label class="radio-inline">	
												  <input type="radio" name="main_branch" value="0" {{flag_check_1}}>No
												</label>  											
											</div>															
											
										</div>
										<div class="row">
											<div class="col-md-6">
												<label class="control-label">Branch Address</label>
												<div class="">
													<input type="text" class="form-control" name="address_branch" value="{{address_name}}">
												</div>
											</div>
											<div class="col-md-3">
												<label class="control-label">Latitude</label>
												<div class="">
													<input type="text" class="form-control" onkeypress="return isNumberKey(event)" name="lat" value="{{lat}}">
												</div>
											</div>
											<div class="col-md-3">
												<label class="control-label longitude">Longitude</label>
												<div class="">
													<input type="text" class="form-control" onkeypress="return isNumberKey(event)" name="lng" value="{{lng}}">
												</div>
											</div>
										</div>	
										<div class="row">
											<div class="col-md-6">
												<label class="control-label">Contact No</label></br>
												<input class="form-control" id="mobile_no" type="number" name="mobile_no" value="{{mobile_no}}"/>
											</div>
										</div>		
										<div class="row">
											<div class="col-md-12">
												<label class="control-label">Additional Info</label></br>
												<textarea id="editor1" class="ckeditor" name="additional_info" required>{{description}}</textarea>
											</div>
										</div>										
										
										<div class="row paddTop">
											<div class="col-md-12">
												<div class="col-md-6">
													<button type="submit" name="submit" class="btn btn-primary" value="{{ language.language_master_id }}">
														<span><i class="fa fa-check-square-o"></i>&nbsp;Submit</span>
													</button>
												</div>
											</div>
										</div>
										
									</form>
									
								</div>
							{% endfor %}
							
							<div class="tab-pane {% if tab == 'media' %}active{%endif%}" id="media">
                                    <div class="box-body form-horizontal">
                                        {# File upload plugin html code : START #}
                                        <form id="fileupload" method="POST" enctype="multipart/form-data">
                                            <div class="row fileupload-buttonbar">
                                                <div class="col-lg-7">
                                                    <span class="btn btn-success fileinput-button">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                        <label for="file_input">Add files...</label>
                                                        <input id="file_input" type="file" name="files[]" style="display:none" multiple>
                                                    </span>
                                                    <!-- The global file processing state -->
                                                    <span class="fileupload-process"></span>
                                                </div>

                                                <div class="col-lg-5 fileupload-progress">
                                                    <!-- The global progress bar -->
                                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                                    </div>
                                                    <!-- The extended global progress state -->
                                                    <div class="progress-extended">&nbsp;</div>
                                                </div>
                                            </div>
                                            <table role="presentation" class="table table-striped">
                                                <tbody class="files">
                                                    {% if media_library_master is defined and media_library_master is not empty %}
                                                        {% for media in media_library_master %}
                                                            <tr id="remove_{{ media.main_media_id }}" class="">
                                                                <td>
                                                                    <span class="preview">
                                                                        <a data-fancybox="images" data-gallery="" download="{{media.media_name}}" title="{{media.media_name}}" href="{{live_path}}{{media.media_location}}/{{media.media_name}}">
																			<div class="col-md-4">
																				<img class="res-gallery-ims img-responsive img-thumbnail" src="{{live_path}}{{media.media_location}}/{{media.media_name}}">
																			</div>
                                                                        </a>
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <p class="name">
                                                                        <a data-gallery="" download="{{media.media_name}}" title="{{media.media_name}}" href="{{live_path}}{{media.media_location}}/{{media.media_name}}">{{media.media_name}}</a>
                                                                    </p>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-danger delete" onclick="delete_image({{ media.main_media_id }},{{media.main_gallery_id}} );">
                                                                        <i class="glyphicon glyphicon-trash"></i>
                                                                        <span>Delete</span>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}   
                                                </tbody>
                                            </table>  
                                        </form>
                                        {# File upload plugin html code : END #}
                                    </div>
                                    {# <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
                                        <div class="slides"></div>
                                        <h3 class="title"></h3>
                                        <a class="prev" style="display:none">‹</a>
                                        <a class="next" style="display:none">›</a>
                                        <a class="close" style="display:none">×</a>
                                        <a class="play-pause"></a>
                                        <ol class="indicator"></ol>
                                    </div> #}
                                </div>
						</div>
						<!-- end: tab-content -->
							
					{% endif %}
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>
	
<script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>

    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="{{asset('bundles/design/')}}fileupload/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{{asset('bundles/design/')}}fileupload/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="{{asset('bundles/design/')}}fileupload/js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    {#<script src="{{asset('bundles/design/')}}fileupload/js/main.js"></script>#}
    <script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>

                    <script id="template-upload" type="text/x-tmpl">
                        {% verbatim %}
                            {% for (var i=0, file; file=o.files[i]; i++) { %}

                            <tr class="template-upload">
                            <td>
                            <span class="preview"></span>
                            </td>
                            <td>
                            <p class="name">{%=file.name%}</p>
                            <strong class="error text-danger"></strong>
                            </td>
                            <td>
                            <p class="size">Processing...</p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                            </td>
                            <td>
                            {% if (!i && !o.options.autoUpload) { %}
                            <button class="btn btn-primary start" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start</span>
                            </button>
                            {% } %}
                            {% if (!i) { %}
                            <button class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                            </button>
                            {% } %}
                            </td>
                            </tr>

                            {% } %}
                        {% endverbatim %}
                    </script>


                    <script id="template-download" type="text/x-tmpl">
                        {% verbatim %}

                        {% endverbatim %}
                    </script>
                    <script id="template-upload" type="text/x-tmpl">
                        {% verbatim %}
                            {% for (var i=0, file; file=o.menufile[i]; i++) { %}

                            <tr class="template-upload">
                            <td>
                            <span class="preview"></span>
                            </td>
                            <td>
                            <p class="name">{%=file.name%}</p>
                            <strong class="error text-danger"></strong>
                            </td>
                            <td>
                            <p class="size">Processing...</p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                            </td>
                            <td>
                            {% if (!i && !o.options.autoUpload) { %}
                            <button class="btn btn-primary start" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start</span>
                            </button>
                            {% } %}
                            {% if (!i) { %}
                            <button class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                            </button>
                            {% } %}
                            </td>
                            </tr>

                            {% } %}
                        {% endverbatim %}
                    </script>


                    <script id="template-download" type="text/x-tmpl">
                        {% verbatim %}

                        {% endverbatim %}
                    </script>


    <script type="text/javascript">
        function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
        return true;
        }
        function delete_image(main_media_id, main_gallery_id)
        {
        var answer = confirm ("Are you sure you want to delete?");
        if (answer) {
        $.ajax({
        type: 'POST',
                url : "{{ path('remove_gallery_img_branch') }}",
                data: {'main_media_id': main_media_id, "main_gallery_id": main_gallery_id},
                async: false,
                dataType: 'json',
                success: function(response){
                if (response == true){
                $('#remove_' + main_media_id).remove();
                }
                }
        });
        }
        }
        $(document).ready(function(){
        $('.desabletab').attr('disabled', 'disabled');
        function check_cat(cat){
        if (cat != '0'){
        $(".ingred").removeClass('hide');
        } else {
        $(".ingred").addClass('hide');
        }
        }

        {% if branch_data is defined and branch_data is not empty %}
                $(function () {
                'use strict';
                $('#fileupload').fileupload({
                url: '{{live_path}}/bundles/design/index.php?temp_dir=bulkupload',
                        success: function(response){
                        $.ajax({
                        type: 'POST',
                                url : "{{ path('save_branch_gallery') }}",
                                data: {"img_name":response.files[0].name, 'rest_id':{{branch_data[0].main_branch_master_id}}, 'media_type_id':1},
                                //async: false,
                                dataType: 'json',
                                // xhrFields: {withCredentials: true},
                                success: function(response){
                                var html = '';
                                if (response != false){
                                html += '<tr id="remove_' + response.media_library_master_id + '">';
                                html += '<td>';
                                html += '<span class="preview">';
                                html += '<a data-fancybox="images" data-gallery="" download="' + response.name + '" title="' + response.name + '" href="' + response.path + '">';
                                html += '<div class="col-md-4"><img class="res-gallery-ims img-responsive img-thumbnail" src="' + response.thumbnail_path + '"></div>';
                                html += '</a>';
                                html += '</span>';
                                html += '</td>';
                                html += '<td>';
                                html += '<p class="name">';
                                html += '<a data-gallery="" download="' + response.name + '" title="' + response.name + '" href="' + response.path + '">' + response.name + '</a>';
                                html += '</p>';
                                html += '</td>';
                                html += '<td>';
                                html += '<button class="btn btn-danger delete" onclick="delete_image(' + response.media_library_master_id + ',' + response.gallery_master_id + ');">';
                                html += '<i class="glyphicon glyphicon-trash"></i>';
                                html += '<span>Delete</span>';
                                html += '</button>';
                                //html += '<input type="checkbox" class="toggle" value="1" name="delete">';
                                html += '</td>';
                                html += '</tr>';
                                $(".files").append(html);
                                html = "";
                                }
                                },
                                error: function(error){
                                console.log(error);
                                }
                        });
                        }
                });
                $('#fileupload').fileupload(
                        'option',
                        'redirect',
                        window.location.href.replace(
                                /\/[^\/]*$/,
                                '/cors/result.html?%s'
                                )
                        );
                $('#fileupload').addClass('fileupload-processing');
                var url = '{{live_path}}/bundles/design/index.php?tmp_dir=bulkupload'
                        $.ajax({
                        url: url,
                                dataType: 'json',
                                context: $('#fileupload')[0]
                        }).always(function () {
                $(this).removeClass('fileupload-processing');
                }).done(function (result) {
                $(this).fileupload('option', 'done')
                        .call(this, $.Event('done'), {result: result});
                });
                });
        {% endif %}
                    });

    </script>	

<script>
	$(document).ready(function(){
		$('#suggestions').DataTable();
		 $(".datepicker").datepicker();
       
	});
	$(function () {
		$('.editor1cls').each(function(e){
			CKEDITOR.replace( this.id);
		});
	})
	function validateForm(lan_id){
		alert(lan_id);
		return false;
	}
</script>
{% endblock %}