{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Add Menu {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="https://www.jqueryscript.net/demo/Simple-Drag-drop-Item-Sorting-Plugin-With-jQuery-dropMe/c/dropMe.css">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/design') }}/css/jquery.fancybox.min.css" />
	<style>
		.paddBottom { padding-bottom: 20px; }
		.avatar img{
		    width: 40px;
			max-width: 100%;
			height: auto;
			border: 0 none;
			border-radius: 1000px;
		}
		
        .paddBottom { padding-bottom: 20px; }
        .paddTop { padding-top: 20px; }
        .save-btn, .cancel-btn {
            width: 85%;
        }
        #gallery-images img{
            width:100px;
            height:100px;
            margin:5px;
        }
		.res-menu-img {
			height: 100px;
			width: 80%;
		}
    
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Add Restaurant menu
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Add Menu</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header with-border">
                        
                        <a href="{{ path('restaurant_page') }}" class="btn btn-primary btn-flat pull-right"><i class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div>
					<div class="box-body ">	
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								{% if languages is defined %}
									{% for language in languages %}
										{% set tab_redirect = '' %}
										{% if lang_id != language.language_master_id %}
											
										{% endif %}
									
										<li class="{% if selected is defined %}{% if selected == language.language_master_id%}active{% endif %}{% else %}{% if lang_id == language.language_master_id %}active{% endif %}{% endif %}">
											{% if lang_id != language.language_master_id %}
												<a href="{{ path('add_menu', {'main_restaurant_id': main_restaurant_id}) }}/{{ language.language_master_id }}" >{{language.language_name}}</a>
											{% else %}
												<a href="#lan_{{ language.language_master_id }}" data-toggle="tab">{{language.language_name}}</a>
											{% endif %}
										</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>
						<div class="tab-content">
										
										{# File upload plugin html code : START #}
                                        <form id="fileupload" method="POST" enctype="multipart/form-data">
                                            <div class="row fileupload-buttonbar">
												{% if right_codes is defined and right_codes is not empty %}
													{% if 'SARM15' in right_codes %}
													<div class="col-lg-12">
														<label>*Note - Min-Size - 450 x 700(Pixel) And Max-Size - 720 x 1024(Pixel)</label>
													</div>
													<div class="col-lg-7">
														<span class="btn btn-success fileinput-button">
															<i class="glyphicon glyphicon-plus"></i>
															<label for="file_input" style="    margin-bottom: 0;">Add files...</label>
															<input id="file_input" type="file" name="files[]" style="display:none" multiple>
														</span>
														<button type="button" id="sort_order" class="btn btn-primary">
															<i class="fa fa-sort"></i> Sort Order
														</button>
														
														<div id="sort_order_div" style="display:none;">
															{% if media_library_master is defined and media_library_master is not empty %}
																<ul class="dropme list">
																{% for media in media_library_master %}
																	<li id="{{ media.restaurant_menu_id }}" style="padding-top: 2px;">
																		<img src="{{ live_path }}/{{ media.media_location }}/{{ media.media_name }}" style="width:25px;height: 25px;">
																		<span>{{ media.media_name }}</span>
																	</li>
																{% endfor %}
																</ul>
																<div class="text-center" style="width:100%;">
																	<a class="btn btn-primary offset-md-5" id="sortdone" round>&nbsp;Done</a>
																</div>
															{% endif %}
														</div>
														
														
														<!-- The global file processing state -->
														<span class="fileupload-process"></span>
													</div>
													{% endif %}
												{% endif %}
												
                                                <div class="col-lg-5 fileupload-progress">
                                                    <!-- The global progress bar -->
                                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                                    </div>
                                                    <!-- The extended global progress state -->
                                                    <div class="progress-extended">&nbsp;</div>
                                                </div>
                                            </div>
                                            <table role="presentation" class="table table-striped">
                                                <tbody class="files">
                                                    {% if media_library_master is defined and media_library_master is not empty %}
                                                        {% for media in media_library_master %}
                                                            <tr id="remove_{{ media.main_media_id }}" class="">
                                                                <td>
                                                                    <span class="preview">
                                                                        <a data-fancybox="images" href="{{live_path}}{{media.media_location}}/{{media.media_name}}">
																			<div class="col-md-4">
																				<img src="{{live_path}}{{media.media_location}}/{{media.media_name}}" class="res-menu-img img-responsive img-thumbnail">
																			</div>    
                                                                        </a>
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <p class="name">
                                                                        <a data-gallery="" download="{{media.media_name}}" title="{{media.media_name}}" href="{{live_path}}{{media.media_location}}/{{media.media_name}}">{{media.media_name}}</a>
                                                                    </p>
                                                                </td>
																{% if right_codes is defined and right_codes is not empty %}
																	{% if 'SDRM16' in right_codes %}
																	<td>
																		<button class="btn btn-danger delete" onclick="delete_image({{ media.main_media_id }},{{media.main_gallery_id}} );">
																			<i class="glyphicon glyphicon-trash"></i>
																			<span>Delete</span>
																		</button>
																	</td>
																	{% endif %}
																{% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}   
                                                </tbody>
                                            </table>  
                                        </form>
                                        {# File upload plugin html code : END #}
                                </div>
						</div>
                                    {# <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
                                        <div class="slides"></div>
                                        <h3 class="title"></h3>
                                        <a class="prev" style="display:none">‹</a>
                                        <a class="next" style="display:none">›</a>
                                        <a class="close" style="display:none">×</a>
                                        <a class="play-pause"></a>
                                        <ol class="indicator"></ol>
                                    </div> #}
                                </div>
					</div>
				</div>
			</div>
		</div>
		<script id="template-upload" type="text/x-tmpl">
                        {% verbatim %}
                            {% for (var i=0, file; file=o.files[i]; i++) { %}

                            <tr class="template-upload">
                            <td>
                            <span class="preview"></span>
                            </td>
                            <td>
                            <p class="name">{%=file.name%}</p>
                            <strong class="error text-danger"></strong>
                            </td>
                            <td>
                            <p class="size">Processing...</p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                            </td>
                            <td>
                            {% if (!i && !o.options.autoUpload) { %}
                            <button class="btn btn-primary start" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start</span>
                            </button>
                            {% } %}
                            {% if (!i) { %}
                            <button class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                            </button>
                            {% } %}
                            </td>
                            </tr>

                            {% } %}
                        {% endverbatim %}
                    </script>


                    <script id="template-download" type="text/x-tmpl">
                        {% verbatim %}

                        {% endverbatim %}
                    </script>
                    <script id="template-upload" type="text/x-tmpl">
                        {% verbatim %}
                            {% for (var i=0, file; file=o.menufile[i]; i++) { %}
							<tr class="template-upload">
                            <td>
                            <span class="preview"></span>
                            </td>
                            <td>
                            <p class="name">{%=file.name%}</p>
                            <strong class="error text-danger"></strong>
                            </td>
                            <td>
                            <p class="size">Processing...</p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                            </td>
							<td>
                            {% if (!i && !o.options.autoUpload) { %}
                            <button class="btn btn-primary start" disabled>
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start</span>
                            </button>
                            {% } %}
                            {% if (!i) { %}
                            <button class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel</span>
                            </button>
                            {% } %}
                            </td>
                            </tr>

                            {% } %}
                        {% endverbatim %}
                    </script>


                    <script id="template-download" type="text/x-tmpl">
                        {% verbatim %}

                        {% endverbatim %}
                    </script>
		
	</section>
	
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>
<script src="https://www.jqueryscript.net/demo/Simple-Drag-drop-Item-Sorting-Plugin-With-jQuery-dropMe/j/dropMe.js" type="text/javascript"></script>
<script src="{{ asset('bundles/design') }}/js/jquery.fancybox.min.js"></script>
<script>

	$(document).ready(function(){
		$('#sort_order').click(function(){
			$('#sort_order_div').slideToggle();
		});
		$('.dropme').dropme('enable');
		
		$("#sortdone").click(function(){
			var array =[];
			var arr = $(".list > li").map(function() {return this.id});
			console.log(arr);
			for(var i=0;i<arr.length;i++){
				array[i]=arr[i];
			}
			console.log(array);
			$.ajax({
				type: 'POST',
				async : false,
				url : "{{ path('admin_restaurant_setmenusortorder')}}",
				data: "arr=" + array,
				success: function(response){
					console.log(response);
					if(response=="ok"){
						window.location.reload();
					}
				}
			});
		});
	});

	$(function () {
		$('.editor1cls').each(function(e){
			CKEDITOR.replace(this.id);
		});
	});
	function readURL(input) {

		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
			$('.image_preview').attr('src', e.target.result);
			}

			reader.readAsDataURL(input.files[0]);
		}
	}

	$(".logo_img").change(function() {
		readURL(this);
	});
</script>

<script>

	$(function () {
		$('.editor1cls').each(function(e){
			CKEDITOR.replace(this.id);
		});
	});
	function readURL(input) {

		if (input.files && input.menufile[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('.image_preview').attr('src', e.target.result);
			}

			reader.readAsDataURL(input.menufile[0]);
		}
	}

	$(".logo_img").change(function() {
	readURL(this);
	});
</script>

    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>

    <script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>
    <script src="{{asset('bundles/design/')}}plugins/iCheck/icheck.min.js"></script>

    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="{{asset('bundles/design/')}}fileupload/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{{asset('bundles/design/')}}fileupload/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="{{asset('bundles/design/')}}fileupload/js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    {#<script src="{{asset('bundles/design/')}}fileupload/js/main.js"></script>#}
    <script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>

    <script type="text/javascript">
        function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if (charCode != 46 && charCode > 31
    && (charCode < 48 || charCode > 57))
        return false;

    return true;
}

                                                                        $(document).ready(function(){
                                                                        $('.desabletab').attr('disabled', 'disabled');
                                                                        /*	{% if competition is defined and competition is not empty %}
                                                                         $(".datepicker").datepicker({
                                                                         "setDate": new Date(),
                                                                         "autoclose": true
                                                                         });
                                                                         {% else %}
                                                                         $(".datepicker").datepicker({
                                                                         "autoclose": true
                                                                         });
                                                                         {% endif %} */
                                                                        $(".category_check:checked").siblings('.food_type').show();
                                                                        });
                                                                        /* gallery images */

                                                                        /* end: gallery images*/
                                                                        /*cat_food_type*/
                                                                        $('.category_check').change(function(){
                                                                        if ($(this).is(':checked')) {
                                                                        $(this).siblings('.food_type').show();
                                                                        } else{
                                                                        $(this).siblings('.food_type').hide();
                                                                        }
                                                                        });
                                                                        /*end cat_food*/
                                                                        function check_cat(cat){
                                                                        if (cat != '0'){
                                                                        $(".ingred").removeClass('hide');
                                                                        } else {
                                                                        $(".ingred").addClass('hide');
                                                                        }
                                                                        }
                {% if rest_details['rest_data'] is defined and rest_details['rest_data'] is not empty %}
                    $(function(){
                    $("#example1").DataTable();
                    var html = "";
					'use strict';
                    $('#fileupload').fileupload({
                    url: "{{ live_path }}/bundles/design/index.php?live_path='{{live_path}}'&temp_dir=Restoraunt-gallery",
                            beforeSend: function(obj){
                            console.log(obj);
                            },
                            success: function(response){
                             console.log(response);
                            /* if(response.files[0].thumbnailUrl == undefined){
                             alert('File already exists');
                             //alert('file ' + response.files[0].name + ' already exists');
                             return false;
                             } */

                            $.ajax({
                            type: 'POST',
                                    url : "{{ path('save_menu') }}",
                                    data: {"img_name":response.files[0].name, 'rest_id':{{rest_details['rest_data'][0].main_restaurant_id}}, 'media_type_id':1, 'language_id': {{ lang_id }}},
                                    //async: false,
                                    dataType: 'json',
                                   // xhrFields: {withCredentials: true},
                                    success: function(response){
									
									console.log(response);
									
                                    if (response != false){
									
									if(response.name == 'failed'){
										location.reload();
									}
									
                                    html += '<tr id="remove_'+response.media_library_master_id+'">';
                                    html += '<td>';
                                    html += '<span class="preview">';
                                    html += '<a data-fancybox="images" data-gallery="" download="' + response.name + '" title="' + response.name + '" href="' + response.path + '">';
                                    html += '<div class="col-md-4"><img class="res-menu-img img-responsive img-thumbnail" src="' + response.thumbnail_path + '"></div>';
                                    html += '</a>';
                                    html += '</span>';
                                    html += '</td>';
                                    html += '<td>';
                                    html += '<p class="name">';
                                    html += '<a data-gallery="" download="' + response.name + '" title="' + response.name + '" href="' + response.path + '">' + response.name + '</a>';
                                    html += '</p>';
                                    html += '</td>';
									{% if right_codes is defined and right_codes is not empty %}
									{% if 'SDRM16' in right_codes %}
									html += '<td>';
                                    html += '<button class="btn btn-danger delete" onclick="delete_image(' + response.media_library_master_id + ',' + response.gallery_master_id + ');">';
                                    html += '<i class="glyphicon glyphicon-trash"></i>';
                                    html += '<span>Delete</span>';
                                    html += '</button>';
                                    //html += '<input type="checkbox" class="toggle" value="1" name="delete">';
                                    html += '</td>';
									{% endif %}
									{% endif %}
                                    html += '</tr>';
                                    $(".files").append(html);
                                    html = "";
                                    }
                                    },
                                    error: function(error){
                                    console.log(error);
                                    }
                            });
                            }
                    });
                    $('#fileupload').fileupload(
                            'option',
                            'redirect',
                            window.location.href.replace(
                                    /\/[^\/]*$/,
                                    '/cors/result.html?%s'
                                    )
                            );

                    $('#fileupload').addClass('fileupload-processing');
                    var url = "{{ live_path }}/bundles/design/index.php?live_path='{{live_path}}'&temp_dir=Restoraunt-gallery";
                    $.ajax({
                    url: url,
                            dataType: 'json',
                            context: $('#fileupload')[0]
                    }).always(function () {
                    $(this).removeClass('fileupload-processing');
                    }).done(function (result) {
                    $(this).fileupload('option', 'done')
                            .call(this, $.Event('done'), {result: result});
                    });



                    $('#fileuploadmenu').fileupload({
                    url: "{{ live_path }}/bundles/design/index.php?live_path='{{live_path}}'&temp_dir=Restoraunt-gallery",
                            beforeSend: function(obj){
                            console.log(obj);
                            },
                            success: function(response){
                             console.log(response);
                            /* if(response.files[0].thumbnailUrl == undefined){
                             alert('File already exists');
                             //alert('file ' + response.files[0].name + ' already exists');
                             return false;
                             } */

                            $.ajax({
                            type: 'POST',
                                    url : "{{ path('save_menu') }}",
                                    data: {"img_name":response.menufile[0].name, 'rest_id':{{rest_details['rest_data'][0].main_restaurant_id}},'media_type_id':1},
                                    //async: false,
                                    dataType: 'json',
                                   // xhrFields: {withCredentials: true},
                                    success: function(response){
                                    if (response != false){
                                    html += '<tr class="">';
                                    html += '<td>';
                                    html += '<span class="preview">';
                                    html += '<a data-gallery="" download="' + response.name + '" title="' + response.name + '" href="' + response.path + '">';
                                    html += '<img src="' + response.thumbnail_path + '">';
                                    html += '</a>';
                                    html += '</span>';
                                    html += '</td>';
                                    html += '<td>';
                                    html += '<p class="name">';
                                    html += '<a data-gallery="" download="' + response.name + '" title="' + response.name + '" href="' + response.path + '">' + response.name + '</a>';
                                    html += '</p>';
                                    html += '</td>';
                                    html += '<td>';
                                    html += '<button class="btn btn-danger delete" onclick="delete_image(' + response.media_library_master_id + ',' + response.gallery_master_id + ');">';
                                    html += '<i class="glyphicon glyphicon-trash"></i>';
                                    html += '<span>Delete</span>';
                                    html += '</button>';
                                    //html += '<input type="checkbox" class="toggle" value="1" name="delete">';
                                    html += '</td>';
                                    html += '</tr>';
                                    $(".menufile").append(html);
                                    html = "";
                                    }
                                    },
                                    error: function(error){
                                    console.log(error);
                                    }
                            });
                            }
                    });
                    $('#fileuploadmenu').fileupload(
                            'option',
                            'redirect',
                            window.location.href.replace(
                                    /\/[^\/]*$/,
                                    '/cors/result.html?%s'
                                    )
                            );
                    $('#fileuploadmenu').addClass('fileupload-processing');
                    var url = "{{ live_path }}/bundles/design/index.php?live_path='{{live_path}}'&temp_dir=Restoraunt-gallery";
                    $.ajax({
                    url: url,
                            dataType: 'json',
                            context: $('#fileuploadmenu')[0]
                    }).always(function () {
                    $(this).removeClass('fileupload-processing');
                    }).done(function (result) {
                    $(this).fileupload('option', 'done')
                            .call(this, $.Event('done'), {result: result});
                    });
                    });


                    
                {% endif %}

                    function delete_image(main_media_id, main_gallery_id)
                    {
                    var answer = confirm ("Are you sure you want to delete?");
                    if (answer) {
                    $.ajax({
                    type: 'POST',
                            url : "{{ path('remove_menu_img') }}",
                            data: {'main_media_id': main_media_id, "main_gallery_id": main_gallery_id},
                            async: false,
                            dataType: 'json',
                            success: function(response){
							if (response == false){
								location.href = "{{ path('admin_dashboard_index') }}";
							}
                            if (response == true){
                            $('#remove_' + main_media_id).remove();
                            }
                            }
                    });
                    }
                    }

                    function readcoverimagebox(input) {
                    //code
                    if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                    }
                    }
                    function readcoverimagebox1(input) {
                    //code
                    if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                    $('#cover_image').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                    }
                    }
            </script>
{% endblock %}