{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Restaurant List {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <style>
        .paddBottom { padding-bottom: 20px; }
        .avatar img{
            width: 40px;
            max-width: 100%;
            height: auto;
            border: 0 none;
            border-radius: 1000px;
        }
		.cuisine_list{
			padding-left: 0px;
			width: 200px !important;
		}
		.cuisine_list li{
			margin-left: 14px;
			list-style: unset;
		}
    </style>
{% endblock %}
{% block content %}

    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Restaurant List
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Restaurant List</li>
        </ol>
    </section>

    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		{% for flashMessage in app.session.flashbag.get('main_restaurant_id') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Restaurant</h3>
                        <a onclick="updatePager();" href="javascript:void(0);" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Restaurant</b></a>
                    </div>
                    <div class="box-body table-responsive">	
                        <table id="rest_list" class="table display table-striped table-bordered scroll-horizontal">
                            <thead>
								<tr>
									<th>Image</th>
										{% if languages is defined and languages is not empty %}
											{% for language in languages %}
											<th> Restaurant Name : {{language.display_title }}</th>
											{% endfor %}
										{% endif %}
									<th>Timings</th>
									<th>Phone Number</th>
									<th>Address</th>
									<th>Lat / Long</th>
									<th>Branch List</th>
									<th>Total Branches</th>
									<th>Cuisines</th>
									<th>Is image Exist in Menu</th>
									<th>Status</th>
									<th>Operations</th>
									{% if right_codes is defined and right_codes is not empty %}
										{% if 'SDR8' in right_codes %}
											<th>Delete</th>
										{% endif %}
									{% endif %}
									<th hidden>delete str</th>
									<th hidden>status toggle</th>
								</tr>
                            </thead>
							
							<tfoot>
								<tr>
									<th>Image</th>
									{% if languages is defined and languages is not empty %}
										{% for language in languages %}
										<th> Restaurant Name : {{language.display_title }}</th>
										{% endfor %}
									{% endif %}
									<th>Timings</th>
									<th>Phone Number</th>
									<th>Address</th>
									<th>Lat / Long</th>
									<th>Branch List</th>
									<th>Total Branches</th>
									<th>Cuisines</th>
									<th>Is image Exist in Menu</th>
									<th>Status</th>
									<th>Operations</th>
									{% if right_codes is defined and right_codes is not empty %}
										{% if 'SDR8' in right_codes %}
											<th>Delete</th>
										{% endif %}
									{% endif %}
									<th hidden>delete str</th>
									<th hidden>status toggle</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block js %}
<script>
	
	function updatePager(){
		var pager_id = '';
		$('.paginate_button').each(function(){
			if($(this).hasClass('active')){
				pager_id = $(this).text();
			}
		});
		
		if(pager_id != ''){
			var url = "{{ path('admin_restaurant_updatepager') }}";
			$.ajax({
				url: url,
				method: 'POST',
				data: {'pager_id': pager_id},
				success: function(response){
					location.href="{{ path('add_restaurant') }}";
				},
				error: function(error){
				
				}
			});
		}
		return true;
	}
	
	$(document).ready(function () {
		
		/*$('#rest_list').DataTable(); */
		{% set pagination = 0 %}
		{% if app.session.get('pagination_number') is defined and app.session.get('pagination_number') is not empty %}
			{% set pagination = app.session.get('pagination_number') %}
		{% endif %}
		
		console.log({{ pagination }});
		
		$('.deleterow').click(function(){
			var cnfm = confirm('Are you sure, you want to delete?');
			if(cnfm){
				var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
				if(cnfm1){
					return true;
				}
			}
			return false;
		});
		
		
		{% if app.session.get('restaurant_per_page') is defined and app.session.get('restaurant_per_page') is not empty %}
			var tableOptions = {
				"processing": true,
				"serverSide": true,
				"displayStart": {{ pagination }},
				"pageLength": {{ app.session.get('restaurant_per_page') }},
				"ajax": "{{ path('admin_restaurant_restaurant_list') }}",
				
			};
		{% else %}
			var tableOptions = {
				"processing": true,
				"serverSide": true,
				"displayStart": {{ pagination }},
				"pageLength": 10,
				"ajax": "{{ path('admin_restaurant_restaurant_list') }}",
				
			};
		{% endif %} 
		
		var table = $('#rest_list');
		table.DataTable(tableOptions);
		
		
		$('select').each(function(){
			if($(this).attr('name') == 'rest_list_length'){
				$(this).attr('id', 'show_per_page');
				var show_per_page = $(this).find(':selected').text();
				set_show_per_page(show_per_page);
			}
		});
		
		$('#show_per_page').change(function(){
			var show_per_page = $('#show_per_page').find(':selected').val();
			set_show_per_page(show_per_page);
		});

		function set_show_per_page(show_per_page){
			var url = "{{ path('admin_restaurant_setshowperpage') }}";
			$.ajax({
				url: url,
				method: 'POST',
				data: {'show_per_page': show_per_page},
				success: function(response){
					
				},
				error: function(error){
				
				}
			});
		}
		
		$('.editcategory').click(function () {
			var cnfm = confirm('Are you sure?');
			if (cnfm) {
				return true;
			}
			return false;
		});

		$('.deletecategory').click(function () {
			var cnfm = confirm('Are you sure?');
			if (cnfm) {
				return true;
			}
			return false;
		});
	});
	
	function ch_status(main_restaurant_id, sender) {

		$.ajax({
			type: 'POST',
			url: "{{path('change_status_rest')}}",
			data: {'main_restaurant_id': main_restaurant_id},
			success: function (resp) {

			}
		});

	}
</script>
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
{% endblock %}