{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Open Soon Restaurant List {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <style>
        .paddBottom { padding-bottom: 20px; }
        .avatar img{
            width: 40px;
            max-width: 100%;
            height: auto;
            border: 0 none;
            border-radius: 1000px;
        }
		.cuisine_list{
			padding-left: 0px;
			width: 200px !important;
		}
		.cuisine_list li{
			margin-left: 14px;
			list-style: unset;
		}
    </style>
{% endblock %}
{% block content %}

    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Open Soon Restaurant List
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            {# <li class="">Restaurant List</li> #}
            <li class="active">Open Soon Restaurant List</li>
        </ol>
    </section>

    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
					{% if right_codes is defined and right_codes is not empty %}
						{% if 'SAOSR19' in right_codes %}
						<div class="box-header with-border">
							<h3 class="box-title">Restaurant</h3>
							<a href="{{ path('add_restaurant', {'type': 'open_soon'}) }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Restaurant</b></a>
						</div>
						{% endif %}
					{% endif %}
                    <div class="box-body table-responsive">	
                        <table id="rest_list" class="table display table-striped table-bordered scroll-horizontal">
                            <thead>
								<tr>
									<th>Image</th>
										{% if languages is defined and languages is not empty %}
											{% for language in languages %}
											<th> Restaurant Name : {{language.display_title }}</th>
											{% endfor %}
										{% endif %}
									<th>Timings</th>
									<th>Phone Number</th>
									<th>Address</th>
									<th>Lat / Long</th>
									<th>Cuisines</th>
									{# <th>Status</th> #}
									<th>Operations</th>
									{% if right_codes is defined and right_codes is not empty %}
										{% if 'SDOSR21' in right_codes %}
											<th>Delete</th>
										{% endif %}
									{% endif %}
								</tr>	
                            </thead>
							<tbody>
								{%if rest_final_data is defined and rest_final_data is not empty %}
								
                                    {% for restoraunt_data in rest_final_data %}
                                        <tr>
                                            <td>
                                                <span class="avatar avatar-online">	
                                                    {%if restoraunt_data[0].media_name != ''%}
                                                        <img src="{{asset('bundles/Resource/Restoraunt/')}}{{restoraunt_data[0].media_name}}" />
                                                    {%endif%}
                                                </span>
                                            </td>
                                            {% for language in languages %}
                                                {% for restoraunt in restoraunt_data %}
                                                    {%if restoraunt.language_id == language.language_master_id%} 
                                                        <td>{{restoraunt.rest_name}}</td>
                                                    {%endif%}
                                                {%endfor%}
                                            {% endfor %}
                                            <td>
                                                {{restoraunt_data[0].timings}}
                                            </td>
											<td>
												{{ restoraunt_data[0].phone_number }}
											</td>
											<td>
												{{ restoraunt_data[0].address }}
											</td>
											<td>
												{{ restoraunt_data[0].lat_lng }}
											</td>
											<td>
												{% if restoraunt_data[0].cuisine_name_list is defined and restoraunt_data[0].cuisine_name_list is not empty %}
													<ul class="cuisine_list">
													{% for cuisine in restoraunt_data[0].cuisine_name_list %}
														<li><span>{{ cuisine.cuisine_name }}</span></li>
													{% endfor %}
													</ul>
												{% endif %}
											</td>
                                           {#  <td>
												{% if restoraunt_data[0].status == 'active'%}{% set checked="checked" %}{%else%}{% set checked="" %}{% endif %}
												{% if restoraunt_data[0].status == 'pending'%}
													<label class="label label-info">Pending</label>
												{%endif%}
												{% if restoraunt_data[0].status == 'open_soon'%}
													<label class="label label-info">Open Soon</label>
												{%endif%}
												{% if restoraunt_data[0].status == 'active' or restoraunt_data[0].status == 'inactive'%}
													<input data-on="active" class="status status_{{restoraunt_data['0'].main_rest_id}}" data-off="inactive" type="checkbox" onchange= "ch_status({{restoraunt_data['0'].main_rest_id}}, this);" data-toggle="toggle" data-size="mini"
														   data-onstyle="success" {{checked}} />
												{%endif%}

											</td> #}
											<td>
												{% if right_codes is defined and right_codes is not empty %}
													{% if 'SUOSR20' in right_codes %}
													<a class="editcategory btn btn-info btn-xs" onclick="return confirm('Are you sure you want to Edit?')" href="{{path('add_restaurant',{'main_restaurant_id':restoraunt_data[0].main_rest_id,'type':'open-soon'})}}" data-toggle="tooltip" data-placement="top" data-original-title="edit">
														<i class="fa fa-pencil-square-o"></i>
													</a>
													{% endif %}
												{% endif %}
												<a class="btn btn-success btn-xs" onclick="return confirm('Are you sure you want to view?')" href="{{path('viewevaluation_restaurant',{'main_restaurant_id':restoraunt_data[0].main_rest_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="view">
													<i class="fa fa-eye"></i>
												</a> 
												{# <a class="btn btn-primary btn-xs" onclick="return confirm('Are you sure you want to view?')" href="{{path('add_menu',{'main_restaurant_id':restoraunt_data[0].main_rest_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="Add Menu">
													<i class="fa fa-list-alt"></i>
												</a>
												<a class="btn btn-warning btn-xs" onclick="return confirm('Are you sure you want to view?')" href="{{path('add_offer',{'main_restaurant_id':restoraunt_data[0].main_rest_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="Add offers">
													<i class="fa fa-tags"></i>
												</a>  #}
											</td>
											{% if right_codes is defined and right_codes is not empty %}
												{% if 'SDOSR21' in right_codes %}
												<td>
													<a class="deletecategory btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to Delete?')" href="{{path('delete_restaurant',{'main_restaurant_id':restoraunt_data[0].main_rest_id,'type':'old'})}}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
														<i class="fa fa-trash-o"></i>
													</a> 
												</td>
												{% endif %}
											{% endif %}
										</tr>	
									{%endfor%} 
								{%endif%}
							</tbody>
							<tfoot>
								<tr>
									<th>Image</th>
									{% if languages is defined and languages is not empty %}
										{% for language in languages %}
										<th> Restaurant Name : {{language.display_title }}</th>
										{% endfor %}
									{% endif %}
									<th>Timings</th>
									<th>Phone Number</th>
									<th>Address</th>
									<th>Lat / Long</th>
									<th>Cuisines</th>
									{# <th>Status</th> #}
									<th>Operations</th>
									{% if right_codes is defined and right_codes is not empty %}
										{% if 'SDOSR21' in right_codes %}
											<th>Delete</th>
										{% endif %}
									{% endif %}
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block js %}
<script>

	$(document).ready(function () {
		
		/*$('#rest_list').DataTable(); */
		{% set pagination = 0 %}
		{% if app.session.get('pagination_number') is defined and app.session.get('pagination_number') is not empty %}
			{% set pagination = app.session.get('pagination_number') %}
		{% endif %}
		
		console.log({{ pagination }});
		
		$('.deleterow').click(function(){
			var cnfm = confirm('Are you sure, you want to delete?');
			if(cnfm){
				var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
				if(cnfm1){
					return true;
				}
			}
			return false;
		});
		
		/* function deleterow(href_url){
			alert('here');	
		} */
		
		// deleterow function is in controller
		
		$('#rest_list').DataTable();
		
		{# /*var table = $('#rest_list').DataTable({
			dom: "flrtip",
			"processing": true,
			"serverSide": true,
			"paging": true,
			"iTotalDisplayRecords": 10,
			"ajax":{
				url :"{{ path('admin_restaurant_restaurant_list') }}",
				success: function(response){
					$('#rest_list_processing').css('display', 'none');
					$('.status').bootstrapToggle();
				}
			}
		});*/ #}
		
		$('select').each(function(){
			if($(this).attr('name') == 'rest_list_length'){
				$(this).attr('id', 'show_per_page');
				var show_per_page = $(this).find(':selected').text();
				set_show_per_page(show_per_page);
			}
		});
		
		$('#show_per_page').change(function(){
			var show_per_page = $('#show_per_page').find(':selected').val();
			set_show_per_page(show_per_page);
		});

		function set_show_per_page(show_per_page){
			var url = "{{ path('admin_restaurant_setshowperpage') }}";
			$.ajax({
				url: url,
				method: 'POST',
				data: {'show_per_page': show_per_page},
				success: function(response){
					
				},
				error: function(error){
				
				}
			});
		}
		
		$('.editcategory').click(function () {
			var cnfm = confirm('Are you sure?');
			if (cnfm) {
				return true;
			}
			return false;
		});

		$('.deletecategory').click(function () {
			var cnfm = confirm('Are you sure?');
			if (cnfm) {
				return true;
			}
			return false;
		});
	});
	
	function ch_status(main_restaurant_id, sender) {

		$.ajax({
			type: 'POST',
			url: "{{path('change_status_rest')}}",
			data: {'main_restaurant_id': main_restaurant_id},
			success: function (resp) {

			}
		});

	}
</script>
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
{% endblock %}