{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} View Evaluation {% endblock %}
{% block css %}
<link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
<link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
<style>
   .paddBottom { padding-bottom: 20px; }
   .avatar img{
   width: 40px;
   max-width: 100%;
   height: auto;
   border: 0 none;
   border-radius: 1000px;
   }
</style>
{% endblock %}
{% block content %}
<section class="content-header">
   <!-------- PAGE TITLE ---------------->
   <h1>
      View Evaluation
      <small></small>
   </h1>
   <!------- BREADCUMB ---------------------->
   <ol class="breadcrumb">
      <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">View Evaluation</li>
   </ol>
</section>
<section class="content">
   {% for flashMessage in app.session.flashbag.get('success_msg') %}
   <div class="alert alert-success alert-dismissable">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
      <h4><i class="icon fa fa-check"></i> Alert!</h4>
      {{ flashMessage }}
   </div>
   {% endfor %}
   {% for flashMessage in app.session.flashbag.get('error_msg') %}
   <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
      <h4><i class="icon fa fa-check"></i> Alert!</h4>
      {{ flashMessage }}
   </div>
   {% endfor %}
   <div class="row view-eval">
      <div class="col-md-12">
         <div class="box box-primary">
            <div class="box-header with-border">
				<a href="{{ referer }}" class="btn btn-primary btn-flat pull-right"><i class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a>
            </div>
            <div class="box-body table-responsive">
               <table id="rest_list" class="table display table-striped table-bordered scroll-horizontal" style="width:100%">
                  <thead>
                     <th hidden>Main Evaluation ID</th>
                     <th>User Name</th>
                     <th>Restaurant Name</th>
                     <th>Branch Name</th>
                     <th>Rating Type</th>
                     <th>Category Name</th>
                     <th>Food Type Name</th>
                     <th>Featured</th>
                     {#    
                     <th>Comments</th>
                     #}
                     <th>Levels</th>
                     <th>Move to other restaurant</th>
                     <th>Status</th>
                  </thead>
                  <tbody>
                     {%if rest_final_data is defined and rest_final_data is not empty %}
                     {% for restoraunt_data in rest_final_data %}
                     <tr>
                        <td hidden></td>
                        <td>{{restoraunt_data.user_id}}</td>
                        <td>{{restoraunt_data.restaurant_id}}</td>
                        <td>{{restoraunt_data.branch_name}}</td>
                        <td>{{restoraunt_data.eval_type | capitalize}}</td>
                        <td>{{restoraunt_data.category_name}}</td>
                        <td>{{restoraunt_data.food_type_name}}</td>
                        <td>
                           {% set checked=""%}
                           {% if restoraunt_data.is_featured == 'yes'%}{% set checked="checked"%}{%endif%}
                           <input data-on="yes" class="status status_1" data-off="no" onchange="change_feature({{restoraunt_data.evaluation_feedback_id}},$(this).is(':checked'))" type="checkbox" onchange= "" data-toggle="toggle" data-size="mini"
                           data-onstyle="success" {{checked}}/>																				
                        </td>
                        {#                  
                        <td>{{restoraunt_data.comments}}</td>
                        #}
                        <td><b>Service:</b> {{restoraunt_data.service_level}} </br>
						
						{% if restoraunt_data.eval_type == 'dining'%}
							<b>Dining:</b> {{restoraunt_data.dining_level}} </br>
							<b>Atmosphere:</b> {{restoraunt_data.atmosphere_level}}</br>
						{% endif%}
						
						{% if restoraunt_data.eval_type == 'delivery'%}
							<b>Delivery Speed:</b> {{restoraunt_data.delivery_speed_level}} </br>
							<b>Packging:</b> {{restoraunt_data.packaging_level}}</br>
						{% endif%}
						
						<b>Price:</b> {{restoraunt_data.price_level}} </br>
						<b>Clean:</b> {{restoraunt_data.clean_level}}
						
						</td>
                        <td>
                           <select name="evaluation_res" data-app="{{restoraunt_data.evaluation_feedback_id}}" class="form-control evaluation_res" disabled>
                           {%if restaurantmaster is not empty%}
                           {%for restaurantmaster in restaurantmaster%}
                           <option value="{{restaurantmaster.main_restaurant_id}}" {% if restaurantmaster.main_restaurant_id == restoraunt_data.restaurant_id1%}selected="selected"{%endif%}>{{restaurantmaster.restaurant_name}}</option>
                           {%endfor%}
                           {%endif%}
                           </select>
                        </td>
                        <td>
                           {%set disable=''%}
                           {% if restoraunt_data.status == 'rejected'%}{%set disable='disabled'%}{%endif%}
                           <select name="evaluation_status" id="eval_state_id_{{restoraunt_data.evaluation_feedback_id}}" data-app="{{restoraunt_data.evaluation_feedback_id}}" class="form-control evaluation_status" {{disable}} onchange="eval_status_change({{ restoraunt_data.evaluation_feedback_id }});">
                           <option value="under_evaluation" {% if restoraunt_data.status == 'under_evaluation'%}selected="selected"{%endif%}>Under Evaluation</option>
                           <option value="pending" {% if restoraunt_data.status == 'pending'%}selected="selected"{%endif%}>Pending</option>
                           <option value="rejected" {% if restoraunt_data.status == 'rejected'%}selected="selected"{%endif%}>Rejected</option>
                           <option value="approved" {% if restoraunt_data.status == 'approved'%}selected="selected"{%endif%}>Approved</option>
                           </select>
                           {#<a href="" onclick="return confirm('Are you sure you want to reject?')" {% if restoraunt_data.status == 'pending'%}class="btn btn-info"{%endif%} {% if restoraunt_data.status == 'rejected'%}class="btn btn-danger"{%endif%} {% if restoraunt_data.status == 'approved'%}class="btn btn-success"{%endif%} data-toggle="modal" data-target="#myModal">{{restoraunt_data.status}}</a>
                        </td>
                        #}
                     </tr>
                     <tr>
                        <td>
                        <td colspan="7">
                           <b>Comments: </b>{{restoraunt_data.comments}}</br>																				
                           {% if restoraunt_data.evaluation_gallery is defined and restoraunt_data.evaluation_gallery is not empty%}
                           <div id="rest_gallery_{{restoraunt_data.evaluation_feedback_id}}" style="display:none">
                              {%for image in restoraunt_data.evaluation_gallery%}
                              <div class="col-md-4">
                                 <a href="{{asset(''~image.media_location~'/'~image.media_name)}}" target="_blank">
                                 <img src="{{asset(''~image.media_location~'/'~image.media_name)}}" alt="..." class="img-thumbnail"></a>													
                              </div>
                              {%endfor%} 
                           </div>
                           {%endif%}										
                        </td>
                        <td hidden></td>
                        <td hidden></td>
                        <td hidden></td>
                        <td hidden></td>
                        <td hidden></td>
                        <td hidden></td>
                        <td hidden></td>
                        <td hidden></td>
                        <td>
                           {% if restoraunt_data.evaluation_gallery is defined and restoraunt_data.evaluation_gallery is not empty%}
                           <a class="btn btn-info btn-xs" onclick="show_gallery('{{restoraunt_data.evaluation_feedback_id}}')" data-toggle="tooltip" data-placement="top" data-original-title="view Gallery">
                           <i class="fa fa-eye">Evaluation Images</i>
                           </a>
                           {%endif%}
						   {% if right_codes is defined and right_codes is not empty %}
							   {% if 'SAACRE13' in right_codes %}
							   <a class="btn btn-success btn-xs " onclick="return confirm('Are you sure you want to write comment?')" href="{{path('admin_evaluation_addadmincomment',{'eval_id':restoraunt_data.evaluation_feedback_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="Add admin comment">
							   <i class="fa fa-commenting"></i>
							   </a>			
							   {% endif %}
							 {% endif %}
							{% if right_codes is defined and right_codes is not empty %}
								{% if 'SURE11' in right_codes %}						   
							   <a class="btn btn-info btn-xs" onclick="return confirm('Are you sure you want to Edit?')" href="{{path('admin_evaluation_editcomment',{'eval_id':restoraunt_data.evaluation_feedback_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="Edit Comment">
								<i class="fa fa-pencil-square-o"></i>
							   </a>
							   {% endif %}
						   {% endif %}
                        </td>
                        </td>
                     </tr>
                     {%endfor%} 
                     {%endif%}
                  </tbody>
                  <tfoot>
                     <th hidden>Main Evaluation ID</th>
                     <th>User Name</th>
                     <th>Restaurant Name</th>
					  <th>Branch Name</th>
                     <th>Rating Type</th>					  
                     <th>Category Name</th>
                     <th>Food Type Name</th>
                     <th>Featured</th>
                     {#     
                     <th>Comments</th>
                     #}
                     <th>Levels</th>
                     <th>Move to other restaurant</th>
                     <th>Status</th>
                  </tfoot>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Reason For Evaluation Reject</h4>
         </div>
         <form>
            <div class="modal-body">
               <div class="row">
                  <div class="col-md-12">
                     <label class="control-label">Reason</label>
                     <div class="">
                        <textarea class="form-control" required id="reason" name="reason"></textarea>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default evaluation_reason" data-dismiss="modal">Submit</button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}
{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>
   function change_feature(id,status){
   	$.ajax({
   		url : "{{path('admin_evaluation_list_featured_change')}}",
   		method : "post",
   		data : {'evaluation_id':id,'status':status},
   		success : function(data){
   		
   		}
   	});
   }
   
	function eval_status_change(id){
		
		var status = $('#eval_state_id_' + id).val();
		var main_restaurant_id = '';
		//var evaluation_feedback_id = $(this).data('app');
		var evaluation_feedback_id = id;
		if(status == 'rejected'){
			  $('#myModal').modal('show');
			  $('.evaluation_reason').click(function(){
				  var reason = $('#reason').val();
				  $.ajax({
					 type: 'POST',
					 url: "{{path('change_status_evaltreason')}}",
					 data: {'evaluation_feedback_id':evaluation_feedback_id,'reason':reason,'status':status},
					 success: function(resp){
						 if(resp == 'done'){
							 location.reload();
						 }

					 }
				 });
			  });
		 }else{
			   $.ajax({
				 type: 'POST',
				 url: "{{path('change_status_evalt')}}",
				 data: {'main_restaurant_id':main_restaurant_id,'evaluation_feedback_id':evaluation_feedback_id,'status':status},
				 success: function(resp){
					  if(resp == 'done'){
							 location.reload();
						 }
					 
				 }
			 });
		 }
	}
   
   $(document).ready(function(){
   
   $('#rest_list').DataTable({
		
     	"infoCallback" : function(settings, start, end, max, total, pre){
         console.log('asdad'); 	
          console.log(settings.fnRecordsTotal());
          console.log(total);
          console.log(start);
          console.log(end);
		  
		
		  
		  if(start != 0 ){
			start_from = ((start - 1) / 2 ) + 1;		  
		  }
          
         

		  let end_at = end / 2 ;
		  let total_be = total / 2;
		  
          if(total != 0){
          	$('#rest_list_info').html("Showing "+start_from+" to "+end_at+" of "+total_be+" entries");
          }
		  
        }
     	
   });
   
   
                  $('.evaluation_res').change(function(){
                    var res_id = $(this).val();
                    var evaluation_feedback_id = $(this).data('app');
                                  $.ajax({
                                     type: 'POST',
                                     url: "{{path('change_rest_evalt')}}",
                                     data: {'evaluation_feedback_id':evaluation_feedback_id,'res_id':res_id},
                                     success: function(resp){
                                         if(resp == 'done'){
                                             location.reload();
                                         }
   
                                     }
                                 });
                           
   	
                 });
   $('.editcategory').click(function(){
   	var cnfm = confirm('Are you sure?');
   	if(cnfm){
   		return true;
   	}
   	return false;
   });
   
   $('.deletecategory').click(function(){
   	var cnfm = confirm('Are you sure?');
   	if(cnfm){
   		return true;
   	}
   	return false;
   });
   });
   function ch_status(main_restaurant_id,sender) {
   		
             $.ajax({
                 type: 'POST',
                 url: "{{path('change_status_rest')}}",
                 data: {'main_restaurant_id':main_restaurant_id},
                 success: function(resp){
                 	
                 }
             });
   
   }
   function show_gallery(eval_id){
   $('#rest_gallery_'+eval_id).show();
   }	
</script>
{% endblock %}