{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Add Food Type {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
		.paddTop { padding-top: 20px; }
	</style>
{% endblock %}
{% block content %}
	
	<section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Add Food Type
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Add-Update Food Type</li>
        </ol>
    </section>
	
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
			<div role="alert" class="alert alert-success alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
			<div role="alert" class="alert alert-danger alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		
		<div class="row">
			<div class="col-md-12" role="tabpanel">
				<div class="box box-primary">
					<div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                            <a href={{path('food_type')}} class="btn btn-primary btn-flat" title="Back to Que List"><i class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a>

                        </div>
                    </div>
					<div class="box-body">
					{% if languages is defined  and languages is not empty%}
						<div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                               
                                        <li class="active">
                                            <a href="#lan_1" data-toggle="tab">English</a>
                                        </li>
                                   
                            </ul>
                        </div>
						
						<!-- tab-content -->
						<div class="tab-content">
						
							{% set main_food_id = '' %}
							{% set status_value = '' %}
							{% set checked = '' %}
                                                        
							{#{% for language in languages %}#}
								{#<div role="tabpanel" class="tab-pane" id="1">#}
									{% set food_type = '' %}
									{% set food_type1 = '' %}
									{% set action = path('save_food_type') %}
								
									{% if food_type_details is defined and food_type_details is not empty %}
										
										{% for food_type_details_data in food_type_details %}
                                                                                    {% set main_food_id = food_type_details_data.main_food_type_id %}
											{% if food_type_details_data.language_id == '1' %}
												{% set food_type = food_type_details_data.food_type_name %}												
											{% endif %}
                                                                                        {% if food_type_details_data.language_id == '2' %}
												{% set food_type1 = food_type_details_data.food_type_name %}												
											{% endif %}
										{% endfor %} 
									{% endif %} 
									
									<form id="form" class="form-horizontal" method="post" action="{{action}}">
										
										<input type="hidden" name="language_id" value="1">
										<input type="hidden" name="main_food_type_id" value="{{main_food_id}}">
										
										<div class="row">
											<div class="col-md-12">
												<label class="control-label">Food Type(En)</label>
												<div class="">
													<input type="text" class="form-control" name="food_type" value="{{food_type}}">
												</div>		
											</div>	
                                                                                        <div class="col-md-12">
												<label class="control-label">Food Type(Ar)</label>
												<div class="">
													<input type="text" class="form-control" name="food_type_ar" value="{{food_type1}}">
												</div>		
											</div>	
											<div class="col-md-12">
												<label class="control-label">Category List</label>
												<div class="row">
                                                                                                    
												{%for categories_name in categories%}
														{% set checked = '' %}
                                                                                                                {% set cate_name = '' %}
                                                                                                                {% set cate_name1 = '' %}
														{% if food_category is defined and food_category is not empty %}
										
															{% for food_category_data in food_category %}
                                                                                                                            
																{%if food_category_data.main_category_id == categories_name.main_category_id %}
																	{% set checked = 'checked' %}
																{%endif%}
                                                                                                                            
															{%endfor%}
														{%endif%}
                                                                                                            
													<div class="col-md-3">
														<input type="checkbox" name="category[]" class="checkbox-inline" value="{{categories_name.main_category_id}}" {{checked}}/> {{categories_name.category_name}}
													</div>
												{%endfor%}	
												</div>
											</div>
										</div>
											
										<div class="row paddTop">
											<div class="col-md-12">
												<div class="col-md-6">
													<button type="submit" name="submit" class="btn btn-primary" value="1">
														<span><i class="fa fa-check-square-o"></i>&nbsp;Save</span>
													</button>
												</div>
											</div>
										</div>
										
									</form>
									
								{#</div>#}
							{#{% endfor %}#}
							
						</div>
						<!-- end: tab-content -->
						
					{% endif %}
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script>
/*	$('.activeCheck_1').change(function(){
			if ($('.activeCheck_1').is(':checked')) {
				$('.statusVal').val('active');
			}else{
				$('.statusVal').val('inactive');
			}
		});
	$('.activeCheck_2').change(function(){
			if ($('.activeCheck_2').is(':checked')) {
				$('.statusVal').val('active');
			}else{
				$('.statusVal').val('inactive');
			}
		});	*/
</script>
{% endblock %}