{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Food Type{% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/plugins/')}}select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />

<style>
  #toggle1 {
   position: absolute;
    left: -9999px;
}

  
</style>

{% endblock %}
{% block content %}
    <!----------- PAGE HEADER : START ------------------------------------------------------------>
    <section class="content-header">
        <!-------- PAGE TITLE --------------->
        <h1>
			Food Type
            <small></small>
        </h1>
        <!--------- BREADCUMB ---------------------->
        <ol class="breadcrumb align-left">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Food Type</li>
        </ol>
    </section>
    <!----------- PAGE HEADER : END ------------------------------------------------------------>
    <!----------- Main content : START ------------------------------------------------------------>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
					{% if 'SAFT4' in right_codes %}
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                            <a href="{{path('add_food_type')}}" class="btn btn-primary btn-flat" title="Add"><i class="fa fa-plus"><b>&nbsp;&nbsp;Add Food Type</b></i></a>
                        </div>
                    </div><!-- /.box-header -->
					{% endif %}
	
                    <div class="box-body">	
					  <div class="table-responsive">	
                        <table id="example1" class="table table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th>No.</th>
								{% if languages is defined and languages is not empty %}
									{% for languages in languages %}	
										<th>Food Type : {{languages.language_name}}</th>
									{%endfor%}
								{%endif%}
                                <th>Operations</th>
								{% if 'SDFT6' in right_codes %}
                                <th>Delete</th>
								{% endif %}
                            </tr>
                            </thead>
                            <tbody>	
							{%for food_lang_wise_data in food_lang_wise %}
							<tr>	
								<td>{{loop.index}}</td>
									{% if languages is defined and languages is not empty %}
											{% set i=0%}
											{% for languages in languages %}	
												{%if food_lang_wise_data[i].language_id == languages.language_master_id%}
													<td>{{food_lang_wise_data[i].food_type}}</td>	
												{%endif%}
												
											{#	{%for food_category in food_lang_wise_data['category_data'] %}
														{%if food_category.language_id == languages.language_master_id%}
															<td>{{food_category.category_name}}</td>
														{%else%}
															<td></td>
														{%endif%}
												{%endfor%} #}
													
												{% set i=i+1%}
											{%endfor%}
									{%endif%}
									
								<td>
									{% if 'SUFT5' in right_codes %}
									<a onclick="return confirm('Are you sure you want to Edit?')"
									   href="{{path('add_food_type',{'main_food_type_id':food_lang_wise_data['0'].main_food_type})}}"
									   class="btn btn-info btn-xs" data-toggle="tooltip" title="Edit">
										<i class="fa fa-edit"></i>
									</a>
									{% endif %}
									<a class="btn btn-primary btn-xs" href="{{ path('admin_foodtype_categorylist',{'main_food_type_id':food_lang_wise_data[0].main_food_type_id }) }}" data-toggle="tooltip" data-placement="top" data-original-title="View Category List">
										<i class="fa fa-bars"></i>
									</a> 
								</td>
								{% if 'SDFT6' in right_codes %}
								<td>
									<a class="btn btn-danger btn-xs deleterow" href="{{path('delete_food_type',{'main_food_type_id':food_lang_wise_data['0'].main_food_type})}}" data-toggle="tooltip" title="Delete">
										<i class="fa fa-trash-o"></i>
									</a>
								</td>
								{% endif %}
							</tr>		
							{%endfor%}
						</tbody>
						<tfoot>
							<tr>
								<th>No.</th>
							{% if languages is defined and languages is not empty %}
								{% for languages in languages %}	
									<th>Food Type : {{languages.language_name}}</th>
								{%endfor%}
							{%endif%}
								<th>Operations</th>
								{% if 'SDFT6' in right_codes %}
                                <th>Delete</th>
								{% endif %}
							</tr>
						</tfoot>
					</table>
				  </div>	
				</div>


                </div><!-- /.box -->

            </div>
        </div>
    </section>
    <!----------- Main content : END ---------------------------------------------------------->
{% endblock %}
{% block js %}

    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $('#example1').DataTable();
        });
        
		$('.deleterow').click(function(){
			var cnfm = confirm('Are you sure, you want to delete?');
			if(cnfm){
				var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
				if(cnfm1){
					return true;
				}
			}
			return false;
		});
		
		function ch_status(main_que_id,sender) {
				
            $.ajax({
                type: 'POST',
                url: "{{path('change_status')}}",
                data: {'main_que_id':main_que_id},
                success: function(resp){
                	
                }
            });

		}
    </script>



{% endblock %}
