{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Add - Update Product
{% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/plugins/')}}select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/plugins/')}}datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="{{asset('bundles/design/plugins/')}}datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .save-btn, .cancel-btn {
            width: 85%;
        }
    </style>

{% endblock %}
{% block content %}
    <!----------- PAGE HEADER : START ------------------------------------------------------------>
    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Product
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>

            <li><a href="{{path('admin_category_index',{'domain':app.session.get('domain')})}}">Product</a></li>
            <li class="active">Add - Update Product</li>
        </ol>
    </section>
    <!----------- PAGE HEADER : END ------------------------------------------------------------>
    <!----------- Main content : START ------------------------------------------------------------>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <style>
                .display-image{
                    padding-top: 10px;
                    max-width: 70%;
                }
            </style>
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add - Update Product</h3>
                        <a href="{{path('admin_product_index',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-chevron-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if languages is defined %}
                                    {% for lang in languages %}
                                        <li class="{% if selected is defined %}{% if selected == lang.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                            <a href="#lang{{loop.index}}" data-toggle="tab">{{lang.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                           
                        <div class="tab-content">
                            {% if languages is defined %}
                                {% for lang in languages %}
                                    <div class="tab-pane {% if selected is defined %}{% if selected == lang.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}" id="lang{{loop.index}}">
									
                                        <form method="post" enctype="multipart/form-data" action="{{ path('admin_product_addproductdb',{'domain':app.session.get('domain')}) }}">
											
                                            <input type="hidden" value="{{lang.language_master_id}}" name="language_master_id"/>
											
											<!-- for edit -->
											{% if category is defined and category is not empty %}
												<input type="hidden" value="{{ category[0].product_master_id }}" name="main_product_id"/>
												
												{% if lang.language_master_id == category[0].language_id %}
													<input type="hidden" name="language_id" value="{{ category[0].language_id }}"/>
													<input type="hidden" name="product_master_id" value="{{ category[0].product_master_id }}"/>
												{% endif %}
												
											{% endif %}
											
                                            {% if category_id is defined %}
                                                <input type="hidden" name="product_id" value="{{product_id}}"/>
                                            {% endif %}

                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Product Name</label>
                                                </div>
                                                <div class="col-lg-10">
                                               
                                                    <input type="text" name="product_name" class="form-control"
                                                           {% if category is defined and category is not empty %}
                                                               {% for category in category %}
                                                                   {% if category.language_id == lang.language_master_id %}
                                                                       value="{{category.product_name}}"
                                                                   {% endif %}
                                                               {% endfor %}
                                                           {% endif %} required=""/>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Product Description</label>
                                                </div>
                                                <div class="col-lg-10">
                                               
                                                    <textarea name="product_description" class="form-control" required="">{% if category is defined and category is not empty %}{% for category in category %}{% if category.language_id == lang.language_master_id %}{{category.product_description}}{% endif %}{% endfor %}{% endif %}</textarea>
                                                </div>
                                            </div>    
                                                    <div class="row form-group ">
                                                        <div class="col-lg-2">
                                                            <label> Image</label>
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <input type="file" name="image" accept=".png, .jpg, .jpeg .gif .bmp" class="form-control"  onchange="readcoverimagebox(this)" />

                                                            {% if category is defined and category is not empty %}
															  {% for category in category %}
									 {% if category.language_id == lang.language_master_id %}							
                                                                <img src="{{ category.media_url }}" id="image" width="100" height="100" class="display-image" onload="$(this).prev().removeAttr('required');" /> 
                                                                <input type="hidden" name="categoryimage_hidden" class="form-control" value="{{ category.media_url }}" /> 
																
															{% endif %}	
															  {% endfor %}
                                                            {% endif %}
                                                            <input type="hidden" value="" name="image_hidden">


                                                        </div>
                                                    </div>
                                              
                                            <div class="row form-group">
                                                <div class="col-lg-2">
                                                    <label>Status</label>
                                                </div>
                                                <div class="col-lg-10">
													
													{% set cat_status_active = '' %}
													{% set cat_status_inactive = '' %}
													{% if category is defined and category is not empty %}
                                                                                                            {% for category in category %}
													  {% if category.language_id == lang.language_master_id %}
														{% if category.product_status == 'active' %}
															{% set cat_status_active = 'checked' %}
														{% endif %}
														{% if category.product_status == 'inactive' %}
														   {% set cat_status_inactive = 'checked' %}
													   {% endif %}
													  {% endif %}
                                                                                                          {%endfor%}
													{% endif %}
													
                                                    <label class="radio-inline">
                                                        <input type="radio" name="status" required="" value="active" {{ cat_status_active }} /> Active
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="status" required="" value="inactive" {{ cat_status_inactive }} /> Inactive
                                                    </label>
                                                </div>
                                            </div>

                                            <hr />
                                            <div class="row" align="center">
                                                <div class="col-lg-10 col-lg-offset-2">
                                                    <div class="col-lg-6">
                                                        <button type="submit" class="btn btn-primary save-btn" name="add">Save</button>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <a href="{{path('admin_product_index',{'domain':app.session.get('domain')})}}" class="btn btn-default cancel-btn">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div><!-- /.box -->
        </div>

    </section>
    <!----------- Main content : END ---------------------------------------------------------->
{% endblock %}
{% block js %}


    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>



    <script type="text/javascript">
	$(function () {
		$("#example1").DataTable();
	});
	function readcoverimagebox(input) {
		//code
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#image').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
	function readcoverimagebox1(input) {
		//code
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('#cover_image').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").datepicker({
                "setDate": new Date(),
                "autoclose": true
            });
        });


        function check_cat(cat)
        {
            if (cat != '0')
            {
                $(".ingred").removeClass('hide');
            } else {
                $(".ingred").addClass('hide');
            }
        }

    </script>


{% endblock %}
