{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Product List {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <style>
        .paddBottom { padding-bottom: 20px; }
        .avatar img{
            width: 40px;
            max-width: 100%;
            height: auto;
            border: 0 none;
            border-radius: 1000px;
        }
    </style>
{% endblock %}
{% block content %}

    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Product
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Product</li>
        </ol>
    </section>

    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Product</h3>
                        <a href="{{ path('admin_product_addproduct') }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Product</b></a>
                    </div>
                    <div class="box-body">
                        <table id="category_list" class="table display table-striped table-bordered scroll-horizontal">
                            <thead>
                            <th hidden>Main Product ID</th>
                            <th>Image</th>
                                {% if languages is defined and languages is not empty %}
                                    {% for language in languages %}
                                    <th> Name : {{language.display_title }}</th>
                                    {% endfor %}
                                {% endif %}
                            <th>Status</th>
                            <th>Operations</th>
							{% if right_codes is defined and right_codes is not empty %}
								{% if 'SDPV23' in right_codes %}
									<th>Delete</th>
								{% endif %}
							{% endif %}
                            </thead>
                            <tbody>
                                {% if category_list is defined and category_list is not empty %}
                                    {%for category in category_list %}
                                        <tr>
                                            <td hidden></td>
                                            <td>
                                                <span class="avatar avatar-online">
                                                    {% if category.media_title != '' %}
                                                        <img src="{{ asset('bundles/Resource/product/') }}{{ category.media_title }}" />
                                                    {%endif%}
                                                </span>
                                            </td>

                                            {% if category.lang_wise_category is defined and category.lang_wise_category is not empty %}
                                                {% for lang_wise_category in category.lang_wise_category %}
                                                    <td>{{lang_wise_category.product_name}}</td>
                                                {%endfor%}
                                            {%endif%}
                                            <td>
                                                {% if category.product_status == 'active' %}
                                                    {% set status_label = 'Active' %}
                                                    {% set status_class = 'success' %}
                                                    {% set checked = 'checked' %}
                                                {% else %}
                                                    {% set status_label = 'Inactive' %}
                                                    {% set checked = '' %}
                                                {%endif%}

                                                <input data-on="active" class="status status_23" data-off="inactive" type="checkbox" onchange="change_status({{ category.product_master_id }}, 0)"  data-toggle="toggle" data-size="mini" data-onstyle="success" {{ checked }}>

                                            </td>
                                            <td>
												{% if right_codes is defined and right_codes is not empty %}
													{% if 'SEPV22' in right_codes %}
														<a class="editcategory btn btn-info btn-xs" href="{{path('admin_product_addproduct',{'domain':app.session.get('domain'),'catmain_id':category.product_master_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="edit">
															<i class="fa fa-pencil-square-o"></i>
														</a>
													{% endif %}
												{% endif %}
                                                <a class="btn btn-warning btn-xs" href="{{ path('admin_product_viewvote', {'product_id': category.product_master_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="View Votes">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a class="btn btn-warning btn-xs" href="{{ path('admin_product_productcomment', {'product_id': category.main_product_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="View Vote Comments">
                                                    <i class="fa fa-comments"></i>
                                                </a>												
                                            </td>
											{% if right_codes is defined and right_codes is not empty %}
												{% if 'SDPV23' in right_codes %}
												<td>
													<a class="deletecategory btn btn-danger btn-xs" href="{{ path('admin_product_deleteproduct', {'cat_id':category.main_product_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
														<i class="fa fa-trash-o"></i>
													</a>
												</td>
												{% endif %}
											{% endif %}
                                        </tr>	
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                            <tfoot>
                            <th hidden>Mian Category ID</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Parent Category</th>
                            <!-- <th>Tags</th>-->
                            <th>Operations</th>
							{% if right_codes is defined and right_codes is not empty %}
								{% if 'SDPV23' in right_codes %}
									<th>Delete</th>
								{% endif %}
							{% endif %}
                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block js %}
    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script>
                                                    $(document).ready(function () {
                                                        $('#category_list').DataTable();

                                                        $('.editcategory').click(function () {
                                                            var cnfm = confirm('Are you sure?');
                                                            if (cnfm) {
                                                                return true;
                                                            }
                                                            return false;
                                                        });

                                                        $('.deletecategory').click(function () {
                                                            var cnfm = confirm('Are you sure, you want to delete?');
                                                            if (cnfm) {
                                                                var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
                                                                if (cnfm1) {
                                                                    return true;
                                                                }
                                                            }
                                                            return false;
                                                        });
                                                    });
                                                    function change_status(id, index) {
                                                        if (id != '') {
                                                            var url = "{{ path('admin_product_ajaxupdatestatus') }}";
                                                            $.ajax({
                                                                url: url,
                                                                method: 'post',
                                                                data: {'cat_id': id},
                                                                success: function (response) {
                                                                    /*if(response == 'true'){
                                                                     var curr_btn = $('#cat_status_' + index);
                                                                     if(curr_btn.hasClass('btn-success')){
                                                                     curr_btn.removeClass('btn-success').addClass('btn-warning');
                                                                     curr_btn.html('Inactive');
                                                                     } else {
                                                                     curr_btn.removeClass('btn-warning').addClass('btn-success');
                                                                     curr_btn.html('Active');
                                                                     }
                                                                     }*/
                                                                },
                                                                error: function (error) {
                                                                    console.log(error);
                                                                }
                                                            });
                                                        }
                                                    }
    </script>
{% endblock %}