{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Product List {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <style>
        .paddBottom { padding-bottom: 20px; }
        .avatar img{
            width: 40px;
            max-width: 100%;
            height: auto;
            border: 0 none;
            border-radius: 1000px;
        }
    </style>
{% endblock %}
{% block content %}

    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Product Comments
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Product Comments</li>
        </ol>
    </section>

    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Product Comments</h3>
                        <a href="{{ path('admin_product_index') }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-arrow"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div>
                    <div class="box-body">
                        <table id="category_list" class="table display table-striped table-bordered scroll-horizontal">
                            <thead>
                            <th hidden>Main Product ID</th>
							<th>Comments</th>
							<th>Created On</th>
							{% if right_codes is defined and right_codes is not empty %}
								{% if 'SEPV22' in right_codes %}
									<th>Operations</th>
								{% endif %}
							{% endif %}
                            {% if right_codes is defined and right_codes is not empty %}
								{% if 'SDPV23' in right_codes %}
									<th>Delete</th>
								{% endif %}
							{% endif %}
                            </thead>
                            <tbody>
                                {% if comments is defined and comments is not empty %}
                                    {%for comments in comments %}
                                        <tr>
                                            <td hidden></td>
											<td><span id="comment_{{comments.vote_comment_id}}">{{comments.comments}}</span>
												<input id="input_comment_{{comments.vote_comment_id}}" value="" style="display:none">
											</td>
											<td>{{comments.created_datetime}}</td>
											{% if right_codes is defined and right_codes is not empty %}
												{% if 'SEPV22' in right_codes %}
												<td>
													<a class="btn btn-info btn-xs" onclick="edit_comment({{comments.vote_comment_id}})" data-toggle="tooltip" data-placement="top" data-original-title="edit">
														<i class="fa fa-pencil-square-o"></i>
													</a>
													<button class="btn btn-info btn-xs" id="upd_btn_{{comments.vote_comment_id}}" onclick="save_comment({{comments.vote_comment_id}})"style="display:none">Update</button>
												</td>
												{% endif %}
											{% endif %}
											{% if right_codes is defined and right_codes is not empty %}
												{% if 'SDPV23' in right_codes %}
													<td>
														<a class="deletecategory btn btn-danger btn-xs" href="{{ path('admin_product_deleteproductcomment', {'comment_id':comments.vote_comment_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
															<i class="fa fa-trash-o"></i>
														</a>
													</td>
												{% endif %}
											{% endif %}
                                        </tr>	
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                            <tfoot>
                            <th hidden>Mian Category ID</th>
							<th>Comments</th>
							<th>Created On</th>
                            {% if right_codes is defined and right_codes is not empty %}
								{% if 'SEPV22' in right_codes %}
									<th>Operations</th>
								{% endif %}
							{% endif %}
                            {% if right_codes is defined and right_codes is not empty %}
								{% if 'SDPV23' in right_codes %}
									<th>Delete</th>
								{% endif %}
							{% endif %}
                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block js %}
    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script>
	
	function edit_comment(comment_id){
		var comment = $.trim($('#comment_'+comment_id).text());
		$('#input_comment_'+comment_id).val(comment);
		$('#comment_'+comment_id).hide();	
		$('#input_comment_'+comment_id).show();	
		$('#upd_btn_'+comment_id).show();

	}
	
	function save_comment(comment_id){
		var comment = $('#input_comment_'+comment_id).val();
		if(comment == ''){
			alert('comment cant be empty');
		}else{
			$.ajax({
				url : "{{ path('admin_product_editproductcomment') }}",
				method : 'POST',
				data : {'com_id':comment_id,'comment':comment},
				success : function(res){
					alert('Comment Edited Successfully');
					location.reload();
				}	
			});
		}
	}
                                                    $(document).ready(function () {
                                                        $('#category_list').DataTable();

                                                        $('.editcategory').click(function () {
                                                            var cnfm = confirm('Are you sure?');
                                                            if (cnfm) {
                                                                return true;
                                                            }
                                                            return false;
                                                        });

                                                        $('.deletecategory').click(function () {
                                                            var cnfm = confirm('Are you sure, you want to delete?');
                                                            if (cnfm) {
                                                                var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
																if(cnfm1){
																	return true;
																}
                                                            }
                                                            return false;
                                                        });
                                                    });
                                                    function change_status(id, index) {
                                                        if (id != '') {
                                                            var url = "{{ path('admin_product_ajaxupdatestatus') }}";
                                                            $.ajax({
                                                                url: url,
                                                                method: 'post',
                                                                data: {'cat_id': id},
                                                                success: function (response) {
                                                                    /*if(response == 'true'){
                                                                     var curr_btn = $('#cat_status_' + index);
                                                                     if(curr_btn.hasClass('btn-success')){
                                                                     curr_btn.removeClass('btn-success').addClass('btn-warning');
                                                                     curr_btn.html('Inactive');
                                                                     } else {
                                                                     curr_btn.removeClass('btn-warning').addClass('btn-success');
                                                                     curr_btn.html('Active');
                                                                     }
                                                                     }*/
                                                                },
                                                                error: function (error) {
                                                                    console.log(error);
                                                                }
                                                            });
                                                        }
                                                    }
    </script>
{% endblock %}