{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Product Vote List {% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
    <style>
        .paddBottom { padding-bottom: 20px; }
        .avatar img{
            width: 40px;
            max-width: 100%;
            height: auto;
            border: 0 none;
            border-radius: 1000px;
        }
    </style>
{% endblock %}
{% block content %}

    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Product Vote List
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li>Product</li>
            <li class="active">Product Vote List</li>
        </ol>
    </section>

    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Product Vote List</h3>
                        {# <a href="{{ path('admin_product_addproduct') }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Product</b></a> #}
                    </div>
                    <div class="box-body">
                        <table id="vote_list" class="table display table-striped table-bordered scroll-horizontal">
                            <thead>
								<th>No.</th>
								<th>Username</th>
								<th>User Email</th>
								<th>Vote type</th>
								<th>Comment</th>
								<th>Delete</th>
                            </thead>
                            <tbody>
                                {% if vote_data is defined and vote_data is not empty %}
                                    {%for vote in vote_data %}
                                        <tr>
											<td>{{ loop.index }}</td>
                                            <td>{{ vote.user_fullname }}</td>
                                            <td>{{ vote.email }}</td>
                                            <td>{{ vote.vote_type }}</td>
                                            <td>{{ vote.comment }}</td>
                                            <td>
												<a class="deleterow btn btn-danger btn-xs" href="{{ path('admin_product_deletevote', {'vote_id':vote.vote_master_id}) }}{%if vote.vote_comment_id != ''%}/{{ vote.vote_comment_id }}{%endif%}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
											</td>
                                        </tr>	
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                            <tfoot>
								<th>No.</th>
								<th>Username</th>
								<th>User Email</th>
								<th>Vote type</th>
								<th>Delete</th>
                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block js %}
    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script>
	$(document).ready(function () {
		$('#vote_list').DataTable();

		$('.editcategory').click(function () {
			var cnfm = confirm('Are you sure?');
			if (cnfm) {
				return true;
			}
			return false;
		});

		$('.deleterow').click(function () {
			var cnfm = confirm('Are you sure, you want to delete?');
			if (cnfm) {
				var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
				if(cnfm1){
					return true;
				}
			}
			return false;
		});
	});
	function change_status(id, index) {
		if (id != '') {
			var url = "{{ path('admin_category_ajaxupdatestatus') }}";
			$.ajax({
				url: url,
				method: 'post',
				data: {'cat_id': id},
				success: function (response) {
					/*if(response == 'true'){
					 var curr_btn = $('#cat_status_' + index);
					 if(curr_btn.hasClass('btn-success')){
					 curr_btn.removeClass('btn-success').addClass('btn-warning');
					 curr_btn.html('Inactive');
					 } else {
					 curr_btn.removeClass('btn-warning').addClass('btn-success');
					 curr_btn.html('Active');
					 }
					 }*/
				},
				error: function (error) {
					console.log(error);
				}
			});
		}
	}
    </script>
{% endblock %}