{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Term and Condition {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
		.paddTop { padding-top: 20px; }
	</style>
{% endblock %}
{% block content %}
	
	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Term and Condition
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Term and Condition</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
			<div role="alert" class="alert alert-success alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
			<div role="alert" class="alert alert-danger alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		
		<div class="row">
			<div class="col-md-12" role="tabpanel">
				<div class="box box-primary">
					<div class="box-body">
					{% if languages is defined  and languages is not empty%}
						<div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if languages is defined %}
                                   {% for language in languages %}
                                        <li class="{% if selected is defined %}{% if selected == language.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                            <a href="#lan_{{loop.index}}" data-toggle="tab">{{language.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
						
						<!-- tab-content -->
						<div class="tab-content">
						
							{% for language in languages %}
								<div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="lan_{{ language.language_master_id }}">
									
									{% set action = path('save_terms') %}
									{% set terms_conditions_master_id = '' %}
									{% set description = '' %}
									
									{% if termsCondition is defined and termsCondition is not empty %}
										
										{% for termsCondition in termsCondition %}
											{% if termsCondition.language_id == language.language_master_id %}
												
												{% set terms_conditions_master_id = termsCondition.terms_conditions_master_id %}
												{% set description = termsCondition.description %}
												{% set action = path('save_terms') %}
												
											{% endif %}
										{% endfor %}
									{% endif %}
									
									<form id="form-{{ language.language_master_id }}" class="form-horizontal" method="post" action="{{ action }}">
										
										<input type="hidden" name="terms_id" value="{{ terms_conditions_master_id }}">
										<input type="hidden" name="language_id" value="{{ language.language_master_id }}">
										
										<div class="row">
											<div class="col-md-12">
												<textarea id="editor1" class="ckeditor" name="termsDetails">{{ description }}</textarea>
											</div>
										</div>
										
										<div class="row paddTop">
											<div class="col-md-12">
												<div class="col-md-6">
													<button type="submit" name="submit" class="btn btn-primary" value="{{ language.language_master_id }}">
														<span><i class="fa fa-check-square-o"></i>&nbsp;Submit</span>
													</button>
												</div>
											</div>
										</div>
										
									</form>
									
								</div>
							{% endfor %}
							
						</div>
						<!-- end: tab-content -->
							
					{% endif %}
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>
<script>
	$(document).ready(function(){
		$('#suggestions').DataTable();
	});
	$(function () {
		$('.editor1cls').each(function(e){
			CKEDITOR.replace( this.id);
		});
	})
	function validateForm(lan_id){
		alert(lan_id);
		return false;
	}
</script>
{% endblock %}