{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Feedback & Complaints {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Member Messages
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Member Messages</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body table-responsive">
						<table id="suggestions" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th>No</th>
								<th>Name</th>
								<th>Email Id</th>
								<th>Phone no</th>
								<th>Message</th>
								<th>Date</th>
								<th>Operations</th>
                                <th>Delete</th>
							</thead>
							<tbody>
							{% if feedback_details is defined  and feedback_details is not empty%}
								{% for feedback_details in feedback_details %}
									<tr>
										<td>{{loop.index}}</td>
										<td id="name_{{ feedback_details.contact_us_feedback_id }}">{{ feedback_details.name }}</td>
										<td>{{ feedback_details.email_address }}</td>
										<td>{{ feedback_details.phone_number }}</td>
										<td>
											<p><a href="javascript:void(0);" data-title="tooltip" title="Click to show" data-toggle="modal" data-target="#myModal" onclick="show_message({{ feedback_details.contact_us_feedback_id }})">{{ feedback_details.short_message }}</a></p>
											<p class="hide" id="feedback_{{ feedback_details.contact_us_feedback_id }}">{{ feedback_details.message }}</p>
										</td>
										<td>{{ feedback_details.created_date }}</td>
										<td>
											<a href="#myModal" class="btn btn-warning btn-xs"  data-toggle="modal" id="{{ feedback_details.contact_us_feedback_id }}"data-target="#edit-modal">Send Email</a>
										</td>
										<td>
											<a class="btn btn-danger btn-xs deleterow" href="{{ path('admin_feedback_removefeedback', {'feedback_id': feedback_details.contact_us_feedback_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
												<i class="fa fa-trash-o"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							{% endif %}
							</tbody>
							<tfoot>
								<th>No</th>
								<th>Name</th>
								<th>Email Id</th>
								<th>Phone no</th>
								<th>Message</th>
								<th>Date</th>
								<th>Operations</th>
                                <th>Delete</th>
							</tfoot>
						</table>
					</div>
					
					<div id="myModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">
										Name: <span id="model_header"></span>
									</h4>
								</div>
								<div class="modal-body">
									<p id="feedback_comment"></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
					
					<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form method="post" enctype="multipart/form-data" action="{{ path('admin_feedback_sendemail') }}">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">Reply Via Email</h4>
									</div>
									<div class="modal-body edit-content">
										
											<div class="row">
												<div class="col-xs-2"> Name </div>
												<div class="col-xs-6" > <div id="nick_name"></div></div>                                
											</div>
											<div class="row">
												<div class="col-xs-2"> Email </div>
												<div class="col-xs-8" > <div id="email_address"></div></div>                                
											</div>
											<div class="row">
												<div class="col-xs-2">Message</div>
												<div class="col-xs-10">
													<textarea name='email_message' class='form-control' required></textarea>
													<input type='hidden' name='feedback_id' id="suggestion_id" value='' />
													<input type='hidden' name='email_address_hidden' id="email_address_hidden" value='' />
												</div>
											</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-primary">Send Email</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$('#suggestions').DataTable();
		$('[data-title="tooltip"]').tooltip(); 
	});
	
	function show_message(feedback_id){
		$('#model_header').text($('#name_' + feedback_id).text());
		$('#feedback_comment').text($('#feedback_' + feedback_id).text());
	}
	
	$('.deleterow').click(function(){
		var cnfm = confirm('Are you sure, you want to delete?');
		if(cnfm){
			var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
			if(cnfm1){
				return true;
			}
		}
		return false;
	});
	
	$('#edit-modal').on('show.bs.modal', function(e) {
	   // alert();
		var $modal = $(this),
		suggestion_id = e.relatedTarget.id;
		var url = "{{ path('admin_feedback_getfeedback') }}";
		$.ajax({
			url: url,
			method: 'post',
			data: {'feedback_id' : suggestion_id},
			success: function(response){
				response = JSON.parse(response) ;
				console.log(response.email);
				var html = '';
				html += "<b>Nick Name : </b>" + response.nick_name + "<br>";
				html += "<b>Email Address : </b>" + response.email +"<br>";
				html += "<b>Message :</b> <textarea name='email_message' class='form-control' ></textarea><input type='hidden' name='suggestion_id' value='"+suggestion_id+"' /><br>";
				$modal.find('#nick_name').html(response.nick_name);
				$modal.find('#email_address').html(response.email);
				$modal.find('#suggestion_id').val(suggestion_id);
				$modal.find('#email_address_hidden').val(response.email);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
</script>
{% endblock %}