{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
 
	
	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
			<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'43'})) }}</h1>
			{%if site_privacy is defined and site_privacy is not empty%}
				{%for site_privacy_data in site_privacy%}
					{% autoescape false%}
						{{site_privacy_data.description}}
					{% endautoescape %}
				{%endfor%}
			{%endif%}	
		</div>
	</div>
	
{% endblock %}
