{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Suggestions & Complaints {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
		.container1 {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			font-size: 22px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		/* Hide the browser's default checkbox */
		.container1 input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			display: none;
		}

		/* Create a custom checkbox */
		.checkmark {
			position: absolute;
			top: -22px;;
			left: 24px;
			height: 23px;
			width: 23px;
			background-color: #e5e5e5;
		}

		/* On mouse-over, add a grey background color */
		.container1:hover input ~ .checkmark {
			background-color: #ccc;
		}

		/* When the checkbox is checked, add a blue background */
		.container1 input:checked ~ .checkmark {
			background-color: #f4b400;
		}

		/* Create the checkmark/indicator (hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

		/* Show the checkmark when checked */
		.container1 input:checked ~ .checkmark:after {
			display: block;
		}

		/* Style the checkmark/indicator */
		.container1 .checkmark:after {
			left: 9px;
			top: 5px;
			width: 5px;
			height: 10px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		#delete_selected_input .btn{
			background: #f4b400;
			border: 1px solid #f4b400;
		}
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Suggestions & Complaints
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Suggestions & Complaints</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-default">
					<div class="box-body table-responsive">
						<table id="suggestions" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th>No.</th>
								<th>Nick name</th>
								<th>Subject</th>
								<th>Comment</th>
								<th>Email</th>
								<th>Contact No.</th>
								<th>Date</th>
								<th>Operations</th>
								<th>Delete</th>
							</thead>
							<tbody>
							{% if suggestions is defined  and suggestions is not empty%}
								{% for suggestion in suggestions %}
									<tr id="question_{{ suggestion.suggestion_complaints_id }}">
										<td>{{ loop.index }}</td>
										<td>{{ suggestion.nick_name }}</td>
										<td>{{ suggestion.subject }}</td>
										<td>{{ suggestion.comments }}</td>
										<td>{{ suggestion.email_address }}</td>
										<td>{{ suggestion.user_mobile }}</td>
										<td>{{ suggestion.created_date }}</td>
										<td>
											<a href="#myModal" class="btn btn-warning btn-xs"  data-toggle="modal" id="{{ suggestion.suggestion_complaints_id }}"data-target="#edit-modal">Send Email</a>      
										</td>
										<td>
											<a class="btn btn-danger btn-xs deleterow" href="{{ path('admin_suggestions_removesuggestions', {'suggestion_id': suggestion.suggestion_complaints_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
												<i class="fa fa-trash-o"></i>
											</a>
											<label class="container1">
												<input type="checkbox">
												<span class="checkmark" onclick="del_response({{ suggestion.suggestion_complaints_id }});"></span>
											</label>
										</td>
									</tr>
								{% endfor %}
							{% endif %}
							</tbody>
						</table>
					</div>
                                         <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data" action="{{ path('admin_suggestions_sendemail') }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Reply Via Email</h4>
                </div>
                <div class="modal-body edit-content">
                    
                        <div class="row">
                            <div class="col-xs-2"> Name </div>
                            <div class=col-xs-6" > <div id="nick_name"></div></div>                                
                        </div>
                        <div class="row">
                            <div class="col-xs-2"> Email </div>
                            <div class=col-xs-8" > <div id="email_address"></div></div>                                
                        </div>
                        <div class="row">
                            <div class="col-xs-2">Message</div>
                            <div class="col-xs-10">
                                <textarea name='email_message' class='form-control' required></textarea>
                                <input type='hidden' name='suggestion_id' id="suggestion_id" value='' />
                                <input type='hidden' name='email_address_hidden' id="email_address_hidden" value='' />
                            </div>
                            
                        </div>
                        
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send Email</button>
                </div>
                 </form>
            </div>
        </div>
    </div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$('#suggestions').DataTable();
	});
	
	var feedback_ids = [];
	var search_html = '';
	function del_response(feedback_id){
		
		var i = 0;
		var add_flag = true;
		for(i=0;i<feedback_ids.length;i++){
			if(feedback_ids[i] == feedback_id){
				add_flag = false;
				feedback_ids.splice(i,1);
			}
		}
		if(add_flag == true){
			feedback_ids.push(feedback_id);
		}
		
		if(feedback_ids.length > 0){
			if(feedback_ids.length == 1){
				$('#suggestions_filter').addClass('hide');
				$('#delete_selected_input').remove();
				$('#suggestions_filter').after('<div id="delete_selected_input" class="text-right"><input type="button" class="btn btn-primary" onclick="delete_selected_questions();" value="Delete Selected"></div>');
			}
		} else {
			$('#suggestions_filter').removeClass('hide');
			$('#delete_selected_input').remove();
		}
	}
	
	function delete_selected_questions(){
		var cnfm = confirm("Do you want delete the comments'?");
		if(cnfm){
			var cnfm2 = confirm("Are you sure?");
			if(cnfm2){			
				if(feedback_ids.length == 0){
					alert('Please select checkbox');
					return false;
				}
				
				var url = "{{ path('admin_suggestions_removebulksuggestions') }}";
				$.ajax({
					url: url,
					data: {"feedback_ids": feedback_ids.join()},
					method: 'POST',
					success: function(response){
						var res = JSON.parse(response);
						console.log(res);
						if(res['message'] == 'failed'){
							location.href = "{{ path('admin_dashboard_index') }}";
						}
						if(res['success'] == true){
							alert(res['message']);
							for(i=0;i<feedback_ids.length;i++){
								$('#question_' + feedback_ids[i]).remove();
							}
							
							feedback_ids = [];
							$('#suggestions_filter').removeClass('hide');
							$('#delete_selected_input').remove();
						}
					},
					error: function(error){
						console.log(error);
					}
				});			
			}
		}
	}
	
	$('.deleterow').click(function(){
		var cnfm = confirm('Are you sure, you want to delete?');
		if(cnfm){
			var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
			if(cnfm1){
				return true;
			}
		}
		return false;
	});
        
        $('#edit-modal').on('show.bs.modal', function(e) {
           // alert();
            var $modal = $(this),
            suggestion_id = e.relatedTarget.id;
            var url = "{{ path('admin_suggestions_getsuggestion') }}";
            $.ajax({
                    url: url,
                    method: 'post',
                    data: {'suggestion_id' : suggestion_id},
                    success: function(response){
                            response = JSON.parse(response) ;
                            console.log(response.email);
                            var html = '';
                            html += "<b>Nick Name : </b>" + response.nick_name + "<br>";
                            html += "<b>Email Address : </b>" + response.email +"<br>";
                            html += "<b>Message :</b> <textarea name='email_message' class='form-control' ></textarea><input type='hidden' name='suggestion_id' value='"+suggestion_id+"' /><br>";
                             $modal.find('#nick_name').html(response.nick_name);
                             $modal.find('#email_address').html(response.email);
                             $modal.find('#suggestion_id').val(suggestion_id);
                             $modal.find('#email_address_hidden').val(response.email);
                             //$modal.find('.edit-content').html(suggestion_id);
                    },
                    error: function(error){
                            console.log(error);
                    }
            });
            
//            $.ajax({
//                cache: false,
//                type: 'POST',
//                url: 'backend.php',
//                data: 'EID='+essay_id,
//                success: function(data) 
//                {
                   // $modal.find('.edit-content').html(esseyId);
//                }
//            });
            
        })
    
</script>
{% endblock %}