{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Ask the Community {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
		.container1 {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			font-size: 22px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		/* Hide the browser's default checkbox */
		.container1 input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			display: none;
		}

		/* Create a custom checkbox */
		.checkmark {
			position: absolute;
			top: -22px;;
			left: 31px;
			height: 23px;
			width: 23px;
			background-color: #e5e5e5;
		}

		/* On mouse-over, add a grey background color */
		.container1:hover input ~ .checkmark {
			background-color: #ccc;
		}

		/* When the checkbox is checked, add a blue background */
		.container1 input:checked ~ .checkmark {
			background-color: #f4b400;
		}

		/* Create the checkmark/indicator (hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

		/* Show the checkmark when checked */
		.container1 input:checked ~ .checkmark:after {
			display: block;
		}

		/* Style the checkmark/indicator */
		.container1 .checkmark:after {
			left: 9px;
			top: 5px;
			width: 5px;
			height: 10px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		#delete_selected_input .btn{
			background: #f4b400;
			border: 1px solid #f4b400;
		}
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Ask the Community
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Ask the Community</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body table-responsive">
						{# <!-- <div id="delete_selected_div" class="col-sm-12 text-right hide">
							<input type="button" class="btn btn-primary" value="Delete Selected">
						</div> --> #}
						<table id="suggestions" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th>No</th>
								<th>Name</th>
								<th>Question</th>
								<th>Created On</th>
								{% if right_codes is defined and right_codes is not empty %}
									{% if 'SECQ26' in right_codes %}
										<th>Operations</th>
									{% endif %}
								{% endif %}
								{% if right_codes is defined and right_codes is not empty %}
									{% if 'SDCQ28' in right_codes %}
										<th>Delete</th>
									{% endif %}
								{% endif %}
							</thead>
							<tbody>
								{% if question is defined and question is not empty%}
									{% for question_data in question %}
									<tr id="question_{{ question_data.community_chat_id }}">	
										<td>{{loop.index}}</td>
										<td>{{question_data.username}}</td>
										<td>{{question_data.community_chat}}</td>
										<td>{{question_data.created_datetime}}</td>
										<td>
											<a class="btn btn-info btn-xs" href="{{path('admin_view_answer',{'question_id':question_data.community_chat_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="view">
												<i class="fa fa-fw fa-eye"></i>
											</a>
											{% if right_codes is defined and right_codes is not empty %}
												{% if 'SDCQ28' in right_codes %}
												<label class="container1">
													<input type="checkbox">
													<span class="checkmark" onclick="del_response({{ question_data.community_chat_id }});"></span>
												</label>
												{% endif %}
											{% endif %}
											
										</td>
										{% if right_codes is defined and right_codes is not empty %}
											{% if 'SDCQ28' in right_codes %}
												<td>
													<a class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to Delete?')" href="{{path('admin_delete_question',{'question_id':question_data.community_chat_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
														<i class="fa fa-trash-o"></i>
													</a> 										
												</td>
											{% endif %}
										{% endif %}
									</tr>	
									{%endfor%}
								{%endif%}
							</tbody>
							<tfoot>
								<th>No</th>
								<th>Name</th>
								<th>Question</th>
								<th>Created On</th>
								{% if right_codes is defined and right_codes is not empty %}
									{% if 'SECQ26' in right_codes %}
										<th>Operations</th>
									{% endif %}
								{% endif %}
								{% if right_codes is defined and right_codes is not empty %}
									{% if 'SDCQ28' in right_codes %}
										<th>Delete</th>
									{% endif %}
								{% endif %}
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$('#suggestions').DataTable();
	});
	
	var chat_ids = [];
	var search_html = '';
	function del_response(chat_id){
		
		var i = 0;
		var add_flag = true;
		for(i=0;i<chat_ids.length;i++){
			if(chat_ids[i] == chat_id){
				add_flag = false;
				chat_ids.splice(i,1);
			}
		}
		if(add_flag == true){
			chat_ids.push(chat_id);
		}
		
		if(chat_ids.length > 0){
			if(chat_ids.length == 1){
				$('#suggestions_filter').addClass('hide');
				$('#delete_selected_input').remove();
				$('#suggestions_filter').after('<div id="delete_selected_input" class="text-right"><input type="button" class="btn btn-primary" onclick="delete_selected_questions();" value="Delete Selected"></div>');
			}
		} else {
			$('#suggestions_filter').removeClass('hide');
			$('#delete_selected_input').remove();
		}
	}
	
	function delete_selected_questions(){
		var cnfm = confirm("Do you want delete the comments'?");
		if(cnfm){
			var cnfm2 = confirm("Are you sure?");
			if(cnfm2){			
				if(chat_ids.length == 0){
					alert('Please select checkbox');
					return false;
				}
				
				var url = "{{ path('admin_askthecommunity_deletebulkchat') }}";
				$.ajax({
					url: url,
					data: {"chat_ids": chat_ids.join()},
					method: 'POST',
					success: function(response){
						var res = JSON.parse(response);
						console.log(res);
						if(res['message'] == 'failed'){
							location.href = "{{ path('admin_dashboard_index') }}";
						}
						if(res['success'] == true){
							alert(res['message']);
							for(i=0;i<chat_ids.length;i++){
								$('#question_' + chat_ids[i]).remove();
							}
							
							$('#suggestions_filter').removeClass('hide');
							$('#delete_selected_input').remove();
						}
					},
					error: function(error){
						console.log(error);
					}
				});			
			}
		}
	}
</script>
{% endblock %}