{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/site/')}}css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/site/')}}fonts/stylesheet.css" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/site/')}}css/jquery.bxslider.css" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/site/')}}css/custom.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<style>
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
	display: none;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: #ff3c77;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.delete-btn:focus{
	background-color: #ff3c77 !important;
}
.comment-edit {
    display: inline-flex;
}
.comment-edit .btn-info{
	height: 23px;
}
.modify_btn {
    height: 29px;
    margin-top: -2px;
	padding-top: 3px;
}
</style>
	<section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Add Common Question
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Add-Update Common Question</li>
        </ol>
    </section>
	
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
			<div role="alert" class="alert alert-success alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
			<div role="alert" class="alert alert-danger alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		
		<div class="row">
			<div class="col-md-12" role="tabpanel">
				<div class="box box-primary">
					<div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                            <a href={{path('admin_askthe_community_index')}} class="btn btn-primary btn-flat" title="Back to Que List"><i class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a>

                        </div>
                    </div>
					<div class="box-body">
					   <div class="main-in-area">
							<div class="container" style="max-width:100%;">
								{% if chat_details is defined and chat_details is not empty %}
									{%for chat_details_data in chat_details %}
										<div class="panel panel-default">
											<div class="panel-body">
												<div class="media ask-community-qa-wrap">
													<div class="media-left">
														{% if chat_details_data.media_title_asked_by != '' and chat_details_data.media_location_asked_by%}
															<img class="media-object img-circle" src="{{asset(''~chat_details_data.media_location_asked_by~'/'~chat_details_data.media_title_asked_by)}}">
														{%else%}
															<img class="media-object img-circle" src="{{asset('bundles/Resource/default.png')}}">

														{%endif%}
													</div>
													<div class="media-body">
														<h4 class="media-heading">{{chat_details_data.que_asked_by}}</h4>
														<span><small>{{chat_details_data.que_ask_date|date('d-m-Y')}}</small></span>
														<p id="edit_chat_{{ question_id }}">{{chat_details_data.main_que}}</p>
														<p>
															<input type="hidden" id="edit_chat_data_{{ question_id }}" value="{{ chat_details_data.main_que }}">
															<input type="button" id="update_chat_{{ question_id }}" class="btn btn-primary modify_btn hide" onclick="update_editchat({{ question_id }})" value="Update">
															<input type="button" id="cancel_edit_{{ question_id }}" class="btn btn-warning modify_btn hide" onclick="cancle_editchat({{ question_id }})" value="Cancel">
														</p>
														{% if chat_details_data.answer is defined and chat_details_data.answer is not empty%}
															{% for chat_reply in chat_details_data.answer%}
																<div id="chat_div_{{ chat_reply.community_chat_id }}" class="media ask-community-qa-wrap-nested">
																	<div class="media-left">
																		{% if chat_reply.media_title != '' and chat_reply.media_location%}
																			<img class="media-object img-circle" src="{{asset(''~chat_reply.media_location~'/'~chat_reply.media_title)}}">
																		{%elseif chat_reply.user_id == 1%}
																			<img class="media-object img-circle" src="{{asset('bundles/site/images/shrayek.png')}}">																				
																		{%else%}
																			<img class="media-object img-circle" src="{{asset('bundles/Resource/default.png')}}">	
																		{%endif%}
																	</div>
																	<div class="media-body">
																		<h4 class="media-heading">{{chat_reply.username}}</h4>
																		<p id="edit_chat_{{ chat_reply.community_chat_id }}">{{chat_reply.community_chat}}</p>
																		<p>
																			<input type="hidden" id="edit_chat_data_{{ chat_reply.community_chat_id }}" value="{{ chat_reply.community_chat }}">
																			<input type="button" id="update_chat_{{ chat_reply.community_chat_id }}" class="btn btn-primary modify_btn hide" onclick="update_editchat({{ chat_reply.community_chat_id }})" value="Update">
																			<input type="button" id="cancel_edit_{{ chat_reply.community_chat_id }}" class="btn btn-warning modify_btn hide" onclick="cancle_editchat({{ chat_reply.community_chat_id }})" value="Cancel">
																		</p>		
																	</div>
																	<div class="media-right">
																		<div class="comment-edit">
																			{% if right_codes is defined and right_codes is not empty %}
																				{% if 'SECC27' in right_codes %}
																			<a href="javascript:void(0);" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="edit" onclick="edit_chat({{ chat_reply.community_chat_id }})">
																				<i class="fa fa-pencil-square-o"></i>
																			</a>
																			{% endif %}
																			{% endif %}
																			&nbsp;
																			
																			{% if right_codes is defined and right_codes is not empty %}
																				{% if 'SDCC29' in right_codes %}
																			<label class="container1">
																				<input id="checkbox_{{ chat_reply.community_chat_id }}" type="checkbox">
																				<span class="checkmark" onclick="del_response({{ chat_reply.community_chat_id }});"></span>
																			</label>
																			{% endif %}
																			{% endif %}
																		</div>
																	</div>
																</div>
															{%endfor%}
														{%endif%}	
													</div>
													<div class="media-right">
														{% if right_codes is defined and right_codes is not empty %}
															{% if 'SECC27' in right_codes %}
														<div class="comment-edit">
															<a href="javascript:void(0);" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="edit" onclick="edit_chat({{ question_id }})">
																<i class="fa fa-pencil-square-o"></i>
															</a>&nbsp;
															{% if question_id is defined and question_id is not empty %}
																<label class="container1">
																	<input type="checkbox">
																	<span class="checkmark" onclick="remove_parentchat({{ question_id }})"></span>
																</label>
															{% endif %}
														</div>
														{% endif %}
														{% endif %}
														
													</div>
												</div>
											</div>
											<div class="panel-footer">
												<div class="row">
													<form method="POST" action="{{path('admin_save_reply')}}">
														<input type="hidden" name="parent_id" value="{{chat_details_data.parent_id}}">
														<input type="hidden" name="question_id" value="{{chat_details_data.questio_id}}">
														<div class="col-sm-10"><input type="text" name="answer" class="form-control" placeholder="Your Answer" required></div>
														<div class="col-sm-2"><button type="submit" class="btn btn-danger btn-block">Submit</button></div>
													</form>
												</div>
											</div>
										</div>					
									{%endfor%}
								{% endif%}

							</div>
							
							<div class="row">
								<div class="col-md-12 text-center">
									<input type="button" class="btn btn-primary delete-btn" value="Delete Comment" onclick="delete_comment();">
								</div>
							</div>
							
						</div>									
					</div>
				</div>
				</div>
			</div>		
	</section>
		
{% endblock %}

{% block js %}
<script>
	
	function edit_chat(chat_id){
		$('#edit_chat_' + chat_id).addClass('hide');
		$('#cancel_edit_' + chat_id).removeClass('hide');
		$('#update_chat_' + chat_id).removeClass('hide');
		$('#edit_chat_data_' + chat_id).attr('type', 'text');
	}

	function cancle_editchat(chat_id){
		$('#edit_chat_' + chat_id).removeClass('hide');
		$('#cancel_edit_' + chat_id).addClass('hide');
		$('#edit_chat_data_' + chat_id).attr('type', 'hidden');
		$('#update_chat_' + chat_id).addClass('hide');
	}
	
	function update_editchat(chat_id){
		
		var chat = $('#edit_chat_data_' + chat_id).val();
		
		if(chat != ''){
			var url = "{{ path('admin_askthecommunity_updatechat') }}";
			$.ajax({
				url: url,
				data: {"chat_id": chat_id, 'chat': chat},
				method: 'POST',
				success: function(response){
					var res = JSON.parse(response);
					
					if(res['message'] == 'failed'){
						location.href = "{{ path('admin_dashboard_index') }}";
					}
					
					if(res['success'] == true){
						$('#edit_chat_' + chat_id).text(chat);
						$('#edit_chat_' + chat_id).removeClass('hide');
						$('#edit_chat_data_' + chat_id).attr('type','hidden');	
						$('#update_chat_' + chat_id).addClass('hide');
						$('#cancel_edit_' + chat_id).addClass('hide');
					}
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
	
	var chat_ids = [];
	function del_response(chat_id){
		var i = 0;
		var add_flag = true;
		for(i=0;i<chat_ids.length;i++){
			if(chat_ids[i] == chat_id){
				add_flag = false;
				chat_ids.splice(i,1);
			}
		}
		if(add_flag == true){
			chat_ids.push(chat_id);
		}
		console.log(chat_ids);
	}
	
	function delete_comment(){
		
		var cnfm = confirm("Do you want delete the comments'?");
		if(cnfm){
			var cnfm2 = confirm("Are you sure?");
			if(cnfm2){			
				if(chat_ids.length == 0){
					alert('Please select checkbox');
					return false;
				}
				
				var url = "{{ path('admin_askthecommunity_deletechats') }}";
				$.ajax({
					url: url,
					data: {"chat_ids": chat_ids.join()},
					method: 'POST',
					success: function(response){
						var res = JSON.parse(response);
						
						if(res['message'] == 'failed'){
							location.href = "{{ path('admin_dashboard_index') }}";
						}
						
						if(res['success'] == true){
							alert(res['message']);
							for(i=0;i<chat_ids.length;i++){
								$('#chat_div_' + chat_ids[i]).remove();
							}
						}
						console.log(response);
					},
					error: function(error){
						console.log(error);
					}
				});						
			}		
		}
	}
	
	function remove_parentchat(chat_id){
		
		var cnfm = confirm("Are you sure, you want to delete all chat..?");
		if(cnfm){
			var cnfm2 = confirm("Are you sure?");	
			if(cnfm2){
				var url = "{{ path('admin_askthecommunity_removeparentchat') }}";
				$.ajax({
					url: url,
					data: {"chat_id": chat_id},
					method: 'POST',
					success: function(response){
						var res = JSON.parse(response);
						if(res['success'] == true){
							alert(res['message']);
							var redirect_url = "{{ path('admin_askthe_community_index') }}";
							console.log(redirect_url);
							location.assign(redirect_url);
						}
						console.log(response);
					},
					error: function(error){
						console.log(error);
					}
				});			
			}
		}
	}
</script>
{% endblock %}	