{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}

    <div class="main-in-area">
        <div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
            {% for flashMessage in app.session.flashbag.get('success_msg') %}
                <div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error_msg') %}
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}

            <h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'3'})) }}</h1>
            {% set address = ''%}
            {% set phone_number = ''%}
            {% set email_address = ''%}
            {% set fb_link = ''%}
            {% set twitter_link = ''%}
            {% set insta_link = ''%}
            {% if contact_us is defined and contact_us is not empty%}
                {%for contact_us_data in contact_us%}
                    {% set address = contact_us_data.address%}
                    {% set phone_number = contact_us_data.phone_number%}
                    {% set email_address = contact_us_data.email_address%}
                    {% set fb_link = contact_us_data.fb_link%}
                    {% set twitter_link = contact_us_data.twitter_link%}
                    {% set insta_link = contact_us_data.insta_link%}
                {%endfor%}
            {%endif%}
            <div class="row">
                <div class="col-sm-6 col-xs-12 contact-block">
                 {#   <h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'175'})) }}</h2>#}

                    {#<div class="row contact-row">
                        <div class="col-sm-1 contact-icon"     {%if app.session.get('language_id') == "2" %} style="float: right;" {%endif%} ><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="col-sm-11 contact-text">{% autoescape false %}{{address}}{% endautoescape %}</div>
                    </div>#}
                    <div class="row contact-row">
                        <div class="col-sm-1 contact-icon" {%if app.session.get('language_id') == "2" %} style="float: right;" {%endif%} ><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
                        <div class="col-sm-11 contact-text">{{phone_number}}</div>
                    </div>
                    <div class="row contact-row">
                        <div class="col-sm-1 contact-icon" {%if app.session.get('language_id') == "2" %} style="float: right;" {%endif%} ><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="col-sm-11 contact-text"><a href="mailto:info@shrayek.com">{{email_address}}</a></div>
                    </div>
                    <div class="row contact-row">
                        <div class="col-sm-12">
                            <ul class="list-inline">
                                <li><a target="_blank" href="{{fb_link}}"><img src="{{asset('bundles/site/')}}images/icons/facebook.png"></a></li>
                                        {#	<li><a href="{{twitter_link}}"><img src="{{asset('bundles/site/')}}images/icons/twitter.png"></a></li>  #}
                                <li><a target="_blank" href="{{insta_link}}"><img src="{{asset('bundles/site/')}}images/icons/insta.png"></a></li>
                            </ul>
                        </div>
                    </div>


                </div>
                {%set name = ''%}
                {%set email = ''%}

                {% if app.session.get('userid') != null %}
                    {%set name = app.session.get('nick_name')%}
                    {%set email = app.session.get('email')%}
                {% endif%}
                <div class="col-sm-6 col-xs-12 contact-block">
                 {#   <h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'173'})) }}</h2>#}
                    <form onsubmit="return validateForm();" action="{{path('site_save_feedback')}}" method="POST">
                        <div class="form-group">
                            <label for="Name">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'169'})) }}</label>
                            <input type="text" class="form-control" name="name" id="Name" value="{{name}}" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'169'})) }}" required>
                        </div>

                        <div class="form-group">
                            <label for="Email">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}</label>
                            <input type="email" class="form-control" name="email" id="Email" value="{{email}}" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}" required>
                        </div>

                        <div class="form-group">
                            <label for="Phone-number">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'89'})) }}</label>
                            <input type="tel" class="form-control" name="phone_number" id="Phone-number" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'89'})) }}" required>
                        </div>

                        <div class="form-group">
                            <label for="Message">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'171'})) }}</label>
                            <textarea class="form-control" name="message" rows="3" id="Message" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'171'})) }}" required></textarea>
                        </div>
						
						<div class="form-group">
							<div id="id-of-render-element" class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LfG0mUUAAAAAJHVOH5ifmPBHn2ZTE_sm82MNzmt"></div>
						</div>

{#                        <button type="submit" name="submit" id="contactUsBtn" {% if app.session.get('userid') == null%} data-toggle="modal" data-target="#loginModal" {%endif%} class="btn btn-danger btn-lg">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button>
#}
                        <button type="submit" name="submit" id="submit" class="btn btn-danger btn-lg">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block js%}
	<script src="https://www.google.com/recaptcha/api.js?onload=callback&render=explicit" async defer></script>
		
	<script type="text/javascript">
		var validate_recaptcha = false;
		function validateForm(){
			console.log('validate_recaptcha - ' + validate_recaptcha);
			if(validate_recaptcha == false || validate_recaptcha == 'false'){
				{% if app.session.get('language_id') == 1 %}
					swal('', "Please make sure, you are not a robot","error");
				{% else %}
					swal('', "يرجى التأكد ، أنت لست روبوت","error");
				{% endif %}
				return false;
			}
			return true;
		}
		
		function recaptchaCallback(){
			validate_recaptcha = true;
			$('#submit').removeAttr('disabled');
		}
	
		var callback = function() {
			//$('#submit').attr('disabled', 'disabled');
			grecaptcha.render('id-of-render-element', {
				'sitekey': '6LfG0mUUAAAAAJHVOH5ifmPBHn2ZTE_sm82MNzmt',
				'expired-callback': expCallback
			});
		};
		var expCallback = function() {
			grecaptcha.reset();
		};
	</script>
	
    {% if app.session.get('userid') == null%}
        <script>
			{% for flashMessage in app.session.flashbag.get('success_msg1') %}
				swal('', "{{ flashMessage }}","success");
			{% endfor %}

			{% for flashMessage in app.session.flashbag.get('error_msg1') %}
				swal('', "{{ flashMessage }}","error");
			{% endfor %}
            $('#contactUsBtn').click(function (e) {
                e.preventDefault();
            });
        </script>
    {%endif%}
{% endblock%}
