{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
    <style>
        .addscroll{
            height: 250px;
                overflow-y: auto;
          
        }
		.paginator {
			background: #bd0f0f;
			color: #fff;
			padding: 1px 7px 1px 7px;
		}
		.paginator:focus{
			color: #fff;
		}
		.paginator:hover {
			color: #bd0f0f;
			background: transparent;
			border: 1px solid #bd0f0f;
			transition: background-color .3s;
		}
		.paginator.active {
			opacity: 0.5;
			cursor: not-allowed;
		}
		.paginator.active:hover{
			border: unset;
			color: #fff;
			background: #bd0f0f;
		}
    </style>
    <div class="main-in-area">
        <div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
            {% for flashMessage in app.session.flashbag.get('success_msg') %}
                <div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error_msg') %}
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}

            <h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'23'})) }}</h1>
			<div id="loadingask">
			</div>	
			<div id="errorask">
			</div>
            <div class="row">
                <div class="col-sm-5 col-xs-12 pull-right">
                    <div class="ask-community-qa-search">
                        <div class="row">
						<form>	
                            <div class="col-xs-7" {%if app.session.get('language_id') == "2" %} style="float: right !important;" {%endif%}><input type="search" class="form-control" id="ask_com_search_input" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'103'})) }}"></div>
                            <div class="col-xs-5">
							<button type="submit" id="ask_com_search_btn" class="btn btn-danger btn-block">{{ 			render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'103'})) }}</button>
<button type="button" style="display:none" id="view_all" class="btn btn-danger">{%if app.session.get('language_id') is defined and  app.session.get('language_id') == '2'%}عرض الكل{%else%}View All{%endif%}</button>							
							</div>
						</form>	
                        </div>
                    </div>
                </div>
            </div>
            <div class="ask-community-qa">
                <form action="" {#action="{{path('site_save_question')}}" method="POST" #}>
                    <div class="row">
                        <div class="col-sm-10" {%if app.session.get('language_id') == "2" %} style="float: right !important;" {%endif%} ><input type="text" id="question" name="question" class="form-control" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'105'})) }}" required></div>
                        <div class="col-sm-2"><button type="submit" id="askbtn" class="btn btn-danger btn-block">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'105'})) }}</button></div>
                    </div>
                </form>
            </div>
			
            {% if chat_details is defined and chat_details is not empty %}
				<div id="ask_community">
					{%for chat_details_data in chat_details %}
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="media ask-community-qa-wrap">
								<div class="media-left">
									{% if chat_details_data.media_title_asked_by != '' and chat_details_data.media_location_asked_by%}
										<img class="media-object img-circle" src="{{asset(''~chat_details_data.media_location_asked_by~'/'~chat_details_data.media_title_asked_by)}}">
									{%else%}
										<img class="media-object img-circle" src="{{asset('bundles/Resource/default.png')}}">

									{%endif%}
								</div>
								<div class="media-body">
									<h4 class="media-heading">{{chat_details_data.que_asked_by}}</h4>
									<span><small>{{chat_details_data.que_ask_date|date('d-m-Y')}}</small></span>
									<p>{{chat_details_data.main_que}}</p>
									
									{% if chat_details_data.answer is defined and chat_details_data.answer is not empty%}
										{%set total_count = chat_details_data.answer|length%}
										 <div {%if total_count > 3%}class="addscroll" {%endif%}>
										{% for chat_reply in chat_details_data.answer%}
										   
											<div class="media ask-community-qa-wrap-nested">
												<div class="media-left">
													{% if chat_reply.media_title != '' and chat_reply.media_location%}
														<img class="media-object img-circle" src="{{asset(''~chat_reply.media_location~'/'~chat_reply.media_title)}}">		
													{%else%}
														{% if chat_reply.user_id == 1 %}
															<img class="media-object img-circle" src="{{asset('bundles/site/images/shrayek.png')}}">	
														{%else%}
															<img class="media-object img-circle" src="{{asset('bundles/Resource/default.png')}}">	
														{%endif%}
													{%endif%}
												</div>
												<div class="media-body">
													<h4 class="media-heading">{{chat_reply.user_bio}}</h4>
													<p>{{chat_reply.community_chat}}</p>				
												</div>
											</div>
											   
										{%endfor%}
										   </div>
									{%endif%}	
									
								</div>
							</div>
						</div>
						{%set submit = 'false'%}
						{% if app.session.get('userid') != null%}
							{% set submit = 'true'%}						
						{%endif%}
						<div class="panel-footer">
							<div class="row">
						{% if app.session.get('userid') != null%}							
								<form method="POST" action="{{path('site_save_reply')}}" id="form_{{chat_details_data.questio_id}}">
						{%endif%}		
									<input type="hidden" id="parent_id" name="parent_id" value="{{chat_details_data.parent_id}}">
									<input type="hidden" id="question_id" name="question_id" value="{{chat_details_data.questio_id}}">
									<div class="col-sm-10" {%if app.session.get('language_id') == "2" %} style="float: right !important;" {%endif%}><input type="text" id="answer_{{chat_details_data.questio_id}}" name="answer" class="form-control" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'107'})) }}" required></div>
									<div class="col-sm-2"><button type="submit" id="reply_btn" onclick="{% if app.session.get('userid') == null%}save_reply('{{submit}}',{{chat_details_data.questio_id}});{%endif%}" class="btn btn-danger btn-block">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'107'})) }}</button></div>
						{% if app.session.get('userid') != null%}		
								</form>
						{%endif%}	
							</div>
							<div id="errorreply_{{chat_details_data.questio_id}}">
							</div>							
						</div>
					</div>
					{%endfor%}
				</div>
				
				<!-- pagination -->
				<div class="pagination-div text-center">
					{% for page in 1..count %}
						<a href="javascript:void(0);" class="paginator pagination{{ page }}" onclick="pagination({{ page }})" data-page="{{ page }}">{{page}}</a>
					{%endfor%}
				</div>
            {% endif%}

        </div>
    </div>

{% endblock %}

{% block js%}
<script>
	$(document).ready(function(){
		$('.paginator').first().addClass('active');
		$('.paginator').first().attr('disabled', 'disabled');
	});
	
	function pagination(page_no){
		if(page_no != ''){
			var url = "{{ path('site_askcommunity_pagination') }}";
			$.ajax({
				url: url,
				method: 'POST',
				data: {'page_no': page_no},
				success: function(response){
					var res = JSON.parse(response);
					if(res['success'] == 1){
						$('#ask_community').html(res['html']);
					}
					$('.pagination-div').show();
					$('.paginator').each(function(){
						$(this).removeClass('active');
						$(this).removeAttr('disabled');
					});
					$('.pagination' + page_no).addClass('active');
					$('.pagination' + page_no).attr('disabled', 'disabled');
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
	
	$('#ask_com_search_btn').click(function(e){
		e.preventDefault();
		if($('#ask_com_search_input').val() == ''){
			window.alert('Please Enter some keyword');
		}else{
			$(this).removeClass('btn-block');		
			var url = "{{ path('site_askcommunity_search') }}";
			var keyword = $('#ask_com_search_input').val();
			$.ajax({
				url: url,
				method: 'POST',
				data: {'keyword': keyword},
				success: function(response){
					var res = JSON.parse(response);
					if(res['success'] == 1){
						if(res['html'] != ''){
							$('.pagination-div').hide();					
							$('#ask_community').html(res['html']);								
						}else{
							$('.pagination-div').hide();					
								var message = 'No match found';
								{% if app.session.get('language_id') == '2'%}
									message = "لا يوجد تطابق";
								{%endif%}							
							$('#ask_community').html(message);														
						}
						$('#view_all').show();		
					}
				},
				error: function(error){
					console.log(error);
				}
			});				
		}
	});
	
	$('#view_all').click(function(){
		location.reload();
	});
	$('#askbtn').click(function(e){

		e.preventDefault();
		$('#errorask').html('');
		$('#loadingask').html('');
		var img_loader = "<img src='{{asset('/bundles/site/images/status.gif')}}'>";
		$('#loadingask').append(img_loader);

		var question = $('#question').val();
		
		if(question == '')
		{
			$('#errorask').html('');
			$('#loadingask').html('');
				var html = "<div class='alert alert-danger alert-dismissable'>";
					html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
					html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
					html += "Please Enter Question.";                
					html += "</div>";
			$('#errorask').append(html);
		}else{
				$.ajax({
					"url":"{{path('site_save_question')}}",
					"method" : "POST",
					"data": {'question':question},
					"success" : function(response){
						$('#loadingask').html('');
						if($.trim(response) === 'success')
						{
							location.reload();
						}
						if($.trim(response) === 'error'){
							$('#errorask').html('');
							var html = "<div class='alert alert-danger alert-dismissable'>";
								html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
								html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
								var message = "Please Login first to ask Question , Thank You.";
								{% if app.session.get('language_id') == '2'%}
									message = "يرجى تسجيل الدخول أولا لطرح سؤال، شكرا لك";
								{%endif%}
								html += message;                
								html += "</div>";
							$('#errorask').append(html);	            
						}							
					},
					"error": function(){
						alert('something went wrong try again');
					}
				});
		}
	});

	function save_reply(sub,id){
//		console.log(sub);return;
		if(sub == 'false'){
//			console.log($('#errorreply_'+id));return;
//			$('#errorreply_'+id).html('');
			var html_e = "<div class='alert alert-danger alert-dismissable'>";
				html_e += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
				html_e += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
				var message = "Please Login first to Reply, Thank You.";
				{% if app.session.get('language_id') == '2'%}
					message = "يرجى تسجيل الدخول أولا لطرح سؤال، شكرا لك";
				{%endif%}
				html_e += message;                
				html_e += "</div>";
				$(document).find('#errorreply_'+id).append(html_e);	
//			$('#errorreply_'+id).html(html_e);	
		}
	}
</script>
{% endblock %}