{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} App-link {% endblock %}
{% block css %}
	<style>
		.contactus-info .form-horizontal .form-group{
			margin-left: 0px;
			margin-right: 0px;
		}
		.paddTop { padding-top: 10px; }
		.paddBottom { padding-bottom: 20px; }
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            App-Link
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">App-Link</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-default">
					<div class="box-body">
						<div class="tab-content">			
							<form id="form-" class="form-horizontal" method="post" action="{{ path('admin_setting_saveapplink') }}">
								<div class="row">
									<div class="col-md-12">
										<label>Android</label>
										{% set android_link_val = '' %}
										{% if app_link is defined and app_link is not empty %}
											{% if app_link.android_link is defined and app_link.android_link is not empty %}
												{% set android_link_val = app_link.android_link %}
											{% endif %}
										{% endif %}
										<input type="text" class="form-control" name="android-link" value="{{ android_link_val }}">
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<label>IOS</label>
										{% set ios_link_val = '' %}
										{% if app_link is defined and app_link is not empty %}
											{% if app_link.ios_link is defined and app_link.ios_link is not empty %}
												{% set ios_link_val = app_link.ios_link %}
											{% endif %}
										{% endif %}
										<input type="text" class="form-control" name="ios-link" value="{{ ios_link_val }}">
									</div>
								</div>
								
								<div class="row paddTop">
									<div class="col-md-12">
										<button type="submit" name="submit" class="btn btn-primary">
											<span><i class="fa fa-check-square-o"></i>&nbsp;Submit</span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}