{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Change Profile {% endblock %}
{% block css %}
	<style>
		.contactus-info .form-horizontal .form-group{
			margin-left: 0px;
			margin-right: 0px;
		}
		.paddTop { padding-top: 10px; }
		.paddBottom { padding-bottom: 20px; }
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Change Profile
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="">Setting</li>
            <li class="active">Change Profile</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-default">
					<div class="box-body">
						<div class="tab-content">			
							<form id="form-" class="form-horizontal" onsubmit="return validateform();" method="post" action="{{ path('admin_setting_saveprofile') }}">
								<div class="row">
									<div class="col-md-12">
										<label>Username</label>
										{% set username = '' %}
										{% if admin_user is defined and admin_user is not empty %}
											{% set username = admin_user.email %}
										{% endif %}
										<input type="text" id="username" class="form-control" name="username" value="{{ username }}" required>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<label>Current Password</label>
										<input type="password" id="old_password" class="form-control" name="old_password" value="" required>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<label>New Password</label>
										<input type="password" id="new_password" class="form-control" name="new_password" value="" required>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<label>Confirm Password</label>
										<input type="password" id="confirm_password" class="form-control" name="confirm_password" value="" required>
									</div>
								</div>
								
								<div class="row paddTop">
									<div class="col-md-12">
										<button type="submit" name="submit" class="btn btn-primary">
											<span><i class="fa fa-check-square-o"></i>&nbsp;Update</span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
	<script>
		function validateform(){
			if($('#username').val() == ''){
				alert('Please Enter username');
				return false;
			}
			
			if($('#old_password').val() == ''){
				alert('Please Enter Old Password');
				return false;
			}
			
			if($('#new_password').val() == ''){
				alert('Please Enter New Password');
				return false;
			}
			
			if($('#confirm_password').val() == ''){
				alert('Please Enter Confirm Password');
				return false;
			}
			
			if($('#new_password').val() != $('#confirm_password').val()){
				alert('New Password and confirm password should be equal');
				return false;
			}
			
			return true;
		}
	</script>
{% endblock %}