{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Visitor/User Setting {% endblock %}
{% block css %}
	<style>
		.contactus-info .form-horizontal .form-group{
			margin-left: 0px;
			margin-right: 0px;
		}
		.paddTop { padding-top: 10px; }
		.paddBottom { padding-bottom: 20px; }
	</style>
{% endblock %}
{% block content %}
<link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Visitor/User Setting
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Visitor/User Setting</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-default">
					<div class="box-body">
						<div class="tab-content">			
							<form id="form-" class="form-horizontal" method="post" action="{{ path('admin_setting_saveapplink') }}">
								<div class="row">
									<div class="col-md-12">
										<div class="col-md-2">
											<label>Visitors - </label>
										</div>
										<div class="col-md-10">
											{% set checked = '' %}
											{% set show_visitor = '' %}
											{% if web_setting is defined and web_setting is not empty %}
												{% if web_setting.show_visitor is defined and web_setting.show_visitor is not empty %}
													{% if web_setting.show_visitor == 'true' %}
														{% set checked = 'checked' %}
													{% endif %}
												{% endif %}
											{% endif %}
											<input data-on="active" class="status status_23" data-off="inactive" type="checkbox" onchange="change_status('show_visitor')"  data-toggle="toggle" data-size="mini" data-onstyle="success" {{ checked }}>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="col-md-2">
											<label>Members - </label>
										</div>
										<div class="col-md-10">
											{% set checked = '' %}
											{% set show_member = '' %}
											{% if web_setting is defined and web_setting is not empty %}
												{% if web_setting.show_member is defined and web_setting.show_member is not empty %}
													{% if web_setting.show_member == 'true' %}
														{% set checked = 'checked' %}
													{% endif %}
												{% endif %}
											{% endif %}
											<input data-on="active" class="status status_23" data-off="inactive" type="checkbox" onchange="change_status('show_member')"  data-toggle="toggle" data-size="mini" data-onstyle="success" {{ checked }}>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
{% endblock %}

{% block js %}
	<script>
		function change_status(str){
			
			var url = "{{ path('admin_setting_changestatus') }}";
			$.ajax({
				url: url,
				method: 'post',
				data: {'str' : str},
				success: function(response){
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	</script>
{% endblock %}