<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="Evaluate Restaurant, SHRAYEK, Sharayek,شرايك,عناوين المطاعم,مطاعم الكويت,افضل المقاهي,افضل المطاعم,مطاعم بيتزا,مطاعم برجر,مطاعم شرقية,مطاعم صينية,ارقام مطاعم الكويت,عناوين مقاهي الكويت,تقييمات مطاعم الكويت,تقييمات مقاهي الكويت">
<meta name="description" content="Evaluate Restaurant, SHRAYEK, Sharayek,شرايك,عناوين المطاعم,مطاعم الكويت,افضل المقاهي,افضل المطاعم,مطاعم بيتزا,مطاعم برجر,مطاعم شرقية,مطاعم صينية,ارقام مطاعم الكويت,عناوين مقاهي الكويت,تقييمات مطاعم الكويت,تقييمات مقاهي الكويت">
<title>SHRAYEK - Evaluate Restaurant</title>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/site/')}}css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/site/')}}fonts/stylesheet.css" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/site/')}}css/jquery.bxslider.css" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/site/')}}css/custom.css" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/site/')}}css/ez-accordion.css" rel="stylesheet" type="text/css">
<link href="{{asset('bundles/site/')}}css/ryxren.css" rel="stylesheet" type="text/css">
{# <link href="{{asset('bundles/site/')}}css/bar.css" rel="stylesheet" type="text/css"> #}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

<script type = "text/javascript">
 google.charts.load('current', {packages: ['corechart']});     
 function forum_commingsoon(){
	//alert('Coming Soon');
	{% if app.session.get('language_id') == 1 %}
		swal("", "Coming Soon", "success");
	{% else %}
		swal("", "قريباً", "success");
	{% endif %}
 }
</script>
	
<style>
{% if app.session.get('language_id') == 1 %}
	::-webkit-input-placeholder {
		text-align: left !important;
	}
	input:-moz-placeholder {
		text-align:right !important;
	}
	.home-top-links li:last-child{
		padding-right: unset !important;
	}
{% endif %}
{% if app.session.get('language_id') == 2 %}
	.aside{
		left: unset !important;
		right: 0;
	}
	.home-top-links{
	    direction: rtl;
		float: left !important;
	}
	.home-top-links li{
		border-right: unset !important;
		border-left: 1px solid #000;
	}
	.home-top-links li:last-child{
		border-left: none;
	}
	.home-top-links li:last-child{
		padding-left: unset !important;
	}
	.menu-holder{
		left: unset !important;
		right: 1.7%;
	}
	.home-search{
		padding-right: 15px;
	}
	.home-search .search-bar{
		float: right !important;
		padding-left: 0 !important;
		padding-right: 15px !important;
	}
	.home-search .button-bar{
		padding-right: 0;
		padding-left: 15px !important;
	}
{% endif %}
.header-div-rtl{
	float: right;
    width: 100%;
}
.header-div-rtl-fright{
	float: right;
}
.header-div-rtl-fleft{
	float: left;
	padding-left: 0;
	margin-left: -6px;
}
h2.footer-txt {
    color: #bd0f0f !important;
}
#search_header::placeholder {
    text-align: right;
}
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: #ffb220;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.terms-checkbox-text{
    margin-left: 30px;
}
.arb-radio-btn {
    margin-left: 0px !important;
    position: unset !important;
}
</style>
</head>

<body>

<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

<div class="page">
	<div class="top-header default-padding">
	<div class="menu-holder {% if app.session.get('language_id') == 2 %}menu-holder-ar{% endif %}">
            <a href="#" onclick="$('.aside').asidebar('open')">
               {%if app.session.get('language_id') == 1 %}
                   <img src="{{asset('bundles/site/')}}images/menu.png">
               {%else%}
                   <img src="{{asset('bundles/site/')}}images/menu1.png">
               {%endif%}
            </a>
        </div>
	
	<div class="aside">
		<div class="aside-header"><span class="closee" data-dismiss="aside" aria-hidden="true"><img src="{{asset('bundles/site/')}}images/close.png"></span></div>
		<div class="aside-contents">
			<ul class="aside-links">
				<li><a href="{{path('site_competetion_award')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'11'})) }}</a></li>
				<li><a href="{{ path('site_restaurant_restaurantopensoon') }}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'13'})) }}</a></li>
				<li><a href="javascript:void(0);" onclick="forum_commingsoon();">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'299'})) }}</a></li>
				<li><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'17'})) }}</a></li>
					<ul class="collapse" id="collapseExample">
						<li><a href="{{path('site_dinning_expr')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'19'})) }}</a></li>
						<li><a href="{{path('site_dinning_expr_view')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'21'})) }}</a></li>
					</ul>
				<li><a href="{{path('site_ask_community')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'23'})) }}</a></li>
				<li><a href="{{ path('site_product_index') }}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'25'})) }}</a></li>
			</ul>
			
		</div>
	</div>
	<div class="aside-backdrop"></div>
	
		<div class="container">
			<div class="row {% if app.session.get('language_id') == 2 %}header-div-rtl{% endif %}">
				{% for flashMessage in app.session.flashbag.get('success_msg') %}
					<div class="alert alert-success alert-dismissable">
						<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
						<h4><i class="icon fa fa-check"></i> {% if app.session.get('language_id') == 1%}Alert!{%endif%} {% if app.session.get('language_id') == 2%}!محزر{%endif%}</h4>{{ flashMessage }}
					</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('error_msg') %}
					<div class="alert alert-danger alert-dismissable">
						<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
						<h4><i class="icon fa fa-check"></i> {% if app.session.get('language_id') == 1%}Alert!{%endif%} {% if app.session.get('language_id') == 2%}!محزر{%endif%}</h4>{{ flashMessage }}
					</div>
				{% endfor %}			
			<div class="col-md-3 col-sm-4 col-xs-12 logo-holder {% if app.session.get('language_id') == 2 %}header-div-rtl-fright{% endif %}" {% if app.session.get('language_id') == 2 %}style="text-align:right;"{%endif%}><a href="{{path('site_default_index')}}"><img src="{{asset('bundles/site/')}}images/shrayek.png" alt="SHRAYEK"></a></div>
			<div class="col-md-6 col-sm-8 col-xs-12 {% if app.session.get('language_id') == 2 %}header-div-rtl-fright{% endif %}">
				<div class="row">
					<div class="col-md-12 evaluate-row">
                                            <a href="{{ path('site_restaurant_evaluaterestaurant') }}">
                                                {%if app.session.get('language_id') == 1 %}
                                                    <img src="{{asset('bundles/site/')}}images/evaluate.gif" style="height:154px;">
                                                {%else%}
                                                    <img src="{{asset('bundles/site/')}}images/evaluate1.gif" style="height:154px;">
                                                {%endif%}
                                            </a>
                                        </div>
					<form method="post" action="{{path('site_search_index')}}" >
					<div class="col-md-12 home-search">

						<div class="row">
							<div class="col-xs-10 search-bar">
								<input type="search" list="search_restaurants_list" name='keyword' id="search_header" class="form-control" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'61'})) }}" required>
								<datalist id="search_restaurants_list">
									
								</datalist>
							</div>
							<div class="col-xs-2 button-bar"><button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button></div>
						</div>
					</div>
					</form>
				</div>
			</div>
			<div class="col-md-3 col-sm-8 col-xs-12 {% if app.session.get('language_id') == 2 %}header-div-rtl-fleft{% endif %}">
				<div class="home-top-links-row {% if app.session.get('language_id') == 2 %}header-div-rtl-fright{% endif %}">
					<ul class="home-top-links">
						<li><a href="{{path('site_default_index')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'1'})) }}</a></li>
						<li><a href="{{path('site_contactus_index')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'3'})) }}</a></li>
						<li>
						{% if app.session.get('language_id') is defined and app.session.get('language_id') == 1%}
							<a href="javascript:void(0)" onclick="change_language(2)">العربية</a>
						{%elseif app.session.get('language_id') is defined and app.session.get('language_id') == 2 %}
							<a href="javascript:void(0)" onclick="change_language(1)">English</a>
						{% else%}
							<a href="javascript:void(0)" onclick="change_language(2)">العربية</a>
						{%endif%}
						</li>
					</ul>
				</div>
				 {%if app.session.get('userid') == ''%}
				<div class="loin-register-row">
					<ul class="loin-register" {% if app.session.get('language_id') == 2 %}style="float: left;text-align: left;"{% endif %}>
                                            {%if app.session.get('userid') != ''%}
                                                <li><a type="button" href="{{path('site_restaurant_viewmyresevaluation')}}" class="btn btn-default" id="">My Evaluation</a></li>
                                                <li><button type="button" class="btn btn-default" id="logout">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'135'})) }}</button></li>
                                            {%else%}
						<li><button type="button" class="btn btn-default" data-toggle="modal" data-target="#loginModal">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'5'})) }}</button></li>
						<li {% if app.session.get('language_id') == 2 %}style="float: left;padding-right: 4px;"{% endif %}><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#registerModal">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'7'})) }}</button></li>
                                            {%endif%}
					</ul>
                                        {%if app.session.get('userid') == ''%}
					<p {% if app.session.get('language_id') == 2 %}style="text-align: left;"{% endif %}><a href="#" data-toggle="modal" data-target="#forgott_password">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'27'})) }}</a></p>
					{%endif%}
                                </div>
                                {%endif%}
                                  {%if app.session.get('userid') != ''%}
                                <div class="loin-register-row">
					<div class="dropdown" {% if app.session.get('language_id') == 1 %}style="text-align: right;"{% endif %}>
						<div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><a href="javascript:void(0)"><img src="{{app.session.get('image_url')}}"> {{app.session.get('nick_name')}} <span class="caret"></span></a></div>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="{{path('site_myprofile_index')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'199'})) }}</a></li>
							<li><a href="{{path('site_restaurant_viewmyresevaluation')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'197'})) }}</a></li>
							<li><a href="{{path('site_restaurant_mybookmark')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'207'})) }}</a></li>
							<li><a href="javascript:void(0)" id="logout">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'135'})) }}</a></li>
						</ul>
					</div>
				</div>
                                 {%endif%}
                                        <!-- Forgott Password -->
					<div class="modal fade bs-example-modal-lg" id="forgott_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
								<div class="modal-body">
									<div class="row signin-row">
										<div class="col-sm-6 signin-col">
											<h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'133'})) }}</h2>
											<form method="post" {#action="{{path('site_default_forgotpassword')}}"#} action="">
												<div class="form-group">
													<label for="exampleInputEmail1">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}</label>
													<input id="forgetemail" type="email" name="forgotemail" class="form-control" id="exampleInputEmail1" placeholder="Enter {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}">
												</div>												
												<div class="row">
													<div class="col-xs-6"><button type="submit" class="btn btn-danger btn-block" id="forgetbtn">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button></div>
												</div>
												
											</form>
										</div>
										</br>
										
									</div>
									<br>
									<div id="loadingforget">
										</div>	
										<div id="errorforget">

										</div>
								</div>
							</div>
						</div>
					</div>
					<!-- LOGIN -->
					<div class="modal fade bs-example-modal-lg" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
								<div class="modal-body">
									<div class="row signin-row">
										<div class="col-sm-6 signin-col">
											<h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'63'})) }}</h2>
											<form>
												<div class="form-group">
													<label for="exampleInputEmail1">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}</label>
													<input type="email" id="emaillogin" name="email" class="form-control" id="exampleInputEmail1" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}">
												</div>
												<div class="form-group">
													<label for="exampleInputPassword1">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'67'})) }}</label>
													<input type="password" id="passwordlogin" name="password" class="form-control" id="exampleInputPassword1" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'67'})) }}">
												</div>
												<div class="row">
													<div class="col-xs-6"><a href="#" onclick="hidelogin();" data-toggle="modal" data-target="#forgott_password">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'27'})) }}</a></div>
													<div class="col-xs-6"><button type="submit" id="loginBtn" class="btn btn-danger btn-block">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button></div>
												</div>
												
											</form>
										</div>
										<div class="col-sm-6 signin-col">
											<h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'69'})) }}</h2>
											<p>&nbsp;</p>
											
											<!--<ul class="list-inline login-access">
												<li class="face"><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i> Log In</a></li>
												<li class="goog"><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i> Log In</a></li>
											</ul>-->
											
											<button type="button" id="regestration_close" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#registerModal" onclick="hidelogin();">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'71'})) }}</button>
										</div>
									</div>
									</br>
									<div id="loadinglogin_check">
									</div>	
									<div id="errorlogin_check">
									</div>									
								</div>
							</div>
						</div>
					</div>
					
					<!-- REGISTER -->
					<div class="modal fade bs-example-modal-lg" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog modal-md" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
								<div class="modal-body" {% if app.session.get('language_id') == 2 %}dir="rtl"{% endif %}>
									
									<h2 style="margin-top: 0;">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'7'})) }}</h2>
									<form id="registartion_form">
										<div class="form-group">
											<label for="Nickname"><span>*</span> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'75'})) }}</label>
											<input type="text" name="name" class="form-control" id="Nickname" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'75'})) }}">
										</div>
										<div class="form-group">
											<label for="fname"><span>*</span> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'77'})) }}</label>
											<input type="text" name="full_name" class="form-control" id="fname" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'77'})) }}">
										</div>
										<div class="form-group">
											<label for="lname"><span>*</span> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'79'})) }}</label>
											<input type="text" name="last_name" class="form-control" id="lname" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'79'})) }}">
										</div>
										<div class="form-group">
											<label for="Gender">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'81'})) }}</label> &nbsp;&nbsp;&nbsp;
											<label class="radio-inline"><input type="radio" name="gender" id="inlineRadio1" value="male" class="{% if app.session.get('language_id') == 2 %}arb-radio-btn{% endif %}"> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'83'})) }}</label>
											<label class="radio-inline"><input type="radio" name="gender" id="inlineRadio3" value="female" class="{% if app.session.get('language_id') == 2 %}arb-radio-btn{% endif %}"> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'85'})) }}</label>
										</div>
										<div class="form-group">
											<label for="dob">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'87'})) }}</label>
											<div class="row">
												<div class="col-xs-3">
													<select name="birthday_day" id="dob" title="Day" class="form-control">
												<option value="0" selected>Day</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
												<option value="22">22</option>
												<option value="23">23</option>
												<option value="24">24</option>
												<option value="25">25</option>
												<option value="26">26</option>
												<option value="27">27</option>
												<option value="28">28</option>
												<option value="29">29</option>
												<option value="30">30</option>
												<option value="31">31</option>
											</select>
												</div>
												<div class="col-xs-4">
													<select name="birthday_month" id="month" title="Month" class="form-control">
												<option value="0" selected>Month</option>
												<option value="1" selected="1">Jan</option>
												<option value="2">Feb</option>
												<option value="3">Mar</option>
												<option value="4">Apr</option>
												<option value="5">May</option>
												<option value="6">Jun</option>
												<option value="7">Jul</option>
												<option value="8">Aug</option>
												<option value="9">Sept</option>
												<option value="10">Oct</option>
												<option value="11">Nov</option>
												<option value="12">Dec</option>
											</select>
												</div>
												<div class="col-xs-5">
													<select name="birthday_year" id="year" title="Year" class="form-control">
												<option value="0" selected>Year</option>
												{% set first_year = 1905%}
												{% set current_year = date('now')|date('Y')%}	
												{% for y in current_year..first_year%}
													<option value="{{y}}">{{y}}</option>
												{%endfor%}
{#												<option value="2018">2018</option>
												<option value="2017">2017</option>
												<option value="2016">2016</option>
												<option value="2015">2015</option>
												<option value="2014">2014</option>
												<option value="2013">2013</option>
												<option value="2012">2012</option>
												<option value="2011">2011</option>
												<option value="2010">2010</option>
												<option value="2009">2009</option>
												<option value="2008">2008</option>
												<option value="2007">2007</option>
												<option value="2006">2006</option>
												<option value="2005">2005</option>
												<option value="2004">2004</option>
												<option value="2003">2003</option>
												<option value="2002">2002</option>
												<option value="2001">2001</option>
												<option value="2000">2000</option>
												<option value="1999">1999</option>
												<option value="1998">1998</option>
												<option value="1997">1997</option>
												<option value="1996">1996</option>
												<option value="1995">1995</option>
												<option value="1994">1994</option>
												<option value="1993">1993</option>
												<option value="1992">1992</option>
												<option value="1991">1991</option>
												<option value="1990">1990</option>
												<option value="1989">1989</option>
												<option value="1988">1988</option>
												<option value="1987">1987</option>
												<option value="1986">1986</option>
												<option value="1985">1985</option>
												<option value="1984">1984</option>
												<option value="1983">1983</option>
												<option value="1982">1982</option>
												<option value="1981">1981</option>
												<option value="1980">1980</option>
												<option value="1979">1979</option>
												<option value="1978">1978</option>
												<option value="1977">1977</option>
												<option value="1976">1976</option>
												<option value="1975">1975</option>
												<option value="1974">1974</option>
												<option value="1973">1973</option>
												<option value="1972">1972</option>
												<option value="1971">1971</option>
												<option value="1970">1970</option>
												<option value="1969">1969</option>
												<option value="1968">1968</option>
												<option value="1967">1967</option>
												<option value="1966">1966</option>
												<option value="1965">1965</option>
												<option value="1964">1964</option>
												<option value="1963">1963</option>
												<option value="1962">1962</option>
												<option value="1961">1961</option>
												<option value="1960">1960</option>
												<option value="1959">1959</option>
												<option value="1958">1958</option>
												<option value="1957">1957</option>
												<option value="1956">1956</option>
												<option value="1955">1955</option>
												<option value="1954">1954</option>
												<option value="1953">1953</option>
												<option value="1952">1952</option>
												<option value="1951">1951</option>
												<option value="1950">1950</option>
												<option value="1949">1949</option>
												<option value="1948">1948</option>
												<option value="1947">1947</option>
												<option value="1946">1946</option>
												<option value="1945">1945</option>
												<option value="1944">1944</option>
												<option value="1943">1943</option>
												<option value="1942">1942</option>
												<option value="1941">1941</option>
												<option value="1940">1940</option>
												<option value="1939">1939</option>
												<option value="1938">1938</option>
												<option value="1937">1937</option>
												<option value="1936">1936</option>
												<option value="1935">1935</option>
												<option value="1934">1934</option>
												<option value="1933">1933</option>
												<option value="1932">1932</option>
												<option value="1931">1931</option>
												<option value="1930">1930</option>
												<option value="1929">1929</option>
												<option value="1928">1928</option>
												<option value="1927">1927</option>
												<option value="1926">1926</option>
												<option value="1925">1925</option>
												<option value="1924">1924</option>
												<option value="1923">1923</option>
												<option value="1922">1922</option>
												<option value="1921">1921</option>
												<option value="1920">1920</option>
												<option value="1919">1919</option>
												<option value="1918">1918</option>
												<option value="1917">1917</option>
												<option value="1916">1916</option>
												<option value="1915">1915</option>
												<option value="1914">1914</option>
												<option value="1913">1913</option>
												<option value="1912">1912</option>
												<option value="1911">1911</option>
												<option value="1910">1910</option>
												<option value="1909">1909</option>
												<option value="1908">1908</option>
												<option value="1907">1907</option>
												<option value="1906">1906</option>
												<option value="1905">1905</option>  #}
											</select>
												</div>
											</div>
											
											
											
											
											
										</div>
										
										<div class="form-group">
											<label for="email"><span>*</span> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}</label>
											<input type="email" name="email" class="form-control" id="email-register" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}">
										</div>
										<div class="form-group">
											<label for="Phone">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'89'})) }}</label>
											<input type="number" name="phone_number" class="form-control" min="0" id="Phone" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'93'})) }}">
										</div>
										<hr>
										<div class="form-group">
											<label for="Password"><span>*</span> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'67'})) }}</label>
											<input type="password" name="password" class="form-control" id="Password" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'67'})) }}">
										</div>
										<div class="form-group">
											<label for="cPassword"><span>*</span> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'91'})) }}</label>
											<input type="password" name="confirm_pass" class="form-control" id="cPassword" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'91'})) }}">
										</div>
										<div class="form-group">
											<label for="profile_pic">{#<span>*</span> #}{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'261'})) }}</label>
											<input type="file" name="profile_pic" class="form-control" id="profile_pic">
										</div>
										<div class="form-group">
											<label class="container1 terms-checkbox" {%if app.session.get('language_id') == '2'%}style="float:right"{%endif%}>
												<input id="terms_condition_checkbox" type="checkbox">
												<span id="" class="checkmark" style="background-color : darkgrey"></span>
											</label>
											<label class="terms-checkbox-text"><span>*</span> <a href="{{ path('site_terms_and_condition') }}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'269'})) }}
											</a></label>
										</div>
										<button type="submit" id="submitBtn" name="submit" class="btn btn-danger btn-lg">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button>
									</form>
									</br>
									<div id="loading">
									</div>	
									<div id="error">

									</div>	
								</div>
							</div>
						</div>
					</div>
					
				
			</div>
			</div>
		</div>
	</div>
	
		{{ render(controller('SiteBundle:Default:getCategory')) }}
	
{#	<div class="food-category default-padding">
		<div class="container-fluid">
			<div class="category">
			
				<div class="slide"><a href="javascript:void(0)">
					<div class="slide-img"><img src="{{asset('bundles/site/')}}images/category/desert.jpg"></div>
					<div class="slide-title">Desserts</div></a>
				</div>
				<div class="slide">
					<a href="#">
					<div class="slide-img"><img src="{{asset('bundles/site/')}}images/category/cafe.jpg"></div>
					<div class="slide-title">Cafe</div></a>
				</div>
				<div class="slide">
					<a href="#">
					<div class="slide-img"><img src="{{asset('bundles/site/')}}images/category/fast-food.jpg"></div>
					<div class="slide-title">Fast Food</div></a>
				</div>
				<div class="slide">
					<a href="javascript:void(0)">
					<div class="slide-img"><img src="{{asset('bundles/site/')}}images/category/arabic.jpg"></div>
					<div class="slide-title">Arabic</div></a>
				</div>
				<div class="slide">
					<a href="javascript:void(0)">
					<div class="slide-img"><img src="{{asset('bundles/site/')}}images/category/home-made.jpg"></div>
					<div class="slide-title">Homemade</div></a>
				</div>
				
				<div class="slide">
					<a href="javascript:void(0)">
					<div class="slide-img"><img src="{{asset('bundles/site/')}}images/category/european.jpg"></div>
					<div class="slide-title">European</div></a>
				</div>
				<div class="slide">
					<a href="javascript:void(0)">
					<div class="slide-img"><img src="{{asset('bundles/site/')}}images/category/american.jpg"></div>
					<div class="slide-title">American</div></a>
				</div>
				<div class="slide">
					<a href="javascript:void(0)">
					<div class="slide-img"><img src="{{asset('bundles/site/')}}images/category/asian.jpg"></div>
					<div class="slide-title">Asian</div></a>
				</div>
				<div class="slide">
					<a href="javascript:void(0)">
					<div class="slide-img"><img src="{{asset('bundles/site/')}}images/category/kuwaiti.jpg"></div>
					<div class="slide-title">Kuwaiti</div></a>
				</div>
				<div class="slide">
					<a href="javascript:void(0)">
					<div class="slide-img"><img src="{{asset('bundles/site/')}}images/category/others.jpg"></div>
					<div class="slide-title">Others</div></a>
				</div>
			</div>
		</div>
	</div>  #}
	
	{% block content %}{% endblock %}
	
	<div class="footer">
		<div class="footer-a default-padding">
			<div class="container footer-a-border">
				<ul class="list-inline">
    				<li><a href="{{path('site_who_we_are')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'39'})) }}</a></li>
    				<li><a href="{{path('site_common_question')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'41'})) }}</a></li>
    				<li><a href="{{path('web_site_privacy')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'43'})) }}</a></li>
    				<li><a href="{{path('site_terms_and_condition')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'45'})) }}</a></li>
    				<li><a href="{{path('site_contactus_index')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'3'})) }}</a></li>
    				<li><a href="{{path('site_suggestion_complain')}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'47'})) }}</a></li>
				</ul>
			</div>
			
			{% set ios_link = '' %}
			{% set android_link = '' %}
			
			{% set app_link = render(controller('SiteBundle:Default:getapplink')) | json_decode %}
			
			{% if app_link is defined and app_link is not empty %}
				{% set ios_link = app_link.ios_link %}
				{% set android_link = app_link.android_link %}
			{% endif %}
			
			<div class="container footer-a-sm">
				<div class="row">
					<div class="col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<a href="{{ ios_link }}" target="_blank">
									<img src="{{asset('bundles/site/')}}images/app-store.png">
								</a>
							</div>
							<div class="col-sm-6 col-xs-12">
								<a href="{{ android_link }}" target="_blank">
									<img src="{{asset('bundles/site/')}}images/google-play.png">
								</a>
							</div>
						</div>
					</div>
					
					{% set memeber_visitor_setting = render(controller('SiteBundle:Default:getmembersettings')) | json_decode %}
					
					{% if memeber_visitor_setting is defined and memeber_visitor_setting is not empty %}
						{% set counters = render(controller('SiteBundle:Default:counters')) | json_decode %}
						{% if memeber_visitor_setting.show_visitor is defined and memeber_visitor_setting.show_visitor is not empty %}
							<div class="col-sm-2 col-xs-6">
								<div class="traffic-value"><h2 class="footer-txt">{% if counters is defined and counters is not empty %}{{ counters.visitor_counters }}{% endif %}</h2><span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'51'})) }}</span></div>
							</div>
						{% endif %}
						
						{% if memeber_visitor_setting.show_member is defined and memeber_visitor_setting.show_member is not empty %}
							<div class="col-sm-2 col-xs-6"><div class="traffic-value"><h2 class="footer-txt">
								{% if counters is defined and counters is not empty %}{{counters.member_counters }}{% endif %}</h2><span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'49'})) }}</span></div>
							</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		
		{% set fb_link = '' %}
		{% set insta_link = '' %}
		{% set twitter_link = '' %}
		
		{% set social = render(controller('SiteBundle:Default:getsociallinks')) | json_decode %}
		
		{% if social is defined and social is not empty %}
			{% set fb_link = social.fb_link %}
			{% set insta_link = social.insta_link %}
			{% set twitter_link = social.twitter_link %}
		{% endif %}
		
		<div class="footer-b default-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<ul class="list-inline">
							{% if 'http' in fb_link %}
							{% else %}
								{% set fb_link = 'https://'~fb_link  %}
							{% endif %}
							
							{% if 'http' in insta_link %}
							{% else %}
								{% set insta_link = 'https://'~insta_link  %}
							{% endif %}
							
							{% if 'http' in twitter_link %}
							{% else %}
								{% set twitter_link = 'https://'~twitter_link  %}
							{% endif %}
							<li><a href="{{ fb_link }}" target="_blank"><img src="{{asset('bundles/site/')}}images/icons/facebook.png"></a></li>
							<li><a href="{{ twitter_link }}" target="_blank"><img src="{{asset('bundles/site/')}}images/icons/twitter.png"></a></li>
							<li><a href="{{ insta_link }}" target="_blank"><img src="{{asset('bundles/site/')}}images/icons/insta.png"></a></li>
						</ul>
						
					</div>
					<div class="col-sm-6 text-right">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'53'})) }}</div>
					<div class="col-sm-2 text-right"><a href="http://www.design-master.com/" target="_blank">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'55'})) }}</a></div>
				</div>
			</div>
		</div>
	</div>
	
</div>
	



<!-- Bootstrap -->

<script src="{{asset('bundles/site/')}}js/jquery-3.2.1.slim.min.js"></script>
<script src="{{asset('bundles/site/')}}js/bootstrap.min.js"></script>
<script src="{{asset('bundles/site/')}}js/custom.js"></script>

<!-- Bootstrap -->


<!-- PRELOADER -->
<!--<script src="js/jquery.min.js"></script>-->
<script src="{{asset('bundles/site/')}}js/jquery.min.js"></script>
<script>
$(window).on('load', function() { // makes sure the whole site is loaded 
	$('#status').fadeOut(); // will first fade out the loading animation 
	$('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website. 
	$('body').delay(350).css({
		'overflow': 'visible'
	});
})
</script>
<!-- PRELOADER -->

<!-- Carousel -->
<!-- BANNER SPONSORS -->

<script src="{{asset('bundles/site/')}}js/jquery.bxslider.js"></script>
<script src="{{asset('bundles/site/')}}js//ez-accordion.js"></script>
<script src="{{asset('bundles/site/')}}js//ryxren.js"></script>
<script>

{% for flashMessage in app.session.flashbag.get('success_msg1') %}
	swal('', "{{ flashMessage }}","success");
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error_msg1') %}
	swal('', "{{ flashMessage }}","error");
{% endfor %}

$(document).ready(function(){
	$('#regestration_close').click(function(){
		$('.modal-backdrop').each(function(){
			$(this).removeClass('fade');
			$(this).removeClass('in');
			$(this).removeClass('modal-backdrop');
		});
	});
});

function hidelogin(){
	if($('#loginModal').css('display') == 'block'){
		$('#loginModal').css('display', 'none');
	}
	//$("[data-dismiss=modal]").trigger({ type: "click" });
}

{% if app.session.get('language_id') == 1%}
	var alert = "Alert!";
{%endif%} 
{% if app.session.get('language_id') == 2%}
	var alert = "!محزر";
{%endif%}

function isEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  return regex.test(email);
}
	
$(document).ready(function(){
	$(document).ready(function () {
		// initiates responsive slide gallery			
		var settings = function() {
			var settings1 = {
				slideWidth: 140,
				minSlides: 2,
				maxSlides: 100,
				slideMargin: 5,
				moveSlides: 1,
				auto: true,
				controls: true,
				pager: false
			};
			var settings2 = {
				slideWidth: 140,
				minSlides: 2,
				maxSlides: 100,
				slideMargin: 5,
				moveSlides: 1,
				auto: false,
				controls: false,
				pager: false
			};
			return ($(window).width()<1600) ? settings1 : settings2;
		}

		var mySlider;

		function tourLandingScript() {
			mySlider.reloadSlider(settings());
		}

		mySlider = $('.category').bxSlider(settings());
		$(window).resize(tourLandingScript);

		
	});
	//$('.category').bxSlider({
//		slideWidth: 140,
//		minSlides: 2,
//		maxSlides: 100,
//		slideMargin: 5,
//		moveSlides: 1,
//		auto: false,
//		controls: true,
//		pager: false
//	});
	$('.sliderr').bxSlider({
		slideWidth: 224,
		minSlides: 1,
		maxSlides: 5,
		slideMargin: 5,
		moveSlides: 1,
		auto: true,
		controls: true,
		pager: false,
		infiniteLoop: false
	});
	$('.slider-banner').bxSlider({
		mode: 'fade',
		captions: false,
		controls: false,
		auto: true
	});	
});$('#logout').click(function(e){

				$.ajax({
					"url":"{{path('site_default_logoutcheck')}}",
					"method" : "POST",
					"data": {'email':'','password':''},
					"success" : function(response){
						if($.trim(response) === 'success')
						{
							location.replace("{{path('site_default_index')}}");
						}													
					},
					"error": function(){
						alert('something went wrong try again');
					}
				});
	
	});
        $('#loginBtn').click(function(e){

		e.preventDefault();
		var img_loader = "<img src='{{asset('/bundles/site/images/status.gif')}}'>";
		$('#loadinglogin_check').append(img_loader);

		var email = $('#emaillogin').val();
		var password = $('#passwordlogin').val();
		if(email == '' || password == '')
		{
			$('#errorlogin_check').html('');
			$('#loadinglogin_check').html('');
				var html = "<div class='alert alert-danger alert-dismissable'>";
					html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
					html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
					html += "Please Enter All field marked as *";                
					html += "</div>";
			$('#errorlogin_check').append(html);
		}else{
				$.ajax({
					"url":"{{path('site_default_logincheck')}}",
					"method" : "POST",
					"data": {'email':email,'password':password},
					"success" : function(response){
						$('#loadinglogin_check').html('');
						if($.trim(response) === 'success')
						{
							location.reload();
						}
						if($.trim(response) === 'inactive'){
							$('#errorlogin_check').html('');
							var html = "<div class='alert alert-danger alert-dismissable'>";
								html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
								html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
								var message = "Your Membership Has Been Suspended Please contact site Admin";
								{% if app.session.get('language_id') == '2'%}
									message = "تم إيقاف عضويتك , يرجى مراجعة مسؤولي الموقع للإستفسار";
								{%endif%}
								html += message;                
								html += "</div>";
							$('#errorlogin_check').append(html);	
						}
						if($.trim(response) === 'error'){
							$('#errorlogin_check').html('');
							var html = "<div class='alert alert-danger alert-dismissable'>";
								html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
								html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
								var message = "Please check your email or password.";
								{% if app.session.get('language_id') == '2'%}
									message = "يرجى التحقق من بريدك الإلكتروني أو كلمة المرور";
								{%endif%}
								html += message;                
								html += "</div>";
							$('#errorlogin_check').append(html);	            
						}							
					},
					"error": function(){
						alert('something went wrong try again');
					}
				});
		}
	});
//forgetpassword
         $('#forgetbtn').click(function(e){

		e.preventDefault();
		$('#errorforget').html('');
		$('#loadingforget').html('');
		var img_loader = "<img src='{{asset('/bundles/site/images/status.gif')}}'>";
		$('#loadingforget').append(img_loader);

		var email = $('#forgetemail').val();
		
		if(email == '')
		{
			$('#errorforget').html('');
			$('#loadingforget').html('');
				var html = "<div class='alert alert-danger alert-dismissable'>";
					html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
					html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
					html += "Please Enter All field marked as *";                
					html += "</div>";
			$('#errorforget').append(html);
		}else{
				$.ajax({
					"url":"{{path('site_default_forgotpassword')}}",
					"method" : "POST",
					"data": {'forgetemail':email},
					"success" : function(response){
						$('#loadingforget').html('');
						if($.trim(response) === 'success')
						{
							location.reload();
						}
						if($.trim(response) === 'error'){
							$('#errorforget').html('');
							var html = "<div class='alert alert-danger alert-dismissable'>";
								html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
								html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
								var message = "Email is not registered with our website.";
								{% if app.session.get('language_id') == '2'%}
									message = "البريد الإلكتروني غير مسجل في موقعنا";
								{%endif%}
								html += message;                
								html += "</div>";
							$('#errorforget').append(html);	            
						}							
					},
					"error": function(){
						alert('something went wrong try again');
					}
				});
		}
	});

	$(document).ready(function(){
		$('#terms_condition_checkbox').click(function(){
			$('#terms_condition_checkbox').toggleClass('checked');
		});
	});

	$('#registartion_form').submit(function(e){
		e.preventDefault();		
		
		if(!$('#terms_condition_checkbox').hasClass('checked')){
			var terms_condition_str = "{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'263'})) }}";
			swal("", terms_condition_str, 'error');
			return false;
		}
		
		var img_loader = "<img src='{{asset('/bundles/site/images/status.gif')}}'>";
		$('#loading').append(img_loader);
		$('#error').html('');
		var nick_name = $('#Nickname').val();
		var first_name = $('#fname').val();
		var last_name = $('#lname').val();
		var birthday_date = $('#dob').val();
		var birthday_month = $('#month').val();
		var birthday_year = $('#year').val();
		var email = $('#email-register').val();
		var phone = $('#Phone').val();
		var password = $('#Password').val();
		var confirm_pass = $('#cPassword').val();
		var gender = $("input[name='gender']").val();
		var profile_pic = $('#profile_pic').val();
		//profile_pic...........
/*		var file = document.getElementById('profile_pic').files[0]; //fetch file
        var formData = new FormData();                     
        formData.append('file', file); //append file to formData object	*/
		//profile_pic end...........
		<!-- console.log(nick_name+' - ' + first_name + ' - ' + last_name + ' - ' + birthday_date + ' - ' + birthday_month + ' - ' + birthday_year + ' - ' + email + ' - ' + phone + ' - ' + password + ' - ' + confirm_pass + ' - ' + gender); -->
		
		if(nick_name == '' || first_name == '' || last_name == '' || email == '' || password == '' || confirm_pass == '' || gender == '')
		{			
			$('#error').html('');
			$('#loading').html('');
				var html = "<div class='alert alert-danger alert-dismissable'>";
					html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
					html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
					{% if app.session.get('language_id') == '1'%}
						var message1 = "Please Enter All field marked as * Or Select profile Pic";
					{%endif%}
					{% if app.session.get('language_id') == '2'%}
						message1 = "* الرجاء إدخال جميع الحقول التي تحمل علامة ";
					{%endif%}
					
					swal("", message1, 'error');
					return false;
					
					html += message1;                
					html += "</div>";
			$('#error').append(html);
		}else{

			/* if(profile_pic == ''){
				$('#error').html('');
				$('#loading').html('');
					var html = "<div class='alert alert-danger alert-dismissable'>";
						html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
						html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
						var message1 = "Please select profile picture";
						{% if app.session.get('language_id') == '2'%}
							message1 = "* يرجى اختيار صورة الملف الشخصي";
						{%endif%}
						html += message1;                
						html += "</div>";
				$('#error').append(html);
				return;	
			} */
			
			if(!isEmail(email)){
				$('#error').html('');
				$('#loading').html('');
					var html = "<div class='alert alert-danger alert-dismissable'>";
						html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
						html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
						var message1 = "Enter valid email";
						{% if app.session.get('language_id') == '2'%}
							message1 = "* الرجاء إدخال جميع الحقول التي تحمل علامة ";
						{%endif%}
						
						swal("", message1, 'error');
						return false;
					
						html += message1;                
						html += "</div>";
				$('#error').append(html);
				return;	
			}
		
			if(password.length < 6){
				$('#error').html('');
				$('#loading').html('');
					var html = "<div class='alert alert-danger alert-dismissable'>";
						html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
						html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
						var message1 = "Password must contain more than 6 characters";
						{% if app.session.get('language_id') == '2'%}
							message1 = "* الرجاء إدخال جميع الحقول التي تحمل علامة ";
						{%endif%}
						
						swal("", message1, 'error');
						return false;
					
						html += message1;                
						html += "</div>";
				$('#error').append(html);
				return;	
			}
			
			if(password != confirm_pass)
			{
				$('#error').html('');
				$('#loading').html('');
				var html = "<div class='alert alert-danger alert-dismissable'>";
					html += "<button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button>";
					html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
					var message2 = "Password does not matched with confirm password"; 
					{% if app.session.get('language_id') == '2'%}
						message2 = "لا تتطابق كلمة المرور مع تأكيد كلمة المرور";
					{%endif%}
					
					swal("", message1, 'error');
					return false;
					
					html += message2 ;					
					html += "</div>";
					$('#error').append(html);

			}else{	
				var formData = new FormData(this);
				$.ajax({
					"url":"{{path('site_user_register')}}",
					"method" : "POST",
					cache: false,
					contentType: false,
					processData: false,					
					"data": formData,//{'nick_name':nick_name,'first_name':first_name,'last_name':last_name,'birthday_date':birthday_date,'birthday_month':birthday_month,'birthday_year':birthday_year,'email':email,'phone':phone,'password':password,'gender':gender},
					"success" : function(response){
						$('#loading').html('');
						if($.trim(response) === 'success')
						{
							location.reload();
						}
						if($.trim(response) === 'emailRegisterd'){
							$('#error').html('');
							var html = "<div class='alert alert-danger alert-dismissable'>";
								html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
								html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
								var m5 = "Email is already registered Try another one" ;
								{% if app.session.get('language_id') == '2'%}
									m5 = "البريد الإلكتروني مسجل بالفعل حاول تجربة أخرى";
								{%endif%}								
								html += m5;                
								html += "</div>";
							
							swal('', m5, 'error');
								
							//$('#error').append(html);	            
						}	
						if($.trim(response) === 'invalidDate'){
							$('#error').html('');
							var html = "<div class='alert alert-danger alert-dismissable'>";
								html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
								html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
								var m6 = "Date of Birth is invalid Please enter Valid date of birth"; 
								{% if app.session.get('language_id') == '2'%}
									m6 = "تاريخ الميلاد غير صالح يرجى إدخال تاريخ الميلاد";
								{%endif%}																
								html += m6;                
								html += "</div>";
								swal('', m6, 'error');
							//$('#error').append(html);	            
						}
						if($.trim(response) === 'usernameRegistered'){
							$('#error').html('');
							var html = "<div class='alert alert-danger alert-dismissable'>";
								html += "<button aria-hidden='true' data-dismiss='alert' class='close' 		 type='button'>×</button>";
								html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
								var m5 = "Nickname is not available, Try another one" ;
								{% if app.session.get('language_id') == '2'%}
									m5 = "اللقب غير متاح ، حاول واحد آخر";
								{%endif%}								
								html += m5;                
								html += "</div>";
								swal('', m5, 'error');
							//$('#error').append(html);	            
						}	
					},
					"error": function(){
						alert('something went wrong try again');
					}
				});
			}
		}
	});
	function change_language(language_id){
		$.ajax({
			'url' : "{{path('site_default_changelanguage')}}",
			'method' : "POST",
			'data' : {'language_id':language_id},
			success : function(data){
				console.log(data);
				location.reload();
			}
		});
	}
	$('#search_header').keyup(function(){
		var keyword = $('#search_header').val();
		if(keyword != ''){
			var url = "{{ path('site_search_ajaxreslist') }}";
			$.ajax({
				url: url,
				data: {'keyword': keyword},
				success: function(response){
					var res = JSON.parse(response);
					$('#search_restaurants_list').html(res['html']);
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	});
</script>
<!-- Carousel -->




<!-- SIDE MENU -->
<!--<script src="js/jquery-3.0.0.min.js"></script>-->
<script src="{{asset('bundles/site/')}}js/asidebar.jquery.js"></script>
{# <script src="{{asset('bundles/site/')}}js/graph.js"></script>  #}
<!-- SIDE MENU -->
{%block js%}

{%endblock%}
</body>
</html>