<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Carwow Password Reset</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="{{asset('bundles/design/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/css/AdminLTE.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/css/skins/_all-skins.min.css')}}" rel="stylesheet" type="text/css" />
  </head>
  <body class="login-page">
    <div class="login-box">
    
    <div class="login-box-body">
      <section class="content-header">
            <h4 align="center">              
                Password Reset
            </h4>
        </section>
        <section class="content">
            <div class="box">
                <div class="box-body">
                    {% if done is defined and done is not empty %}
                        <div class="row form-group">
                            {% if done == 1 %}
                                <h4 align="center">Password Changed Successfuly.</h4>
                            {% else %}
                                <h4 align="center">Something went wrong! Try again resetting password.</h4>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if msg is defined and msg is not empty %}
                        {% if msg == 3 %}
                            <h4 align="center">Sorry! Your password reset link has been expired!</h4>
                        {% else %}
                            {% if msg == 2 %}
                                <h4 align="center">Something went wrong! Reset Password again.</h4>
                            {% endif %}                      
                        {% endif %}
                        {% if msg == 1 %}
                            <form method="post" onsubmit="chkps()" action="{{path('ws_wsforgotpass_passwordresetform')}}">
                                <input type="hidden" name="email" value="{{email}}"/>
                                <input type="hidden" name="username" value=""/>
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-12">
                                      <h5>New Password</h5>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <input type="password" name="new_password" class="form-control" id="ps1" required=""/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-12">
                                      <h5>Retype Password</h5>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <input type="password" name="retype_password" class="form-control" id="ps2" required=""/>
                                    </div>
                                </div>
                                <hr />
                                <div class="row form-group">
                                    <div class="col-xs-12" align="center">
                                        <button class="btn" style="background:#bd0f0f;color:white" name="change_password" style="width: 50%;">Change Password</button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
    <script>
        function chkps(){
           if (document.getElementById("ps1").value != document.getElementById("ps2").value) {
               alert("New Password and Retype Password must be same.");
               event.preventDefault();
            } 
        }   
    </script>
    <script src="{{asset('bundles/design/js/bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/design/js/app.min.js')}}" type="text/javascript"></script>
  </body>
</html>