{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
<style>
.competition-div {
    min-height: 635px !important;
    max-height: 635px !important;
}
.competition-description h1, .competition-description h2, .competition-description h3, .competition-description h4, .competition-description h5, .competition-description h6{
	color: #000;
}
</style>
    <div class="main-in-area">
        <div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
            {% for flashMessage in app.session.flashbag.get('success_msg') %}
                <div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error_msg') %}
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}

            <h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'11'})) }}</h1>
            {% set counter = 1%}
            {%if competition_award is defined and competition_award is not empty%}
                {%for competition_award_data in competition_award%}
                     {% if counter is divisible by(3)%}
                        <div class="row">
                        {% endif%} 
                        <div class="col-md-4 col-sm-4 col-xs-12 comp-award-wrap" {% if app.session.get('language_id') == 2 %}style="float:right;"{% endif %}>
                            <div class="comp-award-img"><a href="{{path('site_competetion_award_view',{'comp_main_id':competition_award_data.main_competition_award_id})}}">
                                    {% if competition_award_data.media_location != null and competition_award_data.media_name != null%}
                                        <img src="{{asset(''~competition_award_data.media_location~'/'~competition_award_data.media_name)}}" style="height:350px" class="img-responsive">
                                    {%else%}
                                        <img src="{{asset('/bundles/Resource/default.png')}}" style="height:350px" class="img-responsive">									
                                    {%endif%}
                                </a>
                            </div>
                            <div class="comp-award-row">
                                <h4><a href="{{path('site_competetion_award_view',{'comp_main_id':competition_award_data.main_competition_award_id})}}">{{ competition_award_data.competition_award_title}}</a></h4>
                             {#   <p class="date">{{competition_award_data.competition_award_date|date('d-m-Y')}}</p>#}
                                <p>
                                <div class="row">
                                    <p class="col-md-6">{#<i class="fa fa-clock-o" aria-hidden="true"></i> #}<button type="button" class="btn btn-danger"><span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'219'})) }}</span> - {% if competition_award_data.start_date is not null %}{{ competition_award_data.start_date|date("d/m/Y") }}{% else %} {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'217'})) }}{% endif %}</button></p>
                                    <p class="col-md-6">{#<i class="fa fa-clock-o" aria-hidden="true"></i> #}<button type="button" class="btn btn-danger"><span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'221'})) }}</span> - {% if competition_award_data.end_date is not null %}{{ competition_award_data.end_date|date("d/m/Y") }}{% else %} {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'217'})) }}{% endif %}</button></p>
                                    <p class="col-md-12 text-center">{#<i class="fa fa-clock-o" aria-hidden="true"></i> #}<button type="button" class="btn btn-danger"><span><b>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'223'})) }}</b></span> - {% if competition_award_data.competition_award_date is not null %}{{ competition_award_data.competition_award_date|date("d/m/Y") }}{% else %} {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'217'})) }}{% endif %}</button></p>
                                </div>

								<div class="row competition-description">
									{% autoescape false%}
										{{ competition_award_data.description|length > 200 ? competition_award_data.description|slice(0, 200) ~ '...' : competition_award_data.description}}				
									{% endautoescape %}
								</div>
                                </p>
								<div class="row">
									<p><a href="{{path('site_competetion_award_view',{'comp_main_id':competition_award_data.main_competition_award_id})}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'265'})) }}</a></p>
								</div>
                            </div>
                        </div>
                        {% if counter != 0 and counter is divisible by(3)%}
                        </div>
                    {% endif%}
                    {% set counter = counter+1%}								
                {%endfor%}
            {%endif%}		
        </div>	
    </div>

{% endblock %}
