{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
<style>
	.competition-banner{
		width: 100%;
		height: 300px;
		margin-bottom: 15px;
	}
	.fillpadd {
		padding: 0;
	}
	.competition-description h1, .competition-description h2, .competition-description h3, .competition-description h4, .competition-description h5, .competition-description h6{
		color: #000;
	}
</style>
	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
			<!-- show banner -->
			{# <!-- <div class="col-md-12 fillpadd">
				{% if competition_award is defined and competition_award is not empty %}
					{% if competition_award[0].media_url != '' %}
						<img class="img-responsive competition-banner" src="{{ competition_award[0].media_url }}">
					{% endif %}
				{% endif %}
			</div> --> #}
			<!-- end: show banner -->
			
			<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'11'})) }}</h1>		
			<div class="row">
				{% if competition_award is defined and competition_award is not empty %}
					{% for competition_award_data in competition_award %}
							<div class="competition-title col-sm-12">
								<h3>{{ competition_award_data.competition_award_title }}</h3>
							</div>
							<div class="competition-date col-sm-12">
								<p>
									{# <button type="button" class="btn btn-danger"><i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{ competition_award_data.created_date | date('d-m-Y') }}</span>
									</button> #}
									<button type="button" class="btn btn-danger">
										<span><b>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'223'})) }}</b></span> - {% if competition_award_data.created_date is not null %}{{ competition_award_data.created_date|date("d/m/Y") }}{% else %} {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'217'})) }}{% endif %}
									</button>
									&nbsp;
									{#<i class="fa fa-clock-o" aria-hidden="true"></i>#}
									<button type="button" class="btn btn-danger"><span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'219'})) }}</span> - {% if competition_award_data.start_date is not null %}{{ competition_award_data.start_date|date("d/m/Y") }}{% else %} {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'217'})) }}{% endif %}
									</button>
									&nbsp;
									{# <i class="fa fa-clock-o" aria-hidden="true"></i>#}
									<button type="button" class="btn btn-danger"><span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'221'})) }}</span> - {% if competition_award_data.end_date is not null %}{{ competition_award_data.end_date|date("d/m/Y") }}{% else %} {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'217'})) }}{% endif %}
									</button>
								</p>
							</div>				
							<div class="col-sm-7 competition-description">
							{% autoescape false%}
								{{competition_award_data.description}}
							{%endautoescape%}
							</div>
					{% endfor %}
					<div class="col-sm-5">					
						<div class="competitions-grid">
							{% if competition_award_gallery is defined and competition_award_gallery is not empty %}
								{% for competition_award_gallery_data in competition_award_gallery %}
									{%if competition_award_gallery_data.media_location != null and competition_award_gallery_data.media_name != null%}
										<div class="item"><a href="{{asset(''~competition_award_gallery_data.media_location~'/'~competition_award_gallery_data.media_name)}}" data-fancybox="images">
											<img src="{{asset(''~competition_award_gallery_data.media_location~'/'~competition_award_gallery_data.media_name)}}" style=""></a>
										</div>
									{%endif%}
								{%endfor%}
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>				
		</div>
	</div>
	
{% endblock %}
