{% extends "SiteBundle::Layout/header.html.twig" %}

{% block css %}
    <style>
        .card-columns {
            @include media-breakpoint-only(lg) {
                column-count: 4;
            }
            @include media-breakpoint-only(xl) {
                column-count: 5;
            }
        }
    </style>
{%endblock%}
{% block content %}

    <div class="main-in-area">
        <div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
            {%if category_name is defined%}
                <h1>{{category_name}}</h1>
            {%endif%}

            <div class="row">
                <form>
                    <div class="col-md-3" {%if app.session.get('language_id') == "2" %} style="float: right;" {%endif%}>
                        <div class="form-group">
                            <label class="sr-only" for="food-type">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'137'})) }}</label>
                            <select class="form-control" id="food-type" onchange="filter_res_by_type()">
                                <option selected>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'137'})) }}</option>
                                {% if food_types is defined and food_types is not empty%}
                                    {%for food_types_data in food_types%}
                                        <option value="{{food_types_data.main_food_type_id}}">{{food_types_data.food_type_name}} </option>
                                    {%endfor%}
                                {%endif%}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" {%if app.session.get('language_id') == "2" %} style="float: right;" {%endif%}>
                        <div class="form-group">
                            <label class="sr-only" for="hero-demo">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'137'})) }}</label>
                            <input id="hero-demo" class="filter-by-name form-control" autofocus type="text" name="q" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'185'})) }}">
                        </div>
                    </div>
                    {# <div class="col-md-3"><button id="submitFoodTypeBtn" type="submit" class="btn btn-danger">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button></div> #}
                </form>
            </div>
            <input type="button" data-toggle="modal" data-target="#addNewRestModal" value="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'141'})) }}" class="hide btn-add-new btn btn-danger" />            
            <div class="modal fade bs-example-modal-lg" id="addNewRestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row signin-row">
                                <div class="col-sm-12 signin-col">
                                    <h2>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'141'})) }}</h2>
                                    <form method="post" action="{{path('site_add_new_rest')}}">
                                        <div class="form-group">
                                            <label for="rest_name">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'143'})) }}</label>
                                            <input type="text" id="rest_name" name="rest_name" class="form-control" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'143'})) }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="rest_branch">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'145'})) }}</label>
                                            <input type="text" id="rest_branch" name="rest_branch" class="form-control" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'145'})) }}" required>
                                        </div>												
                                        <div class="row">
                                            <div class="col-xs-12"><button type="submit" class="btn btn-danger btn-block">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button></div>
                                        </div>												
                                    </form>
                                </div>
                                </br>
                                <div id="loadinglogin">
                                </div>	
                                <div id="errorlogin">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="wall type-container card-columns" id="display_rest">
                {% if restaraunts is defined and restaraunts is not empty%}
                    {%for key,value in restaraunts%}
                        <div class="wall-column card">
                            <div class="wall-item type-block card-body">
                                <h4>{{key|upper}}</h4>
                                <ul class="list-unstyled">
                                    {%for rest_data in value%}
                                        <li><a href="{{ path('site_restaurant_view', {'restaurent_id': rest_data.main_restaurant_id}) }}">{{rest_data.restaurant_name}}</a></li>                            
                                        {%endfor%}	
                                </ul>
                            </div>
                        </div>	
                    {%endfor%} 
                {%else%}
                    {% if app.session.get('language_id') == '1'%}
                        <p>No Restaraunt found for this category</p>
                    {%endif%}
                    {% if app.session.get('language_id') == '2'%}
                        <p>لم يتم العثورعلى المطعم لهذ الفئة</p>
                    {%endif%}
                    <input type="button" data-toggle="modal" data-target="#addNewRestModal" value="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'141'})) }}" class="btn-add-new btn btn-danger" />            			
                {%endif%} 
            </div>				

        </div>
    </div>

{% endblock %}

{% block js%}
    <script>
		
		function filter_res_by_type(){
			var category_id = '';
			{% if main_category_id is defined %}
				category_id = {{ main_category_id }};
			{% endif %}
			
			if(category_id == ''){
				alert('Category not found');
				return false;
			}
			
			var food_type_id = $('#food-type').val();
			if(food_type_id != ''){
				var url = "{{ path('site_categoryfood_filterrestaurants') }}";
				$.ajax({
					url: url,
					data: {'category_id': category_id, 'food_type_id': food_type_id},
					success: function(response){
						var res = JSON.parse(response);
						if(res['success'] == true){
							$('#display_rest').html(res['html']);
						}
					},
					error: function(error){
						console.log(error);
					}
				});
			}
		}
		
		$('.filter-by-name').keyup(function(){
		
			var category_id = '';
			{% if main_category_id is defined %}
				category_id = {{ main_category_id }};
			{% endif %}
			
			if(category_id == ''){
				alert('Category not found');
				return false;
			}
		
			var res_name = $('.filter-by-name').val();
			if(res_name != ''){
				var url = "{{ path('site_categoryfood_filterrestaurants') }}";
				$.ajax({
					url: url,
					data: {'category_id': category_id, 'res_name': res_name},
					success: function(response){
						var res = JSON.parse(response);
						if(res['success'] == true){
							$('#display_rest').html(res['html']);
						}
					},
					error: function(error){
						console.log(error);
					}
				});
			}
		});
		
        {% if main_category_id is defined%}
                var cat_id ={{main_category_id}}
        {%endif%}
                    $('#submitFoodTypeBtn').click(function (e) {
                $('.btn-add-new').addClass('hide');
                e.preventDefault();
                var img_loader = "<img src='{{asset('/bundles/site/images/status.gif')}}'>";
                $('#display_rest').html(img_loader);
                var food_type = $('#food-type').val();
                var Keyword = $('#hero-demo').val();

                if (food_type == 'Food type') {
                    food_type = 0;
                }
                $.ajax({
                    'url': "{{path('site_cat_food_wise_rest')}}",
                    'method': "POST",
                    'data': {'food_type_id': food_type, 'category_id': cat_id, 'keyword': Keyword},
                    'success': function (data) {
                        $('#display_rest').html('');
                        var rest_data = JSON.parse(data);
                        console.log(rest_data);
                        if (!jQuery.isEmptyObject(rest_data)) {
                            for (var i in rest_data) {
                                var html = "<div class='wall-column'>";
                                html += "<div class='wall-item type-block'>";
                                html += "<h4>" + i.toUpperCase() + "</h4>";
                                html += "<ul class='list-unstyled'>";
                                $.each(rest_data[i], function (index) {
                                    if (rest_data[i][index].language_id == '1') {
                                        html += "<li><a href='restaurant/view/" + rest_data[i][index].main_restaurant_id + "'>" + rest_data[i][index].restaurant_name + "</a></li>";
                                    }
                                });

                                html += "</ul>";
                                html += "</div>";
                                html += "</div>";

                                $('#display_rest').append(html);
                            }
                        } else {
							{% if app.session.get('language_id') == '1'%}
								var message = "No Restaraunt found for this category";
							{% endif%}
								{% if app.session.get('language_id') == '2'%}
									var message = "لم يتم العثورعلى المطعم لهذ الفئة";
								{% endif%}
								$('#display_rest').append(message);
								$('.btn-add-new').removeClass('hide');
						}
					}
				});
			});
															
$(document).ready(function(){
    $(this).scrollTop(0);
});															
    </script>
{%endblock%}
