{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Add - Update Admin
{% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/plugins/')}}select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/plugins/')}}datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="{{asset('bundles/design/plugins/')}}datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .save-btn, .cancel-btn {
            width: 85%;
        }
    </style>

{% endblock %}
{% block content %}
    <!----------- PAGE HEADER : START ------------------------------------------------------------>
    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Admin
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>

            <li><a href="{{path('admin_category_index',{'domain':app.session.get('domain')})}}">Admin</a></li>
            <li class="active">Add - Update Admin</li>
        </ol>
    </section>
    <!----------- PAGE HEADER : END ------------------------------------------------------------>
    <!----------- Main content : START ------------------------------------------------------------>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <style>
                .display-image{
                    padding-top: 10px;
                    max-width: 70%;
                }
            </style>
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add - Update Admin</h3>
                        <a href="{{path('admin_usertype_adminuserlist',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-chevron-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="tab-content">
                            <form method="post" enctype="multipart/form-data" action="{{ path('admin_usertype_saveadminuser') }}">

								{% set firstname = '' %}
								{% set lastname = '' %}
								{% set nickname = '' %}
								{% set email = '' %}
								{% set username = '' %}
								{% set password = '' %}
								{% set user_role_id = '' %}
								{% set user_status = '' %}
								{% if user_data is defined and user_data is not empty %}
									<input type="hidden" name="hidden_user_id" value="{{ user_data.user_master_id }}">
									{% set firstname = user_data.user_firstname %}
									{% set lastname = user_data.user_lastname %}
									{% set nickname = user_data.user_bio %}
									{% set email = user_data.email %}
									{% set username = user_data.username %}
									{% set password = user_data.show_password %}
									{% set user_role_id = user_data.user_role_id %}
									{% set user_status = user_data.status %}
								{% endif %}
							
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label class="col-md-4">User Firstname</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="firstname" value="{{ firstname }}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-md-4">User Lastname</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="lastname" value="{{ lastname }}" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								<div class="row form-group">
                                    <div class="col-md-12">
										<div class="col-md-6">
                                            <label class="col-md-4">Nickname</label>
                                            <div class="col-md-8">
												<input type="text" class="form-control" name="nickname" value="{{ nickname }}" required>
											</div>
										</div>
                                        <div class="col-md-6">
                                            <label class="col-md-4">User Role</label>
                                            <div class="col-md-8">
                                                <select name="userrole" class="form-control">
                                                    <option>Select User role</option>
                                                    {% if user_roles is defined and user_roles is not empty %}
                                                        {% for role in user_roles %}
                                                            {%if role.user_role_master_id != 1 and role.user_role_master_id != 3%}
																{% set role_selected = '' %}
																{% if user_role_id == role.user_role_master_id %}
																	{% set role_selected = 'selected' %}
																{% endif %}
																<option value="{{ role.user_role_master_id }}" {{ role_selected }}>{{ role.user_role_name }}</option>
                                                            {%endif%}
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        {#<div class="col-md-6">
                                            <label class="col-md-4">Email</label>
                                            <div class="col-md-8">
                                                <input id="email" type="email" class="form-control" name="email" value="{{ email }}" required>
                                            </div>
                                        </div>#}
                                        <div class="col-md-6">
                                            <label class="col-md-4">Username</label>
                                            <div class="col-md-8">
                                                <input id="username" type="text" class="form-control" name="username" value="{{ username }}" required>
                                            </div>
                                        </div>
										<div class="col-md-6">
                                            <label class="col-md-4">Password</label>
                                            <div class="col-md-8">
                                                <input type="password" class="form-control" name="password" value="{{ password }}" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								<div class="row form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label class="col-md-4">Status</label>
                                            <div class="col-md-8">
												{% set active_checked = '' %}
												{% set inactive_checked = '' %}
												{% if user_status == 'active' %}
													{% set active_checked = 'checked' %}
												{% elseif user_status == 'inactive' %}
													{% set inactive_checked = 'checked' %}
												{% endif %}
                                                <label class="radio-inline">
													<input class="" type="radio" name="status" value="active" {{ active_checked }} required>Active
                                                </label>
                                                <label class="radio-inline">
                                                    <input class="" type="radio" name="status" value="inactive" {{ inactive_checked }} required>Inactive
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" align="center">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <div class="col-lg-6">
                                            <button type="submit" class="btn btn-primary save-btn" name="add">Save</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <a href="{{path('admin_usertype_adminuserlist')}}" class="btn btn-default cancel-btn">Cancel</a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>

            </div><!-- /.box -->
        </div>

    </section>
    <!----------- Main content : END ---------------------------------------------------------->
{% endblock %}
{% block js %}
    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#email').blur(function () {
            var email = $('#email').val();
            if (email != ''){
            var url = '';
                    $.ajax({
                    url: url,
                            type: 'POST',
                            data: { 'email':email },
                            success: function(response){
                            console.log(response);
                            },
                            error: function(error){
                            console.log(error);
                            }
                    });
            * /
            
                    }
        });
    </script>
{% endblock %}