{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Add - Update Product
{% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/plugins/')}}select2/select2.min.css" rel="stylesheet" type="text/css" />
      <style type="text/css">
        .save-btn, .cancel-btn {
            width: 85%;
        }
		.rightsbox .radio-inline {
			margin-left: unset;
		}
		.rightsbox .panel-heading {
			background-color: #e2e2e2;
		}
    </style>

{% endblock %}
{% block content %}
    <!----------- PAGE HEADER : START ------------------------------------------------------------>
    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Add/Update User Type
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>

           <li class="active">Add/Update User Type</li>
        </ol>
    </section>
    <!----------- PAGE HEADER : END ------------------------------------------------------------>
    <!----------- Main content : START ------------------------------------------------------------>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <style>
                .display-image{
                    padding-top: 10px;
                    max-width: 70%;
                }
            </style>
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add/Update User Type</h3>
                        <a href="{{path('admin_usertype_index',{'domain':app.session.get('domain')})}}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-chevron-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                     <div class="row">
                         <div class="col-md-2"><b> User Type Name</b></div>
                         <div class="col-md-6"> {{user_types.user_role_name}}</div>
                     </div>
                     <div class="row">
                         <div class="col-md-2"> <b>Description</b></div>
                         <div class="col-md-6"> {{user_types.user_role_description}}</div>
                     </div>
                     <hr>
                     <div class="row">
						<form name="user_type_role" action="{{ path('admin_usertype_updateusertype') }}" method="POST">
                         <div class="col-md-12"><b>User Type Rights</b></div>
                         <div class="col-md-12">
							{% if user_type_id is defined and user_type_id is not empty %}
							<input type="hidden" name="user_type_id" value="{{ user_type_id }}">
							{% endif %}
                             <div class="row rightsbox col-md-12">
								<div class="panel-group">
                                {%if right_list is defined and right_list is not empty %}
                                    {%for right_key,right_val in right_list %}
										<div class="panel panel-default">
											<div class="panel-heading">
												{{ right_key }}
											</div>
											{% if right_val is defined and right_val is not empty %}
												<div class="panel-body">
												{% for right in right_val %}
													<div class="radio-inline">
														<input type="checkbox" name="user_rights[]" value="{{right.right_master_id}}"  {%if right.checked != NULL and right.checked == "true" %} checked="checked" {%endif%} /> {{right.display_name}}
													</div>
												{%endfor%}
												</div>
											{%endif%}
										</div>
                                    {%endfor%}
                                {%endif%}
								</div>
                             </div>
                         </div>
                     </div>
                     <hr>  
                     <div class="row">
                         <div class="col-md-12">
                            <input type="submit" name="Save" value="Save" class="btn btn-success pull-right" />
                         </div>
                     </div>
                    </div>

                </div>

            </div><!-- /.box -->
        </div>

    </section>
    <!----------- Main content : END ---------------------------------------------------------->
{% endblock %}
{% block js %}


    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>



 

{% endblock %}

