{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Admin User List {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<style>
		.paddBottom { padding-bottom: 20px; }
		.avatar img{
		    width: 40px;
			max-width: 100%;
			height: auto;
			border: 0 none;
			border-radius: 1000px;
		}
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Admin Users
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"> Admin Users</li>
        </ol>
	</section>

	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Admin Users</h3>
							<a href="{{ path('admin_usertype_addadminuser') }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Admin</b></a>
						</div>
					<div class="box-body">
                    <table id="admin_list" class="table display table-striped table-bordered scroll-horizontal">
                            <thead>
                                    <th hidden>Main Admin ID</th>
                                    {#<th>Image</th>#}
                                    <th>Role</th>
                                    <th>User Fullname</th>
                                    {# <th>Nickname</th> #}
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Operation</th>
                                    <th>Delete</th>
                            </thead>
                            <tbody>
                            {% if admin_list is defined and admin_list is not empty %}
                                {% set index = 0 %}
                                {% for admin in admin_list %}
                                    <tr>
                                        <td hidden></td>
                                        {#<td>
                                                <span class="avatar avatar-online">
                                                {% if admin.admin_image_url != '' %}
                                                        <img src="{{ admin.admin_image_url }}" />
                                                {%endif%}
                                                </span>
                                        </td>#}
                                        <td>{{admin.user_role_name}}</td>
                                        <td>{{ admin.user_firstname ~ ' ' ~ admin.user_lastname }}</td>
                                        {# <td>{{ admin.user_bio }}</td> #}
                                        <td>{{ admin.email }}</td>
                                        <td>
											{% if admin.status == 'active' %}
												{% set checked = 'checked' %}
											{% else %}
												{% set checked = '' %}
											{%endif%}

											<input data-on="active" class="status status_23" data-off="inactive" type="checkbox" onchange="change_status({{ admin.user_master_id }})"  data-toggle="toggle" data-size="mini" data-onstyle="success" {{ checked }}>
										</td>
										<td>
											<a class="editrow btn btn-info btn-xs" href="{{path('admin_usertype_addadminuser',{'user_id': admin.user_master_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="edit">
												<i class="fa fa-pencil-square-o"></i>
											</a>
										</td>
                                        <td>
											<a class="btn btn-danger btn-xs deleterow" href="{{ path('admin_usertype_removeadminuser', {'id': admin.user_master_id}) }}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
												<i class="fa fa-trash-o"></i>
											</a>
										</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                                    <th hidden>Main Admin ID</th>
                                    {#<th>Image</th>#}
                                    <th>Role</th>
                                    <th>User Fullname</th>
                                    {# <th>Nickname</th> #}
                                    <th>Email</th>
									<th>Status</th>
									<th>Operation</th>
									<th>Delete</th>
                            </tfoot>
                    </table>
            </div>
                        </div>
                </div>
        </div>

	</section>

{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$('#category_list').DataTable();

		$('.editcategory').click(function(){
			var cnfm = confirm('Are you sure?');
			if(cnfm){
				return true;
			}
			return false;
		});

		$('.deleterow').click(function(){
			var cnfm = confirm('Are you sure, you want to delete?');
			if(cnfm){
				var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
				if(cnfm1){
					return true;
				}
			}
			return false;
		});
		
		$('.editrow').click(function(){
			var cnfm = confirm('Are you sure, you want to edit?');
			if(cnfm){
				return true;
			}
			return false;
		});
	});
	function change_status(id){
		if(id != ''){
			var url = "{{ path('admin_usertype_updateuserstatus') }}";
			$.ajax({
				url: url,
				method: 'post',
				data: {'id' : id},
				success: function(response){
					/*if(response == 'true'){
						var curr_btn = $('#cat_status_' + index);
						if(curr_btn.hasClass('btn-success')){
							curr_btn.removeClass('btn-success').addClass('btn-warning');
							curr_btn.html('Inactive');
						} else {
							curr_btn.removeClass('btn-warning').addClass('btn-success');
							curr_btn.html('Active');
						}
					}*/
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
</script>
{% endblock %}
