{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}
  User-List
{% endblock %}
{% block css %}
  <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css"/>
  <style>
    .paddBottom {
      padding-bottom: 20px;
    }
    img.user-img {
      width: 46px;
    }
  </style>
{% endblock %}
{% block content %}

  <section class="content-header">
    <!-------- PAGE TITLE ---------------->
    <h1>
      User Types List
      <small></small>
    </h1>
    <!------- BREADCUMB ---------------------->
    <ol class="breadcrumb">
      <li>
        <a href="">
          <i class="fa fa-dashboard"></i>
          Dashboard</a>
      </li>
      <li class="active">User Types List</li>
    </ol>
  </section>

  <section class="content">
    {% for flashMessage in app.session.flashbag.get('success_msg') %}
      <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4>
          <i class="icon fa fa-check"></i>
          Alert!</h4>{{ flashMessage }}
      </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error_msg') %}
      <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4>
          <i class="icon fa fa-check"></i>
          Alert!</h4>{{ flashMessage }}
      </div>
    {% endfor %}

    <div class="row">
      <div class="col-md-12">
		<div class="box box-primary">
          <div class="box-body table-responsive">
            <table id="user_list" class="table display table-striped table-bordered scroll-horizontal">
              <thead>
                <th>No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Manage Rights</th>
              </thead>
              <tbody>
                {%if user_types is defined and user_types is not empty %}
                    {%for user_types in user_types %}
                            {%if user_types.user_role_master_id  != 3 %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{user_types.user_role_name}}</td>
                            <td>{{user_types.user_role_description}}</td>
                            <td>
                                {%if user_types.user_role_master_id  != 1 %}
                                <a class="editcategory btn btn-info btn-xs" href="{{path('admin_usertype_addusertype',{'domain':app.session.get('domain'),'user_type_id':user_types.user_role_master_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="Manage Rights as per Role">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                                {%endif%}
                            </td>
                        </tr>
                        {%endif%}
                    {%endfor%}
                {%endif%}
              </tbody>
              <tfoot>
                <th>No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Operation</th>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}

{% block js %}
  <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
  
{% endblock %}
