{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
 
	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
			<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'45'})) }}</h1>
			{%if terms_condition is defined and terms_condition is not empty%}
				{%for terms_condition_data in terms_condition%}
					{% autoescape false%}
						{{terms_condition_data.description}}
					{% endautoescape %}
				{%endfor%}
			{%endif%}	
		</div>
	</div>
	
{% endblock %}
