<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--<link href="{{asset('bundles/design/')}}/images/favicon.png" rel="shortcut icon">-->
        {% if app.session.get('role_id') != 1 %}
            {% if app.session.get('domain_logo_id') != "" and  app.session.get('domain_logo_id') != 0 %}
                {% set logo = render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': app.session.get('domain_logo_id'),'live_path':live_path})) %}
                {# <link href="{{logo}}" rel="shortcut icon"> #}

            {% else %}
                <!-- <link href="{{asset('bundles/design/')}}/images/favicon.png" rel="shortcut icon"> -->
            {% endif %}
        {% else %}
           <!--  <link href="{{asset('bundles/design/')}}/images/favicon.png" rel="shortcut icon"> -->
        {% endif %}
        <link rel="shortcut icon"  href="{{asset('bundles/design/site_data/')}}images/footer-logo.png" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.4 -->
        <link href="{{asset('bundles/design/')}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/design/')}}css/chosen.min.css" rel="stylesheet" type="text/css" />
        <!-- Fontawesome --->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/design/')}}css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link href="{{asset('bundles/design/')}}css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock %}
    <link href="{{asset('bundles/design/')}}css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <style>
        .error{
            color: #cc0000;
            font-weight: normal;
        }
        .content-rightbar {
            padding: 1.8rem;
        }
        .content-body {
            padding: 1.8rem;
            background: #fff;
        }
        .sidebarheight{
            height: 100% !important;
        }
        .sidebar-toggle:hover,  .user-header ,.skin-blue .main-header .logo:hover
        {
            background-color:#cdd0d4 !important;
        }
        .skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a
        {
            border-left-color:#cdd0d4 !important;
        }
        .spinner {
            margin: 100px auto;
            width: 50px;
            height: 40px;
            text-align: center;
            font-size: 10px;
        }

        .spinner > div {
            background-color:#ff3c77;
            height: 100%;
            width: 6px;
            display: inline-block;

            -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
            animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }

        .spinner .rect2 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }

        .spinner .rect3 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }

        .spinner .rect4 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }

        .spinner .rect5 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }

        @-webkit-keyframes sk-stretchdelay {
            0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
            20% { -webkit-transform: scaleY(1.0) }
        }

        @keyframes sk-stretchdelay {
            0%, 40%, 100% { 
                transform: scaleY(0.4);
                -webkit-transform: scaleY(0.4);
            }  20% { 
                transform: scaleY(1.0);
                -webkit-transform: scaleY(1.0);
            }
        }
        .btn-primary[disabled]
        {
            background-color:#ff3c77;
            border-color:#ff3c77;
        }

    </style>
    <!-- jQuery 2.1.4 -->
    <script src="{{asset('bundles/design/')}}js/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{{asset('bundles/design/')}}js/bootstrap.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="{{asset('bundles/design/')}}file_upload/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}file_upload/jquery.fileupload.js" type="text/javascript"></script>

    <script src="{{asset('bundles/design/')}}/js/app.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}/js/chosen.jquery.min.js" type="text/javascript"></script>

    <!-- DataTable ---->
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

    <link href="{{asset('bundles/design/')}}css/elegant-icons-style.css" rel="stylesheet"  type="text/css"/>
    <link href="{{asset('bundles/design/')}}css/font-awesome.min.css" rel="stylesheet" type="text/css"/>


    <!-- owl carousel -->
    <link rel="stylesheet" href="{{asset('bundles/design/')}}css/owl.carousel.css" type="text/css">
    <link href="{{asset('bundles/design/')}}css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{{asset('bundles/design/')}}css/widgets.css" rel="stylesheet">
    <link href="{{asset('bundles/design/')}}css/style.css" rel="stylesheet">
    <link href="{{asset('bundles/design/')}}css/style-responsive.css" rel="stylesheet" />
    <link href="{{asset('bundles/design/')}}css/xcharts.min.css" rel=" stylesheet">
    <link href="{{asset('bundles/design/')}}css/jquery-ui-1.10.4.min.css" rel="stylesheet">



    <script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/buttons.print.min.js" type="text/javascript"></script>






    <script src="{{asset('bundles/design/')}}js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/jszip.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/pdfmake.min.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/vfs_fonts.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}js/button.html5.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{asset('bundles/design/')}}js/file_upload/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="{{asset('bundles/design/')}}js/file_upload/jquery.fileupload.js"></script>
    <script src="{{asset('bundles/design/plugins/tinymce/tinymce.min.js')}}"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">
                              <!--<img src="{{asset('bundles/design/')}}images/logo.png" width="30px">-->
                    {% if app.session.get('role_id') != 1 %}
                        {% if app.session.get('domain_logo_id') != "" and  app.session.get('domain_logo_id') != 0 %}
                            {% set logo = render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': app.session.get('domain_logo_id'),'live_path':live_path})) %}
                            <img src="{{logo}}" width="70px">
                        {% else %}
                            <img src="{{asset('bundles/design/')}}images/logo.png" width="70px">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/design/')}}images/logo.png" width="70px">
                    {% endif %}
                </span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                              <!--<img src="{{asset('bundles/design/')}}images/main_logo.png" width="160px" height="50px">-->
                    {% if app.session.get('role_id') != 1 %}
                        {% if app.session.get('domain_logo_id') != "" and  app.session.get('domain_logo_id') != 0 %}
                            {% set logo = render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': app.session.get('domain_logo_id'),'live_path':live_path})) %}
                            {# <img src="{{logo}}" width="70px"> #}
                            <img src="{{asset('bundles/design/images/')}}shrayek.png" width="50px" height="50px" style="background-color:white;">
                        {% else %}
                            <img src="{{asset('bundles/design/images/')}}shrayek.png" width="50px" height="50px"  style="background-color:white;">
                        {% endif %}
                    {% else %}
                        <img src="{{asset('bundles/design/images/')}}shrayek.png" width="50px" height="50px"  style="background-color:white;">
                    {% endif %}
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!--<img src="{{asset('bundles/design/')}}images/logo.png" class="user-image" alt="User Image" />-->
                                <!--{% if app.session.get('role_id') != 1 %}
                                {% if app.session.get('domain_logo_id') != "" and  app.session.get('domain_logo_id') != 0 %}
                                    {% set logo = render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': app.session.get('domain_logo_id'),'live_path':live_path})) %}
                                    <img src="{{logo}}" class="user-image" alt="User Image" />
                                {% else %}
                                      <img src="{{asset('bundles/design/')}}images/logo.png" class="user-image" alt="User Image" />
                                {% endif %}
                                {% else %}
                                        <img src="{{asset('bundles/design/')}}images/logo.png" class="user-image" alt="User Image" />
                                    {% endif %}-->

                                        <span class="hidden-xs"> {%if  app.session.get('username')  is not empty %} {{app.session.get('username') |capitalize }} {%else%}Shrayek{% endif %}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <!--<img src="{{asset('bundles/design/')}}images/logo.png" class="img-circle" alt="User Image" />-->
                                            {% if app.session.get('role_id') != 1 %}
                                                {% if app.session.get('domain_logo_id') != "" and  app.session.get('domain_logo_id') != 0 %}
                                                    {% set logo = render(controller('AdminBundle:Base:getmedia', {'media_library_master_id': app.session.get('domain_logo_id'),'live_path':live_path})) %}
                                                    <img src="{{logo}}" class="img-circle" alt="User Image" />
                                                {% else %}
                                                    <img src="{{asset('bundles/design/')}}images/shrayek.png" class="img-circle" alt="User Image" />
                                                {% endif %}
                                            {% else %}
                                                <img src="{{asset('bundles/design/')}}images/shrayek.png" class="img-circle" alt="User Image" />
                                            {% endif %}
                                            <p>
                                                {%if  app.session.get('username')  is not empty %} {{app.session.get('username') |capitalize }} {%else%} Shrayek{% endif %}
                                                <small></small>
                                            </p>
                                        </li>
                                        <!-- Menu Body -->
                                        {#<li class="user-body">
                                          <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                          </div>
                                          <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                          </div>
                                          <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                          </div>
                                        </li>#}
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <!--<div class="pull-left">
                                              <a href="#" class="btn btn-default btn-flat">Profile</a>
                                            </div>-->
                                            <div class="pull-right">
                                                <a href="{{path('admin_default_logout')}}" class="btn btn-default btn-flat">Sign out</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </header>
                <!-- Left side column. contains the logo and sidebar -->
                <aside class="main-sidebar">
                    <!-- sidebar: style can be found in sidebar.less -->
                    <section class="sidebar">

                        <ul class="sidebar-menu">

                            <li class=" treeview">
                                <a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}">
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                </a>
                            </li>
                            <li class=" treeview">
                                <a href="{{path('admin_category_index')}}">
                                    <i class="fa fa-tasks"></i> <span>Category</span>
                                </a>
                            </li>
                            <li class=" treeview">
                                <a href="{{path('food_type')}}">
                                    <i class="fa fa-tasks"></i> <span>Food Type</span>
                                </a>
                            </li>
                             <li class="treeview menu-open">
                                <a href="#">
                                    <i class="fa fa-envelope"></i><span>Restaurant</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('restaurant_page')}}"><i class="fa fa-building"></i>Restaurant List</a></li>
                                    <li class="active"><a href="{{path('admin_restaurant_opensoonlist')}}"><i class="fa fa-building"></i>Open soon Restaurant</a></li>
                                        {# <li><a href="{{path('feedback')}}"><i class="fa fa-circle-o"></i>Member Messages</a></li> #}
                                </ul>
                            </li>
                          
                            
                           
                           
                             <li class="treeview menu-open">
                                <a href="#">
                                    <i class="fa fa-envelope"></i><span>Evaluation</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
								
									{% set have_evaluationlist = render(controller('AdminBundle:Base:haveaccess',{'code': 'SVRE10'})) %}
								
									{% if have_evaluationlist == '1' %}
                                    <li class="active"> 
                                        <a href="{{path('admin_evaluation_list')}}">
                                            <i class="fa fa-edit"></i> <span>Restaurant Evalaution List</span>
                                        </a>
                                    </li>
									{% endif %}
                                    <li class="active">
                                        <a href="{{path('admin_restaurant_newrestaurant')}}">
                                            <i class="fa fa-edit"></i>New Restaurant Evaluation
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="{{path('admin_feature_evaluation_list')}}">
                                            <i class="fa fa-comment"></i>Featured Comments
                                        </a>
                                    </li>
{#                                     <li class="active">
                                        <a href="{{ path('admin_sitemembers_index') }}">
                                            <i class="fa fa-users"></i>Highlighted Evaluation
                                        </a>
                                    </li> #}
                                        {# <li><a href="{{path('feedback')}}"><i class="fa fa-circle-o"></i>Member Messages</a></li> #}
                                </ul>
                            </li>
                             <li class=" treeview">
                                <a href="{{ path('admin_product_index') }}">
                                    <i class="fa fa-hand-o-up"></i><span>Product Vote</span>
                                </a>
                            </li>
                          <li class=" treeview">
                                <a href="{{ path('dinning_experience') }}">
                                    <i class="fa fa-cutlery"></i> <span>Dinning Experience</span>
                                </a>
                            </li>
                            <li class=" treeview">
                                <a href="{{path('admin_askthe_community_index')}}">
                                    <i class="fa fa-wechat "></i> <span> Ask the Community</span>
                                </a>
                            </li>

                            <li class=" treeview">
                                <a href="{{ path('admin_competition_index') }}">
                                    <i class="fa fa-money"></i> <span>Competitions & Awards</span>
                                </a>
                            </li>
							<li class=" treeview">
                                <a href="{{ path('admin_user_users') }}">
                                    <i class="fa fa-user"></i> <span>Users</span>
                                </a>
                            </li>
                           
							
							<li class="treeview menu-open">
                                <a href="#">
                                    <i class="fa fa-star"></i><span>Loyalty Points</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
								<ul class="treeview-menu">
                                    <li class=""> 
                                       <a href="{{ path('admin_competitionactivity_index') }}">
											<i class="fa fa-trophy"></i> <span>Competition</span>
										</a>
                                    </li>
                                    <li class="">
                                        <a href="{{path('admin_competitionactivity_users', {'comp_id': 0})}}">
                                            <i class="fa fa-users"></i>Users
                                        </a>
                                    </li>
									
								</ul>
                                
                            </li>
							
                             <li class="treeview menu-open">
                                <a href="#">
                                    <i class="fa fa-envelope"></i><span>Banner / Advertise</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
								<ul class="treeview-menu">
                                    <li class=""> 
                                        {# <a href="{{path('admin_advertise_index', {'type': 'mainheader'})}}"> #}
                                        <a href="{{path('admin_advertise_index', {'type': 'web'})}}">
                                            <i class="fa fa-image"></i>
											<span>Web Banner / Advertise</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="{{path('admin_advertise_index', {'type': 'mobile'})}}">
                                            <i class="fa fa-image"></i>Mobile Banner / Advertise
                                        </a>
                                    </li>
									<li class="">
                                        <a href="{{path('admin_advertise_index', {'type': 'web', 'adv_type': 'new_dishes'})}}">
											<i class="fa fa-cutlery"></i> <span>New Dishes</span>
										</a>
                                    </li>
								</ul>
                                {# <ul class="treeview-menu">
                                    <li class="active"> 
                                        <a href="{{path('admin_advertise_index', {'type': 'mainheader'})}}">
                                            <i class="fa fa-image"></i> <span>Main Banner/Offer</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="{{path('admin_advertise_index', {'type': 'secondbox'})}}">
                                            <i class="fa fa-image"></i>Advertise
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="{{path('admin_advertise_index', {'type': 'thirdbox'})}}">
                                            <i class="fa fa-cutlery"></i>New Dishes/ Third Box
                                        </a>
                                    </li>
                                </ul> #}
                            </li>
							
                             <li class="treeview menu-open">
                                <a href="#">
                                    <i class="fa fa-envelope"></i><span>Draws</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
								<ul class="treeview-menu">
                                    <li class=""> 
                                        <a href="{{path('admin_draw_index', {'type': 'voting'})}}">
                                            <i class="fa fa-image"></i>
											<span>Voting Draw</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="{{path('admin_draw_index', {'type': 'evaluation'})}}">
                                            <i class="fa fa-image"></i>Evalaution Draw
                                        </a>
                                    </li>									
                                    <li class="">
                                        <a href="{{path('admin_draw_index', {'type': 'eval_with_gallery'})}}">
                                            <i class="fa fa-image"></i>Evalaution with Gallery Draw
                                        </a>
                                    </li>
									<li class="">
                                        <a href="{{path('admin_draw_index', {'type': 'ask_community'})}}">
                                            <i class="fa fa-image"></i>Ask the Community Draw
                                        </a>
                                    </li>									
                                    <li class="">
                                        <a href="{{path('admin_draw_index', {'type': 'new_user'})}}">
                                            <i class="fa fa-image"></i>New Registered User Draw
                                        </a>
                                    </li>
									<li class="">
                                        <a href="{{path('admin_draw_index', {'type': 'all_user'})}}">
                                            <i class="fa fa-image"></i>All User Draw
                                        </a>
                                    </li>
									
									<li class="">
                                        <a href="{{path('admin_draw_index', {'type': 'loyalty_points'})}}">
                                            <i class="fa fa-trophy"></i>Loyalty Points Users Draw
                                        </a>
                                    </li>
									
								</ul>
                            </li>
							
							{# <li><a href="{{path('feedback')}}"><i class="fa fa-circle-o"></i>Member Messages</a></li> #}
							
							{% set have_setting = render(controller('AdminBundle:Base:haveaccess',{'code': 'SMSS39'})) %}
							
							{% if have_setting == '1' %}
                            <li class="treeview menu-open">
                                <a href="#">
                                    <i class="fa fa-cog"></i> <span>Site Settings</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('admin_whoweare_whoweare')}}"><i class="fa fa-circle-o"></i> Who we are</a></li>
                                    <li><a href="{{path('common_question')}}"><i class="fa fa-circle-o"></i> Common Questions</a></li>
                                    <li><a href="{{ path('admin_siteprivacy_index') }}"><i class="fa fa-circle-o"></i> Site Privacy</a></li>
                                    <li><a href="{{path('term_and_condition')}}"><i class="fa fa-circle-o"></i> Terms & Condition</a></li>
                                    <li><a href="{{ path('admin_setting_applink') }}"><i class="fa fa-circle-o"></i>App-Link</a></li>
                                    <li><a href="{{ path('admin_setting_websetting') }}"><i class="fa fa-circle-o"></i>Visitor/User Setting</a></li>
                                    <li><a href="{{ path('admin_setting_changeprofile') }}"><i class="fa fa-key"></i>Change Profile</a></li>
                                </ul>
                            </li>
							{% endif %}
							
							{% set have_contactus = render(controller('AdminBundle:Base:haveaccess',{'code': 'SMC40'})) %}
							
							{% if have_contactus == '1' %}
                            <li class="treeview menu-open">
                                <a href="#">
                                    <i class="fa fa-envelope"></i><span>Contact us</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{ path('admin_contactus_index') }}"><i class="fa fa-circle-o"></i>Contact Details</a></li>
                                    <li class="active"><a href="{{ path('admin_contactus_contactus') }}"><i class="fa fa-circle-o"></i>Member Messages</a></li>
                                    <li class="active"><a href="{{ path('admin_suggestions_index') }}"><i class="fa fa-comment"></i>Suggestions & Complaints</a></li>
                                        {# <li><a href="{{path('feedback')}}"><i class="fa fa-circle-o"></i>Member Messages</a></li> #}
                                </ul>
                            </li>
                            {% endif %}
                           
							{% set have_pnot = render(controller('AdminBundle:Base:haveaccess',{'code': 'SMPN41'})) %}
							
							{% if have_pnot == '1' %}
                            <li class=" treeview">
                                <a href="{{path('admin_pushnotification_index')}}">
                                    <i class="fa fa-bell"></i> <span>Pushnotification</span>
                                </a>
                            </li>
							{% endif %}
                            {%if app.session.get('role_id') == 1 or app.session.get('role_id') == 7 %}
                            <li class=" treeview">
								<a href="#">
                                    <i class="fa fa-users"></i><span>Multi Login</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
									<li class="active">
										<a href="{{path('admin_usertype_adminuserlist')}}">
											<i class="fa fa-user"></i> <span>Admin Users</span>
										</a>
										<a href="{{path('admin_usertype_index')}}">
											<i class="fa fa-user"></i> <span>User Types</span>
										</a>
									</li>
								</ul>
                            </li>
                            {%endif%}



                        </ul>
                    </section>
                    <!-- /.sidebar -->
                </aside>
                <div class="content-wrapper" style="min-height: 916px;">
                    <div class="content-rightbar">
                        <!--------------------- Main page contents loads here ------------------------------------>
                        {% block content %}
                            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                                <!-- TOGGLE NAVIGATION -->
                                <li class="xn-icon-button">
                                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                                </li>
                            </ul>
                        {% endblock %}
                        <!---------------------------------------------------------------------------------------->
                    </div>
                </div>
                <div id="myModal" class="modal fade" role="dialog" style="display:none;margin-top:40px;direction: ltr;">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <!-- <div class="modal-content">-->

                        <div class="">
                            <div class="">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body"><center>
                                    <div class="spinner">
                                        <div class="rect2"></div>
                                        <div class="rect3"></div>
                                        <div class="rect4"></div>
                                        <div class="rect5"></div>
                                    </div>
                                    <h3 style="color:#ff3c77;margin-top:-65px;">Loading...</h3></center>
                            </div>
                            <div class="">
                                <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                            </div>
                        </div>

                    </div>
                </div>
                <footer class="main-footer">
                    <div class="row">

                        <div class=" col-md-5  hidden-xs">
                            <strong>Copyright &copy; {{ ( 'now'| date('Y') - 1)}} - {{ 'now'| date('Y') }} <a href="#">Shrayek</a>.</strong> All rights reserved.
                        </div>

                    </div>
                </footer>
            </div><!-- ./wrapper -->
        </body>
    </html>
    <script src="{{asset('bundles/design/')}}js/jquery.validate.min.js" type="text/javascript"></script>
{% block js %}{% endblock %}
