{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Add Draw  {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="{{ asset('bundles/design') }}/css/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="{{asset('bundles/design/')}}plugins/select2/select2.min.css">
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
		
			{%set title = ''%}		
	
			{%if draw_type is defined%}
				{%if draw_type == 'voting'%}
					{%set title = 'Voting'%}
				{%endif%}
				{%if draw_type == 'evaluation'%}
					{%set title = 'Evaluation'%}
				{%endif%}
				{%if draw_type == 'eval_with_gallery'%}
					{%set title = 'Evaluation with Gallery'%}
				{%endif%}
				{%if draw_type == 'ask_community'%}
					{%set title = 'Ask the Community'%}
				{%endif%}
				{%if draw_type == 'new_user'%}
					{%set title = 'New User'%}
				{%endif%}
				{%if draw_type == 'all_user'%}
					{%set title = 'All User'%}
				{%endif%}				
			{%endif%}
			
			Add {{title}} Draw
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="{{path('admin_draw_index',{'domain':app.session.get('domain')})}}"></i>Draw list</a></li>
            <li class="active">Add Draw</li>
        </ol>

    </section>

    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div role="alert" class="alert alert-success alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <strong>Alert!</strong>&nbsp; {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div role="alert" class="alert alert-danger alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <strong>Alert!</strong>&nbsp; {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
					{%set draw_id = 0%}
					{%set draw_id = '' %}
					{%set title = '' %}
					{%set description = '' %}
					{%set category_id = '' %}
					{%set foodtype_id = '' %}
					{%set relation_id = '' %}
					{%set start_date = '' %}
					{%set end_date = '' %}
					{% set qualification_number = ''%}
					{% set qualification_status = ''%}
					{%set status = '' %}
					{%set all_time_checked = ''%}
					{% set start_date_disabled = ''%}

					{%if draw is defined and draw is not empty%}
						{%set draw_id = draw.draw_master_id %}
						{%set title = draw.draw_name %}
						{%set description = draw.draw_description %}
						{%set start_date = draw.start_date %}
						{%set qualification_number = draw.qualification_number %}
						{%set qualification_status = draw.qualification_status %}
						
						{%if start_date == null%}
							{%set all_time_checked = 'checked'%}
							{% set start_date_disabled = 'disabled'%}
						{%endif%}
						{%set end_date = draw.end_date %}
						{%set status = draw.status %}
						{%set category_id = draw.category_id %}
						{%set foodtype_id = draw.foodtype_id %}
						{%set relation_id = draw.relation_id %}
					{%endif%}
					
                    <form class="form-horizontal" action="{{path('admin_draw_savedraw',{'domain':app.session.get('domain')})}}" method="post" enctype="multipart/form-data">
					
						<input type="hidden" name="draw_type" value="{{draw_type}}"/>
						<input type="hidden" name="draw_id" value="{{draw_id}}"/>
                    
						<div class="box-body">
                            <div class="form-group row">
                                <div class="col-md-12">
									<div class="col-md-12">
										<label>Draw Title</label>
										<input type="text" name="draw_title" class="form-control input-sm" placeholder="Title" value="{{title}}">
									</div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
									<div class="col-md-12">
										<label>Draw Description</label>								
										<textarea name="draw_desc" placeholder="Description" class="form-control">{{description}}</textarea>
									</div>
                                </div>
                            </div>
							<div class="row form-group">
								<div class="">
									<div class="col-md-6 fill-padd-left">
										<div class="col-md-8">
											<label>Start Date</label><br>
											<input type="text" id="start_date" name="start_date" value="{{start_date}}" class="form-control startdate datetimepicker" {{start_date_disabled}}>
										</div>
										<div class="col-md-4">
										<label></label><br>
										<label class="radio-inline">
											<input type="checkbox" name="all_time" onclick="disable_start_date($(this).is(':checked'))" value="active" {{all_time_checked}}/> All Time
										</label>
										</div>										
									</div>
									<div class="col-md-6 fill-padd-right">
										<label>End Date</label><br>
										<input type="text" id="end_date" value="{{end_date}}" name="end_date" class="form-control enddate datetimepicker">
									</div>
								</div>
							</div>	

							{%if draw_type is defined and (draw_type == 'evaluation' or draw_type == 'eval_with_gallery') %}
							<div class="row form-group">
								<div class="col-md-12">
								
									<div class="col-md-6 fill-padd-left">
										<label>Category</label><br>
										<select name="category_id" id="category" class="form-control select2" onchange="change_foodtype(this.value)">
											<option value="0">Select Category</option>
											{%if categorys is defined and categorys is not empty%}
												{%for category in categorys%}
													<option value="{{category.main_category_id}}" {%if category.main_category_id == category_id%}selected{%endif%}>
													{%if category.lang_wise is defined and category.lang_wise is not empty%}
														{%for name in category.lang_wise%}
															{{name.name}}
															{%if loop.last != true%}
																/
															{%endif%}
														{%endfor%}
													{%endif%}
													</option>
												{%endfor%}
											{%endif%}
										</select>
									</div>

									<div class="col-md-6 fill-padd-left">
										<label>Foodtype</label><br>
										<select name="foodtype_id" id="foodtype" class="form-control select2" onchange="change_restuarant(this.value)">
											<option value="">Select Foodtype</option>
											{%if foodtypes is defined and foodtypes is not empty%}
												{%for foodtype in foodtypes %}
													<option value="{{foodtype.main_food_type_id}}" {%if foodtype.main_food_type_id == foodtype_id%}selected{%endif%}>
													{%if foodtype.lang_wise is defined and foodtype.lang_wise is not empty%}
														{%for name in foodtype.lang_wise%}
															{{name.name}}
															{%if loop.last != true%}
																/
															{%endif%}
														{%endfor%}
													{%endif%}
													</option>
												{%endfor%}
											{%endif%}
										</select>
									</div>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<div class="col-md-6 fill-padd-left">
										<label>Restaurants</label><br>
										<select name="relation_id" id="relation_id" class="form-control select2" onchange="getRestBranch($(this).val())">
											<option value="0">Select Restaurant</option>
											{%if restaurants is defined and restaurants is not empty%}
												{%for restaurant in restaurants%}
													<option value="{{restaurant.main_restaurant_id}}" {%if restaurant.main_restaurant_id == relation_id%}selected{%endif%}>
													{%if restaurant.lang_wise is defined and restaurant.lang_wise is not empty%}
														{%for name in restaurant.lang_wise%}
															{{name.name}}
															{%if loop.last != true%}
																/
															{%endif%}
														{%endfor%}
													{%endif%}
													</option>
												{%endfor%}
											{%endif%}
										</select>
									</div>	
									
									<div class="col-md-6 fill-padd-left">
                                       
                                            <label>Branch Name</label>
											<select id="branch_list" name="branch_id" class="form-control">
												<option value="0">Select Branch</option>
												{%if branch_list is defined and branch_list is not empty%}
													{% for branch in branch_list%}
														{% set selected = '' %}
														{% if draw.main_branch_id == branch.main_branch_master_id %}
															{% set selected = 'selected' %}
														{% endif %}
														<option value="{{ branch.main_branch_master_id }}" {{selected}}>{{ branch.branch_name }}</option>
													{% endfor %}
												{% endif %}
                                            </select>
                                    </div>
								</div>									
							</div>									
							{%endif%}	
							
							{%if draw_type is defined and draw_type == 'voting' %}
							<div class="row form-group">
								<div class="col-md-12">
									<div class="col-md-6 fill-padd-left">
										<label>Products</label><br>
										<select name="relation_id" class="form-control">
											<option value="0">Select Products</option>
											{%if products is defined and products is not empty%}
												{%for product in products%}
													
													<option value="{{product.main_product_id}}" {%if product.main_product_id == relation_id%}selected{%endif%}>
													{%if product.lang_wise is defined and product.lang_wise is not empty%}
														{%for name in product.lang_wise%}
															{{name.name}}
															{%if loop.last != true%}
																/
															{%endif%}
														{%endfor%}
													{%endif%}
													</option>
												{%endfor%}
											{%endif%}
										</select>
									</div>
								</div>
							</div>
							{%endif%}
								
							<div class="row form-group">
								<div class="col-md-12">

									{% if draw_type != 'new_user' and draw_type != 'all_user' %}
									<div class="col-md-6 fill-padd-left">
										<label>Qualification Count</label><br>
										
										<div class="col-md-2" style="padding-top:10px !important;">
											<input data-on='active' class='qualification_status' data-off='inactive' type='checkbox' data-toggle='toggle' data-size='mini' data-onstyle='success' value="{{ qualification_status }}" onchange="toggleQualificationNumber(this);" {% if qualification_status == 'active' %}checked{% endif %} />
											<input type="hidden" id="hidden_qualification_status" name="qualification_status" value="{{ qualification_status }}">
										</div>

										<div class="col-md-10">
											<label class="col-md-2 radio-inline"></label>
											<input type="text" id="qualification_number" name="qualification_number" value="{{qualification_number}}" class="form-control {% if qualification_status == 'active' %}show{% else %}hide{% endif %}">
										</div>
									</div>
									{% endif %}

									<div class="col-md-6 fill-padd-right">
										<label>Status</label><br>

										{% set draw_status_active = '' %}
										{% set draw_status_inactive = '' %}
										{% if draw is defined and draw is not empty %}
										{% if draw.status == 'active' %}
											{% set draw_status_active = 'checked' %}
										{% endif %}
										{% if draw.status == 'inactive' %}
											{% set draw_status_inactive = 'checked' %}
										{% endif %}
										{% endif %}

										<label class="radio-inline">
											<input type="radio" name="status" value="active" {{ draw_status_active }} required="" /> Active
										</label>
										<label class="radio-inline">
											<input type="radio" name="status" value="inactive" {{draw_status_inactive }} required="" /> Inactive
										</label>
									</div>									
								</div>
							</div>
                        </div>

                        <div class="box-footer">
                            <a href="{{path('admin_draw_index',{'domain':app.session.get('domain'),'type':draw_type})}}" class="btn btn-default btn-flat">Cancel</a>
                            <input type="hidden" name="add_draw" value="add_draw" />
                            <button type="submit" class="btn btn-info pull-right btn-flat">
								{%if draw is defined and draw is not empty%}Update {%else%}Add {%endif%}Draw
							</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}

<script src="{{ asset('bundles/design') }}/js/moment.min.js"></script>
<script src="{{ asset('bundles/design') }}/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>
    <script>
		function toggleQualificationNumber(obj){
			if($('.qualification_status').prop('checked')){
				$('#hidden_qualification_status').val('active');
				$('#qualification_number').removeClass('hide').addClass('show');
			} else {
				$('#hidden_qualification_status').val('inactive');
				$('#qualification_number').removeClass('show').addClass('hide');
			}
		}

		function change_foodtype(cat_id){
			if(cat_id != '' && cat_id != '0' && cat_id != 0){
				var url = "{{ path('admin_draw_getfoodtypelist') }}";
				$.ajax({
					url: url,
					method: 'POST',
					data: {'cat_id': cat_id},
					success: function(response){
						var res = JSON.parse(response);
						if(res['success'] == true){
							$('#foodtype').html(res['html']);
							$("#relation_id").select2("val", "");
						}
					},
					error: function(error){
						console.log(error);
					}
				});
			}
		}
	
		function change_restuarant(foodtype_id){
		
			console.log($("#category").select2('val'));
		
			var cat_id = $("#category").select2('val');
			if(cat_id == '' || cat_id == '0' || cat_id == 0){
				alert('Select Category');
				return false;
			}
			
			if(foodtype_id == '' || foodtype_id == '0' || foodtype_id == 0){
				alert('Select Foodtype');
				return false;
			}
			
			var url = "{{ path('admin_draw_getrestaurantlist') }}";
			$.ajax({
				url: url,
				method: 'POST',
				data: {'cat_id': cat_id, 'foodtype_id': foodtype_id},
				success: function(response){
					var res = JSON.parse(response);
					if(res['success'] == true){
						$('#relation_id').html(res['html']);
					}
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	
		function disable_start_date(all_time){
			if(all_time){
				$('#start_date').attr('disabled','disabled');
				$('#start_date').val('');
			}else{
				$('#start_date').removeAttr('disabled','disabled');			
			}
		}
		
		$(document).ready(function () {
			/*$(".datepicker").datepicker({
				"setDate": new Date(),
				"autoclose": true
			}); */

			$('.qualification_status').bootstrapToggle();

			$('.datetimepicker').datetimepicker({
				format:'YYYY-MM-DD HH:mm:ss',
				icons: {
					time: "fa fa-clock-o",
					date: "fa fa-calendar",
					up: "fa fa-arrow-up",
					down: "fa fa-arrow-down"
				}
			});
		});
		
		$(function () {
            $(".select2").select2({
                allowClear: true,
                tokenSeparators: [','],
                 minimumResultsForSearch:4
            });
        });
		
		function getRestBranch(main_restaurant_id){
		
				$.ajax({
					url: "{{path('admin_evaluation_getrestbranch',{'domain':app.session.get('domain')})}}",
					data: {'main_restaurant_id': main_restaurant_id},
					method: 'post',
					success: function (response) {
						response = "<option value='0'>Select Branch</option>"+response; 
						console.log(response);
						$('#branch_list').html(response);
					},
					error: function (error) {
						console.log(error);
					}
				});	
		
		}
		
    </script>
{% endblock %}
