{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}
  Eligible User-List
{% endblock %}
{% block css %}
  <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css"/>
  <style>
    .paddBottom {
      padding-bottom: 20px;
    }
    img.user-img {
      width: 46px;
    }
  </style>
{% endblock %}
{% block content %}

  <section class="content-header">
    <!-------- PAGE TITLE ---------------->
    <h1>
      Eligible User-List
      <small></small>
    </h1>
    <!------- BREADCUMB ---------------------->
    <ol class="breadcrumb">
      <li>
        <a href="">
          <i class="fa fa-dashboard"></i>
          Dashboard</a>
      </li>
      <li class="active">User-List</li>
    </ol>
  </section>

  <section class="content">
    {% for flashMessage in app.session.flashbag.get('success_msg') %}
      <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4>
          <i class="icon fa fa-check"></i>
          Alert!</h4>{{ flashMessage }}
      </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error_msg') %}
      <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4>
          <i class="icon fa fa-check"></i>
          Alert!</h4>{{ flashMessage }}
      </div>
    {% endfor %}

    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
		<div class="box-header with-border">
			<div class="pull-right">
				<a href="{{path('admin_draw_index',{'domain':app.session.get('domain'),'type':draw_type})}}" class="btn btn-primary btn-flat"><i class="fa fa-arrow"></i>&nbsp;&nbsp;Back</a>
			</div>
		</div>
								
          <div class="box-body table-responsive"> 
            <table id="user_list" class="table display table-striped table-bordered scroll-horizontal">
              <thead>
				<th>No.</th>
{#                <th>Image</th>
#}                <th>Name</th>
                {# <th>Email</th>
                <th>Username</th>
                <th>Contact No.</th>
                <th>Gender</th>
                <th>DOB</th> #}
				<th>Status</th>
{#                <th>Last Login</th>
                <th>Action</th>
#}              </thead>
              <tbody>
                {%if users is defined and users is not empty%}
					{%for user in users%}
						<tr>
							<td>{{loop.index}}</td>
							<td>
								{% set user_bio = user.user_bio %}
								{% if user_bio is empty %}
									{{ user.user_firstname ~ ' ' ~ user.user_lastname }}
								{% else %}
									{{ user_bio }}
								{% endif %}
							</td>
							{# <td>{{user.email}}</td>
							<td>{{user.username}}</td>
							<td>{{user.user_mobile}}</td>
							<td>{{user.user_gender}}</td>
							<td>{{user.date_of_birth | date('d-m-Y')}}</td> #}
							<td>
								{% if user.status == 'active' %}
									{% set status_label = 'Active' %}
									{% set checked = 'checked' %}
								{% else %}
									{% set status_label = 'Inactive' %}
									{% set checked = '' %}
								{%endif%}
								
								<input data-on="active" class="status status_23" data-off="inactive" type="checkbox" onchange="change_status({{ user.user_id }}, {{ user.draw_id }})"  data-toggle="toggle" data-size="mini" data-onstyle="success" {{ checked }}>
							</td>
						</tr>
					{%endfor%}
				{%endif%}
              </tbody>
              <tfoot>
				<th>No.</th>
{#                <th>Image</th>
#}                <th>Name</th>
                {# <th>Email</th>
                <th>Username</th>
                <th>Contact No.</th>
                <th>Gender</th>
                <th>DOB</th> #}
                <th>Status</th>
{#                <th>Last Login</th>
                <th>Action</th>
#}
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}

{% block js %}
  <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
		$('#user_list').DataTable();
    });
	
	function change_status(user_id, draw_id){
		if(user_id != '' && draw_id != ''){
			var url = "{{ path('admin_draw_drawupdatestatus') }}";
			$.ajax({
				url: url,
				method: 'post',
				data: {'draw_id': draw_id, 'user_id' : user_id},
				success: function(response){
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
  </script>
{% endblock %}
