{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Draw List {% endblock %}
{% block css %}
	<style>
		#winner_modal, #winner_modal1 {
			background-color: #FFB220 !important;
		}
		#winner_modal .modal-dialog, #winner_modal1 .modal-dialog {
			width: 50%;
			height: 50%;
			margin: auto;
			position: absolute;
			top: 50px;
			left: 0;
			bottom: 0;
			right: 0;
		}
	</style>
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
			{%set title = ''%}		
	
			{%if draw_type is defined%}
				{%if draw_type == 'voting'%}
					{%set title = 'Voting'%}
				{%endif%}
				{%if draw_type == 'evaluation'%}
					{%set title = 'Evaluation'%}
				{%endif%}
				{%if draw_type == 'eval_with_gallery'%}
					{%set title = 'Evaluation with Gallery'%}
				{%endif%}
				{%if draw_type == 'ask_community'%}
					{%set title = 'Ask the Community'%}
				{%endif%}
				{%if draw_type == 'new_user'%}
					{%set title = 'New User'%}
				{%endif%}
				{%if draw_type == 'all_user'%}
					{%set title = 'All User'%}
				{%endif%}				
			{%endif%}
			
			{{title}} Draw list
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">{{title}} Draw list</li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div role="alert" class="alert alert-success alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <strong>Alert!</strong>&nbsp; {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div role="alert" class="alert alert-danger alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <strong>Alert!</strong>&nbsp; {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
                    <div class="nav-tab-custom">

                        <ul class="nav nav-tabs">

                            <li  class="active"><a href="#general" data-toggle="tab">{{title}} draw</a></li>
                           

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active"  id="general">
                                <div class="box-header with-border">
                                    <div class="pull-right">
                                        <a href="{{path('admin_draw_adddraw',{'domain':app.session.get('domain'),'type':draw_type})}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</a>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="container-fluid table-responsive">
                                        <table id="example1" class="table table-bordered table-striped text-center">
                                            <thead>
                                            <th>No.</th>
                                            <th>Draw Title</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
											<th>Eligible Users</th>
											<th>Winner Name</th>
											<th>Winner Email</th>
											<th>Draw date</th>
                                            <th>Operation</th>
											<th>Send Mail</th>
                                            <th>Delete</th>
                                            </thead>
                                            <tbody>
                                                {% if draw is defined and draw is not empty %}
                                                    {% for draw_details in draw %}
                                                        <tr>
                                                            <td>{{loop.index}}</td>
                                                            <td>{{draw_details.draw_name}}</td>
                                                            <td>{%if draw_details.start_date != null%}{{draw_details.start_date}}{%else%}All time selected{%endif%}</td>
                                                            <td>{{draw_details.end_date}}</td>
															<td>{{draw_details.eligible_user_count}}</td>
															<td>
																{% set user_fullname = draw_details.user_fullname %}
																{% if user_fullname != '' %}
																	{{ user_fullname }}
																{% else %}
																	-
																{% endif %}
															</td>
															<td>
																{% set user_email = draw_details.user_email %}
																{% if user_email != '' %}
																	{{ user_email }}
																{% else %}
																	-
																{% endif %}
															</td>
															<td>
																{% set winner_declare_date = draw_details.winner_declare_date %}
																{% if user_email != '' %}
																	{{ winner_declare_date }}
																{% else %}
																	-
																{% endif %}
															</td>
                                                            <td>
																<a class="editcategory btn btn-info btn-xs" href="{{path('admin_draw_adddraw',{'domain':app.session.get('domain'),'draw_id':draw_details.draw_master_id,'type':draw_details.draw_type})}}" data-toggle="tooltip" data-placement="top" data-original-title="edit" onclick="return confirm('Are you sure want to edit');">
																	<i class="fa fa-pencil-square-o"></i>
																</a>																
																																
																<a class="btn btn-success btn-xs" href="{{path('admin_draw_elegibleuser',{'domain':app.session.get('domain'),'draw_id':draw_details.draw_master_id,'type':draw_details.draw_type})}}" data-toggle="tooltip" data-placement="top" data-original-title="Eligible Users" >
																	<i class="fa fa-users"></i>
																</a>
																
															{%if draw_details.end_date|date('Y-m-d H:i:s') <  'now'|date('Y-m-d H:i:s')%}			
																{% if draw_details.winner_id == 0%}
																<a class="btn btn-warning btn-xs" href="#" onclick="get_winner('{{draw_details.draw_type}}','{{draw_details.draw_master_id}}')" data-toggle="modal" data-target="#winner_modal1">
																																																			<i class="fa fa-user">Select Winner</i>
																																																			</a>																
																																																																														
																{%else%}
																<a class="btn btn-warning btn-xs" href="#" onclick="get_selected_winner('{{draw_details.winner_id}}','{{draw_details.draw_master_id}}')" data-toggle="modal" data-target="#winner_modal">
																	<i class="fa fa-user">View Winner</i>
																</a>
																{%endif%}
																
															{%endif%}	
															</td>
															<td>
																{%if draw_details.end_date|date('Y-m-d') <  'now'|date('Y-m-d')%}			
																	{% if draw_details.winner_id == 0%}
																	{% else %}
																	<a href="#myModal" class="btn btn-warning btn-xs"  data-toggle="modal" id="{{ draw_details.draw_master_id }}"data-target="#edit-modal">Send Email</a>
																	{% endif %}
																{% endif %}
															</td>
															<td>
																<a class="btn btn-info btn-xs" href="{{path('admin_draw_deletedraw',{'domain':app.session.get('domain'),'draw_id':draw_details.draw_master_id,'type':draw_details.draw_type})}}" data-toggle="tooltip" data-placement="top" data-original-title="Delete" onclick="return confirm('Are you sure want to delete?');">
																	<i class="fa fa-trash"></i>
																</a>
															</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <th>No.</th>
                                            <th>Draw Title</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Eligible Users</th>
											<th>Winner Name</th>
											<th>Winner Email</th>
											<th>Draw date</th>
                                            <th>Operation</th>
                                            <th>Send Mail</th>
                                            <th>Delete</th>											
                                            </tfoot>
                                        </table>
                                    </div>

									<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									
										<input type="hidden" id="hidden_draw_id">
									
										<div class="modal-dialog">
											<div class="modal-content">
												
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<h4 class="modal-title" id="myModalLabel">Reply Via Email</h4>
												</div>
												<div class="modal-body edit-content">
													
														<div class="row">
															<div class="col-xs-2"> Name </div>
															<div class="col-xs-6" > <div id="nick_name"></div></div>                                
														</div>
														<div class="row">
															<div class="col-xs-2"> Email </div>
															<div class="col-xs-8" > <div id="email_address"></div></div>                                
														</div>
														<div class="row">
															<div class="col-xs-2">Message</div>
															<div class="col-xs-10">
																<textarea name='email_message' id="email_message" class='form-control' required></textarea>
																<input type='hidden' name='contactus_id' id="winner_id" value='' />
																<input type='hidden' name='email_address_hidden' id="email_address_hidden" value='' />
															</div>
														</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													<button type="button" data-drawid="" class="btn btn-primary sendmailtowinner" onclick="sendmailtowinner();">Send Email</button>
												</div>
											</div>
										</div>
									</div>
									
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
    </section>
	
	<div class="modal fade" id="winner_modal1" role="dialog">
        <div class="modal-dialog">	  
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Draw Winner</h4>
                </div>
                <div class="modal-body">

                </div>
				<div class="modal-footer">

				</div>
            </div>

        </div>
    </div>	
	
    <div class="modal fade" id="winner_modal" role="dialog">
        <div class="modal-dialog">	  
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Draw Winner</h4>
                </div>
                <div class="modal-body">

                </div>
				<div class="modal-footer">

				</div>
            </div>

        </div>
    </div>	
{% endblock %}

{% block js %}
	<script>
        /*function delete_msg(id) {
         $("#model_form").attr("action").val();
         $("#myModal").modal("show");
         }*/
        $(document).ready(function () {
            $('#example1').DataTable();
        });
	
		function sendmailtowinner(){
			var draw_id = $('#hidden_draw_id').val();
			if(draw_id != ''){
				send_mail(draw_id);
			}
		}
	
		$('#edit-modal').on('show.bs.modal', function(e) {
			var $modal = $(this),
			draw_id = e.relatedTarget.id;
			
			$.ajax({
				url : "{{path('admin_draw_getwinnerdata')}}/"+draw_id,
				method : 'GET',
				success : function(data){
					
					var response = JSON.parse(data);
					console.log(response.name);
				
					if(response.status == true){
					
						$('#hidden_draw_id').val(draw_id);
					
						var html = '';
						html += "<b>Nick Name : </b>" + response.name + "<br>";
						html += "<b>Email Address : </b>" + response.email +"<br>";
						html += "<b>Message :</b> <textarea name='email_message' class='form-control' ></textarea><input type='hidden' name='winner_id' value='"+winner_id+"' /><br>";
						$modal.find('#nick_name').html(response.name);
						$modal.find('#email_address').html(response.email);
						$modal.find('#winner_id').val(winner_id);
						$modal.find('#email_address_hidden').val(response.email);
					}
				},
				error : function(){
					alert('Something went wrong');
				}
			});
		});
	
		function delete_winner(draw_id){

			var cnf = confirm("Are you sure want to delete winner ? ");
			
			if(cnf){
				$.ajax({
					url : "{{path('admin_draw_deletewinner')}}",
					method : 'POST',
					data : {'draw_id':draw_id},
					success : function(data){
						alert('Winner Deleted now you can redo Draw');
						location.reload();
					},
					error : function(){
						alert('Something went wrong');
					}
				});						
			}
		}
		
		function send_mail(draw_id,element = ''){
			
			//element.text('Sending ...');
			$('.sendmailtowinner').text('Sending ...');
			
			var message = $('#email_message').val();
			if(message == '' || message == null || message == 'null'){
				alert("Please enter message to send");
				return false;
			}
			
			$.ajax({
				url : "{{path('admin_draw_sendmail')}}",
				method : 'POST',
				data : {'draw_id':draw_id, 'message': message},
				success : function(data){
					if($.trim(data) == 'done'){
						alert('Mail has been sent to winner');
					}else{
						alert('Something went wrong, Please try again');				
					}
					//element.text('Send');
					$('.sendmailtowinner').text('Send');
				},
				error : function(){
					alert('Something went wrong');
				}
			});			
		
		}
		
		function get_selected_winner(user_id,draw_id){
			$('.modal-body').html('');
			
			$.ajax({
				url : "{{path('admin_draw_getwinner')}}/"+user_id+"/"+draw_id,
				method : 'GET',
				success : function(data){
					console.log(data);
					$('.modal-body').html('');
					$('.modal-footer').html('');
					var response = JSON.parse(data);
					var footer_html = '';
					
					footer_html += "<button class='pull-right btn-danger btn-sm' id='delete_winner' onclick='delete_winner("+draw_id+")'>Delete Winner</button>"; 
					
					//footer_html += "<button class='pull-left btn-warning btn-sm' id='send_mail_btn' onclick='send_mail("+draw_id+",$(this))'>Send Mail</button>";

					footer_html += "<button type='button' class='pull-left btn btn-default' data-dismiss='modal'>Close</button>";
					
					$('#winner_modal .modal-body').append(response.html);
					$('#winner_modal .modal-footer').append(footer_html);
					
				},
				error : function(){
					alert('Something went wrong');
				}
			});				
		
		}
		
		var time_count = 0;
		function call_ajax(type,draw_id){
			$('.modal-header').html('<h3>Selecting Winner</h3>');
			$.ajax({
				url : "{{path('admin_draw_selectwinner')}}/"+type+"/"+draw_id,
				method : 'GET',
				success : function(data){
					console.log(data);
					$('.modal-body').html('');
					
					var response = JSON.parse(data);
				
					var users = [];
					if(response.users != null && response.users != 'null' && response.users != ''){
						var user_arr = response.users;
						for(var i = 0; i < user_arr.length; i++){
							var nickname = user_arr[i].user_bio;
							if(nickname == ''){
								nickname = user_arr[i].user_firstname + ' ' + user_arr[i].user_lastname;
							}
							var user = {};
							user['user_id'] = user_arr[i].user_master_id;
							user['nickname'] = nickname;
							user['image_url'] = user_arr[i].image_url;
							users.push(user);
						}
					}
					
					var selected_user = [];
					if(users.length > 0){
						
						var refreshId = setInterval(function(){
							selected_user = [];
							if(time_count >= 95){
								setModelHeader();
								clearInterval(refreshId);
								time_count = 0;
							}
							var rand = Math.floor(Math.random() * users.length);
							selected_user = users[rand];
							$('.modal-body').html("<div id='user_name_generate' class='text-center'>"+users[rand].nickname+"</div>");
							time_count = time_count + 1;
						}, 100);
						
						setTimeout(function(){
							call_confirm(type,draw_id,selected_user.user_id);
						},25000);					
					}else{
						$('#winner_modal1 .modal-body').append('<h1>No User is eligible for this draw</h1>');
						$('#winner_modal1 .modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>');
					}
				},
				error : function(){
					alert('Something went wrong');
					location.reload();					
				}
			});	
			
		}
		
		function setModelHeader(){
			$('#winner_modal1 .modal-header').html('<h3>Congratulation the winner is...</h3>');
		}
		
		function get_winner(type,draw_id){
			/* var loading_img = "<img src='{{asset('/bundles/design/images/loading.gif')}}' style='height:200px;width:100%'>";
			
			$('#winner_modal').attr('data-backdrop','static');
			$('#winner_modal').attr('data-keyboard','false');
			
			$('.modal-body').html(loading_img);
			$('.modal-footer').html('');
			
			setTimeout(function(){
				call_ajax(type,draw_id);
			}, 5000); */
			$('#winner_modal').attr('data-backdrop','static');
			$('#winner_modal').attr('data-keyboard','false');
			call_ajax(type,draw_id);
		}
		
		function call_confirm(type,draw_id,user_id){
			var cnf = confirm("do you want to confirm Winner?");
			
			if(cnf){
				$.ajax({
					url : "{{path('admin_draw_setwinner')}}",
					method : 'POST',
					data : {'draw_id':draw_id,'winner_id':user_id},
					success : function(data){
						console.log(data);
						alert('winner set');
						location.reload();
					},
					error : function(){
						alert('Something went wrong');
						location.reload();						
					}
				});	
			}else{
				get_winner(type,draw_id);
			}
		
		}
	
    </script>
{% endblock %}