<!DOCTYPE html>
<html lang="{% if app.session.get('lang_code')!='' %}{{app.session.get("lang_code")}}{% else %}en{% endif %}">
<head>
<meta charset="utf-8">
<meta name="keywords" content="MHR">
<meta name="description" content="MHR">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="shortcut icon" type="{{asset('bundles/design/site_data/')}}images/favicon" href="{{asset('bundles/design/site_data/')}}images/favicon/favicon-16x16.png" />

<title>MHR - My Health Record{% block title %}{% endblock %}</title>


{% if app.session.get('lang_code')=='ar' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.2.0-rc2/css/bootstrap-rtl.min.css">
{% endif %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}fonts/stylesheet.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}css/ie10-viewport-bug-workaround.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}css/hover.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}css/mhr.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}css/camera.css" rel="stylesheet" type="text/css">
         <link rel="stylesheet" type="text/css" href="{{asset('bundles/design/site_data/')}}fancybox/jquery.fancybox.css">
{% block css %}
<style>
	.search-mhr-gallery li video {
    width: 100%;
    border: 1px solid #ccc;
    padding: 1px;
}
</style>
	{% endblock %}
 
</head>
<body>
<div class="page">
	
	<div class="default-padding">
		<div class="container">
			
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="filter-holder">
			    	<h4>User Details</h4>
					 <p>MHR Number :- {{user.mhr_number}}</p>
				    <p>Firstname :- {{user.firstname}}</p>
					 <p>Lastname :- {{user.lastname}}</p>
					 <p>User School Name :- {{user.user_school_name}}</p>
					  <p>User Color Of First Car :- {{user.user_color_of_first_car}}</p>
					   <p>Date Of Birth :- {{user.date_of_birth}}</p>
		    	</div>
				{%if response_report is not empty%}
					{%for response_report in response_report%}
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{response_report.date_of_upload}} - {{response_report.report_title}} {%if response_report.categroy.category_name is not empty%}({{response_report.categroy.category_name}}){%endif%}</a></h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<p>{{response_report.report_description}}</p>
									<ul class="search-mhr-gallery">
										{%if response_report.report_image is not empty %}
											{%for rimage in response_report.report_image%}
												{% if rimage.media_type == 1 %}
										           <li><a class="fancybox" data-fancybox-group="gallery" href="{{rimage.image_url}}"><img style="height: 200px; width: 200px;" class="img-responsive" src="{{rimage.image_url}}"></a></li>
									            {%endif%}
												
										   {%endfor%}
									    {%endif%}
									</ul>
								</div>
							</div>
						</div>
					{%endfor%}
				{%endif%}
  				
			</div>				
		</div>		
	</div>
	
	

	
</div>
<!-- Bootstrap -->
<script src="{{asset('bundles/design/site_data/')}}js/jquery.min.js"></script>
<script src="{{asset('bundles/design/site_data/')}}js/bootstrap.js"></script>
<script src="{{asset('bundles/design/site_data/')}}js/ie10-viewport-bug-workaround.js"></script>
<!-- Bootstrap -->

<!-- Banner -->
<!--<script src="js/jquery.min.js"></script>-->
<script src="{{asset('bundles/design/site_data/')}}js/jquery.mobile.customized.min.js"></script>   
<script src="{{asset('bundles/design/site_data/')}}js/jquery.easing.1.3.js"></script>
<script src="{{asset('bundles/design/site_data/')}}js/camera.js"></script>
<script src="{{asset('bundles/design/site_data/')}}fancybox/jquery.fancybox.js"></script>
<script>
$(document).ready(function() {
	$('.fancybox').fancybox();
});
</script>
<!-- Banner -->
{% block js %}{% endblock %}
</body>


</html>
