<!DOCTYPE html>
<html lang="{% if app.session.get('lang_code')!='' %}{{app.session.get("lang_code")}}{% else %}en{% endif %}">
<head>
<meta charset="utf-8">
<meta name="keywords" content="MHR">
<meta name="description" content="MHR">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="shortcut icon" type="{{asset('bundles/design/site_data/')}}images/favicon" href="{{asset('bundles/design/site_data/')}}images/favicon/favicon-16x16.png" />

<title>MHR - My Health Record{% block title %}{% endblock %}</title>


{% if app.session.get('lang_code')=='ar' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.2.0-rc2/css/bootstrap-rtl.min.css">
{% endif %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}fonts/stylesheet.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}css/ie10-viewport-bug-workaround.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}css/hover.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}css/mhr.css" rel="stylesheet" type="text/css">
        <link href="{{asset('bundles/design/site_data/')}}css/camera.css" rel="stylesheet" type="text/css">
         <link rel="stylesheet" type="text/css" href="{{asset('bundles/design/site_data/')}}fancybox/jquery.fancybox.css">
{% block css %}
<style>
	.search-mhr-gallery li video {
    width: 100%;
    border: 1px solid #ccc;
    padding: 1px;
}
.search-mhr-gallery li{width:auto !important}       
       .search-mhr-gallery li img {max-width:auto !important;height:auto !important;}
       .notdisplay
       {
       	display: none;
       }
</style>
	{% endblock %}

</head>
<body>
<div class="page">

	<div class="default-padding">
		<div class="container">

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
				<div class="filter-holder notdisplay"{% if language_id == 2%}style="direction: rtl;"{%endif%}>
			    	<h4>{# User Details #} {{ render(controller('SiteBundle:Default:getlabelname',{'label_id':271,'language_id':language_id})) }}</h4>
					 <p>{# MHR Number #} {{ render(controller('SiteBundle:Default:getlabelname',{'label_id':3,'language_id':language_id})) }} :- {%if user is not empty%}{{user.mhr_number}}{%endif%}</p>

					 <p>{# Name #} {{ render(controller('SiteBundle:Default:getlabelname',{'label_id':290,'language_id':language_id})) }} :-  {% if user.username is not empty %}{{ user.username}}{%else%}  {% if user.firstname is not empty %} {{user.firstname}}{% endif %} {% if user.lastname is not empty %} {{user.lastname}}{% endif %}{% endif %} </p><!--for live-->

          			<!-- <p>{# Name #} {{ render(controller('SiteBundle:Default:getlabelname',{'label_id':285,'language_id':language_id})) }} :-  {% if user.username is not empty %}{{ user.username}}{%else%}  {% if user.firstname is not empty %} {{user.firstname}}{% endif %} {% if user.lastname is not empty %} {{user.lastname}}{% endif %}{% endif %}  </p>--><!--for local-->

				    <!--<p>{# Firstname #} {{ render(controller('SiteBundle:Default:getlabelname',{'label_id':273,'language_id':language_id})) }} :- {%if user is not empty%}{{user.firstname}} {{user.lastname}} {%endif%}</p>-->
					<!--<p>{# Lastname #} {{ render(controller('SiteBundle:Default:getlabelname',{'label_id':275,'language_id':language_id})) }} :- {%if user is not empty%}{{user.lastname}}{%endif%}</p>-->
					<!-- <p>{# User School Name #} {{ render(controller('SiteBundle:Default:getlabelname',{'label_id':277,'language_id':language_id})) }} :- {%if user is not empty%}{{user.user_school_name}}{%endif%}</p>-->
					  <!--<p>{# User Color Of First Car #} {{ render(controller('SiteBundle:Default:getlabelname',{'label_id':279,'language_id':language_id})) }} :- {%if user is not empty%}{{user.user_color_of_first_car}}{%endif%}</p>-->
					   <!--<p>{# Date Of Birth #} {{ render(controller('SiteBundle:Default:getlabelname',{'label_id':83,'language_id':language_id})) }} :- {%if user is not empty%}{{user.date_of_birth}}{%endif%}</p>-->
		    	</div>
				{%if response_report is not empty%}
					{%for response_report in response_report%}
						<div class="panel panel-default" >
							{% if language_id != 1 %}
								<div class="panel-heading notdisplay" role="tab" id="headingOne"  style="height:40px;" >
									<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"   ><span style="float:right;"> {{response_report.report_title}} -  {{response_report.date_of_upload}} </span><span style="float:right;"> {%if response_report.categroy.category_name is not empty %} ({{response_report.categroy.category_name}}) {%endif%} </span></a></h4>
								</div>
							{%else%}
								<div class="panel-heading notdisplay" role="tab" id="headingOne">
									<h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >{{response_report.date_of_upload}} - {{response_report.report_title}} {%if response_report.categroy.category_name is not empty %}({{response_report.categroy.category_name}}){%endif%}</a></h4>
								</div>
							{%endif%}

							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"   >
								<div class="panel-body" {% if language_id == 2 %}style="direction: rtl;"{%endif%} >
									
									<ul class="search-mhr-gallery">
										{%if response_report.report_image is not empty %}
											{%for rimage in response_report.report_image%}
												{% if rimage.media_type == 1 %}

										           <li style="{% if language_id ==1 %}float:left;{%else%}float:right;{%endif%}"><a class="fancybox" data-fancybox-group="gallery" href="{{rimage.image_url}}"><img style="height: 200px; width: 1000px;" class="img-responsive" src="{{rimage.image_url}}"></a></li>
										        {% elseif rimage.media_type == 4 %}
													<li style="{% if language_id ==1 %}float:left;{%else%}float:right;{%endif%}">
{#
                            <a class="fancybox" data-fancybox-type="iframe" data-fancybox-group="gallery" href="{{rimage.image_url}}"><img style="height: 200px; width: 1000px;" class="img-responsive pdf" src="{{asset('bundles/design/site_data/')}}images/adobe-pdf-icon.png"></a>
#}
                            <iframe class="pdf" class="img-responsive doc" src="https://docs.google.com/gview?url={{rimage.image_url}}&embedded=true"></iframe>

                          </li>
										         {% elseif rimage.media_type == 5 %}
													<li style="{% if language_id ==1 %}float:left;{%else%}float:right;{%endif%}">
{#
                            <a class="fancybox" data-fancybox-type="iframe"  data-fancybox-group="gallery" href="{{rimage.image_url}}"><img style="height: 200px; width: 1000px;" class="img-responsive doc" src="{{asset('bundles/design/site_data/')}}images/word-icon.png"></a>
#}
                            <iframe class="doc"  class="img-responsive doc" src="https://docs.google.com/gview?url={{rimage.image_url}}&embedded=true"></iframe>

                          </li>
										        {% else %}
										        	<li style="{% if language_id ==1 %}float:left;{%else%}float:right;{%endif%}"><a class="fancybox" data-fancybox-group="gallery" href="{{rimage.image_url}}"><img style="height: 200px; width: 1000px;" class="img-responsive" src="{{rimage.video_image_url}}"></a></li>
									            {%endif%}

										   {%endfor%}
									    {%endif%}
									</ul>
									<p class="notdisplay">{{response_report.report_description}}</p>
								</div>
							</div>
						</div>
					{%endfor%}
				{%endif%}

			</div>
		</div>
	</div>




</div>
<!-- Bootstrap -->
<script src="{{asset('bundles/design/site_data/')}}js/jquery.min.js"></script>
<script src="{{asset('bundles/design/site_data/')}}js/bootstrap.js"></script>
<script src="{{asset('bundles/design/site_data/')}}js/ie10-viewport-bug-workaround.js"></script>
<!-- Bootstrap -->

<!-- Banner -->
<!--<script src="js/jquery.min.js"></script>-->
<script src="{{asset('bundles/design/site_data/')}}js/jquery.mobile.customized.min.js"></script>
<script src="{{asset('bundles/design/site_data/')}}js/jquery.easing.1.3.js"></script>
<script src="{{asset('bundles/design/site_data/')}}js/camera.js"></script>
<script src="{{asset('bundles/design/site_data/')}}fancybox/jquery.fancybox.js"></script>
<script>
$(document).ready(function() {
	$('.fancybox').fancybox();
});
</script>
<!-- Banner -->
{% block js %}{% endblock %}
</body>


</html>
