{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Bookmark Restaraunts {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<style>
		.paddBottom { padding-bottom: 20px; }
		img.user-img { width: 46px; }
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            Bookmark Restaraunts
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Bookmark Restaraunts</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                            <a href={{path('admin_user_users')}} class="btn btn-primary btn-flat" title="Back to Que List"><i class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a>
                        </div>
                    </div>
					<div class="box-body table-responsive">
						<table id="book_mark_list" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								{%if language_list is defined and language_list is not empty%}
									{%for language in language_list%}
										<th>Restaraunt Name : {{language.language_name}}</th>
									{%endfor%}
								{%endif%}
							</thead>
							<tbody>
							{%if bookmarkRestaraunts is defined and bookmarkRestaraunts is not empty %}
								{% for restoraunt_data in bookmarkRestaraunts %}
								<tr>
									{% for language in language_list %}
											{% for restoraunt in restoraunt_data %}
												{%if restoraunt.language_id == language.language_master_id%} 
													<td>{{restoraunt.rest_name}}</td>
												{%endif%}
											{%endfor%}
									{% endfor %}
								</tr>	
								{%endfor%}
							{%endif%}	
							</tbody>
							<tfoot>
								{%if language_list is defined and language_list is not empty%}
									{%for language in language_list%}
										<th>Restaraunt Name : {{language.language_name}}</th>
									{%endfor%}
								{%endif%}
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$('#book_mark_list').DataTable();
	});
</script>
{% endblock %}