{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}
  User-List
{% endblock %}
{% block css %}
  <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css"/>
  <style>
    .paddBottom {
      padding-bottom: 20px;
    }
    img.user-img {
      width: 46px;
    }
	.container1 {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default checkbox */
	.container1 input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		display: none;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: -22px;;
		left: 24px;
		height: 23px;
		width: 23px;
		background-color: #e5e5e5;
	}

	/* On mouse-over, add a grey background color */
	.container1:hover input ~ .checkmark {
		background-color: #ccc;
	}

	/* When the checkbox is checked, add a blue background */
	.container1 input:checked ~ .checkmark {
		background-color: #f4b400;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.container1 input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	.container1 .checkmark:after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#delete_selected_input .btn{
		background: #f4b400;
		border: 1px solid #f4b400;
	}
  </style>
{% endblock %}
{% block content %}

  <section class="content-header">
    <!-------- PAGE TITLE ---------------->
    <h1>
      User-List
      <small></small>
    </h1>
    <!------- BREADCUMB ---------------------->
    <ol class="breadcrumb">
      <li>
        <a href="">
          <i class="fa fa-dashboard"></i>
          Dashboard</a>
      </li>
      <li class="active">User-List</li>
    </ol>
  </section>

  <section class="content">
    {% for flashMessage in app.session.flashbag.get('success_msg') %}
      <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4>
          <i class="icon fa fa-check"></i>
          Alert!</h4>{{ flashMessage }}
      </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error_msg') %}
      <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4>
          <i class="icon fa fa-check"></i>
          Alert!</h4>{{ flashMessage }}
      </div>
    {% endfor %}

    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-body table-responsive">
            <table id="user_list" class="table display table-striped table-bordered scroll-horizontal">
              <thead>
                <th>Image</th>
                <th>Name</th>
                <th>Nickname</th>
				<th>Email</th>
                <th>Contact No.</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Status</th>
				<th>Operation</th>
				<th>Delete</th>
				<th hidden="hidden">delete str</th>
                <th hidden="hidden">status toggle</th>
              </thead>
              <tbody>
                
              </tbody>
              <tfoot>
                <th>Image</th>
                <th>Name</th>
                <th>Nickname</th>
				<th>Email</th>
                <th>Contact No.</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Status</th>
				<th>Operation</th>
				<th>Delete</th>
				<th hidden="hidden">Delete</th>
                <th hidden="hidden">status toggle</th>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}

{% block js %}
  <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
		$('#user_list').DataTable(
			{
				"processing": true,
				"serverSide": true,
				"pageLength": 10,
				"ajax": "{{ path('admin_user_getuserlist') }}",
				"initComplete": function() {
					$('.status').bootstrapToggle();
				}
			}
		);
    });
    function change_status(id) {
      if (id != '') {
        var url = "{{ path('admin_user_ajaxupdateuserstatus') }}";
        $.ajax({
          url: url,
          method: 'post',
          data: {
            'user_id': id
          },
          success: function(response) {
            console.log('status changed');
          },
          error: function(error) {
            console.log(error);
          }
        });
      }
    }
	
	var user_ids = [];
	function del_response(eval_id){
		
		var i = 0;
		var add_flag = true;
		for(i=0;i<user_ids.length;i++){
			if(user_ids[i] == eval_id){
				add_flag = false;
				user_ids.splice(i,1);
			}
		}
		if(add_flag == true){
			user_ids.push(eval_id);
		}
		
		if(user_ids.length > 0){
			if(user_ids.length == 1){
				$('#user_list_filter').addClass('hide');
				$('#delete_selected_input').remove();
				$('#user_list_filter').after('<div id="delete_selected_input" class="text-right"><input type="button" class="btn btn-primary" onclick="delete_selected_questions();" value="Delete Selected"></div>');
			}
		} else {
			$('#user_list_filter').removeClass('hide');
			$('#delete_selected_input').remove();
		}
	}
	
	function delete_selected_questions(){
		var cnfm = confirm("Do you want delete selected users'?");
		if(cnfm){
			var cnfm2 = confirm("Are you sure?");
			if(cnfm2){			
				if(user_ids.length == 0){
					alert('Please select evaluations');
					return false;
				}
				
				var url = "{{ path('admin_user_deletebulkusers') }}";
				$.ajax({
					url: url,
					data: {"user_ids": user_ids.join()},
					method: 'POST',
					success: function(response){
						var res = JSON.parse(response);
						console.log(res);
						if(res['message'] == 'failed'){
							location.href = "{{ path('admin_dashboard_index') }}";
						}
						if(res['success'] == true){
							alert(res['message']);
							for(i=0;i<user_ids.length;i++){
								$('#remove_id_' + user_ids[i]).parent().parent().remove();
								//evaluations.ajax.reload();
							}
							
							$('#suggestions_filter').removeClass('hide');
							$('#delete_selected_input').remove();
						}
						$('#user_list_filter').removeClass('hide');
					},
					error: function(error){
						console.log(error);
					}
				});			
			}
		}
	}
  </script>
{% endblock %}
