{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
<style>
	.dining-experience .pull-right-ar{
		float: right;
		text-align: end;
	}
</style>

    <div class="main-in-area dining-experience">
        <div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
            {% for flashMessage in app.session.flashbag.get('success_msg') %}
                <div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error_msg') %}
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}

            <h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'17'})) }}</h1>

			{%set nick_name = ''%}
			{%set email = ''%}

			{% if app.session.get('userid') != null %}
				{%set nick_name = app.session.get('nick_name')%}
				{%set email = app.session.get('email')%}
			{% endif%}
				
            <form class="form-horizontal" action="{{path('site_save_din_expr')}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Nickname" class="col-sm-3 control-label {%if app.session.get('language_id') == 2 %} pull-right-ar {% endif %}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'75'})) }}</label>
                    <div class="col-sm-9">
                        <input type="text" name="nick_name" value ="{{nick_name}}" class="form-control" id="Nickname" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'75'})) }}" autofocus="on" required readonly>
                    </div>
                </div>
                <hr>
                <div class="form-group hide">
                    <label for="Email" class="col-sm-3 control-label {%if app.session.get('language_id') == 2 %} pull-right-ar {% endif %}"><span>*</span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}</label>
                    <div class="col-sm-9"><input type="email" name="email" value="{{email}}" class="form-control " id="Email" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}" required readonly></div>
                </div>
                
                <div class="form-group">
                    <label for="hero-demo" class="col-sm-3 control-label {%if app.session.get('language_id') == 2 %} pull-right-ar {% endif %}"><span>*</span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'291'})) }}</label>
                    <div class="col-sm-9">
                       {# <select class="form-control" name="restaraunt">
                            {% if restaraunts is defined and restaraunts is not empty%}
                                {%for restaraunts_data in restaraunts%}
                                    <option value="{{restaraunts_data.main_restaurant_id}}">{{restaraunts_data.restaurant_name}}</option>
                                {%endfor%}
                            {%endif%}
                        </select>#}
                      <input type="text" name="restaraunt" value="" class="form-control " id="restaraunt" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'185'})) }}" required >
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="Branch" class="col-sm-3 control-label {%if app.session.get('language_id') == 2 %} pull-right-ar {% endif %}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'97'})) }}</label>
                    <div class="col-sm-9">
                        <input id="Branch" class="form-control" name="branch" autofocus type="text" name="q" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'97'})) }}" required>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="opinion" class="col-sm-3 control-label {%if app.session.get('language_id') == 2 %} pull-right-ar {% endif %}"><span>*</span>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'99'})) }}</label>
                    <div class="col-sm-9"><textarea class="form-control" name="opinion" rows="3" id="opinion" required></textarea></div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="images" class="col-sm-3 control-label {%if app.session.get('language_id') == 2 %} pull-right-ar {% endif %}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'101'})) }}</label>
                    <div class="col-sm-9"><input class="form-control" type="file" name="images[]" id="input02" multiple="multiple" required></div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-sm-3" {%if app.session.get('language_id') == 2 %} style="float:right;" {% endif %}>&nbsp;</div>
                    <div class="col-sm-9"><button type="submit" name="submit" id="dinExprBtn" {% if app.session.get('userid') == null%} data-toggle="modal" data-target="#loginModal" {%endif%} class="btn btn-danger btn-lg">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button></div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
{% block js%}
        <script type="text/javascript" src="{{ asset('bundles/site') }}/js/bootstrap-filestyle.min.js"></script>
	<script type="text/javascript">	
            {% if app.session.get('language_id') == 1 %}
                $('#input02').filestyle({
                        text : 'Choose File',
                        dragdrop: false
                });
                $('.group-span-filestyle').css('background', '#EEEEEE');
                $('.group-span-filestyle').css('border-color', '#CCCCCC');
                $('.group-span-filestyle').css('border-style', 'outset');
           {%else%}
                $('#input02').filestyle({
                        text : 'تحميل الصور',
                        dragdrop: false
                });
                $('.group-span-filestyle').css('background', '#EEEEEE');
                $('.group-span-filestyle').css('border-color', '#CCCCCC');
                $('.group-span-filestyle').css('border-style', 'outset');           
            {%endif%}
        </script>	
        
        {% if app.session.get('userid') == null%}
		<script>
			{% for flashMessage in app.session.flashbag.get('success_msg1') %}
				swal('', "{{ flashMessage }}","success");
			{% endfor %}

			{% for flashMessage in app.session.flashbag.get('error_msg1') %}
				swal('', "{{ flashMessage }}","error");
			{% endfor %}
			$('#dinExprBtn').click(function(e){
				e.preventDefault();
			});
		</script>
	{%endif%}
{% endblock%}
