{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
 
<style>
.paginator {
    background: #bd0f0f;
    color: #fff;
    padding: 1px 7px 1px 7px;
}
.paginator:focus{
	color: #fff;
}
.paginator:hover {
    color: #bd0f0f;
	background: transparent;
    border: 1px solid #bd0f0f;
    transition: background-color .3s;
}
.paginator.active {
    opacity: 0.5;
    cursor: not-allowed;
}
.paginator.active:hover{
	border: unset;
	color: #fff;
    background: #bd0f0f;
}
</style>
 
	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
			<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'21'})) }}</h1>
			{%if dinnig_expr is defined and dinnig_expr is not empty%}
				<div id="dining_experience">
					{% for dinnig_expr_data in dinnig_expr%}
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="media ask-community-qa-wrap">
								<div class="media-body">
									<h4 class="media-heading">{{dinnig_expr_data.nick_name}}</h4>
									{# <h5>{{dinnig_expr_data.restaurant_name}}</h5> #}
									<h5>{{dinnig_expr_data.restaurant_id}}</h5>
									<hr class="hr">
									<p>{{dinnig_expr_data.comments}}</p>
									<hr class="hr">
									<ul class="list-inline-comment">
										{% if din_exr_gallery is defined and din_exr_gallery is not empty%}
											{%for din_exr_gallery_data in din_exr_gallery%}
												{%if din_exr_gallery_data.dining_experience_id == dinnig_expr_data.dining_experience_id%}
													<li><a href="{{asset(''~din_exr_gallery_data.media_location~'/'~din_exr_gallery_data.media_name)}}" data-fancybox="comment-images"><img src="{{asset(''~din_exr_gallery_data.media_location~'/'~din_exr_gallery_data.media_name)}}" class="img-thumbnail"></a></li>
												{%endif%}
											{%endfor%}
										{%endif%}
									</ul>	
								</div>
							</div>
						</div>
					</div>
					{%endfor%}
				</div>
				{% if count > 5 %}
					{% set total_page = count/5%}
				{% else %}
					{% set total_page = 1 %}
				{% endif %}	
				
				<script>
				console.log({{total_page|round( 0,'ceil')}});

				</script>
				<div class="pagination-div text-center">
					{% for page in 1..total_page|round( 0,'ceil') %}
						{#<a href="{{path('site_dinning_expr_view')}}">{{page}}</a>#}
						<a href="javascript:void(0);" class="paginator pagination{{ page }}" onclick="pagination({{ page }})" data-page="{{ page }}">{{page}}</a>
					{%endfor%}
				</div>
				
			{%endif%}
			
		</div>
	</div>
	
{% endblock %}

{% block js%}
<script>
	$(document).ready(function(){
		$('.paginator').first().addClass('active');
		$('.paginator').first().attr('disabled', 'disabled');
	});
	
	function pagination(page_no){
		if(page_no != ''){
			var url = "{{ path('site_dining_pagination') }}";
			$.ajax({
				url: url,
				method: 'POST',
				data: {'page_no': page_no},
				success: function(response){
					var res = JSON.parse(response);
					if(res['success'] == 1){
						$('#dining_experience').html(res['html']);
					}
					$('.paginator').each(function(){
						$(this).removeClass('active');
						$(this).removeAttr('disabled');
					});
					$('.pagination' + page_no).addClass('active');
					$('.pagination' + page_no).attr('disabled', 'disabled');
				},
				error: function(error){
					console.log(error);
				}
			});
		}
	}
</script>
{% endblock %}