{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Restaurant {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
		.paddTop { padding-top: 20px; }
        .save-btn, .cancel-btn {
            width: 85%;
        }
		#gallery-images img{
			width:100px;
			height:100px;
			margin:5px;
		}
	</style>
{% endblock %}
{% block content %}
	
	<section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Add Restaurant
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Add-Update Restaurant</li>
        </ol>
    </section>
	
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
			<div role="alert" class="alert alert-success alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
			<div role="alert" class="alert alert-danger alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		
		<div class="row">
			<div class="col-md-12" role="tabpanel">
				<div class="box box-primary">
					<div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                            <a href={{path('restaurant_page')}} class="btn btn-primary btn-flat" title="Back to Que List"><i 		class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a> 
                        </div>
                    </div>
					<div class="box-body">
					{% if languages is defined  and languages is not empty%}
						<div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if languages is defined %}
                                   {% for language in languages %}
                                        <li class="{% if selected is defined %}{% if selected == language.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                            <a href="#lan_{{loop.index}}" data-toggle="tab">{{language.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
								<li>
									<a href="#media" {% if rest_details['rest_data'] is defined and rest_details['rest_data'] is not empty %}data-toggle="tab" {% else %}class="desabletab"{% endif %}>Media</a>
								</li> 
								<li>
									<a href="#cat_food_type" {% if rest_details['rest_data'] is defined and rest_details['rest_data'] is not empty %}data-toggle="tab" {% else %}class="desabletab"{% endif %}>Category and Food Type</a>
								</li>  
                            </ul>
                        </div>
						
						<!-- tab-content -->
						<div class="tab-content">
						{%set main_restaurant_id = '' %}
							{% for language in languages %}
								{%set rest_name = '' %}
								{%set description = '' %}
								{%set timings = ''%}
								{%set media_title = '' %}
								{%set status = '' %}
								{%set active_check = ''%}
								{%set inactive_check = ''%}
								{%set pending_check = ''%}
								{%set open_soon_check = ''%}
								{% if rest_details.rest_data is defined and rest_details.rest_data is not empty%}
									{%for rest in rest_details.rest_data%}
										{%if rest.language_id == language.language_master_id%}
											{%set rest_name = rest.restaurant_name %}
											{%set description = rest.description %}
											{%set timings = rest.timings %}
											{%set status = rest.status %}
												{%if status == 'active'%}
													{%set active_check = 'checked'%}
												{%endif%}
												{%if status == 'inactive'%}
													{%set inactive_check = 'checked'%}
												{%endif%}
												{%if status == 'open_soon'%}
													{%set open_soon_check = 'checked'%}
												{%endif%} 
												{%if status == 'pending'%}
													{%set pending_check = 'checked'%}
												{%endif%} 
											{%set main_restaurant_id = rest.main_restaurant_id %}
											{%set media_title = rest.media_title %}
										{%endif%}
									{%endfor%}
								{%endif%}
								<div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="lan_{{ language.language_master_id }}">
									<form id="form-{{ language.language_master_id }}" class="form-horizontal" method="post" action="{{path('save_restaurant')}}" enctype="multipart/form-data">
										
										<input type="hidden" name="language_id" value="{{language.language_master_id}}">
										<input type="hidden" name="main_restaurant_id" value="{{main_restaurant_id}}">
										
										<div class="row">
											<div class="col-md-12">
												<label class="control-label">Restaurant Name</label>
												<div class="">
													<input type="text" class="form-control" name="name" value="{{rest_name}}" required>
												</div>
											</div>
										</div>	
										<div class="row">		
											<div class="col-md-12">
												<label class="control-label">Description</label></br>
												<textarea id="editor1" class="ckeditor" name="description" required>{{description}}</textarea>
											</div>
										</div>	
										<div class="row">	
											<div class="col-md-6">
												<label class="control-label">Restaurant Logo</label>
												<div class="">
													<input type="file" id="logo_img" name="image" accept=".png, .jpg, .jpeg .gif .bmp" class="form-control logo_img" required/>
													{%if media_title != ''%}
													<img src="{{asset('bundles/Resource/Restoraunt/')}}{{media_title}}" id="image_preview" width="100" height="100" class="display-image image_preview" >
													<script>
														$('.logo_img').removeAttr('required');
													</script>	
													{%else%}
													<img src="{{asset('bundles/Resource/default.png')}}" id="image_preview" width="100" height="100" class="display-image image_preview" >
													{%endif%}
												</div>
											</div>
											<div class="col-md-6">
												<label class="control-label">Status</label></br>
													<label class="radio-inline">									
													  <input class="" type="radio" name="status" value="open_soon" {{open_soon_check}} required>Open soon
													</label> 
													<label class="radio-inline">									
													  <input class="" type="radio" name="status" value="active" {{active_check}}>Active
													</label>
													<label class="radio-inline">									
													  <input class="" type="radio" name="status" value="inactive" {{inactive_check}}>Inactive
													</label>	
													<label class="radio-inline">									
													  <input class="" type="radio" name="status" value="pending" {{pending_check}}>Pending
													</label>	
											</div>	
										</div>
										<div class="row">	
												<div class="col-md-12">
													<label class="control-label">Timing</label>
													<div class="">
														<input type="text" class="form-control" name="timing" value="{{timings}}" required>
													</div>
												</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<label class="control-label">Restaurant Address</label>
												<div class="">
													<input type="text" class="form-control" name="address" value="">
												</div>
											</div>
										</div>			
										<div class="row paddTop">
											<div class="col-md-12">
												<div class="col-md-6">
													<button type="submit" name="submit" class="btn btn-primary" value="{{ language.language_master_id }}">
														<span><i class="fa fa-check-square-o"></i>&nbsp;Save</span>
													</button>
												</div>
											</div>
										</div>
										
									</form>
									
								</div>
							{% endfor %}
							<div class="tab-pane" id="media">
                                    <div class="box-body form-horizontal">
									   {# File upload plugin html code : START #}
										<form id="fileupload" method="POST" enctype="multipart/form-data">
											<div class="row fileupload-buttonbar">
											   <div class="col-lg-7">
												   <span class="btn btn-success fileinput-button">
													   <i class="glyphicon glyphicon-plus"></i>
													   <label for="file_input">Add files...</label>
													   <input id="file_input" type="file" name="files[]" style="display:none" multiple>
												   </span>
												   <!-- The global file processing state -->
												   <span class="fileupload-process"></span>
												</div>

											   <div class="col-lg-5 fileupload-progress">
												   <!-- The global progress bar -->
												   <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
													   <div class="progress-bar progress-bar-success" style="width:0%;"></div>
												   </div>
												   <!-- The extended global progress state -->
												   <div class="progress-extended">&nbsp;</div>
											   </div>
										   </div>
										<table role="presentation" class="table table-striped">
										<tbody class="files">
										 {% if media_library_master is defined and media_library_master is not empty %}
												{% for media in media_library_master %}
													<tr id="remove_{{ media.main_media_id }}" class="">
														<td>
														  <span class="preview">
															<a data-gallery="" download="{{media.media_name}}" title="{{media.media_name}}" href="{{live_path}}{{media.media_location}}/{{media.media_name}}">
																<img src="{{live_path}}{{media.media_location}}/{{media.media_name}}">
															</a>
														  </span>
														</td>
														<td>
														  <p class="name">
															  <a data-gallery="" download="{{media.media_name}}" title="{{media.media_name}}" href="{{live_path}}{{media.media_location}}/{{media.media_name}}">{{media.media_name}}</a>
														  </p>
														</td>
														<td>
														  <button class="btn btn-danger delete" onclick="delete_image({{ media.main_media_id }},{{media.main_gallery_id}});">
															<i class="glyphicon glyphicon-trash"></i>
															<span>Delete</span>
														   </button>
														</td>
												   </tr>
												{% endfor %}
											 {% endif %}   
										</tbody>
									   </table>  
								   </form>
								   {# File upload plugin html code : END #}
								 </div>
								 <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
									  <div class="slides"></div>
									  <h3 class="title"></h3>
									  <a class="prev" style="display:none">‹</a>
									  <a class="next" style="display:none">›</a>
									  <a class="close" style="display:none">×</a>
									  <a class="play-pause"></a>
									  <ol class="indicator"></ol>
								  </div>
                                </div>
							{#------------Food Type and Category------------#}
							{%if main_restaurant_id != ''%}		
							<div class="tab-pane" id="cat_food_type">
								
								<div class="box-body form-horizontal">
									<form action="{{path('save_restaurant_cat')}}" method="POST">
										<input type="hidden" name="main_rest_id" value="{{main_restaurant_id}}">
										<label class="control-label">Select Food Categories</label></br>
										{%for categories_name in categories%}
											{% set disabled = 'disabled' %}
										{%for food_types_name in food_types%}
											{%if food_types_name.main_category_id == categories_name.main_category_id %}
												{% set disabled = '' %}
											{%endif%}
										{%endfor%}
											{% set checked = '' %}
											{% if rest_details['rest_cat'] is defined and rest_details['rest_cat'] is not empty %}
							
												{% for rest_category in rest_details['rest_cat'] %}

													{%if rest_category.main_category_id == categories_name.main_category_id and rest_category.res_cat_delete == 0%}
														{% set checked = 'checked' %}
													{%endif%}
												{%endfor%}
											{%endif%}	
												<div class="col-md-12">
													<input type="checkbox" id="cat_{{categories_name.main_category_id}}" name="category[]" class="checkbox-inline category_check" value="{{categories_name.main_category_id}}" {{checked}} {{disabled}}/>
													<label for="cat_{{categories_name.main_category_id}}">{{categories_name.category_name}}</label></br>	

													<div class="food_type" style="display:none">
													<label class="control-label" style="font-size: 11px;">Select Food Types</label></br>					
													{%for food_types_name in food_types%}
														
														{% set checked = '' %}
															{% if rest_details['rest_food'] is defined and rest_details['rest_food'] is not empty %}
											
																{% for rest_food_cat in rest_details['rest_food'] %}

																	{%if rest_food_cat.main_caetgory_id == food_types_name.main_category_id and  rest_food_cat.main_foodtype_id == food_types_name.main_food_type_id and rest_food_cat.is_deleted == 0%}
																		{% set checked = 'checked' %}
																	{%endif%}
																{%endfor%}
															{%endif%}	
																
														{%if food_types_name.main_category_id == categories_name.main_category_id %}														
														<div class="col-md-4">
		
															<input type="checkbox" id="food_type_{{food_types_name.main_food_type_id}}" name="food_type_cat[]" class="checkbox-inline" value="{{food_types_name.main_food_type_id}},{{food_types_name.main_category_id}}" {{checked}}/>
                                                                                                                        <label for="food_type_{{food_types_name.main_food_type_id}}"><i style='color: cadetblue;'>{{food_types_name.food_type_name}} </i></label>
														</div>										
														{%endif%}
													{%endfor%}<hr>
													</div>
												</div>	
										{%endfor%}
											<div class="row paddTop">
												<div class="col-md-12">
													<div class="col-md-6">
														<button type="submit" name="submit" class="btn btn-primary" value="">
															<span><i class="fa fa-check-square-o"></i>&nbsp;Save</span>
														</button>
													</div>
												</div>
											</div>
									</form>
								</div>
							</div>	
						{#	<div class="tab-pane" id="cat_food_type">
							
								<div class="box-body form-horizontal">
								  <form action="{{path('save_restaurant_cat')}}" method="POST">
									<input type="hidden" name="main_rest_id" value="{{main_restaurant_id}}">
									<label class="control-label">Select Food Categories</label></br>
									{%for categories_name in categories%}
											{% set checked = '' %}
											{% if rest_details is defined and rest_details is not empty %}
							
												{% for rest_details_data_cat in rest_details['rest_cat'] %}

													{%if rest_details_data_cat['main_category_id'].main_category_id == categories_name.main_category_id and rest_details_data_cat.res_cat_delete == 0%}
														{% set checked = 'checked' %}
													{%endif%}
												{%endfor%}
											{%endif%}	
										<div class="col-md-12">
											<input type="checkbox" id="cat_{{categories_name.main_category_id}}" name="category[]" class="checkbox-inline category_check" value="{{categories_name.main_category_id}}" {{checked}}>
											<label for="cat_{{categories_name.main_category_id}}">{{categories_name.category_name}}</label><br>
											<div class="food_type" style="display:none">
												<label class="control-label">Select Food Types</label><br>					
												{%for food_types_name in food_types%}
													
													{% set checked = '' %}
														{% if rest_details is defined and rest_details is not empty %}
										
															{% for rest_details_data in rest_details %}

																{%if rest_details_data['rest_cat'].main_category_id == food_types_name.main_category_id and  rest_details_data[''].main_foodtype_id == food_types_name.main_food_type_id and rest_details_data.is_deleted == 0%}
																	{% set checked = 'checked' %}
																{%endif%}
															{%endfor%}
														{%endif%}	
															
													{%if food_types_name.main_category_id == categories_name.main_category_id %}														
													<div class="col-md-4">
	
														<input type="checkbox" id="food_type_{{food_types_name.main_food_type_id}}" name="food_type_cat[]" class="checkbox-inline" value="{{food_types_name.main_food_type_id}},{{food_types_name.main_category_id}}" {{checked}}/>
														<label for="food_type_{{food_types_name.main_food_type_id}}">{{food_types_name.food_type_name}} </label>
													</div>										
													{%endif%}
												{%endfor%}</hr>
											</div>	
										</div>
									{%endfor%}
									<div class="row paddTop">
										<div class="col-md-12">
											<div class="col-md-6">
												<button type="submit" name="submit" class="btn btn-primary" value="">
													<span><i class="fa fa-check-square-o"></i>&nbsp;Save</span>
												</button>
											</div>
										</div>
									</div>
								  </form>		
								</div> #}
							</div> 
							{#------------ Food Type and Category End ------------#}
						  {%endif%}		 
						</div>
						<!-- end: tab-content -->
						
					{% endif %}
						<script id="template-upload" type="text/x-tmpl">
							{% verbatim %}
							{% for (var i=0, file; file=o.files[i]; i++) { %}
								
								<tr class="template-upload">
									<td>
										<span class="preview"></span>
									</td>
									<td>
										<p class="name">{%=file.name%}</p>
										<strong class="error text-danger"></strong>
									</td>
									<td>
										<p class="size">Processing...</p>
										<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
									</td>
									<td>
										{% if (!i && !o.options.autoUpload) { %}
											<button class="btn btn-primary start" disabled>
												<i class="glyphicon glyphicon-upload"></i>
												<span>Start</span>
											</button>
										{% } %}
										{% if (!i) { %}
											<button class="btn btn-warning cancel">
												<i class="glyphicon glyphicon-ban-circle"></i>
												<span>Cancel</span>
											</button>
										{% } %}
									</td>
								</tr>
								
							{% } %}
							{% endverbatim %}
						</script>
							
						<script id="template-download" type="text/x-tmpl">
							{% verbatim %}
								
							{% endverbatim %}
						</script>

					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>
<script>

$(function () {
		$('.editor1cls').each(function(e){
			CKEDITOR.replace( this.id);
		});

	});
	function readURL(input) {

	  if (input.files && input.files[0]) {
		var reader = new FileReader();

		reader.onload = function(e) {
		  $('.image_preview').attr('src', e.target.result);
		}

		reader.readAsDataURL(input.files[0]);
	  }
	}

	$(".logo_img").change(function() {
	  readURL(this);
	});	
</script>

<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script src="{{asset('bundles/design/')}}js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{asset('bundles/design/')}}js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>

<script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>
<script src="{{asset('bundles/design/')}}plugins/iCheck/icheck.min.js"></script>

<script src="{{asset('bundles/design/')}}fileupload/js/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{asset('bundles/design/')}}fileupload/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{asset('bundles/design/')}}fileupload/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{asset('bundles/design/')}}fileupload/js/canvas-to-blob.min.js"></script>
<!-- blueimp Gallery script -->
<script src="{{asset('bundles/design/')}}fileupload/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{asset('bundles/design/')}}fileupload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="{{asset('bundles/design/')}}fileupload/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
{#<script src="{{asset('bundles/design/')}}fileupload/js/main.js"></script>#}
<script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>

<script type="text/javascript">
	
	$(document).ready(function(){
		$('.desabletab').attr('disabled','disabled');
		
	/*	{% if competition is defined and competition is not empty %}
			$(".datepicker").datepicker({
				"setDate": new Date(),
				"autoclose": true
			});
		{% else %}
			$(".datepicker").datepicker({
				"autoclose": true
			});
		{% endif %} */
		$(".category_check:checked").siblings('.food_type').show();
	});
	
	/* gallery images */
	
	/* end: gallery images*/
	/*cat_food_type*/
	$('.category_check').change(function(){
		if ($(this).is(':checked')) {
			$(this).siblings('.food_type').show();
		}else{
			$(this).siblings('.food_type').hide();
		}
	});
	/*end cat_food*/
	function check_cat(cat){
		if (cat != '0'){
			$(".ingred").removeClass('hide');
		} else {
			$(".ingred").addClass('hide');
		}
	}
	{% if rest_details['rest_data'] is defined and rest_details['rest_data'] is not empty %}
	$(function(){
		$("#example1").DataTable();
		var html = "";
		'use strict';
		$('#fileupload').fileupload({
			url: "{{ live_path }}/bundles/design/index.php?live_path='{{live_path}}'&temp_dir=Restoraunt-gallery",
			beforeSend: function(obj){
				console.log(obj);
			},
			success: function(response){
			
				/* if(response.files[0].thumbnailUrl == undefined){
					alert('File already exists');
					//alert('file ' + response.files[0].name + ' already exists');
					return false;
				} */
				
				$.ajax({
					type: 'POST',
					url : "{{ path('save_rest_gallery') }}",
					data: {"img_name":response.files[0].name,'rest_id':{{rest_details['rest_data'][0].main_restaurant_id}},'media_type_id':1},
					async: false,
					dataType: 'json',
					xhrFields: {withCredentials: true},
					success: function(response){
						if(response != false){
							html += '<tr class="">';
							  html += '<td>';
								  html += '<span class="preview">';
									  html += '<a data-gallery="" download="'+response.name+'" title="'+response.name+'" href="'+response.path+'">';
										html += '<img src="'+response.thumbnail_path+'">';
									  html += '</a>';
								  html += '</span>';
							  html += '</td>';
							  html += '<td>';
								  html += '<p class="name">';
									  html += '<a data-gallery="" download="'+response.name+'" title="'+response.name+'" href="'+response.path+'">'+response.name+'</a>';
								  html += '</p>';
							  html += '</td>';
							  html += '<td>';
								  html += '<button class="btn btn-danger delete" onclick="delete_image('+response.media_library_master_id+','+response.gallery_master_id+');">';
										  html += '<i class="glyphicon glyphicon-trash"></i>';
										  html += '<span>Delete</span>';
									  html += '</button>';
									  //html += '<input type="checkbox" class="toggle" value="1" name="delete">';
							  html += '</td>';
						  html += '</tr>';
						  $(".files").append(html);
						  html = "";
						}
					},
					error: function(error){
						console.log(error);
					}
				});
			}
		});
		$('#fileupload').fileupload(
			'option',
			'redirect',
			window.location.href.replace(
				/\/[^\/]*$/,
				'/cors/result.html?%s'
			)
		);

		$('#fileupload').addClass('fileupload-processing');
		var url = "{{ live_path }}/bundles/design/index.php?live_path='{{live_path}}'&temp_dir=Restoraunt-gallery";
		$.ajax({
			url: url,
			dataType: 'json',
			context: $('#fileupload')[0]
		}).always(function () {
			$(this).removeClass('fileupload-processing');
		}).done(function (result) {
			$(this).fileupload('option', 'done')
				.call(this, $.Event('done'), {result: result});
		});
	});
	{% endif %}
	
	function delete_image(main_media_id,main_gallery_id)
	{
	   var answer = confirm ("Are you sure you want to delete?");
	   if (answer) {
		  $.ajax({
			   type: 'POST',
			   url : "{{ path('remove_gallery_img') }}",
			   data: {'main_media_id': main_media_id,"main_gallery_id": main_gallery_id},
			   async: false,
			   dataType: 'json',
			   success: function(response){
					if(response == true){
						$('#remove_' + main_media_id).remove();
					}
			   }
		   });
	   }
	}
	
	
</script>


{% endblock %}