{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} New Restaurant List {% endblock %}
{% block css %}
	<link href="{{asset('bundles/design/css/')}}select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />
	<style>
		.paddBottom { padding-bottom: 20px; }
		.avatar img{
		    width: 40px;
			max-width: 100%;
			height: auto;
			border: 0 none;
			border-radius: 1000px;
		}
	</style>
{% endblock %}
{% block content %}

	<section class="content-header">
		<!-------- PAGE TITLE ---------------->
        <h1>
            New Restaurant List
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">New Restaurant List</li>
        </ol>
	</section>
		
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header with-border">
                        <h3 class="box-title">New Restaurant</h3>
                        <a href="{{ path('add_restaurant') }}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-plus"></i><b>&nbsp;&nbsp;Add Restaurant</b></a>
                    </div>
					<div class="box-body table-responsive">	
						<table id="rest_list" class="table display table-striped table-bordered scroll-horizontal">
							<thead>
								<th hidden>Main Restaurant ID</th>
								<th>Image</th>
								{% if languages is defined and languages is not empty %}
									{% for language in languages %}
										<th> Restaurant Name : {{language.display_title }}</th>
									{% endfor %}
								{% endif %}
								<th>Timings</th>
								<th>Status</th>
                                <th>Operations</th>
							</thead>
							<tbody>
							{%if rest_final_data is defined and rest_final_data is not empty %}
								{% for restoraunt_data in rest_final_data %}
									<tr>
										<td hidden></td>
										<td>
											<span class="avatar avatar-online">	
												{%if restoraunt_data[0].media_name != ''%}
												<img src="{{asset('bundles/Resource/Restoraunt/')}}{{restoraunt_data[0].media_name}}" />
												{%endif%}
											</span>
										</td>
										{% for language in languages %}
											{% for restoraunt in restoraunt_data %}
												{%if restoraunt.language_id == language.language_master_id%} 
													<td>{{restoraunt.rest_name}}</td>
												{%endif%}
											{%endfor%}
										{% endfor %}
										<td>
											{{restoraunt_data[0].timings}}
										</td>	
										<td>
										{% if restoraunt_data[0].status == 'active'%}{% set checked="checked" %}{%else%}{% set checked="" %}{% endif %}
										{% if restoraunt_data[0].status == 'pending'%}
											<label class="label label-info">Pending</label>
										{%endif%}
										{% if restoraunt_data[0].status == 'open_soon'%}
											<label class="label label-info">Open Soon</label>
										{%endif%}
										{% if restoraunt_data[0].status == 'active' or restoraunt_data[0].status == 'inactive'%}
											<input data-on="active" class="status status_{{restoraunt_data['0'].main_rest_id}}" data-off="inactive" type="checkbox" onchange= "ch_status({{restoraunt_data['0'].main_rest_id}},this);" data-toggle="toggle" data-size="mini"
										  data-onstyle="success" {{checked}} />
										{%endif%}
	
										</td>
										<td>
											<a class="editcategory btn btn-info btn-xs" onclick="return confirm('Are you sure you want to Edit?')" href="{{path('add_restaurant',{'main_restaurant_id':restoraunt_data[0].main_rest_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="edit">
												<i class="fa fa-pencil-square-o"></i>
											</a>
											<a class="deletecategory btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to Delete?')" href="{{path('delete_restaurant',{'main_restaurant_id':restoraunt_data[0].main_rest_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="delete">
												<i class="fa fa-trash-o"></i>
											</a> 
										</td>
									</tr>	
								{%endfor%} 
							{%endif%}
								
								
							</tbody>
							<tfoot>
								<th hidden>Main Restaurant ID</th>
								<th>Image</th>
								{% if languages is defined and languages is not empty %}
									{% for language in languages %}
										<th> Restaurant Name : {{language.display_title }}</th>
									{% endfor %}
								{% endif %}
								<th>Timings</th>
								<th>Status</th>
                                <th>Operations</th>
							</tfoot>
							
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$('#rest_list').DataTable();
		
		$('.editcategory').click(function(){
			var cnfm = confirm('Are you sure?');
			if(cnfm){
				return true;
			}
			return false;
		});
		
		$('.deletecategory').click(function(){
			var cnfm = confirm('Are you sure?');
			if(cnfm){
				return true;
			}
			return false;
		});
	});
	function ch_status(main_restaurant_id,sender) {
				
            $.ajax({
                type: 'POST',
                url: "{{path('change_status_rest')}}",
                data: {'main_restaurant_id':main_restaurant_id},
                success: function(resp){
                	
                }
            });

		}
</script>
{% endblock %}