{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
<style>
	.arabic-lang .label-rtl{
		float: right;
		text-align: end;
	}
	.arabic-lang .input-rtl{
		float: left;
	}
</style>
 	
	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
			<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'47'})) }}</h1>

			{%set nick_name = ''%}
			{%set email = ''%}
			{%set readOnly = ''%}

			{% if app.session.get('userid') != null %}
				{%set nick_name = app.session.get('nick_name')%}
				{%set email = app.session.get('email')%}
				{%set contact_no = app.session.get('contact_no')%}
				{%set readOnly = 'readonly'%}
			{% endif%}
			
			<form class="form-horizontal {% if app.session.get('language_id') == 2 %}arabic-lang{% endif %}" action="{{path('site_save_suggestion')}}" method="POST">
				<div class="form-group">
					<label for="Nickname" class="col-sm-3 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'75'})) }}</label>
					<div class="col-sm-9 input-rtl">
						<input type="text" class="form-control" value="{{nick_name}}" id="Nickname" name="nick_name" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'75'})) }}" required readonly>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<label for="Email" class="col-sm-3 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}</label>
					<div class="col-sm-9 input-rtl">
						<input type="email" class="form-control" id="Email" value="{{email}}" name="email" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}" required readonly>
					</div>
				</div>
				{# <hr>
				<div class="form-group">
					<label for="Email" class="col-sm-3 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'239'})) }}</label>
					<div class="col-sm-9 input-rtl">
						<input type="text" class="form-control" id="contact" value="{{ contact_no }}" name="contact" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'239'})) }}" required readonly>
					</div>
				</div> #}
				<hr>
				<div class="form-group">
					<label for="Subject" class="col-sm-3 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'177'})) }}</label>
					<div class="col-sm-9 input-rtl">
						<select name="suggestion_type" id="Subject" class="form-control" required>
  							<option>{% if app.session.get('language_id') == 2%}الرجاء الاختيار{%else%}Please Select{%endif%}</option>
  							<option value="suggestion">{% if app.session.get('language_id') == 2%}اقتراحات{%else%}Suggestions{%endif%}</option>
  							<option value="complaints">{% if app.session.get('language_id') == 2%}شكاوي{%else%}Complaints{%endif%}</option>
  							<option value="others">{% if app.session.get('language_id') == 2%}أخرى{%else%}Other{%endif%}</option>
						</select>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<label for="Comments" class="col-sm-3 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'115'})) }}</label>
					<div class="col-sm-9 input-rtl">
						<textarea class="form-control" rows="3" name="comments" id="Comments" required></textarea>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<div class="col-sm-3 label-rtl">&nbsp;</div>
					<div class="col-sm-9 input-rtl"><button type="submit" {% if app.session.get('userid') == null%} data-toggle="modal" data-target="#loginModal" {%endif%}id="suggestionComplainBtn" class="btn btn-danger btn-lg">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button></div>
				</div>		
			</form>
		</div>
	</div>
	
{% endblock %}
{% block js%}
	{% if app.session.get('userid') == null%}
		<script>
			{% for flashMessage in app.session.flashbag.get('success_msg1') %}
				swal('', "{{ flashMessage }}","success");
			{% endfor %}

			{% for flashMessage in app.session.flashbag.get('error_msg1') %}
				swal('', "{{ flashMessage }}","error");
			{% endfor %}
			$('#suggestionComplainBtn').click(function(e){
				e.preventDefault();
			});
		</script>
	{%endif%}
{% endblock%}