{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Common Question {% endblock %}
{% block css %}
	<style>
		.paddBottom { padding-bottom: 20px; }
		.paddTop { padding-top: 20px; }
	</style>
{% endblock %}
{% block content %}
	
	<section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Add Common Question
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Add-Update Common Question</li>
        </ol>
    </section>
	
	<section class="content">
		{% for flashMessage in app.session.flashbag.get('success_msg') %}
			<div role="alert" class="alert alert-success alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_msg') %}
			<div role="alert" class="alert alert-danger alert-dismissible">
				<button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
				<strong>Alert!</strong>&nbsp; {{ flashMessage }}
			</div>
		{% endfor %}
		
		<div class="row">
			<div class="col-md-12" role="tabpanel">
				<div class="box box-primary">
					<div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                            <a href={{path('common_question')}} class="btn btn-primary btn-flat" title="Back to Que List"><i class="fa fa-fw fa-long-arrow-left"></i><b>&nbsp;&nbsp;Back</b></a>

                        </div>
                    </div>
					<div class="box-body">
					{% if languages is defined  and languages is not empty%}
						<div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                {% if languages is defined %}
                                   {% for language in languages %}
                                        <li class="{% if selected is defined %}{% if selected == language.language_master_id%}active{% endif %}{% else %}{% if loop.index == 1 %}active{% endif %}{% endif %}">
                                            <a href="#lan_{{loop.index}}" data-toggle="tab">{{language.language_name}}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
						
						<!-- tab-content -->
						<div class="tab-content">
							{% set main_que_id = '' %}
							{% set status_value = '' %}
							{% for language in languages %}
								<div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="lan_{{ language.language_master_id }}">
									
									{% set question = '' %}
									{% set answer = '' %}
									{% set sort_order = '' %}
									{% set checked = '' %}	
										
									{% set action = path('save_common_que') %}
									
									{% if question_details is defined and question_details is not empty %}
										
										{% for question_details in question_details %}
											{% if question_details.language_id == language.language_master_id %}
												{% set question = question_details.question %}
												{% set answer = question_details.answer %}
												{% set sort_order = question_details.sort_order %}		
												{%if main_que_id == ''%}
													{% set main_que_id = question_details.main_common_question_id %}
												{%endif%}
												{%if question_details.status == 'active'%}
													{% set checked = 'checked' %}
													{% set status_value = 'active' %}
												{%else%}
													{% set checked = '' %}
													{% set status_value = 'inactive' %}
												{%endif%}	
											{% endif %}
										{% endfor %}
									{% endif %}
									
									<form id="form-{{ language.language_master_id }}" class="form-horizontal" method="post" action="{{ action }}">
										
										<input type="hidden" name="language_id" value="{{language.language_master_id}}">
										<input type="hidden" name="main_que_id" value="{{main_que_id}}">
										
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-6">
													<label class="control-label">Question</label>
													<div class="">
														<input type="text" class="form-control" name="question" value="{{question}}" required>
													</div>
												</div>
												<div class="col-md-6">
													<label class="control-label">Answer</label>
													<div class="">
														<input type="text" class="form-control" name="answer" value="{{answer}}" required>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-6">
												<label class="control-label">Status</label></br>
													<label class="checkbox-inline" >									
													  <input class="activeCheck_{{language.language_master_id}}" type="checkbox" name="" value="" {{checked}}>Active
													  <input type="hidden" class="statusVal" name="active" value="{{status_value}}">
													</label>
												</div>
												<div class="col-md-6">
													<label class="control-label">Sort order </label>
													<div class="">
														<input type="text" class="form-control" name="sort_order" value="{{ sort_order }}" required>
													</div>
												</div>
											</div>
										</div>	
										<div class="row paddTop">
											<div class="col-md-12">
												<div class="col-md-6">
													<button type="submit" name="submit" class="btn btn-primary" value="{{ language.language_master_id }}">
														<span><i class="fa fa-check-square-o"></i>&nbsp;Save</span>
													</button>
												</div>
											</div>
										</div>
										
									</form>
									
								</div>
							{% endfor %}
							
						</div>
						<!-- end: tab-content -->
						
					{% endif %}
					</div>
				</div>
			</div>
		</div>
		
	</section>
		
{% endblock %}

{% block js %}
<script>
	$('.activeCheck_1').change(function(){
			if ($('.activeCheck_1').is(':checked')) {
				$('.statusVal').val('active');
			}else{
				$('.statusVal').val('inactive');
			}
		});
	$('.activeCheck_2').change(function(){
			if ($('.activeCheck_2').is(':checked')) {
				$('.statusVal').val('active');
			}else{
				$('.statusVal').val('inactive');
			}
		});	
</script>
{% endblock %}