{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %}Common Question{% endblock %}
{% block css %}
    <link href="{{asset('bundles/design/plugins/')}}select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />

<style>
  #toggle1 {
   position: absolute;
    left: -9999px;
}

  
</style>

{% endblock %}
{% block content %}
    <!----------- PAGE HEADER : START ------------------------------------------------------------>
    <section class="content-header">
        <!-------- PAGE TITLE --------------->
        <h1>
			Common Question
            <small></small>
        </h1>
        <!--------- BREADCUMB ---------------------->
        <ol class="breadcrumb align-left">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Common Question</li>
        </ol>
    </section>
    <!----------- PAGE HEADER : END ------------------------------------------------------------>
    <!----------- Main content : START ------------------------------------------------------------>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                            <a href="{{path('add_common_question')}}" class="btn btn-primary btn-flat" title="Add"><i class="fa fa-plus"><b>&nbsp;&nbsp;Add Question</b></i></a>

                        </div>
                    </div><!-- /.box-header -->
	
                    <div class="box-body table-responsive">	
                        <table id="example1" class="table table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th>No.</th>
                                    {% if languages is defined and languages is not empty %}
                                            {% for languages in languages %}	
                                                    <th>Question : {{languages.language_name}}</th>
                                                    <th>Answer : {{languages.language_name}}</th>
                                            {%endfor%}
                                    {%endif%}
                                <th>Status</th>
                                <th>Operations</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>	
                            {%for que_lang_wise in que_lang_wise %}
                            <tr>	
                                <td>{{loop.index}}</td>
                                {%if que_lang_wise.lang_wise_data is defined  and que_lang_wise.lang_wise_data is not empty %}

                                    {%for lang_wise_data in que_lang_wise.lang_wise_data %}
                                        <td>{{lang_wise_data.question}}</td>
                                        <td>{{lang_wise_data.answer}}</td>
                                    {%endfor%}
                                {%endif%}
                                <td>
                                {% if que_lang_wise.lang_wise_data[0].status == 'active'%}{% set checked="checked" %}{%else%}{% set checked="" %}{% endif %}
                                <input data-on="active" class="status status_{{que_lang_wise.main_common_que_id}}" data-off="inactive" type="checkbox"
                                  onchange="ch_status({{que_lang_wise.main_common_que_id}},{{que_lang_wise.lang_wise_data[0].language_id}},this);" data-toggle="toggle" data-size="mini"
                                  data-onstyle="success" {{checked}} />
                                </td>
                                <td>
                                    <a onclick="return confirm('Are you sure you want to Edit?')"
                                       href="{{path('add_common_question',{'main_que_id':que_lang_wise.main_common_que_id})}}"
                                       class="btn btn-info btn-xs" data-toggle="tooltip" title="Edit">
                                            <i class="fa fa-edit"></i>
                                    </a>
                                </td>
								<td>
									<a href="{{path('delete_common_question',{'main_que_id':que_lang_wise.main_common_que_id,'language_id':que_lang_wise.lang_wise_data[0].language_id})}}" class="btn btn-danger btn-xs deleterow" data-toggle="tooltip" title="Delete">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
								</td>
			    </tr>		
                            {%endfor%}
                            </tbody>
                            <tfoot>
								<tr>
									<th>No.</th>
									{% if languages is defined and languages is not empty %}
										{% for languages in languages %}	
											<th>Question : {{languages.language_name}}</th>
											<th>Answer : {{languages.language_name}}</th>
										{%endfor%}
									{%endif%}
									<th>Status</th>
									<th>Operations</th>
									<th>Delete</th>
								</tr>
                            </tfoot>
                        </table>
                    </div>


                </div><!-- /.box -->

            </div>
        </div>
    </section>
    <!----------- Main content : END ---------------------------------------------------------->
{% endblock %}
{% block js %}

    <script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $('#example1').DataTable();
        });
        
		$('.deleterow').click(function(){
			var cnfm = confirm('Are you sure, you want to delete?');
			if(cnfm){
				var cnfm1 = confirm("Confirmation: Are you sure, you want to delete?");
				if(cnfm1){
					return true;
				}
			}
			return false;
		});
		
		function ch_status(main_que_id,sender) {
				
            $.ajax({
                type: 'POST',
                url: "{{path('change_status')}}",
                data: {'main_que_id':main_que_id},
                success: function(resp){
                	
                }
            });

		}
    </script>



{% endblock %}
