{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
<style>
	.myprofile-page .label-rtl{
		float: right;
		text-align: end;
	}
	.myprofile-page .label-rtl-right{
		float: right;
	}
	.myprofile-page .label-rtl-left{
		float: left;
	}
</style>

    <div class="main-in-area">
        <div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
            {#<h1>My Profile</h1>#}
            <h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'199'})) }}</h1>

            <form class="form-horizontal page-myprofile {% if app.session.get('language_id') == 2 %}myprofile-page{% endif %}" id="profile_update" method="post" {# action="{{path('site_myprofile_updateprofile')}}"#} enctype="multipart/form-data">
                <legend>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'257'})) }}</legend>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'255'})) }}</label>
                    <div class="col-sm-10"><input type="password" class="form-control form-control-no-round" name='password' id="password" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'255'})) }}"></div>
                </div>
                <div class="form-group">
                    <label for="new_password" class="col-sm-2 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'251'})) }}</label>
                    <div class="col-sm-10"><input type="password" class="form-control form-control-no-round" name='new_password' id="new_password" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'251'})) }}"></div>
                </div>
                <div class="form-group">
                    <label for="confirm_password" class="col-sm-2 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'249'})) }}</label>
                    <div class="col-sm-10"><input type="password" class="form-control form-control-no-round" name='confirm_password' id="confirm_password" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'249'})) }}"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10"><button type="button" name='password_update' id="password_update" class="btn btn-danger book-now-btn hvr-fade">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'247'})) }}</button></div>
                </div>
                <div id="password2">
                </div>
                <legend>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'253'})) }}</legend>

                <div class="form-group">
                    {# <label for="inputfile" class="col-sm-2 control-label label-rtl">Your profile picture</label> #}
                    <label for="inputfile" class="col-sm-2 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'245'})) }}</label>
                    <div class="col-sm-10"><input type="file" name="inputfile" id="input02" class="form-control form-control-no-round">{%if reviewimage is not empty%}<img src="{{reviewimage}}" width="80" height="80"/>{%endif%}</div>

                </div>
                <div class="form-group">
                    {#<label for="nickname" class="col-sm-2 control-label label-rtl">Nickname</label>#}
                    <label for="nickname" class="col-sm-2 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'75'})) }}</label>
                    <div class="col-sm-10"><input type="text" class="form-control" id="nickname" name='nickname' value="{%if usermaster is not empty%}{{usermaster.user_bio}}{%endif%}" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'75'})) }}"></div>
                </div>
                <div class="form-group">
                    {# <label for="firstname" class="col-sm-2 control-label label-rtl">First Name</label> #}
                    <label for="firstname" class="col-sm-2 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'77'})) }}</label>
                    <div class="col-sm-10"><input type="text" class="form-control" id="firstname" name='fname' value="{%if usermaster is not empty%}{{usermaster.user_firstname}}{%endif%}" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'77'})) }}"></div>
                </div>
                <div class="form-group">
                    {# <label for="lastname" class="col-sm-2 control-label label-rtl">Last Name</label> #}
                    <label for="lastname" class="col-sm-2 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'79'})) }}</label>
                    <div class="col-sm-10"><input type="text" class="form-control" id="lastname" name='lname' value="{%if usermaster is not empty%}{{usermaster.user_lastname}}{%endif%}" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'79'})) }}"></div>
                </div>
                <div class="form-group">
                    {# <label for="email" class="col-sm-2 control-label label-rtl">Email</label> #}
                    <label for="email" class="col-sm-2 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}</label>
                    <div class="col-sm-10"><input type="email" class="form-control" id="email" name='email' value="{%if usermaster is not empty%}{{usermaster.email}}{%endif%}" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'65'})) }}"></div>
                </div>
                <div class="form-group">
                    {# <label for="phone" class="col-sm-2 control-label label-rtl">Phone</label> #}
                    <label for="phone" class="col-sm-2 control-label label-rtl">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'89'})) }}</label>
                    <div class="col-sm-10"><input type="tel" class="form-control" id="phone" name='phone' value="{%if usermaster is not empty%}{{usermaster.user_mobile}}{%endif%}" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'89'})) }}"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 label-rtl-right"><input type="hidden"></div>
					<div class="col-sm-10 label-rtl-left" style="float: left;"><button type="submit" name='profile_update' id="profile_updates" class="btn btn-danger book-now-btn hvr-fade">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'247'})) }}</button></div>
                </div>
            </form>




        </div>
    </div>
{% endblock %}

{% block js%}
    <script type="text/javascript" src="{{ asset('bundles/site') }}/js/bootstrap-filestyle.min.js"></script>
    <script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
    <script src="{{asset('bundles/design/')}}plugins/select2/select2.full.min.js"></script>
    <script type="text/javascript">
        {% if app.session.get('language_id') == 1 %}
            $('#input02').filestyle({
                    text : 'Choose File',
                    dragdrop: false
            });
            $('.group-span-filestyle').css('background', '#EEEEEE');
            $('.group-span-filestyle').css('border-color', '#CCCCCC');
            $('.group-span-filestyle').css('border-style', 'outset');
       {%else%}
            $('#input02').filestyle({
                    text : 'إختر ملف',
                    dragdrop: false
            });
            $('.group-span-filestyle').css('background', '#EEEEEE');
            $('.group-span-filestyle').css('border-color', '#CCCCCC');
            $('.group-span-filestyle').css('border-style', 'outset');
        {%endif%}



    </script>
	
    <script>
			var is_valid = false;
        $(document).ready(function () {
            $("#profile_update").submit(function (e) {
                e.preventDefault();
                var nickname = $("#nickname").val();
                var fname = $("#firstname").val();
               {# var file_data = $('#inputfile').prop('files')[0];
                var form_data = new FormData();
                form_data.append('filewe', file_data);#}
               var data = new FormData(this);
               //console.log(form_data);
                var lname = $("#lastname").val();
                var email = $("#email").val();
                var phone = $("#phone").val();
                    $.ajax({
											"url":"{{path('site_myprofile_updateprofile')}}",
											"method" : "POST",
											"data": data,
							        contentType: false,       // The content type used when sending data to the server.
							        cache: false,             // To unable request pages to be cached
							        processData:false,
											"success" : function(response){
							            if($.trim(response) == 'error'){
							                $('#password2').html('');
							                var message = "Email ID Already Exits.";
							                var html = "<div class='alert alert-danger alert-dismissable'>";
							                html += "<button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button>";
							                html += "<h4><i class='icon fa fa-check'></i>" + alert + "</h4>"
							                html += message;
							                html += "</div>";
							                $('#password2').append(html);
							                return false;
							            }else if($.trim(response) == 'error2'){
							                $('#password2').html('');
							                var message = "Nickname Already Exits.";
							                var html = "<div class='alert alert-danger alert-dismissable'>";
							                html += "<button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button>";
							                html += "<h4><i class='icon fa fa-check'></i>" + alert + "</h4>"
							                html += message;
							                html += "</div>";
							                $('#password2').append(html);
							                return false;
							            }else{
							                $('#password2').html('');
							                var message = "Profile update successfully.";
							                var html = "<div class='alert alert-danger alert-dismissable'>";
							                html += "<button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button>";
							                html += "<h4><i class='icon fa fa-check'></i>" + alert + "</h4>"
							                html += message;
							                html += "</div>";
							                $('#password2').append(html);
							                location.reload();
							            }
							        }
							    });

            });

            $("#password_update").click(function () {

								/* validate current username and password */
								var current_password = $('#password').val();
								if(current_password == ''){
									$('#password2').html('');
									var message = "Please Enter Current Password";
									var html = "<div class='alert alert-danger alert-dismissable'>";
									html += "<button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button>";
									html += "<h4><i class='icon fa fa-check'></i>" + alert + "</h4>"

									html += message;
									html += "</div>";
									$('#password2').append(html);
									return false;
								}

								/* validate user before password update */

                var new_password = $("#new_password").val();
                var confirm_password = $("#confirm_password").val();

                if (new_password != confirm_password) {
                    $('#password2').html('');
                    var message = "New password and confirm password should be equal";
                    var html = "<div class='alert alert-danger alert-dismissable'>";
                    html += "<button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button>";
                    html += "<h4><i class='icon fa fa-check'></i>" + alert + "</h4>"

                    html += message;
                    html += "</div>";
                    $('#password2').append(html);
                    return false;
                }else{
                    var password = $("#password").val();
										if(password != ''){
											var url = "{{ path('site_myprofile_validateuser') }}";
											$.ajax({
												url: url,
												method: 'POST',
												data: {'password' : password},
												success: function(response1){

													var res = JSON.parse(response1);
													if(res['success'] == true){
															update_password(password, new_password);
													} else {
														$('#password2').html('');
														var message = "Username and Password does not match";
														var html = "<div class='alert alert-danger alert-dismissable'>";
														html += "<button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button>";
														html += "<h4><i class='icon fa fa-check'></i>" + alert + "</h4>"

														html += message;
														html += "</div>";
														$('#password2').append(html);
														return false;
													}
												},
												error: function(error){
													console.log(error);
												}
											});
										}
                		}
								});
        });

				function update_password(password, new_password){

					$.ajax({
							"url":"{{path('site_myprofile_updatepassword')}}",
							"method" : "POST",
							"data": {'password':password,'new_password':new_password},
							"success" : function(response){
										if($.trim(response) == 'error'){
												$('#password2').html('');
												var message = "Current password does not match.";
												var html = "<div class='alert alert-danger alert-dismissable'>";
												html += "<button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button>";
												html += "<h4><i class='icon fa fa-check'></i>" + alert + "</h4>"

												html += message;
												html += "</div>";
												$('#password2').append(html);
												return false;
										}else{
												$('#password2').html('');
												var message = "Password change successfully.";
												var html = "<div class='alert alert-success alert-dismissable'>";
												html += "<button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button>";
												html += "<h4><i class='icon fa fa-check'></i>" + alert + "</h4>"

												html += message;
												html += "</div>";
												$('#password2').append(html);
												return false;
										}
								}
						});
				}
    </script>	
{% endblock %}
