{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
 
<style>
.head1
{
	border-bottom:1px solid #ccc;
}
</style>
	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
			{% for flashMessage in app.session.flashbag.get('success_msg') %}
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('error_msg') %}
				<div class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}

			<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'103'})) }}</h1>
						
			<div class="row res-os">
				{% if restaurant_list is defined and restaurant_list is not empty %}
				<div class="col-md-12"><h2 class="head1">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'185'})) }}</h2><br></div>
					{% for restaurant in restaurant_list %}
					
						<div class="col-sm-6 res-os-block">
							<div class="row">
								<div class="col-sm-4 col-xs-4 res-os-img"><img src="{{ restaurant.media_url }}" class="img-responsive img-thumbnail"></div>
								<div class="col-sm-8 col-xs-8 res-os-text">
									<a href="{{path('site_restaurant_view')}}/{{restaurant.main_restaurant_id}}">
									<h4>{{ restaurant.restaurant_name }}</h4>
									</a>
									
									
									
										{% if restaurant.description  |length > 100 %}
								{% set desc = restaurant.description |slice(0, 100)  ~ '...' %}
								{% else %}
								{% set desc = restaurant.description %}
								{% endif %}
								{{ desc | raw  }}
									
									<p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'191'})) }} - {{ restaurant.timings }}</p>
									<!-- <p><i class="fa fa-map-marker" aria-hidden="true"></i> Location - Salmiya | <i class="fa fa-camera" aria-hidden="true"></i> Photo Gallery - -->
									
									{% if restaurant.gallery is defined and restaurant.gallery is not empty %}
										<a href="{{ restaurant.gallery[0] }}" data-fancybox="images">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'121'})) }}</a>
									{% else %}
										<a class="hide-text" style="color:#bd0f0f">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'121'})) }}</a>
									{% endif %}
									
									{% if restaurant.gallery is defined and restaurant.gallery is not empty %}
										{% set gallery_index = 1 %}
										{% for gallery in restaurant.gallery %}
											{% if gallery_index != 1 %}
												<a class="gallery-images-{{ restaurant.restaurant_master_id }} hide" href="{{ gallery }}" data-fancybox="images">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'121'})) }}</a>
											{% endif %}
											{% set gallery_index = gallery_index + 1 %}
										{% endfor %}
									{% endif %}
										<a href="{{ path('site_restaurant_viewresevaluation', {'res_id':restaurant.restaurant_master_id}) }}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'183'})) }}</a>									
									</p>
									
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
				</div>
				<div class="row res-os">
				{% if search_category is defined and search_category is not empty %}
					<div class="col-md-12"><h2 class="head1">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'179'})) }}</h2><br></div>
					{% for search_category in search_category %}
					
						<div class="col-sm-6 res-os-block">
							<div class="row">
								<div class="col-sm-4 col-xs-4 res-os-img"><a href="{{path('site_cat_wise_rest',{'category_name':search_category.category_name,'main_category_id':search_category.main_category_id})}}"><img src="{{live_path}}{{ search_category.media_location }}/{{ search_category.media_name }}" class="img-responsive img-thumbnail"></a></div>
								<div class="col-sm-8 col-xs-8 res-os-text">
									<a href="{{path('site_cat_wise_rest',{'category_name':search_category.category_name,'main_category_id':search_category.main_category_id})}}"><h4>{{ search_category.category_name }}</h4></a>
									
								
									</p>
									
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
				{% if search_category is defined and search_category is  empty and restaurant_list is defined and restaurant_list is  empty %}
					<h3 style="margin-left:2%;">
					{% if app.session.get('language_id') is defined and app.session.get('language_id') == 2%}
						لم يتم العثور على نتائج
					{%else%}
						No Result Found
					{%endif%}
					</h3>
				{% endif %}
			</div>
			
		</div>
	</div>
	
{% endblock %}

{% block js%}
<style>
	.hide-text, .hide-text:hover, .hide-text:visited  { color: transparent;cursor: default; }
</style>
<script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
<script>
$(function () {	
	{% if keyword is defined and keyword is not empty %}
		$("#keyword").val('{{keyword}}');
	{% endif %}
	$('#level-service, #level-atmosphere, #level-dining, #level-price, #level-cleanliness').barrating();		
});
function getRestaurants(obj){
	var category_id = $('#Select-Category').val();
	var foodtype_id = $('#Select-FoodType').val();
	if(category_id != '' && foodtype_id != ''){
		var url = "getFilteredRestaurants/" + category_id + "/" + foodtype_id;
		$.ajax({
			url: url,
			data: {'category_id': category_id, 'foodtype_id': foodtype_id},
			method: 'post',
			success: function(response){
				if(response != 'false'){
					$('#first-disabled').html(response);
					if($('#first-disabled').val()==="other"){
						$("#otherType").slideDown()
					} else {
						$("#otherType").slideUp()
					}
				}
			},
			error: function(error){
				console.log(error);
			}
		});
	}
}
</script>
{% endblock %}