{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}


    <div class="main-in-area">
        <div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
            {% for flashMessage in app.session.flashbag.get('success_msg') %}
                <div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error_msg') %}
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
                </div>
            {% endfor %}

            <h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'25'})) }}</h1>

            <div class="row">
                {% if product_list is defined and product_list is not empty %}
                    {% for product in product_list %}

                        <div class="col-sm-3" {% if app.session.get('language_id') == 2 %}style="float:right;"{% endif %}>
                            <a data-toggle="modal" {%if app.session.get('userid') == ''%} data-toggle="modal" data-target="#vote-{{ product.details.main_product_id }}" {%else%}  data-target="#vote-{{ product.details.main_product_id }}" {%endif%} >
                               
                                <img src="{{ product.details.media_url }}" class="img-responsive img-thumbnail" style="min-width: 100%; margin-top: 4%;"><br>{{ product.details.product_name }}
                            </a><br>
                            <a data-toggle="modal"  data-target="#comments{{product.details.main_product_id}}">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'109'})) }}</a>
                            <h5>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'131'})) }}</h5>
                            <img src="{{ asset('bundles/design') }}/images/Excellent.png"> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'111'})) }} - {{product.excellent}}%
                            <br> <img src="{{ asset('bundles/design') }}/images/Medium.png"> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'113'})) }} - {{product.medium}}%<br>
                            <img src="{{ asset('bundles/design') }}/images/Bad.png"> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'125'})) }} - {{product.bad}}%
                        </div>

                        <div class="modal fade" id="vote-{{ product.details.main_product_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                    <div class="modal-body">
                                        <div id="loadingvote{{product.details.main_product_id}}">
                                        </div>  
                                        <div id="errorvote{{product.details.main_product_id}}">

                                        </div>
                                        <div id="loadingrate{{product.details.main_product_id}}">
                                        </div>  
                                        <div id="errorrate{{product.details.main_product_id}}">

                                        </div>
                                        <div class="row">
                                            
                                            <div class="col-sm-8">
                                                <div class="product-info paddBottom">	
                                                    <input type="hidden" name="product_id" id ="product_id" value="{{product.details.main_product_id}}"/>
                                                    <span><b>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'127'})) }} :</b> {{ product.details.product_name }}</span><br>
                                                    <span><b>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'129'})) }} :</b> {{ product.details.product_description }}</span>
                                                </div>
                                                <img src="{{ product.details.media_url }}" class="full-width-img">
                                            </div>
                                            <div class="col-sm-4">
                                                
                                                <h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'25'})) }}</h1>
                                                <div class="radio"><label><input type="radio" name="voteType" class="votetype{{ product.details.main_product_id }}" id="inlineRadio1" value="excellent"><img {%if app.session.get('language_id') == "2" %}  style="margin-right: 20px;"  {%endif%} src="{{ asset('bundles/design') }}/images/Excellent.png"> <p style="display: inline-block;margin-right: 10px;">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'111'})) }}</p></label></div>
                                                <div class="radio"><label><input type="radio" name="voteType" class="votetype{{ product.details.main_product_id }}" id="inlineRadio2" value="medium"><img {%if app.session.get('language_id') == "2" %}  style="margin-right: 20px;"  {%endif%} src="{{ asset('bundles/design') }}/images/Medium.png"><p style="display: inline-block;margin-right: 10px;"> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'113'})) }}</label></p></div>
                                                <div class="radio"><label><input type="radio" name="voteType" id="inlineRadio3" class="votetype{{ product.details.main_product_id }}" value="bad"><img {%if app.session.get('language_id') == "2" %}  style="margin-right: 20px;"  {%endif%} src="{{ asset('bundles/design') }}/images/Bad.png"> <p style="display: inline-block;margin-right: 10px;"> {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'125'})) }}</label></p></div>
                                                <p>&nbsp;</p>
                                                <button  class="btn btn-danger btn-lg" onclick="rateyourcomments({{product.details.main_product_id}})" >{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button>
                                                <hr>										
                                            </div>
                                            
                                            <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'115'})) }}</label>
                                                        <textarea 
                                                    id = "commentarea{{product.details.main_product_id}}" class="form-control" rows="3" placeholder="{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'115'})) }}"></textarea>
                                                    </div>
                                                    <button type="button" class="btn btn-danger submit_comment"  onclick="writecomments({{product.details.main_product_id}})">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'73'})) }}</button>
                                               
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="comments{{product.details.main_product_id}}" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'115'})) }}</h4>
                              </div>
                              <div class="modal-body">
                                  {%if totallist is not empty%}
                               {% for totallist in totallist if totallist.commentslist.product_id == product.details.main_product_id%} 
                                <div class="row vote-comments">
                                    <div class="col-sm-2"><img src="{{ asset(totallist.mediapath) }}"  class="img-responsive"></div>
                                    <div class="col-sm-10">
                                        <h4 >{{totallist.username}}</h4>
                                        <p>{{totallist.commentslist.comments}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                {%else%}
                                     <div class="row vote-comments">
                                    <div class="col-sm-10">
                                        <h4 >No Comments</h4>
                                    </div>
                                </div>
                                {%endif%}    
                                   
                              </div>
                             
                            </div>

                          </div>
                        </div>

                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
<div id="comments" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'115'})) }}</h4>
      </div>
      <div class="modal-body">
                    <div class="h5" id="commentin" style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;"></div>
           
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block js%}
    <style>
        .hide-text, .hide-text:hover, .hide-text:visited  { color: transparent;cursor: default; }
        .full-width-img{ width: 100%; max-height: 420px; }
        .paddBottom { padding-bottom: 12px; }
    </style>
    <script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
    <script>
         {% for flashMessage in app.session.flashbag.get('success_msg1') %}
			swal('', "{{ flashMessage }}","success");
		{% endfor %}

		{% for flashMessage in app.session.flashbag.get('error_msg1') %}
			swal('', "{{ flashMessage }}","error");
		{% endfor %}
        function writecomments(id) {

            var userid = "{{app.session.get('userid')}}";
            var comment = $("#commentarea"+id).val();
            var product_id = id;
            $('#errorvote'+id).html('');
            $('#loadingvote'+id).html('');
            var img_loader = "<img src='{{asset('/bundles/site/images/status.gif')}}'>";
            $('#loadingvote'+id).append(img_loader);
            if(userid == ''){
                $('#errorvote'+id).html('');
                $('#loadingvote'+id).html('');
                var html = "<div class='alert alert-danger alert-dismissable'>";
                html += "<button aria-hidden='true' data-dismiss='alert' class='close'       type='button'>×</button>";
                html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
                html += "Please Login first to comment , Thank You.";                
                html += "</div>";
                $('#errorvote'+id).append(html);
            }
            else if(comment == ''){
                 $('#errorvote'+id).html('');
                $('#loadingvote'+id).html('');
                var html = "<div class='alert alert-danger alert-dismissable'>";
                html += "<button aria-hidden='true' data-dismiss='alert' class='close'       type='button'>×</button>";
                html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
                html += "Please Enter Your Comments.";                
                html += "</div>";
                $('#errorvote'+id).append(html);
            }
            else{
           $.ajax({
                type:"POST",
                url:"{{path('site_product_votesubmit')}}",
                data:"user_id="+userid+'&comment='+comment+'&product_id='+product_id,
                 success:function(response){
                    if(response == 'success'){
                        document.location.reload();
                    }
                    else{
                        document.location.reload();
                    }

                 }
           });
         }
        }

        function rateyourcomments(id) {

            var userid = "{{app.session.get('user_id')}}";
            console.log(userid);
            var votetype = $(".votetype"+id+":checked").val();
            var product_id = id;
            $('#errorrate'+id).html('');
            $('#loadingrate'+id).html('');
            var img_loader = "<img src='{{asset('/bundles/site/images/status.gif')}}'>";
            $('#loadingrate'+id).append(img_loader);
            if(userid == ''){
                $('#errorrate'+id).html('');
                $('#loadingrate'+id).html('');
                var html = "<div class='alert alert-danger alert-dismissable'>";
                html += "<button aria-hidden='true' data-dismiss='alert' class='close'       type='button'>×</button>";
                html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
                html += "Please Login first to comment , Thank You.";                
                html += "</div>";
                $('#errorrate'+id).append(html);
            }
            else if(votetype == ''){
                 $('#errorrate'+id).html('');
                $('#loadingrate'+id).html('');
                var html = "<div class='alert alert-danger alert-dismissable'>";
                html += "<button aria-hidden='true' data-dismiss='alert' class='close'       type='button'>×</button>";
                html += "<h4><i class='icon fa fa-check'></i>"+alert+"</h4>"
                html += "Please selct your vote.";                
                html += "</div>";
                $('#errorrate'+id).append(html);
            }
            else{
           $.ajax({
                type:"POST",
                url:"{{path('site_product_voteproduct')}}",
                data:"user_id="+userid+'&voteType='+votetype+'&product_id='+product_id,
                 success:function(response){
                    if(response == 'success'){
                        document.location.reload();
                    }
                    else{
                        document.location.reload();
                    }

                 }
           });
         }
        }
    </script>

    
{% endblock %}