{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}

    <div class="main-in-area">
        <div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
            <h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'41'})) }}</h1>
            <div class="accordion">
                {%if common_que is defined and common_que is not empty%}
                    {%for common_que_data in common_que%}
                        <!-- 1 -->
                        <div class="accordion__section">
                            <div class="accordion__titlebox" data-href="#accordion-{{common_que_data.main_common_question_id}}">
                                <div class="accordion__icon">
                                    <span class="plus"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                                    <span class="minus"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
                                </div>
                                <div class="accordion__title">{{common_que_data.question}}</div>
                            </div>

                            <div id="accordion-{{common_que_data.main_common_question_id}}" class="accordion__content">
                                <p>{{common_que_data.answer}}</p>           
                            </div>
                        </div>
                    {%endfor%}
                {%endif%}		
            </div>
                <h4> 
                     {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'195'})) }}
                    <a href="{{path('site_contactus_index')}}">
                        <u style="color: blue;">  {{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'239'})) }}</u>
                    </a>
                </h4>
        </div>
    </div>

             
{% endblock %}

{% block js%}
    <script>
        var a = new ezAccordion('.accordion');
    </script>
{%endblock%}
