{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
<style>
.res-os-text{ margin-top: unset; }
</style>

	<div class="main-in-area">
		<div class="container" {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
			{% for flashMessage in app.session.flashbag.get('success_msg') %}
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('error_msg') %}
				<div class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					<h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
				</div>
			{% endfor %}

			<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':app.session.get('language_id'),'label_id':'35'})) }}</h1>
						
			<div class="row res-os">
				{% if feature_comments is defined and feature_comments is not empty %}
					<div class="col-sm-12 res-os-block">
						<div class="row">
							<div class="col-sm-2 col-xs-4 res-os-img"><img src="{{ feature_comments.userimage }}" class="img-responsive img-thumbnail"></div>
							<div class="col-sm-10 col-xs-8 res-os-text">
								<h4>{{ feature_comments.username }}</h4>
								<br>
								{{ feature_comments.comments | raw }}
								<p><br><i class="fa fa-clock-o" aria-hidden="true"></i> {{ feature_comments.created_datetime }}</p>
								</p>
								
							</div>
						</div>
					</div>
				{% endif %}
			</div>
			
		</div>
	</div>
	
{% endblock %}

{% block js%}
<style>
	.hide-text, .hide-text:hover, .hide-text:visited  { color: transparent;cursor: default; }
</style>
<script src="{{ asset('bundles/design') }}/js/jquery.barrating.js"></script>
<script>
$(function () {		
	$('#level-service, #level-atmosphere, #level-dining, #level-price, #level-cleanliness').barrating();		
});
function getRestaurants(obj){
	var category_id = $('#Select-Category').val();
	var foodtype_id = $('#Select-FoodType').val();
	if(category_id != '' && foodtype_id != ''){
		var url = "getFilteredRestaurants/" + category_id + "/" + foodtype_id;
		$.ajax({
			url: url,
			data: {'category_id': category_id, 'foodtype_id': foodtype_id},
			method: 'post',
			success: function(response){
				if(response != 'false'){
					$('#first-disabled').html(response);
					if($('#first-disabled').val()==="other"){
						$("#otherType").slideDown()
					} else {
						$("#otherType").slideUp()
					}
				}
			},
			error: function(error){
				console.log(error);
			}
		});
	}
}
</script>
{% endblock %}