{% extends "SiteBundle::Layout/header.html.twig" %}

{% block content %}
 
	<div class="main-in-area">
		<div class="container"  {%if app.session.get('language_id') == "2" %} style="direction:rtl;" {%else%} style="direction:ltr;" {%endif%}>
			<h1>{{ render(controller('SiteBundle:Default:staticdata',{'language_id':language_id,'label_id':'39'})) }}</h1>
			{%if about_us is defined and about_us is not empty%}
				{%for about_us_data in about_us%}
					{% autoescape false%}
						{{about_us_data.description}}
					{% endautoescape %}
				{%endfor%}
			{%endif%}	
		</div>
	</div>
	
{% endblock %}
