{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Competition {% endblock %}
{% block css %}
    <style>
        .contactus-info .form-horizontal .form-group{
            margin-left: 0px;
            margin-right: 0px;
        }
        .paddTop { padding-top: 10px; }
        .paddBottom { padding-bottom: 20px; }

        .select2{
            width : 100% !important;
        }
    </style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />


{% endblock %}
{% block content %}

    <section class="content-header">
        <!-------- PAGE TITLE ---------------->
        <h1>
            Competition Add-Update
            <small></small>
        </h1>
        <!------- BREADCUMB ---------------------->
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Competition</li>
        </ol>
    </section>

    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>{{ flashMessage }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header">
                        <a href="{{path('admin_competitionactivity_index',{'domain':app.session.get('domain'),})}}" class="btn btn-primary btn-flat pull-right">&nbsp;&nbsp;Back</a>
                    </div>

                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="{% if tab is defined and tab == 'lang' %}active{% endif %}">
                                    <a href="#lang" data-toggle="tab">Competition</a>                                    
                                </li>

                                {% if competition_master is defined and competition_master is not empty %}
                                    <li class="{% if tab is defined and tab == 'loyalty_points' %}active{% endif %}" ><a href="#loyalty_points" data-toggle="tab">Loyalty Points</a></li>

                                    <li class="" ><a href="#include_restaurant_list" data-toggle="tab">Included Resturants Extra Points</a></li>

                                    <li class="" ><a href="#include_category_list" data-toggle="tab">Included Category Extra Points</a></li>

                                    {% endif %}
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane {% if tab is defined and tab == 'lang' %}active{% endif %}" id="lang">
                                <div class="tab-content">	
                                    {% set main_comp_id = 0 %}	
                                    {% set comp_name = '' %}	
                                    {% set comp_name_ar = '' %}	
                                    {% set comp_description = '' %}	
                                    {% set start_date = '' %}	
                                    {% set end_date = '' %}	
                                    {% set is_special = '' %}	
                                    {% set status = '' %}	
                                    {% set rule_book_img = '' %}	

                                    {% if competition_master is defined and competition_master is not empty %}
                                        {% set rule_book_img = rule_book %}
                                        {% set comp_name = competition_master.name %}
                                        {% set comp_name_ar = competition_master.name_ar %}
                                        {% set comp_description = competition_master.description %}
                                        {% set start_date = competition_master.start_date %}
                                        {% set end_date = competition_master.end_date %}
                                        {% set status = competition_master.status %}
                                        {% set is_special = competition_master.is_special %}
                                        {% set main_comp_id = competition_master.main_competition_id %}
                                    {% endif %}	
                                    <form id="form-" class="form-horizontal" method="post" action="{{ path('admin_competitionactivity_saveactivitycompetition') }}" enctype="multipart/form-data">
                                        <input type="hidden" class="form-control" name="main_comp_id" value="{{main_comp_id}}">									
                                        <div class="row form-group">
                                            <div class="col-md-6">
                                                <label>Competition Name (English)</label>
                                                <input type="text" class="form-control" name="comp_name" value="{{comp_name}}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Competition Name (Arabic)</label>
                                                <input type="text" class="form-control" name="comp_name_ar" value="{{comp_name_ar}}">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label>Description</label>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <textarea id="editor1" class="ckeditor" name="comp_description">{{comp_description}}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-lg-2">
                                                <label>Start Date</label>
                                            </div>

                                            <div class="col-lg-4">
                                                <input id="start_date" type="text" name="start_date" class="form-control datepicker" value="{{ start_date }}"  required/>
                                            </div>

                                            <div class="col-lg-2">
                                                <label>End Date</label>
                                            </div>


                                            <div class="col-lg-4">
                                                <input id="end_date" type="text" name="end_date" class="form-control datepicker" value="{{ end_date }}" required />
                                            </div>
                                        </div>

{#
                                        <div class="row form-group">
                                            <div class="col-md-12 fill-padd-left">
                                                <label>Restaurants</label><br>
                                                <select name="relation_id[]" id="relation_id" class="form-control select2" multiple>
                                                    <option value="0">Select Restaurant</option>
                                                    {%if restaurants is defined and restaurants is not empty%}
                                                        {%for restaurant in restaurants%}
                                                            <option value="{{restaurant.main_restaurant_id}}" {% if check_exclution_rest_arr is defined and check_exclution_rest_arr is not empty and restaurant.main_restaurant_id in check_exclution_rest_arr %} selected {% endif %}>
                                                                {%if restaurant.lang_wise is defined and restaurant.lang_wise is not empty%}
                                                                    {%for name in restaurant.lang_wise%}
                                                                        {{name.name}}
                                                                        {%if loop.last != true%}
                                                                            /
                                                                        {%endif%}
                                                                    {%endfor%}
                                                                {%endif%}
                                                            </option>
                                                        {%endfor%}
                                                    {%endif%}
                                                </select>
                                            </div>
                                        </div>
                                        #}
                                        <div class="row form-group">

                                            <div class="col-lg-2">
                                                <label>Status</label>
                                            </div>
                                            <div class="col-lg-4">

                                                {% set cat_status_active = '' %}
                                                {% set cat_status_inactive = '' %}

                                                {% if status == 'active' %}
                                                    {% set cat_status_active = 'checked' %}
                                                {% endif %}

                                                {% if status == 'inactive' %}
                                                    {% set cat_status_inactive = 'checked' %}					
                                                {% endif %}											

                                                <label class="radio-inline">
                                                    <input type="radio" name="status" required="" value="active" {{ cat_status_active }} /> Active
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="status" required="" value="inactive" {{ cat_status_inactive }} /> Inactive
                                                </label>
                                            </div>
{#
                                            <div class="col-lg-2">
                                                <label>Rule Book Image</label>
                                            </div>


                                            <div class="col-lg-4">
                                                <input id="rule_book" onchange="readURL(this);" type="file" name="rule_book" class="form-control" />
                                                {% if rule_book_img is defined and rule_book_img != '' %}
                                                    <a href="{{rule_book_img}}" id="rule_book_img_url" target="_blank"><img id="rule_book_img" class = "img-responsive" style="height:100px;width:100px;margin-top:2px" src="{{rule_book_img}}"></a>
                                                    {% endif %}
                                            </div>
#}                                            

                                        </div>											
                                         <div class="row form-group">

                                            <div class="col-lg-2">
                                                <label>Is Special ?</label>
                                            </div>
                                            <div class="col-lg-4">

                                                {% set cat_is_special_yes = '' %}
                                                {% set cat_is_special_no = '' %}

                                                {% if is_special == 'yes' %}
                                                    {% set cat_is_special_yes = 'checked' %}
                                                {% endif %}

                                                {% if is_special == 'no' %}
                                                    {% set cat_is_special_no = 'checked' %}					
                                                {% endif %}											

                                                <label class="radio-inline">
                                                    <input type="radio" name="is_special" required="" value="yes" {{ cat_is_special_yes }} /> Yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="is_special" required="" value="no" {{cat_is_special_no }} /> No
                                                </label>
                                            </div>
                                        </div>											

                                        <div class="row paddTop">
                                            <div class="col-md-12">
                                                <button type="submit" name="submit" class="btn btn-primary pull-right">
                                                    <span><i class="fa fa-check-square-o"></i>&nbsp;Submit</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="tab-pane {% if tab is defined and tab == 'loyalty_points' %}active{% endif %} " id="loyalty_points">
                                <div class="tab-content">	
                                    <form method="POST" action="{{path('admin_competitionactivity_saveextrapoints')}}" novalidate>
                                        <input type="hidden" name="main_comp_id" value="{{main_comp_id}}">

                                        {% set extra_point_type = 'include' %}
                                        {% if competition_master is defined and competition_master is not empty %}
                                            {% set extra_point_type = competition_master.extra_point_type %}
                                        {% endif %}
                                        <div class="col-md-12">
                                            <p>note* : Enter Extra score in minus ,if want to give less points to restaurant or category.</p>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-8">
                                                <label class="radio-inline">
                                                    <input type="radio" name="extra_point_type" required="" value="include" onchange="changeResSelection('include');" checked /> Select Restaurants
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="extra_point_type" required="" value="exclude" onchange="changeResSelection('exclude');"  /> Exclude Restaurants
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div id="loyalty_restaurant_list_include" class="">
                                                <div class="col-md-12">
                                                    <label>Restaurants</label><br> 
                                                    <select name="rest_id_includes[]" id="rest_id" class="form-control select2" multiple required>
                                                        <option value="0">Select Restaurant</option>
                                                        {%if restaurants is defined and restaurants is not empty%}
                                                            {%for restaurant in restaurants%}
                                                                <option value="{{restaurant.main_restaurant_id}}" {#{% if check_extra_rest_arr is defined and check_extra_rest_arr is not empty and restaurant.main_restaurant_id in check_extra_rest_arr %} selected {% endif %} #} />
                                                                    {%if restaurant.lang_wise is defined and restaurant.lang_wise is not empty%}
                                                                        {%for name in restaurant.lang_wise%}
                                                                            {{name.name}}
                                                                            {%if loop.last != true%}
                                                                                /
                                                                            {%endif%}
                                                                        {%endfor%}
                                                                    {%endif%}
                                                                </option>
                                                            {%endfor%}
                                                        {%endif%}
                                                    </select>
                                                </div>
                                            </div>

                                            <div id="loyalty_restaurant_list_exclude" class="hide">
                                                <div class="col-md-12">
                                                    <label>Select Restaurants to exclude</label><br>
                                                    <select name="rest_id_excludes[]" id="exclude_rest_id" class="form-control select2" multiple required>
                                                        <option value="0">Select Restaurant</option>
                                                        {%if restaurants is defined and restaurants is not empty%}
                                                            {%for restaurant in restaurants%}
                                                                <option value="{{restaurant.main_restaurant_id}}" {% if check_exclution_rest_arr is defined and check_exclution_rest_arr is not empty and restaurant.main_restaurant_id in check_exclution_rest_arr %} selected {% endif %}>
                                                                    {%if restaurant.lang_wise is defined and restaurant.lang_wise is not empty%}
                                                                        {%for name in restaurant.lang_wise%}
                                                                            {{name.name}}
                                                                            {%if loop.last != true%}
                                                                                /
                                                                            {%endif%}
                                                                        {%endfor%}
                                                                    {%endif%}
                                                                </option>
                                                            {%endfor%}
                                                        {%endif%}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6 include_category">
                                                <label>Category</label><br>
                                                <select name="cat_id_include[]" id="cat_id" class="form-control" multiple>
                                                    <option value="">Select Category</option>
                                                    {%if categoryList is defined and categoryList is not empty%}
                                                        {%for category in categoryList%} 
                                                            <option value="{{category.main_category_id}}"
                                                            {# {% if categoryRelationListIncludes is defined and categoryRelationListIncludes is not empty and category.main_category_id in categoryRelationListIncludes %}
                                                                selected 
                                                            {% endif %} #}
                                                            >
                                                                {{ category.cat_name }}
                                                            </option>
                                                        {%endfor%}
                                                    {%endif%}
                                                </select>
                                            </div>

                                            <div class="col-md-6 exclude_category" style="display:none">
                                                <label>Exclude Category</label><br>
                                                <select name="cat_id[]" id="cat_id" class="form-control" multiple>
                                                    <option value="">Select Category</option>
                                                    {%if categoryList is defined and categoryList is not empty%}
                                                        {%for category in categoryList%}
                                                            {% set _selected = '' %}
                                                            {% if categoryRelationList is defined and categoryRelationList is not empty %}
                                                                {% for categoryRelationId in categoryRelationList %}
                                                                    {% if category.main_category_id == categoryRelationId %}
                                                                        {% set _selected = 'selected' %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                            <option value="{{category.main_category_id}}" {{ _selected }}>
                                                                {{ category.cat_name }}
                                                            </option>
                                                        {%endfor%}
                                                    {%endif%}
                                                </select>
                                            </div>

                                            <div class="col-md-2 extraPoints">
                                                <label>Extra Points</label><br>
                                                <input type="number" name="extar_points" class="form-control" required/>
                                            </div>

                                            <div class="col-md-2">
                                                <label></label><br>
                                                    <button type="submit" class="btn btn-info" id="extar_points_btn">
                                                        Save Extra Points
                                                    </button>
                                            </div>


                                        </div>
{#
                                        <div class="row form-group">
                                            <div class="col-md-12 text-center">
                                                <label></label><br>
                                                <button type="submit" class="btn btn-primary">Save Extra Points</button>
                                            </div>
                                        </div>
#}
                                    </form>

                                    {% if activity_master is defined and activity_master is not empty %}
                                        <form method="POST" action="{{path('admin_competitionactivity_saveactivitycompetitionpoints')}}">
                                            <input type="hidden" name="main_comp_id" value="{{main_comp_id}}">
                                            <table class="table table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <label><input type="checkbox" id="all_check"></label>
                                                        </th>
                                                        <th>Activity Name</th>
                                                        <th>Activity Points</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for activity_master in activity_master %}
                                                        <tr>
                                                            <td>
                                                                {% set check_make = '' %}
                                                                {% if activity_master.competition_activity_relation_id is not empty %}
                                                                    {% set check_make = 'checked' %}

                                                                {% endif %}
                                                                <label><input class="act_check" type="checkbox" name="activity_id[]" value="{{activity_master.main_activity_id}}" {{check_make}}></label>
                                                                </th>
                                                            <td>{{activity_master.activity_title}}</th>
                                                            <td>
                                                                {% if activity_master.competition_activity_relation_id is not empty %}
                                                                    <input class="form-control" type="text" name="activity_points[{{activity_master.main_activity_id}}]" value="{{activity_master.points}}">
                                                                {% else %}
                                                                    <input class="form-control" type="text" name="activity_points[{{activity_master.main_activity_id}}]" value="{{activity_master.defaults_points}}">
                                                                {% endif %}
                                                                </th>
                                                        </tr>

                                                    {% endfor %}	
                                                </tbody>
                                            </table>
                                            <button class="btn btn-info pull-right">Save Activity Points</button>
                                        </form>									
                                    {% endif %}
                                </div>
                            </div>

                            <div class="tab-pane " id="include_restaurant_list">
                                <div class="tab-content">	
                                <form action="{{path('admin_competitionactivity_saveexistedextrapoints')}}" method="POST" >
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>                                               
                                                <th>No</th>
                                                <th>Restaurant Name</th>
                                                <th>Extra Points</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if check_extra_rest_list is defined and check_extra_rest_list is not empty %}
                                                {% for check_extra_rest_list in check_extra_rest_list %}
                                                    <tr>
                                                        <td>{{loop.index}}</td>
                                                        <td>{{check_extra_rest_list.name}}</td>
                                                        <td>
                                                        
                                                            <input type="text" name="extra_points[{{check_extra_rest_list.competition_extra_points_id}}]" 
                                                            class="form-control"
                                                            value="{{check_extra_rest_list.extra_points}}" />
                                                        
                                                        </td>
                                                        <td>
                                                        <a class="btn btn-xs btn-danger" 
                                                        onclick="return confirm('Are You Sure want delete Extra Points ?');"
                                                        href="{{path('admin_competitionactivity_deleteexistedextrapoints',{'competition_extra_points_id':check_extra_rest_list.competition_extra_points_id})}}">
                                                            <i class="fa fa-remove"></i>
                                                        </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    <button class="btn btn-primary pull-right">Update Extra Points</button>   
                                    </form>         
                                </div>
                        </div>

                        <div class="tab-pane " id="include_category_list">
                            <div class="tab-content">	
                                <form action="{{path('admin_competitionactivity_saveexistedextrapointscategory')}}" method="POST" >
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>                                               
                                                <th>No</th>
                                                <th>Category Name</th>
                                                <th>Extra Points</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if categoryRelationListIncludesList is defined and categoryRelationListIncludesList is not empty %}
                                                {% for categoryRelationListIncludesList in categoryRelationListIncludesList %}
                                                    <tr>
                                                        <td>{{loop.index}}</td>
                                                        <td>{{categoryRelationListIncludesList.name}}</td>
                                                        <td>
                                                        
                                                            <input type="text" name="extra_points[{{categoryRelationListIncludesList.competition_category_relation_id }}]" 
                                                            class="form-control"
                                                            value="{{categoryRelationListIncludesList.extra_points}}" />
                                                        
                                                        </td>
                                                        <td>
                                                        <a class="btn btn-xs btn-danger" 
                                                        onclick="return confirm('Are You Sure want delete Extra Points ?');"
                                                        href="{{path('admin_competitionactivity_deleteexistedextrapointscategory',{'competition_category_relation_id':categoryRelationListIncludesList.competition_category_relation_id})}}">
                                                            <i class="fa fa-remove"></i>
                                                        </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    <button class="btn btn-primary pull-right">Update Extra Points</button>   
                                    </form>         
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block js %}
    <script src="{{asset('bundles/design/')}}js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="{{asset('bundles/design/')}}ckeditor/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    <script>
        function changeResSelection(type) {
            if (type == 'include') {
                //loyalty_restaurant_list_exclude
                $('#loyalty_restaurant_list_exclude').removeClass('show').addClass('hide');
                $('#loyalty_restaurant_list_include').removeClass('hide').addClass('show');
                $('.extraPoints').show();

                $('.include_category').show();
                $('.exclude_category').hide();
                
                $('#extar_points_btn').text('Save Extra Points');

//                $('#exclude_rest_id option').removeAttr("selected");
            } else {
                $('#loyalty_restaurant_list_include').removeClass('show').addClass('hide');
               
                $('#loyalty_restaurant_list_exclude').removeClass('hide').addClass('show');
                $('.include_category').hide();
                $('.exclude_category').show();
                $('.extraPoints').hide();

                $('#extar_points_btn').text('Save Exclude Data');
//                $('#rest_id option').removeAttr("selected");
            }
        }

        $(document).ready(function () {
            $('#suggestions').DataTable();

            $(".select2").select2({
                allowClear: true,
                tokenSeparators: [','],
                minimumResultsForSearch: 4
            });

        });

        $("#all_check").change(function () {

            if ($(this).is(':checked')) {
                $('.act_check').prop('checked', true);
            } else {
                $('.act_check').prop('checked', false);
            }

        });
        $("#start_date").change(function () {
            var jsDate = $('#start_date').datepicker('getDate');


            if (jsDate !== null) { // if any date selected in datepicker
                jsDate instanceof Date; // -> true
                jsDate.setMonth(jsDate.getMonth() + 1);

                $("#end_date").datepicker('setDate', jsDate);

            }

        });

        $(function () {
            $('.editor1cls').each(function (e) {
                CKEDITOR.replace(this.id);
            });

            $("#end_date").datepicker();



            $("#start_date").datepicker();

        })

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#rule_book_img')
                            .attr('src', e.target.result)
                            .width(100)
                            .height(100);
                };
                $('#rule_book_img_url').attr('href', 'javascript:void(0)');
                $('#rule_book_img_url').removeAttr('target');
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
{% endblock %}

