{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Competition Point List {% endblock %}
{% block css %}
	<style>
	</style>
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
			 Competition Point list of {{user_name}}
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Competition Point list</li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div role="alert" class="alert alert-success alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <strong>Alert!</strong>&nbsp; {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div role="alert" class="alert alert-danger alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <strong>Alert!</strong>&nbsp; {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
				
	                <div class="box-header with-border">
                        <a href="{{path('admin_competitionactivity_users',{'domain':app.session.get('domain'),'comp_id':comp_id})}}" class="btn btn-primary btn-flat pull-right"><i class="glyphicon glyphicon-chevron-left"></i><b>&nbsp;&nbsp;Back</b></a>
                    </div><!-- /.box-header -->

                    <div class="nav-tab-custom">

                        <ul class="nav nav-tabs">

                            <li  class="active"><a href="#general" data-toggle="tab">Competition Point List</a></li>
                           

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active"  id="general">
                                <div class="box-body">

                                    {% if competition_name is defined and competition_name != '' %}
                                        <h3 class="box-title">Competition Name : {{competition_name}}</h3>
                                    {% endif %}	
                                    {% if overAllCompArray is defined and overAllCompArray is not empty %}
                                        Competition Participated In : 
                                        <ul class="list-group">
                                        {% for overAllCompArray in overAllCompArray %}
                                        <li class="list-group-item">{{overAllCompArray.comp_name}} : Start From {{overAllCompArray.comp_begins | date('d-m-Y') }} to {{overAllCompArray.comp_ends | date('d-m-Y') }}
                                        <span class="badge {% if overAllCompArray.status == 'running' %} bg-green-active {% else %}{% endif %} ">{{overAllCompArray.status}}</span></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}

                                    <div class="container-fluid table-responsive">
										<form method="POST" action="{{path('admin_competitionactivity_updatepointsdetails')}}" onsubmit="return confirm('Do you really want to update the Points of User?');">
                                        <table id="example1" class="table table-bordered table-striped text-center">
                                            <thead>
												<th>No.</th>
												<th>Activity Name</th>
												{% if comp_id == 0 %}
													<th>Competition Name</th>
												{% endif %}
												<th>Date</th>
												<th>Points</th>
                                            </thead>
                                            <tbody>
                                                {% if pointDetails is defined and pointDetails is not empty %}
                                                    {% for pointDetails in pointDetails %}
                                                        <tr>
                                                            <td>{{loop.index}}</td>
                                                            <td>{{pointDetails.activity_title}}</td>
																																									{% if comp_id == 0 %}
																<td>{{pointDetails.name}}</td>
															{% endif %}
                                                            <td>{{pointDetails.gain_on | date('d-m-Y g:i:s a') }}</td>
                                                            <td>
																<input class="form-control" type="text" name="activity_points[{{pointDetails.competition_user_relation_id}}]" value="{{pointDetails.points}}">
															</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                          
                                        </table>
										<button class="btn btn-info pull-right">Update Activity Points</button>
										</form>
                                    </div>

									
                            </div>
                        </div>



                    </div>
                </div>
            </div>
    </section>
{% endblock %}

{% block js %}
	<script>
        $(document).ready(function () {
            $('#example1').DataTable();
        });
    </script>
{% endblock %}