{% extends "AdminBundle::Layout/adminlayout.html.twig" %}
{% block title %} Competition List {% endblock %}
{% block css %}
	<style>
	</style>
    <link href="{{asset('bundles/design/')}}css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css" />	
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
			 Competition list
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{path('admin_dashboard_index',{'domain':app.session.get('domain')})}}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Competition list</li>
        </ol>
    </section>
    <section class="content">
        {% for flashMessage in app.session.flashbag.get('success_msg') %}
            <div role="alert" class="alert alert-success alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <strong>Alert!</strong>&nbsp; {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error_msg') %}
            <div role="alert" class="alert alert-danger alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <strong>Alert!</strong>&nbsp; {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid">
                    <div class="nav-tab-custom">

                        <ul class="nav nav-tabs">

                            <li  class="active"><a href="#general" data-toggle="tab">Competition draw</a></li>
                           

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active"  id="general">
                                <div class="box-header with-border">
                                    <div class="pull-right">
                                        <a href="{{path('admin_competitionactivity_addactivitycompetition',{'domain':app.session.get('domain'),})}}" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i>&nbsp;&nbsp;ADD</a>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="container-fluid table-responsive">
                                        <table id="example1" class="table table-bordered table-striped text-center">
                                            <thead>
												<th>No.</th>
												<th>Competition Name</th>
												<th>Start Date</th>
												<th>End Date</th>
												<th>Status</th>
												<th>Operation</th>
												<th>Delete</th>
                                            </thead>
                                            <tbody>
                                                {% if competitions is defined and competitions is not empty %}
                                                    {% for competitions in competitions %}
                                                        <tr>
                                                            <td>{{loop.index}}</td>
                                                            <td>{{competitions.name}}</td>
                                                            <td>{{competitions.start_date | date('d-m-Y') }}</td>
                                                            <td>{{competitions.end_date | date('d-m-Y') }}</td>
                                                            <td>
															{% set disable_toggle = '' %}
															{% if competitions.end_date | date('U') <= "now" | date('U') %}
																{% set disable_toggle = 'disabled' %}
															{% endif %}
															
															{% if competitions.status == 'active' %}
																{% set status_label = 'Active' %}
																{% set status_class = 'success' %}
																{% set checked = 'checked' %}
															{% else %}
																{% set status_label = 'Inactive' %}
																{% set checked = '' %}
															{%endif%}

															<input data-on="active" class="status status_23" data-off="inactive" type="checkbox" onchange="change_status({{ competitions.main_competition_id }})"  data-toggle="toggle" data-size="mini" data-onstyle="success" {{ checked }} {{disable_toggle}}>
											
															</td>
                                                            <td>
																<a class="editcategory btn btn-info btn-xs" href="{{path('admin_competitionactivity_addactivitycompetition',{'domain':app.session.get('domain'),'competition_id':competitions.main_competition_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="edit" onclick="return confirm('Are you sure want to edit');">
																	<i class="fa fa-pencil-square-o"></i>
																</a>
																<a class="editcategory btn btn-success btn-xs" href="{{path('admin_competitionactivity_users',{'domain':app.session.get('domain'),'comp_id':competitions.main_competition_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="Enrolled-Users" onclick="return confirm('Are you sure want to see');">
																	<i class="fa fa-users"></i>
																</a>		
															</td>
                                                            <td>
															<a class="btn btn-info btn-xs" href="{{path('admin_competitionactivity_deleteactivitycompetition',{'domain':app.session.get('domain'),'competition_id':competitions.main_competition_id})}}" data-toggle="tooltip" data-placement="top" data-original-title="Delete" onclick="return confirm('Are you sure want to delete?');">
																<i class="fa fa-trash"></i>
															</a>
															</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                            <tfoot>
												<th>No.</th>
												<th>Competition Name</th>
												<th>Start Date</th>
												<th>End Date</th>
												<th>Status</th>
												<th>Operation</th>
												<th>Delete</th>
                                            </tfoot>
                                        </table>
                                    </div>

									
                            </div>
                        </div>



                    </div>
                </div>
            </div>
    </section>
{% endblock %}

{% block js %}
	<script src="{{asset('bundles/design/')}}js/bootstrap-toggle.min.js" type="text/javascript"></script>
	<script>
        /*function delete_msg(id) {
         $("#model_form").attr("action").val();
         $("#myModal").modal("show");
         }*/
        $(document).ready(function () {
            $('#example1').DataTable();
        });
	
		function sendmailtowinner(){
			var draw_id = $('#hidden_draw_id').val();
			if(draw_id != ''){
				send_mail(draw_id);
			}
		}
	
		$('#edit-modal').on('show.bs.modal', function(e) {
			var $modal = $(this),
			draw_id = e.relatedTarget.id;
			
			$.ajax({
				url : "{{path('admin_draw_getwinnerdata')}}/"+draw_id,
				method : 'GET',
				success : function(data){
					
					var response = JSON.parse(data);
					console.log(response.name);
				
					if(response.status == true){
					
						$('#hidden_draw_id').val(draw_id);
					
						var html = '';
						html += "<b>Nick Name : </b>" + response.name + "<br>";
						html += "<b>Email Address : </b>" + response.email +"<br>";
						html += "<b>Message :</b> <textarea name='email_message' class='form-control' ></textarea><input type='hidden' name='winner_id' value='"+winner_id+"' /><br>";
						$modal.find('#nick_name').html(response.name);
						$modal.find('#email_address').html(response.email);
						$modal.find('#winner_id').val(winner_id);
						$modal.find('#email_address_hidden').val(response.email);
					}
				},
				error : function(){
					alert('Something went wrong');
				}
			});
		});
	
		function delete_winner(draw_id){

			var cnf = confirm("Are you sure want to delete winner ? ");
			
			if(cnf){
				$.ajax({
					url : "{{path('admin_draw_deletewinner')}}",
					method : 'POST',
					data : {'draw_id':draw_id},
					success : function(data){
						alert('Winner Deleted now you can redo Draw');
						location.reload();
					},
					error : function(){
						alert('Something went wrong');
					}
				});						
			}
		}
		
		function send_mail(draw_id,element = ''){
			
			//element.text('Sending ...');
			$('.sendmailtowinner').text('Sending ...');
			
			var message = $('#email_message').val();
			if(message == '' || message == null || message == 'null'){
				alert("Please enter message to send");
				return false;
			}
			
			$.ajax({
				url : "{{path('admin_draw_sendmail')}}",
				method : 'POST',
				data : {'draw_id':draw_id, 'message': message},
				success : function(data){
					if($.trim(data) == 'done'){
						alert('Mail has been sent to winner');
					}else{
						alert('Something went wrong, Please try again');				
					}
					//element.text('Send');
					$('.sendmailtowinner').text('Send');
				},
				error : function(){
					alert('Something went wrong');
				}
			});			
		
		}
		
		function get_selected_winner(user_id,draw_id){
			$('.modal-body').html('');
			
			$.ajax({
				url : "{{path('admin_draw_getwinner')}}/"+user_id+"/"+draw_id,
				method : 'GET',
				success : function(data){
					console.log(data);
					$('.modal-body').html('');
					$('.modal-footer').html('');
					var response = JSON.parse(data);
					var footer_html = '';
					
					footer_html += "<button class='pull-right btn-danger btn-sm' id='delete_winner' onclick='delete_winner("+draw_id+")'>Delete Winner</button>"; 
					
					//footer_html += "<button class='pull-left btn-warning btn-sm' id='send_mail_btn' onclick='send_mail("+draw_id+",$(this))'>Send Mail</button>";

					footer_html += "<button type='button' class='pull-left btn btn-default' data-dismiss='modal'>Close</button>";
					
					$('#winner_modal .modal-body').append(response.html);
					$('#winner_modal .modal-footer').append(footer_html);
					
				},
				error : function(){
					alert('Something went wrong');
				}
			});				
		
		}
		
		var time_count = 0;
		function call_ajax(type,draw_id){
			$('.modal-header').html('<h3>Selecting Winner</h3>');
			$.ajax({
				url : "{{path('admin_draw_selectwinner')}}/"+type+"/"+draw_id,
				method : 'GET',
				success : function(data){
					console.log(data);
					$('.modal-body').html('');
					
					var response = JSON.parse(data);
				
					var users = [];
					if(response.users != null && response.users != 'null' && response.users != ''){
						var user_arr = response.users;
						for(var i = 0; i < user_arr.length; i++){
							var nickname = user_arr[i].user_bio;
							if(nickname == ''){
								nickname = user_arr[i].user_firstname + ' ' + user_arr[i].user_lastname;
							}
							var user = {};
							user['user_id'] = user_arr[i].user_master_id;
							user['nickname'] = nickname;
							user['image_url'] = user_arr[i].image_url;
							users.push(user);
						}
					}
					
					var selected_user = [];
					if(users.length > 0){
						
						var refreshId = setInterval(function(){
							selected_user = [];
							if(time_count >= 95){
								setModelHeader();
								clearInterval(refreshId);
								time_count = 0;
							}
							var rand = Math.floor(Math.random() * users.length);
							selected_user = users[rand];
							$('.modal-body').html("<div id='user_name_generate' class='text-center'>"+users[rand].nickname+"</div>");
							time_count = time_count + 1;
						}, 100);
						
						setTimeout(function(){
							call_confirm(type,draw_id,selected_user.user_id);
						},25000);					
					}else{
						$('#winner_modal1 .modal-body').append('<h1>No User is eligible for this draw</h1>');
						$('#winner_modal1 .modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>');
					}
				},
				error : function(){
					alert('Something went wrong');
					location.reload();					
				}
			});	
			
		}
		
		function setModelHeader(){
			$('#winner_modal1 .modal-header').html('<h3>Congratulation the winner is...</h3>');
		}
		
		function get_winner(type,draw_id){
			/* var loading_img = "<img src='{{asset('/bundles/design/images/loading.gif')}}' style='height:200px;width:100%'>";
			
			$('#winner_modal').attr('data-backdrop','static');
			$('#winner_modal').attr('data-keyboard','false');
			
			$('.modal-body').html(loading_img);
			$('.modal-footer').html('');
			
			setTimeout(function(){
				call_ajax(type,draw_id);
			}, 5000); */
			$('#winner_modal').attr('data-backdrop','static');
			$('#winner_modal').attr('data-keyboard','false');
			call_ajax(type,draw_id);
		}
		
		function call_confirm(type,draw_id,user_id){
			var cnf = confirm("do you want to confirm Winner?");
			
			if(cnf){
				$.ajax({
					url : "{{path('admin_draw_setwinner')}}",
					method : 'POST',
					data : {'draw_id':draw_id,'winner_id':user_id},
					success : function(data){
						console.log(data);
						alert('winner set');
						location.reload();
					},
					error : function(){
						alert('Something went wrong');
						location.reload();						
					}
				});	
			}else{
				get_winner(type,draw_id);
			}
		
		}
		
		function change_status(id){
			if(id != ''){
				var url = "{{ path('admin_competitionactivity_ajaxupdatestatus') }}";
				$.ajax({
					url: url,
					method: 'post',
					data: {'cat_id' : id},
					success: function(response){

					},
					error: function(error){
						console.log(error);
					}
				});
			}
		}
	
    </script>
{% endblock %}